@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto/Roboto-Medium/RobotoMedium.eot');
    src: url('/fonts/Roboto/Roboto-Medium/RobotoMedium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Medium/RobotoMedium.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Medium/RobotoMedium.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Medium/RobotoMedium.ttf') format('truetype'),
        url('/fonts/Roboto/Roboto-Medium/RobotoMedium.svg#RobotoMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

