.market-place {
    background: #f2f2f2;
    color: #515b5e;
    height: 100%;
    width: 100%;
    padding: 20px;

    li {
        list-style-type: none;
        width: 140px;
        cursor: pointer;
    }
    li span:hover {
        border-bottom: 1px solid #7f8988;
    }

    &-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #7f8988;
        padding-bottom: 20px;
        margin-bottom: 20px;

        &-title {
            font-size: 27px;
            line-height: 32px;
        }
    }

    &-nav {
        display: flex;
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &-item {
        background: #ffffff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 60px 40px;
        width: 60%;

        &-title {
            font-size: 30px;
            line-height: 26px;
            color: #515b5e;
            margin-top: 26px;
        }

        &-description {
            font-size: 16px;
            line-height: 23px;
            color: #383838;
            margin: 26px 0 0 0;
            text-align: center;
        }
    }

    &-product {
        background: #ffffff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 40px 0 40px 40px;
        padding: 60px 40px;
        width: calc(45% - 20px);
    }

    &-btns-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.active {
    border-bottom: 1px solid #7f8988;
}

.nft {
    &-wrap {
        display: flex;
    }

    &-market {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-title {
        color: #333333 !important;
        margin: 20px 0 !important;
    }

    &-info {
        min-width: 300px;
    }

    &-item {
        background: #ffffff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 40px;

        &-description {
            font-size: 16px;
            line-height: 23px;
            color: #383838;
            width: 100%;
        }

        &-saler {
            font-size: 16px;
            line-height: 23px;
            color: #383838;
            padding: 20px 0 0 0;
        }

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-img {
            max-width: 300px;
            height: 240px;
        }

        &-balance {
            font-size: 16px;
            line-height: 23px;
            color: #383838;
            padding: 20px 0;
        }
    }

    &-balance-element {
        padding: 5px 0 5px 40px;
    }
}

.back-link {
    font-size: 14px;
    line-height: 16px;
    color: #515b5e;
    margin-left: 10px;
}

.product {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-flow: row wrap;

    &-mobile {
        display: none;
    }
    &-wrap {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: start;
    }

    &-title {
        font-size: 30px;
        line-height: 30px;
        color: #333333;
        text-align: center;
        margin: 20px 0 0 0;
    }

    &-description {
        &-description {
            font-size: 16px;
            line-height: 23px;
            color: #383838;
            padding: 20px 0;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &-list {
        font-size: 16px;
        line-height: 16px;
        color: #7f8988;

        &-item {
            padding-bottom: 10px;
        }
        &-wrap {
            width: 100%;
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 10px;
        }
        &-element {
            padding-left: 40px;
        }
    }

    &-price {
        font-size: 23px;
        line-height: 26px;
        color: #383838;
        font-weight: bold;
        text-align: center;
        margin: 30px 0;
    }

    &-price-list {
        font-size: 19px;
        line-height: 22px;
        color: #333333;
        margin-top: 40px;
    }

    &-price-table {
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        margin-bottom: 40px;
        width: 100%;
    }

    &-price-item {
        padding-left: 40px;
    }

    &-specifications {
        border-top: 1px solid #7f8988;
        margin: 30px 0;
        padding: 20px 0;
        width: 100%;

        &-title {
            font-size: 19px;
            line-height: 22px;
            color: #333333;
            margin: 0;
            padding-bottom: 6px;
        }
    }

    &-img {
        max-width: 420px;
        margin-right: 40px;
    }
}

.header-btns {
    display: flex;
    margin-left: auto;
}

.store-link {
    font-size: 19px !important;
    line-height: 22px !important;
    color: #2f80ed !important;
    text-decoration: underline !important;
    margin-bottom: 40px !important;
    text-align: center;
}

.btn-products {
    width: 200px !important;
    margin: 40px 80px 30px 0;
}

.btn-markets_info {
    width: 280px !important;
    margin: 40px 0 30px 0;
}

.btns {
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 0.85em 1em;
    min-width: 140px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.registration-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

@media screen and (max-width: 950px) {
    .nft-product {
        flex-direction: column;
        align-items: center;
    }
    .nft-info {
        align-items: center;
    }
    .nft-item-img {
        margin: 0;
        height: 280px;
    }
    .product {
        flex-direction: column;
        margin: 0;
        &-price-list {
            text-align: center;
        }
        &-price-table {
            margin: 40px auto;
        }
        &-wrap {
            align-items: center;
        }
        &-mobile {
            display: block;
        }
        &-mobile-title {
            margin-bottom: 20px;
        }
        &-desktop {
            display: none;
        }
        &-list-element {
            padding-left: 16px;
        }
    }
    .market-place {
        &-product {
            margin: 40px auto;
            width: 100%;
        }
    }
    .to-buy {
        margin-top: 40px;
    }
}

@media screen and (max-width: 800px) {
    .market-place {
        &-item {
            width: 90%;
        }
    }
    .market-place-btns-wrap {
        flex-direction: column;
    }
    .btn-products {
        margin: 40px 0;
    }
    .btn-markets_info {
        margin: 0 0 20px 0;
    }
    .nft-item {
        margin: 20px;
    }
}

@media screen and (max-width: 600px) {
    .market-place-product {
        padding: 60px 10px;
    }

    .header-btns {
        flex-direction: column;
    }

    .btn-create-asset {
        margin-bottom: 10px;
    }
}
