@import "app/assets/stylesheets/base/colors";
@import "app/assets/stylesheets/base/image";
@import "app/assets/stylesheets/utils/all";
@import "app/assets/stylesheets/utils/mixin/checkbox";
@import "app/assets/stylesheets/utils/mixin/dropdown";

$themes: (
    light: (
        "baseColor": #8c979b,
        "borderColor": #8c979b,
        "bgColor": #ffffff,
        "boxShadowTable": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
    ),
    dark: (
        "baseColor": #8c979b,
        "borderColor": #979797,
        "bgColor": #383838,
        "boxShadowTable": 0 2px 4px 0 rgba(0, 0, 0, 0.5),
    ),
);

.account-orders {
    width: 100%;
    margin: 0 30px;
    padding-bottom: 20px;
    @include themify($themes) {
        &-title{
            font-size: 19px;
            margin: 25px 0;
        }
        &-table{
            width: 100%;
            background-color: themed("bgColor");
            box-shadow: themed("boxShadowTable");
            padding: 30px;
        }
        &-thead {
            margin-bottom: 20px;
        }
        &-tbody,
        &-thead {
            &-tr {
                display: flex;
                justify-content: flex-start;
                padding: 0 0 15px;
                border-bottom: 1px solid themed("borderColor");
            }
            &-td,
            &-th {
                width: 100%;
                text-align: center;
                font: {
                    size: 14px;
                };
                &.flip{
                    width: 3%;
                }
                &.sell{
                    width: 16%;
                }
                &.buy{
                    width: 17%;
                }
                &.price{
                    width: 18%;
                }
                &.course{
                    width: 13%;
                }
                &.exchange{
                    width: 15%;
                }
                &.expiration{
                    width: 18%;
                }
                &.close{
                    width: 10%;
                    cursor: pointer;
                    i {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background: url(map_get($icon, "close-red")) no-repeat center transparent;

                    }
                }
            }
        }
        &-tbody {
            &:nth-child(even) {
                background-color: rgba(216, 216, 216, 0.1);
            }
            &:nth-child(odd) {
                //background-color: #383838;
            }
            &-tr {
                padding-bottom: 0;
                border-bottom: none;
            }
            &-td {
                padding: 10px 0;
                height: 35px;
                box-sizing: border-box;
                &.flip {
                    cursor: pointer;
                }
            }
        }

    }
}