
.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,.7);
  align-items: center;
  justify-content: center;
}

.CenterModal ,
.UnlockModal {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1010;
}

.browser {
  margin: 0;
}