.grid-block {
    .bottom-header {
        display: flex;
        flex-direction: column;
    }
}
.tabs-markets {
    .mymarkets-header {
        display: inline-flex;
    }
}
.markets {
    position: relative;
    .left-orderbook-header {
        display: flex;
        flex-direction: column;
        &.bottom-header {
            height: auto;
        }
    }
    .three-bounce {
        position: absolute;
        left: 50%;
        margin-left: -27px;
        top: 50px;
    }
}

.search-tabs {
    margin: 5px 10px;
}
.search-wrapper {
    width: calc(100% - 130px);
    .search-input {
        width: 100%;
        height: 30px;
    }
}
.search-dropdown {
    width: 120px;
    padding-left: 10px;
}

.asset-selector {
    padding-right: 15px;
}
