@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/table";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "./AccountPortfolio/AccountPortfolio";


$themes: colorThemes((
    light: (
        "baseColor": #8c979b,
        "bgColor": #ffffff,
        "linkColor": #27ae29,
    ),
    dark: (
        "baseColor": #8c979b,
        "bgColor": #383838,
        "linkColor": #27ae29,
    ),
));

.account-gateway-action {
    @include themify($themes) {
        &-wrap{
            display: flex;
            justify-content: space-between;
        }
        &-item {
            width: calc(33% - 10px);
            padding: 30px;
            position: relative;
            @include block-wrapper($theme-map);
        }
        &-label{
            position: absolute;
            right: 0;
            top: 10px;
            min-width: 90px;
            height: 30px;
            line-height: 30px;
            font-size: 10px;
            font-weight: 600;
            text-align: center;
            border-radius: 2px 0 0 2px ;
            i:not([class]) {
                display: none;
            }
            i {
                width: 15px;
                height: 15px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
                background-color: #00A000;
            }
            &.sale{
                background-color: #dd2233;
            }
            &.action{
                background-color: #4a90e2;
            }
            &.cashback{
                background-color: #27ae29;
            }
        }
        &-title{
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        &-desc{
            font-size: 14px;
            font-weight: 500;
            color: themed("baseColor");
        }

        @include respond-to(xs) {
            &-wrap {
                flex-direction: column;
                padding: 0 10px;
            }
            &-item {
                padding: 20px 10px;
                width: 100%;
                margin-bottom: 10px;
            }
            &-title {
                width: calc(100% - 90px);
            }
        }
    }
}

.account-gatewayfees {
    width: 100%;
    margin-bottom: 20px;
    @include deexTable("dx-table-nf");
    @include themify($themes) {
        &-wrap {
            padding: 20px 30px;
            @include block-wrapper($theme-map);
        }
        &-title {
            font: {
                size: 19px;
                weight: 500;
            };
            margin: 10px 0 15px;
            padding: 0 0 10px 0;
            text-align: center;
        }
        &-drop-down {
            width: calc(100% - 10px);
            max-height: 300px;
            overflow: auto;
            margin: 0 5px;
            position: absolute;
            @include block-wrapper($theme-map);
            @include scrollbars(.2em);
            &-list {
                margin: 0;
                padding: 0;
            }
            &-item {
                list-style: none;
                padding: 5px 0 5px 15px;
                cursor: pointer;
            }
        }
        &-filter-coins {
            width: 100%;
            max-width: 375px;
            position: relative;
            &-wrap {
                position: relative;

                .unfold_more,
                .menu-close {
                    cursor: pointer;
                    position: absolute;
                    right: 4px;
                    top: 4px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg > path {
                        fill: themed("baseColor");
                    }
                }
                .unfold_more {
                    cursor: default;
                    svg {
                        width: 30px;
                        height: 24px;
                    }
                }
            }

            &-input {
                height: 48px;
                margin-bottom: 3px;
                @include inputTextColor($theme-map);
            }
        }
        &-table {
            &-body {
                margin-top: 20px;
                height: 300px;
                overflow: auto;
                padding: 0 10px 0 0;
                @include scrollbars(4px);
            }
            &-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;
                border-top: 1px solid themed("borderColor");
                &:last-child{
                    border-bottom: 1px solid themed("borderColor");
                }
                &-name{
                    width: 250px;
                }
            }
        }
        &-info {
            width: calc(100% - 250px);
            &-lines{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 14px;
                &:first-child{
                    margin-bottom: 10px;
                }
            }
            &-line {
                &:first-child{
                    width: 60%;
                }
                &:last-child{
                    width: 40%;
                }
            }
        }

        @include respond-to(xs) {
            &-wrap {
                padding: 10px;
            }
            &-title {
                text-align: left;
                padding: 0 0 0 10px;
            }
            &-table {
                &-item {
                    padding: 10px 0;
                    flex-direction: column;
                    &-name {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }
            &-info {
                width: 100%;
                &-lines {
                    justify-content: flex-start;
                }
                &-line {
                    &:first-child{
                        width: auto;
                        margin-right: 15px;
                        font-size: 14px;
                        font-weight: 500;
                        color: themed("titleColor");
                        span {
                            font-size: 10px;
                            font-weight: 600;
                            color: themed("baseColor");
                        }
                    }
                    &:last-child{
                        width: auto;
                        span {
                            font-size: 14px;
                            font-weight: 500;
                            color: themed("titleColor");
                            span {
                                color: themed("baseColor");
                                font-size: 10px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

.account-networkfees {
    width: 100%;
    margin-bottom: 20px;
    @include themify($themes) {
        //background: themed('tabContentBackground');
        @include deexTable("dx-table-nf", $theme-map);

        &-wrap {
            padding: 20px 30px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            background-color: themed('bgColor');
        }
        &-title {
            font: {
                size: 19px;
                weight: 500;
            };
            margin: 10px 0 15px;
            padding: 0 0 10px 0;
            text-align: center;

        }
        &-sub-title {
            font: {
                size: 14px;
                weight: 500;
            };
            line-height: 1.57;

            margin: 10px 0 15px;
            padding: 0 0 10px 0;
            text-align: left;
            color: themed("baseColor");

        }

        .dx-table-nf {
            &-head {
                padding-top: 15px;
                border-top: solid 1px themed("borderColor");
            }
            &-row {
                .dx-table-nf {
                    &-body-td,
                    &-head-th {
                        &:nth-child(1) {
                            width: 15%;
                        }

                        &:nth-child(2) {
                            width: 70%;
                        }

                        &:nth-child(3) {
                            width: 15%;
                        }
                    }
                }
            }

            &-body-td {
                color: themed('baseColor');

                .label {
                    color: themed('baseColor');
                    background-color: transparent;
                    text-transform: inherit;
                }

                &:nth-child(3) {
                    color: themed('baseColor');
                }
            }
        }

        @include respond-to(xs) {
            /* @include scrollbars(); */
            &-wrap {
                padding: 10px;
            }
            &-title {
                text-align: left;
                padding: 0 0 15px 10px;
            }
            .dx-table-nf{
                &-head{
                    display: none;
                }
                &-row {
                    display: block;
                    padding: 10px;
                    .dx-table-nf{
                        &-body {
                            &-td {
                                &:nth-child(1){
                                    width: 100%;
                                    span {
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                                }
                                &:nth-child(2){
                                    width: 70%;
                                    display: inline-block;
                                    span {
                                        font-size: 10px;
                                        font-weight: 600;
                                    }
                                }
                                &:nth-child(3){
                                    width: 30%;
                                    display: inline-block;
                                    vertical-align: top;
                                    color: themed("titleColor");
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}