@import "../../../assets/stylesheets/base/all";
@import "../../../assets/stylesheets/utils/all";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        baseColor: #2d2d2d,
        tabColor: #2d2d2d,
        tabLinkColor: #2d2d2d,
        tabLinkBackground: #ffffff,
        tabLinkBorder: #d1d4db,
        tabContentBackground: #ffffff,
        inputBackground: #fcfcfc,
        marketCardTitle: #2a2a2a
    ),
    dark: (
        baseColor: #d1d4db,
        tabColor: #fff,
        tabLinkColor: #fff,
        tabLinkBackground: #383838,
        tabLinkBorder: #383838,
        tabLinkBorderActive: #979797,
        tabContentBackground: #383838,
        inputBackground: #2a2a2a,
        marketCardTitle: #ffffff
    ),
));

%delete-icon {
    del {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0px;
        top: 0px;
        background: #ff5555;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
        z-index: 100;
        i {
            width: 10px;
            height: 10px;
            display: inline-block;
            background: url(map-get($icon, "trash-white")) no-repeat center transparent;
            background-size: contain;
        }
    }
    &:hover {
        del {
            display: flex;
        }
    }
}

.grid-block {
    &.markets-height {
        overflow: inherit;
    }
}

.dashboard-page {
    @include themify($themes) {
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
        overflow: inherit;
        overflow-y: inherit;
        .tab-layout {
            background: themed('tabContentBackground');
        }
        .account-tabs {
            width: 100%;
            padding: 30px 0;
            @include respond-to(xs) {
                padding: 10px 0 20px 0;
            }
            .service-selector {
                overflow-x: visible;
            }
            .grid-block {
                overflow: visible;
                overflow-y: inherit;
            }
            .tab-content {
                padding: 30px;
                margin-top: -1px;
                background: themed('tabContentBackground');
                border: 1px solid themed('tabLinkBorder');
                border-top: 1px solid themed('tabLinkBorderActive');
                @include respond-to(xs) {
                    padding: 20px 0;
                }
            }
        }


        @include deexCarousel();

        // .ant-carousel {
        //     .slick-list {
        //         .slick-slide{
        //             &.slick-active {
        //                 border: 1px solid themed('colorGreen');
        //             }
        //         }
        //     }
        // }

        @include respond-to(xs) {
            width: auto;
            max-width: 100%;
            display: flex;


        }
    }
}

.add-tab {
    @include themify($themes) {
        &-outside {
            padding: 14px 15px 9px;
            display: flex;
            justify-content: space-between;
            border: solid 1px #d1d4db;
            border-bottom: none;
            border-radius: 3px;
            background: themed('tabContentBackground');

        }
        &-wrap {
            position: relative;
            width: 180px;
            z-index: 1;
        }

        &-drop-down {
            position: absolute;
            max-height: 160px;
            width: 100%;
            padding: 10px 0;
            overflow: auto;
            border: solid 1px #d1d4db;
            background: themed('tabContentBackground');
            @include scrollbars();
        }
        &-quote-base {
            display: inline-flex;
            align-items: center;
            padding: 5px 0 6px 15px;
            width: 100%;
            a {
                color: themed("baseColor");
                font: {
                    size: 13px;
                    weight: bold;
                };
            }
        }
        &-quote {
            display: inline-flex;
            align-items: center;
            padding: 5px 0 6px 15px;
            width: 100%;
            cursor: pointer;
            color: themed("baseColor");
            font: {
                size: 13px;
                weight: bold;
            };
        }
        &-close {
            background: none;
            border: none;
            width: 30px;
            height: 30px;
            font: {
                size: 16px;
                weight: bold;
            }
        ;
        }
        &-modal {
            min-height: 100vh;
            width: 100%;
            display: flex;
            //align-items: center;
            justify-content: center;
            background: themed('tabContentBackground');
            &-wrap {
                padding: 40px 0;
            }
            &-close {
                position: absolute;
                right: 5px;
                top: 5px;
                color: themed("baseColor");
                border: none;
                background: none;
                transform: rotate(45deg);
                font: {
                    size: 36px;
                }
            ;
            }
            .add-tab {
                &-wrap {
                    width: calc(100vw - 20px);
                    height: 100vh;
                }
                &-drop-down {
                    max-height: calc(100vh - 80px);
                }
            }
        }

        &-fixed {
            width: 64px;
            position: relative;
            .add-tab {
                &-outside {
                    position: absolute;
                    padding: 13px 15px 8px;
                    border: solid 1px #d1d4db;
                    z-index: 2;
                    left: 0;
                }
            }
        }
    }
}

input.add-tab-input {
    margin: 0;
    width: 100%;
    @include themify($themes) {
        background: themed('inputBackground');
        color: themed('baseColor');
    }
}

.dashboard-tabs {
    width: 100%;
    align-items: flex-start;
    overflow: inherit;
    @include themify($themes) {
        color: themed('tabColor');
        .tab-item {
            margin-right: 5px;
            border-radius: 3px;
            padding: 0 1px;
            position: relative;
            border: 1px solid themed('tabLinkBorder');
            background: themed('tabContentBackground');

            &:last-child {
                margin-right: 0;

            }
            &-add {
                @include respond-to(xs) {
                    background: themed('tabContentBackground');
                    position: absolute;
                    right: 0;
                    width: 30px;
                }
            }
            &.is-active {
                padding-bottom: 3px;
                border-radius: 3px 3px 0 0;
                border: 1px solid themed('tabLinkBorderActive');
                border-bottom: none;

                @include respond-to(xs) {
                    border-bottom: 2px solid #dd2233;
                }

                .tab-link {
                    @extend %delete-icon;
                }
            }
            &-star {
                @include respond-to(xs) {
                    margin-right: 0;
                    .tab-link {
                        padding: 10px 0;
                    }
                }
                .tab-title {
                    &::before {
                        content: "\2605";
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        //background: #f8e71c;
                        color: #f8e71c;
                        //border-radius: 50%;
                        margin-right: 0;
                        line-height: 30px;
                        font: {
                            size: 22px;
                        }
                    ;
                        @include respond-to(xs) {
                            width: 15px;
                        }
                    }
                    @include respond-to(xs) {
                        font: {
                            size: 0;
                        }
                    ;
                        &::before {
                            margin-right: 0;
                        }
                    }
                }
            }
            &-pair {
                svg {
                    fill: themed('baseColor');
                }
            }

            @include respond-to(xs) {
                background: transparent;
                border: none;

                &-last {
                    padding-right: 30px;
                }
                &.is-active {
                    border: 1px solid transparent;
                }
            }
        }
        .tab-title {
            height: 30px;
            align-items: center;
            display: inline-flex;
            &-infinity {
                display: inline-flex;
                flex-direction: column;
            }
            @include respond-to(xs) {
                height: 20px;
            }
        }
        .tab-link {
            padding: 14px 15px;
            font: {
                size: 16px;
                weight: bold;
            };
            display: flex;
            height: 100%;
            align-items: center;
            text-transform: uppercase;
            border-radius: 3px;
            border: none !important;
            position: relative;
            &:hover{
                z-index: 1;
            }
            color: themed('tabLinkColor');
            background-color: themed('tabLinkBackground');
            @include respond-to(xs) {
                padding: 10px;
                background: transparent;
                font: {
                    size: 14px;
                }
            ;
            }
        }
        .tab-new-link {
            width: 60px;
            height: 58px;
            line-height: 30px;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            justify-content: center;
            color: themed('tabColor');
            border: 1px solid themed('tabLinkBorder');
            background-color: themed('tabLinkBackground');
            border-radius: 3px;
            font: {
                size: 17px;
                weight: bold;
            };

            @include respond-to(xs) {
                height: 100%;
                width: 100%;
                display: inline-block;
                margin: 0;
            }
        }
    }
    @include respond-to(xs) {
        padding: 10px 10px 0 10px;
        overflow: auto;
        @include scrollbars();
    }
}

.markets-filter {
    width: 200px;
}

.table-body,
.table-heads {
    display: flex;
    justify-content: space-between;
    .table-cell {
        text-align: center;
        color: #8c979b;
        .filter-link {
            color: #8c979b;
            border-bottom: 1px dashed #8c979b;

            @include respond-to(xs) {
                border-bottom: none;
            }
        }
        &-star {
            width: 20px;
            &::after {
                content: "\2606"; /* \2605 */
                display: inline-block;
                vertical-align: middle;
                color: #8c979b;
            }
        }
        &-asset {
            width: 200px;
            a {
                color: #8c979b;
            }
        }
        &-price {
            width: 140px;
        }
        &-hour24Chanage {
            width: 130px;
        }
        &-hour24High {
            width: 120px;
        }
        &-hour24Low {
            width: 120px;
        }
        &-hour24Volume {
            width: 160px;
        }
        &.active {
            .filter-link {
                &::after {
                    content: "\25be";
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            &.up {
                .filter-link {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
            &.down {
                .filter-link {
                    &::after {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
}

.table-heads {
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(151, 151, 151, 0.5);
    @include respond-to(xs) {
        padding: 0 10px 8px 10px;
        font-size: 12px;
        font-weight: 600;
    }
}

.table-body {
    .table-cell {
        padding: 8px 0 7px;
        font-size: 14px;
        &-asset {
            a {
                text-decoration: underline;
            }
        }
        &-star {
            width: 20px;
            &::after {
                content: "\2606"; /* \2605 */
                display: inline-block;
                vertical-align: middle;
                color: #d1d4db;
            }
            &.is-active {
                &::after {
                    content: "\2605"; /* \2605 */
                    color: #f8e71c;
                    font-size: 15px;
                }
            }
        }
    }
    &:nth-child(even) {
        background-color: rgba(216, 216, 216, 0.1);
    }
    // &:nth-child(odd) {
        //background-color: #383838;
    // }
    @include respond-to(xs) {
        padding: 0 10px;
    }
}

/* MarketCard.jsx */
.chart-market {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    &-row {
        width: 50%;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        & + .chart-market-row {
            margin-left: 20px;
            z-index: 1;
        }
        @include respond-to(xs) {
            flex-direction: column;
            padding: 0 10px;
        }
    }
    &-item {
        @include themify($themes) {
            width: 100%;
            //margin: 0 10px;
            height: 200px;
            border-radius: 3px;
            border: solid 1px #383838;
            font: {
                size: 14px;
                weight: 500;
            } ;
            position: relative;
            z-index: 1;
            cursor: pointer;
            background-color: themed("tabContentBackground");
            @extend %delete-icon;
            &:hover {
                border: solid 1px green;
            }
            &.add-chart {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                min-height: 200px;
            }
            & + .chart-market-item {
                margin-left: 20px;
                @include respond-to(xs) {
                    margin: 10px 0 0 0;
                }
            }

            @include respond-to(xs) {
                width: calc(100% - 20px);
                margin: 0 10px;
            }
        }
        &.empty {
            height: 225px;
        }
    }
    &-auto {
        //margin: 20px 0 0 0;
        //height: 30px;
        position: relative;
        top: 20px;
    }
    &-value {
        font: {
            size: 16px;
        };
        padding: 0 15px;
        color: #8c979b;
        margin-bottom: 5px;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-depth {
        width: 100%;
        height: 80px;
        margin: 0;
        padding: 0;
    }
    &-header {
        text-align: left;
        padding: 15px 15px;
        margin-bottom: 20px;
    }
    &-name {
        font: {
            size: 18px;
            weight: 600;
        };
        height: 18px;
        > span:last-child {
            font: {
                size: 14px;
                weight: 400;
            };
            margin-left: 10px;
            color: #C3CCCB;
        }
        @include themify($themes) {
            color: themed('marketCardTitle');
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        padding: 10px 0 15px;
        span {
            width: 50%;
        }
    }
    &-delete {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    &-ask {
        color: #ff0000;
    }
    &-bid {
        color: #579f15;
    }
    &-drop-down {
        display: flex;
        justify-content: center;
        a {
            text-transform: uppercase;
            font: {
                size: 15px;
                weight: bold;
            }
        ;
            line-height: 18px;
            @include themify($themes) {
                border-bottom: 1px dashed themed('marketCardTitle');
                color: themed('marketCardTitle');
            }
        }
        &-wrap {
            margin: 0 5px;
        }
    }
    &-add-tab-wrap {
        position: relative;
        width: 160px;
        z-index: 1;
    }
    &-add-tab {
        position: absolute;
        left: 11px;
    }
    &-app-tab-outside {
        padding: 0;
        display: flex;
        justify-content: space-between;

        //border: solid 1px #d1d4db;
        //border-radius: 3px;
        @include themify($themes) {

            background: themed('tabContentBackground');
        }
    }
    & &-add-tab-input {
        width: 100%;
        margin: 0;
        @include themify($themes) {
            background: themed('inputBackground');
            color: themed('baseColor');
        }
    }
    &-add-tab-drop-down {
        position: absolute;
        max-height: 160px;
        width: 100%;
        padding: 10px 0;
        overflow: auto;
        border: solid 1px #d1d4db;
        margin-top: 5px;
        @include themify($themes) {
            background: themed('tabContentBackground');
        }
    }
    &-add-tab-quote {
        display: inline-flex;
        align-items: center;
        padding: 5px 0 6px 15px;
        width: 100%;
        cursor: pointer;
        font: {
            size: 13px;
            weight: bold;
        }
    ;
    }
    &-error {
        position: absolute;
        top: 20px;
        color: red;
        text-align: center;
    }

    @include respond-to(xs) {
        &-name {
            font: {
                size: 25px;
            }
        }
        // &-item {
            // width: 300px;
        // }
    }
}

@media (max-width: 767px) {
    .chart-market-header {
    text-align: center;
    }
}

/* MarketCard.jsx */
/* dashboard-hello */
.dashboard-hello {
    width: 600px;
    margin: 30px auto;
    text-align: center;
    &-title {
        font: {
            size: 27px;
        }
        margin-bottom: 30px;
    }
    &-text {
        font: {
            size: 14px;
        }
        line-height: 1.57;
        margin-bottom: 30px;
        color: #8c979b;
    }
    &-buttons {
        .btn {
            width: 200px;
            & + .btn {
                margin-left: 30px;
            }

        }
    }

    @include respond-to(xs) {
        width: 100%;
        padding: 0 10px;
        &-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn {
                & + .btn {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}

/* dashboard-hello */

