@import "../../assets/stylesheets/base/all";
@import "../../assets/stylesheets/utils/all";
@import "../../assets/stylesheets/utils/mixin/form";
@import "../../assets/stylesheets/utils/mixin/checkbox";
@import "../../assets/stylesheets/utils/mixin/dropdown";
@import "../../assets/stylesheets/utils/mixin/themes";
@import "../../assets/stylesheets/utils/mixin/response";


$themes: colorThemes((
    light: (
        "baseColor": #222222,
        "titleColor": #8c979b,
        "contentColor": #8c979b,
        "emptyNews": #ffffff,
    ),
    dark: (
        "baseColor": #8c979b,
        "titleColor": #C3CCCB,
        "contentColor": #ffffff,
        "emptyNews": #383838,
    )
));

%delete-icon {
    del {
        position: absolute;
        width: 20px;
        height: 20px;
        right: -10px;
        top: -10px;
        background: #ff5555;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        display: none;
        i {
            width: 8px;
            height: 8px;
            display: inline-block;
            background: url(map-get($icon, "trash-white")) no-repeat center transparent;
            background-size: contain;
        }
    }
    &:hover {
        del {
            display: flex;
        }
    }
}

@mixin block-wrapper($themes) {
    border-radius: 2px;
    background-color: map-get($themes, "wraperBackground");
    box-shadow: map-get($themes, "wraperBoxShadow");
}

%block-wrapper {
    padding: 60px 30px;
    border-radius: 2px;
    //box-shadow: themed('boxShadowTable');
    //color: themed('bgColorText');
    background-color: #383838;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.account-asset {
    @include themify($themes){
        margin: 20px;
        width: 100%;
        color: themed("baseColor");

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &-text {
                margin-right: 10px;
            }
            &-logo{
                width: 20px;
                height: 20px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat ;
                vertical-align: bottom;
                margin-right: 10px;
            }
            &-name {
                color: themed("titleColor");
                font: {
                    size: 21px;
                    weight: 500;
                };
            }
            &-price {
                margin-right: 20px;
                color: themed("titleColor");
                font: {
                    size: 19px;
                    weight: 500;
                };
            }
            &-change {
                font: {
                    size: 14px;
                    weight: 500;
                };
            }

            @include respond-to(xs) {
                justify-content: inherit;
                flex-direction: column;
                align-items: flex-start;

                &-top {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &-bottom {
                    margin: 10px 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    //align-items: center;
                }
            }
        }

        &-btn {
            &-link {
                color: themed("colorGrayLight");

                font: {
                    size: 14px;
                };
                span {
                    border-bottom: 1px dashed ;
                }


            }
            .btn {
                font: {
                    size: 12px;
                };
                margin-left: 10px;
                .icon {
                    margin-right: 10px;
                }
            }

            @include respond-to(xs) {
                .btn {
                    &:first-child {
                        margin-left: 0;
                    }
                    margin-left: 3px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }

        &-content {
            margin: 20px 0;
            &-header {
                display: flex;
                justify-content: space-around;
                span {
                    width: calc(100% / 6);
                    text-align: center;
                }
            }
            &-body {
                display: flex;
                justify-content: space-around;
                border-top: 1px solid rgba(140, 151, 155, 0.5);
                border-bottom: 1px solid rgba(140, 151, 155, 0.5);
                padding: 20px 0;
                margin-top: 10px;
                div {
                    width: calc(100% / 6);
                    text-align: center;
                    color: themed("contentColor");
                    font: {
                        size: 14px;
                        weight: 500;
                    };
                }
            }
            &-footer {
                display: flex;
                justify-content: flex-end;
                padding: 20px 0;
            }

            @include respond-to(xs) {
                &-footer {
                    border-top: 1px solid themed("baseColor") ;
                }
            }
        }

        &-table {
            width: calc(100% - 300px);
            padding: 20px;
            height: 100%;
            @include block-wrapper($theme-map);

            @include respond-to(xs) {
                width: 100%;
                margin: 0;
            }
        }

        &-info {
            width: 290px;
            margin-left: 10px;

            &-wrapper {
                margin-bottom: 10px;
                padding: 20px;
                @include block-wrapper($theme-map);

                &.social-links {
                    .icon {
                        width: 25px;
                        height: 20px;
                        display: inline-block;
                        margin-right: 10px;
                        svg {
                            fill: themed("baseColor");
                            width: 100%;
                            height: 100%;
                        }
                    }

                }
            }

            &-line {
                margin-bottom: 5px;
                color: themed("contentColor");
                div {
                    color: themed("titleColor");
                    margin-bottom: 3px;
                }
            }

            @include respond-to(xs) {
                width: 100%;
                margin: 0;

                &-line {
                    margin-bottom: 10px;
                }
            }
        }

        &-cash {
            .dropdown-wrapper {
                padding: 0;
                box-sizing: border-box;
                ul.dropdown {
                    display: none;
                }
                &.active {
                    ul.dropdown {
                        display: block;
                    }
                }
                &:after {
                    position: relative;
                    top: 13px;
                    right: 0;
                    margin: 0;
                }
            }
        }

        &-market-tab {
            &-wrapper {
                display: flex;
                justify-content: flex-start;
                flex-flow: row wrap;
            }
            &-title {
                color: themed("titleColor");
                font: {
                    size: 21px;
                    weight: 500;
                };
                margin-bottom: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                > div {
                    margin-right: 10px;
                }
                > a {
                    margin-left: 10px;
                }
            }
            &-item {
                padding: 21px 10px;
                margin: 0 10px 10px 0;
                font: {
                    size: 18px;
                    weight: 500;
                };
                position: relative;
                @include block-wrapper($theme-map);
                @extend %delete-icon;

                a {
                    display: flex;
                    justify-content: space-between;
                    color: themed("contentColor");
                    align-items: center;
                }
                > span {
                    font: {
                        size: 14px;
                        weight: 500;
                    };
                    margin-left: 20px;
                    color: themed("colorGrayLight");
                }

                .stats-change {
                    font-size: 10px;
                    font-weight: 500;
                    margin-left: 20px;
                }
            }
            &-add {
                margin: 0 10px 10px 0;
                font: {
                    size: 25px;
                    weight: 600;
                };
                height: 60px;
                width: 60px;
                line-height: 60px;
                padding: 0;
                text-align: center;
                color: themed("titleColor");
                cursor: pointer;
                @include block-wrapper($theme-map);

            }
            &-show {
                position: relative;
                padding: 10px;
                width: 200px;
                @include block-wrapper($theme-map);

                /*del {
                    display: block;
                }*/
            }
            &-input {
                width: calc(100% - 30px);
            }
            &-close {
                position: absolute;
                width: 30px;
                height: 30px;
                right: 5px;
                background: url(map-get($icon, "close-gray")) no-repeat center transparent;
                background-size: 10px;

            }
            &-drop-down {
                position: absolute;
                max-height: 200px;
                overflow: auto;
                left: 0;
                padding: 0 10px;
                width: 100%;
                background-color: themed("wraperBackground");

                div {
                    font: {
                        size: 15px;
                        weight: 500;
                    };
                    line-height: 20px;
                    color: themed("titleColor");
                    margin-bottom: 7px;
                    cursor: pointer;
                }
            }



            @include respond-to(xs) {
                &-show {
                    width: 100%;
                    z-index: 101;
                }
                &-add {
                    width: 100%;
                    margin: 0;
                    span {
                        width: 100%;
                        display: block;
                    }
                }
                &-item {
                    width: calc(50% - 5px);
                    padding: 8px 0 8px 10px;
                    font: {
                        size: 14px;
                    };
                    &:nth-child(even) {
                        margin: 0 0 10px 5px;
                    }
                    &:nth-child(odd) {
                        margin:0 5px 10px 0;
                    }

                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: calc(100% - 30px);

                    }
                    span {
                        margin: 5px 0 0 0;
                    }

                    del {
                        display: block;
                        right: 5px;
                        top: 50%;
                        margin-top: -10px;
                        line-height: 20px;
                    }
                    .stats-change {
                        margin-left: 0;

                    }
                }

                &-name {
                    font-size: 12px;
                    font-weight: 500;
                    span:first-child {
                        &:after {
                            content: "/";
                            margin: 0 3px;
                            display: inline-block;
                        }
                    }
                }
            }
        }

        &-news {
            margin: 20px 0 0 0;
            &-title {
                font: {
                    size: 19px;
                    weight: 500;
                };
                margin-bottom: 10px;
                color: themed("titleColor");
            }
        }

        &-posts {
            width: 100%;
            margin: 0 ;
            &-title {
                font: {
                    size: 16px;
                    weight: 500;
                };
                margin-bottom: 10px;
                a {
                    color: themed("titleColor");
                }
            }
            &-item {
                width: 100%;
                padding: 20px;
                margin-bottom: 20px;
                display: flex;
                justify-content: flex-start;
                @include block-wrapper($theme-map);
                iframe {
                    max-width: 100%;
                }
            }
            &-image {
                width: 150px;
                display: block;
            }
            &-content {
                width: calc(100% - 170px);
                margin-left: 20px;
                color: themed("contentColor");
                .btn {
                    float: right;
                }
            }
            &-body {
                font-size: 14px;
                line-height: 1.57;
            }
            &-date {
                font: {
                    size: 10px;
                    weight: 500;
                };
                margin-bottom: 10px;
            }

            &-empty {
                width: 100%;

                $wbColor : darken(themed("emptyNews"), 5%);

                &-item {
                    width: 100%;
                    padding: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: flex-start;
                    @include block-wrapper($theme-map);
                }
                &-image {
                    width: 150px;
                    height: 150px;
                    display: block;
                    background: #{$wbColor};
                }
                &-title {
                    height: 22px;
                    width: 60%;
                    display: block;
                    background: #{$wbColor};
                }
                &-date {
                    height: 15px;
                    width: 50px;
                    display: block;
                    background: #{$wbColor};
                    margin-top: 5px;
                }
                &-body {
                    height: 100px;
                    width: 100%;
                    display: block;
                    background: #{$wbColor};
                    margin-top: 7px;
                }
                &-content {
                    width: calc(100% - 170px);
                    padding-left: 20px;
                }
            }

            @include respond-to(xs) {
                &-item {
                    flex-direction: column;
                }
                &-image {
                    width: 150px;
                    margin: 0 auto;
                }
                &-content {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 20px;
                    .btn {
                        float: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}