@import "~Assets/stylesheets/base/all";
@import "~Assets/stylesheets/utils/all";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/form";

$themes: colorThemes((
    light: (
        baseColor: #515b5e,
        titleColor: #383838,
        itemBackgroundColor: #ffffff,

        createBg: #ffffff,
        createTitle: #383838,
        createInputBG: #fcfcfc,
    ),
    dark: (
        baseColor: #C3CCCB,
        titleColor: #ffffff,
        itemBackgroundColor: #383838,

        createBg: #383838,
        createTitle: #ffffff,
        createInputBG: #2a2a2a,
    ),
));
/* CreateAccountIndex.js */


%required-label {
    label {
        &::before {
            content: "*";
            display: inline-block;
            margin-right: 3px;
        }
    }
}

.create-account{
    @include themify($themes) {
        width: 720px;
        margin: 30px auto 20px;
        font: {
            size: 14px;
        };
        line-height: 1.57;
        color: themed('baseColor');

        &-sub-title {
            display: block;
            margin: 0 0 30px;
            color: themed('baseColor');
        }
        &-title{
            width: 600px;
            margin: 0 auto;
            text-align: center;
            font: {
                size: 27px;
            };
            color: themed('titleColor');
        }
        &-desc{
            text-align: center;
            line-height: 1.57;
        }
        &-wrap{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        &-wrap-scrooge{
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        &-item{
            color: themed('baseColor');
            width: 350px;
            display: inline-block;
            padding: 28px;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
            border: 2px solid transparent;
            background-color: themed('itemBackgroundColor');
            border-radius: 3px;
            cursor: pointer;
            &.active,
            &:hover {
                border-color: #58a135;
            }
        }
        &-btn{
            width: 200px;
            margin: 30px auto 0;
            display: block;
            text-transform: capitalize;
            .btn {
                width: 100%;
            }
        }
        &-inner {
            text-align: left;
            &-form {

            }

            .generate-pass {
                color: themed('colorGreen');
                text-align: center;
                padding: 0 0 10px 0;
                vertical-align: middle;
                cursor: pointer;
                font: {
                    size: 12px;
                };
                line-height: 20px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-top: -10px;
                .icon {
                    margin-right: 10px;
                }
            }
        }



        @include respond-to(xs) {
            width: auto;
            display: flex;
            flex-direction: column;

            &-wrap{
                display: block;
                width: 100vw;
                background-color: themed('itemBackgroundColor');
            }
            &-title{
                width: 100%;

            }
            &-item {
                width: 100%;
                padding: 10px 5px 10px 10px;
                &.active {
                    border-color: transparent;
                }
            }
            @include deexCarousel();
        }
    }
}

.model-item{
    @include themify($themes) {

        &-title {
            text-align: center;
            font: {
                size: 27px;
            };
            color: themed('titleColor');
            display: inline-block;
            width: 100%;
            padding-bottom: 96px;
            position: relative;

            &:before {
                content: "";
                width: 90px;
                height: 50px;
                left: 50%;
                top: 50%;
                margin-left: -45px;
                position: absolute;
                background-repeat: no-repeat;
                background-position: center;
            }

            @each $name in wallet, password, password-2fa {
                //@debug map-get($icon, $name);
                &.#{$name} {
                    &:before {
                        background-image: url(map-get($icon, $name));
                    }
                }
            }

            @include respond-to(xs) {
                font: {
                    size: 20px;
                };
                margin: 10px;
                padding-bottom: 0;
                padding-left: 60px;
                text-align: left;

                &:before {
                    margin-left: 0;
                    width: 50px;
                    height: 30px;
                    left: 0;
                    top: 0;
                    background-size: contain;
                }

            }
        }
        &-ul {
            padding: 0;
            margin: 0;
        }
        &-li {
            list-style: none;
            font: {
                size: 14px;
            };
            line-height: 1.57;
            position: relative;
            padding-left: 25px;
            &:before{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #dd2233;
                left: 0;
                top: 5px;
            }
            &+.model-item-li {
                margin-top: 15px;
            }

            @include respond-to(xs) {
                line-height: 1.29;
            }
        }
    }
}

.account-email {
    @include themify($themes){

        @include deexForm("ant", $theme-map);


        &.error {
            .ant-form-item{
                &-required {
                    color: themed("colorRed");
                }
                &-control {
                    &.has-error {
                        margin-top: 2px;
                        font: {
                            size: 12px;
                        };
                        .ant-input{}
                    }
                    &-wrapper {
                    }
                }
            }
        }

    }
}

.account-field {
    @include themify($themes){

        color: themed('baseColor');

        @include deexForm("ant", $theme-map);
        @include deexCheckbox("ant-checkbox", ("color_dodger_green_approx" : themed("colorGreen")));

        &.account-name {
            .ant-input{
                padding-left: 0;
                &-group-addon {
                    line-height: 40px;
                    padding: 0 0 0 10px;
                }
            }
        }

        &.error {
            .ant-form-item{
                &-required {
                    color: themed("colorRed");
                }
                &-control {
                    &.has-error {
                        margin-top: 2px;
                        font: {
                            size: 12px;
                        };
                        .ant-input{}
                    }
                    &-wrapper {
                    }
                }
            }
        }

    }
}

/* CreateAccountIndex.js */


div.divider {
    margin: 20px 0;
    border-bottom: 1px solid $border-color;
}

.login-selector {
    justify-content: space-around;
    > div.box {
        cursor: pointer;
        position: relative;
        padding: 1rem;
        padding-bottom: 4.5rem;
        border: 1px solid $border-color;
        margin-top: 2rem;

        .button {
            font-size: 0.875rem;
            position: absolute;
            bottom: 1rem;
        }
    }
}

.account-creation {
    @include themify($themes) {
        width: 440px;
        margin-top: 2rem;
        border-radius: 3px;
        background-color: themed("createBg");
        padding: 30px;

        &-title {
            font-size: 19px;
            font-weight: 500;
            color: themed("createTitle");
            text-align: center;
            margin-bottom: 30px;
            line-height: 25px;
        }
        &-info {
            font: {
                size: 14px;
            };
            color: themed("baseColor");
            line-height: 1.57;
            text-align: left;
            h4 {
                font: {
                    size: 19px;
                    weight: 500;
                };
                margin-bottom: 10px;
                text-align: center;
                color: themed("titleColor");
            }

        }
        &-wrapper {
            @include respond-to(xs) {
                flex-grow: inherit;
                flex-shrink: inherit;
                flex-basis: inherit;
                overflow: inherit;
            }
        }

        .left-label {
            text-transform: none;
            color: themed("baseColor");
            > span {
                text-transform: none;
            }
        }


        .account-name {
            text-align: left;
            margin-bottom: 20px;
            &-input {
                height: 35px;
                box-sizing: border-box;
                border: 1px solid themed("inputBorder");
                background-color: themed("inputBackground");
                box-shadow: themed("inputBoxShadow");
                color: themed("baseColor");
                margin-bottom: 3px;
                &:hover {
                    background-color: themed("createInputBG");
                }
            }
            &-warning {
                color: themed("colorRed");
                font: {
                    size: 12px;
                };
            }
            &.error {
                .account-name {
                    &-label {
                        color: themed("colorRed");
                    }
                    &-input {
                        border-color: themed("colorRed");
                    }
                    &-error {
                        color: themed("colorRed");
                        font: {
                            size: 12px;
                        };
                    }
                }
            }


        }
        .account-email {
        }

        .confirm-password {
            &-error {
                font: {
                    size: 12px;
                };
                color: themed("colorRed");
            }
        }

        .password-input{
            height: 35px;
            box-sizing: border-box;
            border-color: themed("createInputBG");
            background-color: themed("createInputBG");
            color: themed("baseColor");
            margin-bottom: 3px;
            &:hover {
                background-color: themed("createInputBG");
            }

            &-wrap {
                text-align: left;
            }
            &-error {
                font: {
                    size: 12px;
                };
                color: themed("colorRed");
            }

        }
        .input-button-password {
            height: 35px;
            margin-bottom: 3px;
            box-sizing: border-box;
            border-color: themed("inputBorder");
            background-color: themed("inputBackground");
            box-shadow: themed("inputBoxShadow");
            color: themed("baseColor");
            &:focus ,
            &:hover {
                background-color: themed("createInputBG");
                padding-left: 9px;
            }
            &-wrap {
                .button {
                    border-radius: 3px;
                    border: solid 1px #ffffff;
                    background-color: #474747;
                    height: 35px;
                    width: 40px;
                    line-height: 14px;
                    padding: 0;
                    text-align: center;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        background: #383838;
                    }
                }
            }
        }
        .public-link {
            color: #27ae29;
            span {
                color: #27ae29;
                > span {
                    color: #ffffff;
                }
            }
        }
        .confirm-checks {
            line-height: 1.57;
            label {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                color: themed("baseColor");

                input[type="checkbox"] {
                    margin-top: 3px;
                    width: 20px;
                    height: 20px;
                }

                span {
                    text-transform: none;
                    display: inline-block;
                    margin-left: 1px;
                    color: themed("baseColor");
                    width: calc(100% - 20px);

                }
            }
        }

        .public-buttons {
            padding: 0;
            margin-top: 30px;
            text-align: center;
            .btn {
                width: 200px;
                margin: 0 auto;
                display: block;
            }
        }
        .additional-account-options {
            margin-top: 20px;
            font: {
                size: 14px;
            };
            line-height: 1.57;
            color: themed("baseColor");
            a {
                color: #27ae29;
            }
        }
        .backup-qrcode-link {
            margin-top: 20px;
            .btn {
                width: 100%;
            }
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            flex-grow: inherit;
            flex-shrink: inherit;
            flex-basis: inherit;
            overflow: inherit;
        }
    }
}

.input-email {
    > span > span {
        width: auto;
        padding: 0;
        > button {
            width: 100%;
            border-radius: 0 3px 3px 0;
        }
    }
}

