@import "../../../assets/stylesheets/base/all";
@import "../../../assets/stylesheets/utils/all";

$themes: (
    light: (
        baseColor: #515b5e,
        titleColor: #383838,
        backgroundColor: #ffffff,
        borderItem: rgba(81,91,94, .1),
    ),
    dark: (
        baseColor: #C3CCCB,
        titleColor: #ffffff,
        backgroundColor: #383838,
        borderItem: rgba(216,216,216, 0.1),
    ),
);


.InfoModal {
    @include themify($themes) {

        width: 600px;
        position: absolute;
        left: 50%;
        margin-left: -300px;
        background-color: themed('backgroundColor');
        top: 10%;
        box-shadow: 0 0 3px rgba(255,255,255,0.5);
        color: themed('baseColor');
        font: {
            size: 14px;
        };
        height: calc(100% - 20%);
        overflow-x: auto;


        &:focus {
            outline: none;
        }



        &-wrap {
            padding: 30px 60px;
        }
        &-title{
            font: {
                size: 27px;
            };
            color: themed('titleColor');
            text-align: center;
            line-height: 33px;
            margin-bottom: 20px;
        }
        &-desc {
            color: themed('baseColor');
            text-align: center;
            margin-bottom: 20px;
        }
        &-info {
            border-top: 1px solid themed('borderItem');
            border-bottom: 1px solid themed('borderItem');
        }
        &-item {
            padding: 30px 0 20px;
            &+& {
                border-top: 1px solid themed('borderItem');
            }
            &-title {
                text-align: center;
                display: inline-block;
                color: themed('titleColor');
                width: 100%;
                font: {
                    size: 19px;
                    weight: 500;
                };
                margin-bottom: 20px;
            }

            &-ul {
                padding: 0;
                margin: 0;
            }
            &-li {
                list-style: none;
                font: {
                    size: 14px;
                };
                line-height: 1.57;
                position: relative;
                padding-left: 25px;
                &:before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #dd2233;
                    left: 0;
                    top: 5px;
                }
                &+.model-item-li {
                    margin-top: 20px;
                }
            }
        }
        &-btn {
            padding: 20px 0;
            width: 430px;
            margin: 0 auto;
            &-label {
                color: themed('baseColor');
                span {
                    text-transform: none;
                }
            }
            &-group {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                .btn {
                    width: 200px;
                    & + .btn {
                        margin-left: 30px;
                    }
                }
            }
        }

        @include respond-to(xs) {
            width: 100%;
            margin-left: 0;
            left: 0;

            &-wrap {
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            &-btn {
                width: 100%;
                &-group {
                    flex-direction: column;
                    align-items: center;
                    .btn {
                        & + .btn {
                            margin:10px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}
