@import "../../assets/stylesheets/base/all";
@import "../../assets/stylesheets/utils/all";
@import "../../assets/stylesheets/base/image";
@import "../../assets/stylesheets/utils/mixin/checkbox";
@import "../../assets/stylesheets/utils/mixin/response";
@import "../../assets/stylesheets/utils/mixin/themes";
//@import "../../assets/stylesheets/utils/mixin/dropdown";

$themes: colorThemes((
    light: (
        "upload": "upload-green",
        "color": #383838,
        "color-green": #27ae29,
        "color-gray": #c3cccb,
        "bg-color": #fafafa,
        "border-color-gray": rgba(173, 182, 185, 0.5),
        "bg-color-row": rgba(216, 216, 216, 0.1),
        "bg-color-dropdown": #f7f7f8,
        "box-shadow": 0 1px 2px 0 rgba(0, 0, 0, 0.5)
    ),
    dark: (
        "upload": "upload",
        "color": #ffffff,
        "color-green": #27ae29,
        "color-gray": #c3cccb,
        "border-color-gray": rgba(173, 182, 185, 0.5),
        "bg-color": #383838,
        "bg-color-row": rgba(216, 216, 216, 0.1),
        "bg-color-dropdown": #484848,
        "box-shadow": 0 2px 4px 0 rgba(0, 0, 0, 0.5)
    )
));

.node {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
   
        @include deexCheckbox("ant-checkbox", $theme-map );

        &-block {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            &-wrap {
                width: 100%;
            }
            &-add {
                max-width: 700px;
                width: 100%;
                margin: 0 auto;
                padding: 50px 30px;
                text-align: center;
                display: flex;
                flex-direction: column;

                border-radius: 2px;
                box-shadow: themed("box-shadow");
                background-color: themed("bg-color");

                .btn-auth {
                    width: 200px;
                    margin: 0 auto;
                }
            }
        } 

        &-page-title {
            font: {
                size: 19px;
                weight: 500;
            }
            color: themed("color-gray");
        }

        &-sub-title {
            font: {
                size: 19px;
                weight: 500;
            }
            color: themed("color");
            text-align: center;
        }

        &-title {
            font: {
                size: 27px;
            }
            color: themed("color");
        }

        &-unlock-info {
            margin: 25px 0 35px;
            color: themed("color-gray");
        }

        &-wrap {
            margin: 30px 0;
            padding: 25px 30px;

            box-shadow: themed("box-shadow");
            background-color: themed("bg-color");

            &.opacity {
                box-shadow: none;
                background-color: transparent;
            }
        }

        &-table {
            .btn {
                margin: 0 auto;
                width: 140px;
                display: block;
                line-height: 1.17;
                font: {
                    size: 12px;
                }

                &-auth {
                    margin: 20px auto 0;
                    width: 200px;
                }
            }

            &-head {
                margin: 20px 0 0;
                border-top: 1px solid themed("border-color-gray");
                border-bottom: 1px solid themed("border-color-gray");
                color: themed("color-gray");
                padding: 12px 20px;
                display: flex;
                justify-content: space-between;
                font: {
                    size: 14px;
                }

                &-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:first-child {
                        width: 40%;
                        padding: 0 0 0 60px;
                    }
                    &:last-child {
                        width: 60%;
                    }
                    .node_work {
                        text-align: center;
                    }
                    .accrued {
                        text-align: right;
                    }
                }
            }

            &-body {
                margin-top: 20px;
            }

            &-main {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                background-color: themed("bg-color-row");
                padding: 20px 0;
                &-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:first-child {
                        width: 40%;
                        padding: 0 30px 0 20px;
                    }
                    &:last-child {
                        width: 60%;
                    }
                }
                .link-right-active > svg,
                .link-right > svg {
                    width: 20px;
                    height: 20px;
                }
                .btn {
                    height: 35px;
                    padding: 3px 12px 3px 28px;
                    position: relative;
                    margin: 0;
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 8px;
                        top: 8px;
                    }
                    &-stop-nodes-take {
                        &:before {
                            background: url(map-get($icon, themed("upload")))
                                no-repeat center transparent;
                        }
                    }
                    &-take-deposit {
                        &:before {
                            background: url(map-get($icon, "upload")) no-repeat
                                center transparent;
                        }
                    }
                    &-add-deposit {
                        &:before {
                            background: url(map-get($icon, "download"))
                                no-repeat center transparent;
                        }
                    }
                }
            }

            &-row {
                padding: 20px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                background-color: themed("bg-color-row");
                margin-bottom: 20px;
                &.start {
                    justify-content: flex-start;
                    padding: 0 20px 10px;
                }
                &.end {
                    background-color: transparent;
                    justify-content: flex-end;
                    padding: 0 20px 0 0;
                    margin: 10px 0;
                }
            }

            &-item {
                text-align: left;
                width: 100%;

                &-top {
                    min-height: 35px;
                    margin-bottom: 20px;
                    align-items: center;
                    display: flex;
                    &.inline {
                        display: flex;
                        flex-direction: initial;
                        align-items: center;
                        .btn {
                            margin: 0;
                        }
                    }
                }
                &-bottom {
                    min-height: 35px;
                    align-items: center;
                    display: flex;
                    .btn.btn-gray {
                        margin: 0;
                    }
                }
                &-title {
                    font-size: 12px;
                    line-height: 1.29;
                    color: themed("color-gray");
                    margin-right: 10px;
                }
                &-ping {
                    font-size: 11px;
                    &.instant {
                        color: #27ae29;
                    }
                    &.low {
                        color: #bbbf2b;
                    }
                    &.medium {
                        color: #bbbf2b;
                    }
                    &.long {
                        color: #de2233;
                    }
                }
                &.btn-groups {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding-right: 10px;
                }
                &.auto {
                    width: auto;
                    margin: 0 20px 0 0;
                    font-size: 12px;
                }
                &.deposit {
                    text-align: right;
                }
                &.node-last {
                    text-align: center;
                }
            }

            &-status {
                width: 20px;
                height: 20px;
                display: inline-block;
                text-align: center;
                margin-right: 20px;
                vertical-align: middle;
                &:before {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    line-height: 20px;
                    color: #000000;
                }

                &.isNotActive,
                &.failed,
                &.disabling,
                &.disabled {
                    &:before {
                        content: "";
                        background: #dd2233;
                    }
                }
                &.initial,
                &.in_process,
                &.requested {
                    &:before {
                        content: "";
                        background: #f8e71c;
                    }
                }
                &.isActive,
                &.confirmed,
                &.succeeded,
                &.complete {
                    &:before {
                        content: "";
                        background: #27ae29;
                    }
                }
                &.active {
                    &:before {
                        content: "";
                        background: #27ae29;
                    }
                }
                &.notCompete,
                &.discovered,
                &.fulfilled {
                    &:before {
                        content: "";
                        background: #5679ff;
                    }
                }
            }

            &-node-name {
                max-width: 255px;
                line-height: 20px;
                display: inline-block;
                vertical-align: top;
                @include truncate();
            }

            &-deposit {
                cursor: pointer;
                color: themed("color-gray");
                display: inline-block;

                font: {
                    size: 13px;
                }
                border-bottom: 1px dotted themed("color-gray");
            }

            &-toggle-show {
                display: inline-block;
                width: 35px;
                height: 35px;
                margin: 0 0 0 10px;
                background: url(map-get($icon, "trianle-up")) no-repeat center
                    transparent;
                background-size: 30%;
                transition: background 0.3s ease;
                &.down {
                    background: url(map-get($icon, "trianle-down")) no-repeat
                        center transparent;
                }
            }

            &-close {
                display: block;
                width: 20px;
                height: 20px;
                margin: 0 0 0 10px;
                background: url(map-get($icon, "close-gray")) no-repeat center
                    transparent;
                background-size: 40%;
            }
        }

        @include respond-to(xs) {
            &-block {
                padding: 20px 0;
            }
            &-page-title {
                padding: 0 25px;
            }
            &-wrap {
                padding: 25px 0;
            }
            &-table {
                &-rows {
                    margin-bottom: 10px;
                    background-color: themed("bg-color-row");
                }
                &-row {
                    margin-bottom: 0;
                    padding: 0;
                    background-color: transparent;
                    min-height: 35px;
                    &-top {
                        padding: 6px 10px 5px;
                    }
                    &-bottom {
                        padding: 10px;
                        &.operation {
                            padding: 0 10px;
                        }
                    }
                }

                &-item {
                    position: relative;
                    font: {
                        size: 12px;
                        weight: 500;
                    }
                    display: flex;
                    flex-direction: column;

                    &:not(.close),
                    &:not(.status) {
                        padding: 0 0 0 10px;
                        text-align: left;
                    }
                    &-title {
                        position: absolute;
                        top: -12px;
                        color: themed("color-gray");
                        font: {
                            size: 10px;
                        }
                    }
                    &-column {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        .status {
                            width: 30px;
                            text-align: center;
                        }
                        .close {
                            position: absolute;
                            right: 0;
                            width: 20px;
                            height: 20px;
                            background: url(map_get($icon, "arrow-down-gray"))
                                no-repeat center transparent;
                            transition: transform 0.3s ease;

                            &.down {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    &.inline {
                        flex-direction: initial;
                        align-items: center;
                        .node-table-item-title {
                            position: inherit;
                            margin-right: 10px;
                            top: 0;
                        }
                    }
                    &-top {
                        margin-bottom: 0;
                        font-size: 12px;
                    }
                }
                .btn {
                    margin-top: 10px;
                    width: calc(100% - 20px);
                }
            }
        }
    }
}

.info_node_modal {
    .modal {
        max-height: 90vh;
        max-width: 620px;
        padding: 0;
        &-header {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
.add_deposit_node_modal {
    .modal {
        max-width: 420px;
        padding: 20px 0;
        &-header {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
.request_node_modal {
    .modal {
        max-width: 600px;
        padding: 0 0 20px;
        &-header {
            position: absolute;
            right: 0;
            top: 0;
        }
        @include respond-to(xs) {
            padding: 0;
        }
    }
}
.delete_node_modal,
.disabled_node_modal {
    .modal {
        max-width: 410px;
        padding: 0 0 20px 0;
    }
}
.withdrawn_node_modal {
    .modal {
        max-width: 410px;
        padding: 0 0 20px 0;
    }
}

.request-node {
    @include themify($themes) {
        max-width: 400px;
        width: 100%;

        &-label {
            color: themed("color-gray");
        }

        @include respond-to(xs) {
            height: 100vh;
            display: flex;
            align-items: center;
        }
    }
}

.info-node {
    @include themify($themes) {
        .btn {
            display: block;
            width: 200px;
            margin: 20px auto 0;
        }
        &-title {
            font: {
                size: 27px;
                weight: normal;
            }
            color: themed("color");
            text-align: center;
            line-height: 37px;
            margin-bottom: 20px;
            span {
                color: #dd2233;
            }
        }
        &-sub-title {
            text-align: center;
            font: {
                size: 19px;
                weight: normal;
            }
            margin: 20px 0;
        }

        &-text {
            color: themed("color-gray");

            &-wrap {
                color: themed("color-gray");
                line-height: 20px;
                margin: 10px 0;

                &.sum {
                    b {
                        font-size: 16px;
                        font-weight: 500;
                        margin-left: 10px;
                        color: themed("color");
                    }
                }
                &.to_account {
                    display: flex;
                    justify-content: flex-start;
                    .ant-typography {
                        margin-left: 10px;
                        color: themed("color-green");
                        &-edit {
                            color: themed("color-gray");
                        }
                    }
                }
            }
            &-error {
               font-size: 12px;     
               
            }
        }
        &-btn-group {
            display: flex;
            justify-content: flex-end;

            .btn {
                width: auto;
                min-width: 100px;
                margin: 0 0 0 0;
                & + .btn {
                    margin: 0 0 0 20px;
                }
            }
        }
        &-editable {
            &-text {
                margin-left: 10px;
                
                & > span:first-child {
                    min-width: 70px;
                    display: inline-block;
                    margin-right: 5px;
                    max-width: 100px;
                    @include truncate();
                }
                .icon {
                    vertical-align: super;
                }
            }
            &-input {
                .ant-input-group-addon {
                    width: 40px;
                    background-color: #2a2a2a;
                    border: none;
                    button {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background: none;
                        line-height: 40px;
                    }
                }
            }
        }
    }

    ol {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;
    }

    ol > li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;
    }

    ol > li:before {
        //content: counters(item, ".") ". ";
        //display: table-cell;
        //padding-right: 0.6em;
    }

    li ol > li {
        margin: 0;
    }

    li ol > li:before {
        content: counters(item, ".") " ";
    }
}

.add-node {
    @include themify($themes) {
        color: themed("color-gray");
        font-size: 14px;

        @include deexCheckbox(
            "ant-checkbox",
            (
                "black_65": themed("color-gray")
            )
        );

        &-title-node {
            font-size: 27px;
            color: themed("color");
            text-align: center;
        }

        &-to-account {
            line-height: 1.57;
            span {
                color: #27ae29;
            }
        }
        &-fee-net {
            margin: 15px 0;
        }
        &-no-balance {
            margin: 15px 0;
            color: #dd2233;
        }

        &-confirm {
            margin: 15px 0 30px;
            &-text {
                display: inline;
                border-bottom: 1px dashed themed("color-gray");
            }
        }

        .btn {
            margin-left: auto;
            display: block;
        }

        .floating-dropdown {
            padding: 0 15px;
            color: themed("color");
            position: relative;
            background-color: themed("bg-color-dropdown");
        }
    }
}
