@font-face {
    font-family: "Avenir Next";
    src: url("/fonts/Avenir/AvenirNext-Bold.eot");
    src: local("/fonts/Avenir Next Bold"), local("/fonts/Avenir/AvenirNext-Bold"),
        url("/fonts/Avenir/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir/AvenirNext-Bold.woff2") format("woff2"),
        url("/fonts/Avenir/AvenirNext-Bold.woff") format("woff"),
        url("/fonts/Avenir/AvenirNext-Bold.ttf") format("truetype"),
        url("/fonts/Avenir/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("/fonts/Avenir/AvenirNext-BoldItalic.eot");
    src: local("/fonts/Avenir/Avenir Next Bold Italic"), local("/fonts/Avenir/AvenirNext-BoldItalic"),
        url("/fonts/Avenir/AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir/AvenirNext-BoldItalic.woff2") format("woff2"),
        url("/fonts/Avenir/AvenirNext-BoldItalic.woff") format("woff"),
        url("/fonts/Avenir/AvenirNext-BoldItalic.ttf") format("truetype"),
        url("/fonts/Avenir/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Avenir Next";
    src: url("/fonts/Avenir/AvenirNext-Italic.eot");
    src: local("/fonts/Avenir/Avenir Next Italic"), local("/fonts/Avenir/AvenirNext-Italic"),
        url("/fonts/Avenir/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir/AvenirNext-Italic.woff2") format("woff2"),
        url("/fonts/Avenir/AvenirNext-Italic.woff") format("woff"),
        url("/fonts/Avenir/AvenirNext-Italic.ttf") format("truetype"),
        url("/fonts/Avenir/AvenirNext-Italic.svg#AvenirNext-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Avenir Next";
    src: url("/fonts/Avenir/AvenirNext-Regular.eot");
    src: local("/fonts/Avenir/Avenir Next Regular"), local("/fonts/Avenir/AvenirNext-Regular"),
        url("/fonts/Avenir/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Avenir/AvenirNext-Regular.woff2") format("woff2"),
        url("/fonts/Avenir/AvenirNext-Regular.woff") format("woff"),
        url("/fonts/Avenir/AvenirNext-Regular.ttf") format("truetype"),
        url("/fonts/Avenir/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

