@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/base/image";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/form";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        background: #ffffff,
    ),
    dark: (
        background: #ffffff,
    ),
));

ol.prog-tracker {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        text-align: center;
        line-height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

ol.prog-tracker li.prog-tracker-done, ol.prog-tracker li.prog-tracker-current {
    color: black;
    border-bottom: 4px solid yellowgreen;
}

ol.prog-tracker li.prog-tracker-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

.prog-tracker-current {
    font-weight: bold;
}

.prog-tracker-todo {
    color: #8B8B8B;
}


.Invoice-create {
    @include themify($themes) {
        width: 80%;
        margin: 20px auto;
        padding: 20px;

        &-top {
            width: 50%;
        }
        &-title {
            margin-bottom: 20px;
			      font: {
                size: 24px;
            };
        }
        &-header-fields {
            display: flex;
            justify-content: flex-start;
            margin-left: 20px;
            padding-bottom: 10px;
        }

        @include block-wrapper($theme-map);


        .ant {
            &-form-item {
                &-label {
                    label {
                        color: #ffffff;
                    }
                }

                &-children {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .ant-input {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@include deexForm();