@import "~Assets/stylesheets/base/all";
@import "~Assets/stylesheets/utils/all";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        baseColor: #2d2d2d,

    ),
    dark: (
        baseColor: #d1d4db,
    ),
));


.AuthLogin {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 500px;
        &-block{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        &-wrap{
            width: 500px;
            padding: 20px;
            text-align: center;
            @include block-wrapper($theme-map);
        }
        &-title {
            font: {
                weight: bold;
                size: 24px;
            };
            line-height: 0.81;
            text-align: center;
        }
        &-unlock-info {
            padding: 10px 0;
        }

    }
}
