@import "../../../../assets/stylesheets/base/all";
@import "../../../../assets/stylesheets/utils/all";
@import "../../../../assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        baseColor: #2d2d2d,
    ),
    dark: (
        baseColor: #ffffff,
    ),
));

.chart-market{
    @include themify($themes) {
        &-item {

        }
        &-body {
            padding: 30px 0 10px;
        }
        &-name {
            align-items: center;
            display: inline-flex;

        }
        &-wrap-image {
            position: relative;
            span {
                position: absolute;
                font: {
                    size: 30px;
                    weight: bold;
                };
                color: themed("colorGreen");
                left: 50px;
                top: 100px;
                width: 150px;
            }
        }
        &-wrap {

        }
    }
}


.ico-market {
    @include themify($themes) {
        //border-color: #fca032;
        color: themed("baseColor");
        position: relative;
        &:after {
            content: "";
            background: url("./Accepted.png") no-repeat 0 0 transparent;
            background-size: cover;
            width: 103px;
            height: 60px;
            position: absolute;
            right: 10px;
            top: 70px;
            transform: rotate(12deg);
        }
        &-header {
            display: flex;
            justify-content: space-between;
        }
        &-info-text {

            span {
                height: 34px;
                border-radius: 2px;
                background-color: #dd2233;
                color: #ffffff;
                display: inline-block;
                line-height: 34px;
                padding: 0 10px;
                margin-right: 5px;
                font-size: 20px;
                font-weight: 500;
            }
        }
        &-row {
            display: flex;
            justify-content: center;
            padding: 6px 0;
            align-items: baseline;
        }
        &-name{
            width: 30%;
            text-align: right;
            color: #C3CCCB;
        }
        &-value{
            width: 60%;
            text-align: left;
            padding-left: 20px;
            &.price {
                font-size: 30px;
                font-weight: 600;
                color: #27ae29;
            }
            &.bonus {
                color: #27ae29;
            }
        }

        &.teco {
            background-image: url("https://static.haqq.exchange/images/ieo/teco_market.png");
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;

            .chart-market {
                &-body {
                    margin-top: 20px;
                }
            }
            &:after {
                top: 100px;
            }
        }


    }
}