@import "~antd/lib/grid/style/index.css";
@import "~antd/lib/select/style/index.css";
@import "~antd/lib/skeleton/style/index.css";
@import "~antd/lib/button/style/index.css";
// @import "~antd/lib/modal/style/index.css";
//  ??
//@import "~antd/lib/style/index.css";
@import "~antd/lib/list/style/index.css";
@import "~antd/lib/divider/style/index.css";
@import "~antd/lib/spin/style/index.css";
@import "~antd/lib/input-number/style/index.css";


@import "~Assets/stylesheets/base/_all";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/antd/input-number";
@import "~Assets/stylesheets/utils/mixin/modal";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/form";
@import "~Assets/stylesheets/utils/mixin/response";

$themes: colorThemes((
    light: (
        baseColor: #2d2d2d,

    ),
    dark: (
        baseColor: #d1d4db,
    ),
));

$ant-prefix: "ant";

.Credit {
    @include themify($themes) {
        width: 100%;
        padding: 30px 20px;
        background: url("images/credit_bg.png") no-repeat top right transparent;

        @include antd-input-number;
        @include deexCheckbox("ant-checkbox", $theme-map);
        @include deexForm("ant", $theme-map);

        &-info {
            width: 60%;
            font: {
                size: $font-size-base;
            };
            line-height: 16px;
            color: themed("baseColor");

            .btn {
                width: 200px;
                margin: 40px 0 60px 0;

            }
        }
        &-title {
            padding: 40px 0 20px;
            font: {
                size: 27px;
            };
            color: themed("titleColor");
        }
        &-form {
            padding: 30px;
            @include block-wrapper($theme-map);

            &-title{
                font: {
                    size: 22px;
                };
                line-height: 26px;
                text-align: center;
                color: themed("titleColor");
            }
            &-info{
                font: {
                    size: $font-size-base;
                };
                line-height: 16px;
                color: themed("baseColor");
                text-align: center;
                padding: 0 50px;
                margin: 30px 0;
            }
        }
        &-steps {
            &-title {
                font: {
                    size: 27px;
                };
                color: themed("colorOrange");
                text-align: center;
            }
            &-list{
                display: flex;
                justify-content: center;
                padding: 30px 0;
            }
            &-items {
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                width: 20%;
                position: relative;

                &-title {
                    font: {
                        size: 23px;
                    };
                    color: themed("titleColor");
                    margin-bottom: 20px;
                    padding-bottom: 5px;

                    background: url("images/___.png") no-repeat bottom left transparent;

                    &_1 {
                        padding-left: 28px;
                    }
                    &_2 {
                        padding-left: 44px;
                    }
                    &_3 {
                        padding-left: 30px;
                    }
                }
                &-info {
                    font: {
                        size: 14px;
                    };
                    color: themed("baseColor");
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 27px;
                    height: 40px;
                    //background: red;

                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &_1 {
                    &:before {
                        left: 7px;
                        top: -12px;
                        background-image: url("images/1.png") ;
                    }
                }
                &_2 {
                    &:before {
                        left: 20px;
                        top: -7px;
                        background-image: url("images/2.png") ;
                    }
                }
                &_3 {
                    &:before {
                        left: 6px;
                        top: -7px;
                        background-image: url("images/3.png") ;
                    }
                }

            }
        }
        &-oferta {
            &-title {
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                margin-bottom: 40px;
            }
            &-info {

            }
            &-wrap {
                padding: 20px;
                background-color: themed("bodyBackgroundEven");
                margin-bottom: 30px;

            }
            &-list {}
            &-item {
                display: flex;
                justify-content: space-between;
                padding: 5px 0;
                line-height: 22px;
                > span {
                    &:first-child{
                        &:after {
                            content: ":";
                        }
                    }
                }

            }
            &-description{
                font-size: 14px;
                line-height: 22px;
                color: themed("baseColor");
                &-wrap{
                    border-top: 1px solid themed("borderColor");
                    border-bottom: 1px solid themed("borderColor");
                    padding: 20px 0;
                    margin-bottom: 20px;
                    max-height: 300px;
                    overflow: auto;
                    @include scrollbars(.2em);
                }
                &-title {
                    font-weight: 500;
                    font-size: 19px;
                    line-height: 26px;
                    text-align: center;
                    margin-bottom: 10px;
                }

            }
        }

        .ant {
            &-form {
                &-item {
                    &-children {

                    }
                }
            }
            &-input {
                margin-bottom: 0;
                display: inline-block;
            }
            &-select{
                &-selection{
                    border-radius: 0;
                    &--single {
                        //height: 35px;
                    }
                    &__rendered {
                        //line-height: 34px;
                    }
                }
                &-dropdown {
                    border-radius: $border-radius-bottom;
                    &-menu {
                        margin: 0;
                    }
                }
            }
        }

        @include respond-to(xs){
            background-size: contain;
            &-info {
                width: 100%;
            }
            &-title {
                line-height: 27px;
            }
            &-steps {
                &-title {
                    font: {
                        size: 16px;
                    };
                }
                &-list{
                }
                &-items {
                    width: 33%;
                    padding: 0 10px;
                    font: {
                        size: 12px;
                    };

                    &:before{
                        height: 28px;
                    }
                    &_1 {
                        &:before {
                            left: 6px;
                        }
                    }
                    &_2 {
                        &:before {
                            left: 12px;
                            top: -11px;
                        }
                    }
                    &_3 {
                        margin-top: -12px;
                        &:before {
                            left: 3px;
                            top: 1px;
                        }
                    }


                    &-title {
                        font: {
                            size: 12px;
                        };
                    }
                    &-info {
                        font: {
                            size: 12px;
                        };
                    }
                }
            }

            &-form {
                padding: 30px 10px;

                &-info{
                    font: {
                        size: $font-size-base;
                    };
                    line-height: 16px;
                    padding: 0 10px;
                    margin: 10px 0;
                }

                .ant-form {
                    & > .ant-row {
                        flex-direction: column;
                        display: flex;
                    }
                }
            }
        }
    }
}

.MyCredit {
    @include themify($themes) {
        width: 100%;
        padding: 20px 20px;


        &-title{
            font: {
                size: 19px;
                weight: 500;
            };
            line-height: 26px;
            color: themed("titleColor");
            padding: 10px 0 30px 10px;
        }
        &-row{
            margin-bottom: 30px;
            > .ant-row-flex,
            > .ant-row {
                margin-bottom: 20px;
            }
        }
        &-left{
            //background-color: red;
        }
        &-right{
            &-btn {
                text-align: right;
                margin-bottom: 30px;
            }

        }
    }
}

.BlockCredit {
    @include themify($themes) {
        margin: 0 10px;
        padding: 30px;
        display: block;
        @include block-wrapper($theme-map);

        &-title {
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid themed("borderColor");
            color: themed("titleColor");
            span {
                text-transform: none;
                font-size: 12px;
                line-height: 12px;
                color: themed("baseColor");
            }
        }
        &-row {
            font-size: 12px;
            line-height: 17px;
            color: themed("baseColor");
            b {
                font:{
                    size: 16px;
                }
                line-height: 22px;
                color: themed("titleColor");
            }
            &_status {
                margin-top: 60px;
                display: flex;
                align-items: center;
                .btn {
                    margin-right: 0;
                    margin-left: auto;
                }
            }
            &_column {
                flex-direction: column;
                align-items: flex-start;
            }
            &_margin_call {
                color: red;
            }
            &_high_margin_call_probability {
                color: orangered;
            }
            &_medium_margin_call_probability {
                color: yellow;
            }
            &_low_margin_call_probability {
                color: green;
            }
            &-title {
                font:{
                    size: 22px;
                }
                line-height: 22px;
                margin-bottom: 30px;
                color: themed("titleColor");
            }
        }
        &-col {
            &-item {
                margin: 20px 0;
                b {
                    font:{
                        size: 12px;
                    }
                    line-height: 21px;
                    margin-left: 10px;
                }
            }
        }

        &-wrap {
            display: block;
        }
        &-oferta {
            &-list {
                font: {
                    size: 14px;
                };
                line-height: 30px;
            }
            &-item {
                > span {
                    margin-right: 10px;
                    &:last-child{
                        font: {
                            weight: bold;
                        };
                    }
                    &:first-child{
                        &:after {
                            content: ":";
                        }
                    }
                }
            }
        }

        @include respond-to(xs){
            &-row {
                &_status {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .btn {
                        margin-top: 10px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.PSch {
    @include themify($themes) {
        margin: 0 10px 10px;
        padding: 30px 0;
        @include block-wrapper($theme-map);
        @include deexCheckbox("ant-checkbox", $theme-map);

        @include antd-input-number;

        &-title {
            color: themed("titleColor");
            font: {
                size: 22px;
            };
            line-height: 30px;
            text-align: center;
            padding: 0 30px;

        }
        &-col {
            margin: 0 0 10px 0;
            &-item {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                span {
                    width: 40%;
                    text-align: left;
                }
                b {
                    margin-right: 0;
                    margin-left: auto;
                    white-space: nowrap;
                }
            }
            .ant-checkbox-wrapper {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                > span:not([class]){
                    width: 100%;
                }
            }
        }
        &-row {
            font-size: 12px;
            line-height: 12px;
            color: themed("baseColor");

            b {
                font:{
                    size: 16px;
                }
                line-height: 22px;
                color: themed("titleColor");
            }
            &_status {
                margin-top: 60px;
            }
        }
        &-wrap {
            max-height: 500px;
            overflow: auto;
            padding: 10px 30px 0;
            @include scrollbars();
        }
        .ant-divider {
            padding: 0 30px;
        }

        @include respond-to(xs){
            &-col {
                &-item {
                    flex-direction: column;
                    align-items: flex-start;
                    span {
                        width: 100%;
                    }
                    b {
                        text-align: left;
                        margin-left: 0;
                        width: 100%;
                        margin-top: 10px;
                    }
                }

            }
        }
    }
}

.ViewCredit {
    @include themify($themes) {
        width: 100%;
        padding: 20px 20px;

        //margin: 0 10px;
        //display: block;
        //@include block-wrapper($theme-map);
        @include antd-input-number;

        &-right{
            &-btn {
                text-align: right;
            }
        }
        &-back{
            padding: 10px 0 0 10px;
            display: block;
            margin-bottom: 30px;
            color: themed("baseColor");
            &:before {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
                background: url(map_get($icon, "arrow-left-white")) no-repeat left center transparent;
                background-size: cover;
                margin-right: 10px;
            }
        }
        &-row {
            font-size: 12px;
            line-height: 12px;
            color: themed("baseColor");
            b {
                font:{
                    size: 16px;
                }
                line-height: 22px;
                color: themed("titleColor");
            }
            &_status {
                margin-top: 60px;
            }

        }

        @include respond-to(xs){
            &-right{
                margin-top: 20px;
                &-btn {
                    text-align: left;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.ModalPay {
    @include themify($themes) {
        &-wrap{
        }
        &-top{
            margin-bottom: 40px;
        }
        &-info-text{
            margin-top: 20px;
            min-height: 100px;
            line-height: 16px;
        }
        &-title{
            font-size: 22px;
            line-height: 30px;
            text-align: center;
            color: themed("titleColor");
            margin-bottom: 20px;
            &_sub{
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 10px;
                color: themed("baseColor");
            }
        }
    }
}

.anticon-spin {
    display: inline-block;
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
}

@keyframes loadingCircle {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
