@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/themes";


$themes: colorThemes((
    light: (
        backgroundList: #fcfcfc,
        inputBackground: #fcfcfc,
    ),
    dark: (
        backgroundList: #2a2a2a,
        inputBackground: #2a2a2a,
        wraperBackground: #464646,
    ),
));

.DepositWithdraw {
    @include themify($themes) {
        .modal {
            max-width: 435px;
            width: 100%;
        }

        .selected-dw {
            min-height: 325px;
            &-modal-title {
                font-size: 22px;
                text-align: center;
                margin-bottom: 30px;
            }
            &-currency {
                position: relative;
                z-index: 2;
                &-label {
                    font-size: 14px;
                    font-weight: 500;
                    color: themed("baseColor");
                }
                &-drop-down {
                    position: relative;
                    width: 100%;
                }
                &-close {
                    position: absolute;
                    width: 38px;
                    height: 38px;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    padding: 10px;
                    svg {
                        width: 19px;
                        height: 19px;
                        fill: themed("baseColor");
                    }
                }
                &-list {
                    position: absolute;
                    max-height: 205px;
                    width: 100%;
                    overflow: auto;
                    margin: 0 0 10px 0;
                    padding: 0 ;
                    background-color: themed("backgroundList");
                    box-shadow: themed("wraperBoxShadow");
                    @include scrollbars();
                }
                &-item {
                    list-style: none;
                    padding: 5px 20px 5px 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        line-height: 25px;
                    }
                    &-name {
                        margin-left: 0;
                        margin-right: auto;

                        &.active{
                            cursor: pointer;
                        }
                    }
                }
                &-input {
                    padding: 0 0 0 10px;
                    @include inputTextColor($theme-map);
                }
            }

            &-favorite {
                &-title{
                    margin: 20px 0 30px;
                }
                &-wrap{
                    //display: flex;
                    //justify-content: space-between;
                }
                &-btn{
                    width: calc(50% - 10px);
                    display: inline-flex;
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                    border-radius: 2px;
                    border: solid 1px themed("wraperBackground");
                    position: relative;


                    @include block-wrapper($theme-map);

                    background-color: themed("wraperBackground");

                    &-content {
                        padding: 15px 10px;
                        display: inline-flex;
                        align-items: flex-start;
                    }

                    small {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .icon {
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        z-index: 1;
                        cursor: pointer;
                    }

                    &:nth-child(even) {
                        margin: 0 0 20px 10px;
                    }
                    &:nth-child(odd) {
                        margin:0 10px 20px 0;
                    }

                    &-wrap{
                        > div {
                            max-width: 100px;
                            @include truncate();
                        }
                        //display: flex;
                        //justify-content: space-between;
                    }

                    &:hover {
                        border-color: themed("colorGreen");
                    }
                }
            }
        }
    }
}