@import "../../assets/stylesheets/base/all";
@import "../../assets/stylesheets/utils/all";
@import "../../assets/stylesheets/utils/mixin/checkbox";
@import "../../assets/stylesheets/utils/mixin/dropdown";
@import "../../assets/stylesheets/utils/mixin/themes";


$themes: colorThemes((
    light: (
        "baseColor": #8c979b,
        "bgColor": #ffffff,
        "titleColor": #383838,
        "titleBorerColor": #8c979b,

        "colorWhiteText": #515b5e,

        "InputBgColor": #fcfcfc,
        "InputTextColor": #2a2a2a,
        "InputBorder": #515b5e,
        "InputBorderFocus": #8c979b,

        "bgFloatingDropdown": #f7f7f8,
    ),
    dark: (
        "baseColor": #8c979b,
        "bgColor": #383838,
        "titleColor": #ffffff,
        "titleBorerColor": #8c979b,

        "colorWhiteText": #ffffff,

        "InputBgColor": #2d2d2d,
        "InputTextColor": #ffffff,
        "InputBorder": #515b5e,
        "InputBorderFocus": #8c979b,

        "bgFloatingDropdown": #484848,
    ),
));

.stealth-main {
    padding: 0 20px;
    margin: 20px auto 0;
    max-width: 1200px;
    width: 100%;

    @include themify($themes) {
        &-title {
            color: themed("titleColor");
            line-height: 30px;
            align-items: center;
            display: flex;
            font: {
                size: 19px;
            }

        }
        &-title2 {
            font: {
                size: 27px;
            }
            padding-bottom: 20px;
            border-bottom: 1px solid themed("titleBorerColor");
            display: flex;
            justify-content: space-between;
        }
        &-wrap {
            margin: 20px 0 40px;
            display: flex;
            justify-content: space-between;
            &.column {
                flex-direction: column;
            }
        }
        &-item {
            width: calc(50% - 10px);
            border-radius: 3px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            background-color: themed("bgColor");
            padding: 30px;
            &.full {
                width: 100%;
            }
            + .stealth-main-item.full {
                margin-top: 20px;
            }
        }


        &-header {
            display: flex;
            padding: 10px;
            justify-content: space-between;
            text-align: left;
            border-bottom: 1px solid themed("titleBorerColor");
            &-item {
                width: 100%;
            }
        }
        &-list {
            margin: 20px 0;
            padding: 10px 0;


            &-row {
                list-style: none;
                line-height: 50px;
                padding: 10px;
                display: flex;
                justify-content: space-between;

                a {
                    color: themed("baseColor");
                    display: block;

                    //max-width: 180px;
                    max-width: calc(100% - 40px);
                    width: 100%;
                    line-height: 40px;
                    vertical-align: text-bottom;
                    @include truncate();
                    span {
                        border-bottom: 1px dotted;
                    }
                }
                &:nth-child(even) {
                    //background-color: #383838;
                }
                &:nth-child(odd) {
                    background-color: rgba(216, 216, 216, 0.1);
                }

                .pubkey {
                    display: flex;
                    justify-content: flex-start;
                }
            }
            &-item{
                text-align: left;
                width: 100%;
                > span {
                    max-width: 180px;
                    display: inline-block;
                    line-height: 20px;
                    vertical-align: text-bottom;
                    margin-left: 5px;
                    @include truncate();
                }
                .btn-link {
                    padding: 0;
                    color: themed("baseColor");
                    border-bottom: 1px dashed themed("baseColor");
                }
            }


        }
        &-stealth-link {
            width: 20px;
            height: 20px;
            background: url(map_get($icon, "arrow-down")) no-repeat center transparent;
            margin-right: 10px;

        }
        &-group-btn {
            margin-left: auto;
        }
        &-disclaimer {
            color: themed("colorGrayLight");
            line-height: 20px;
            div {
                margin-bottom: 10px;
            }
            span {
                color: themed("colorRed");
            }
            b {
                color: themed("colorWhiteText");
                font: {
                    weight: 500;
                };
            }
        }
        .btn {
            &-guide {
                margin-left: 10px;

                height: 30px;
                line-height: 30px;
                text-align: center;
                padding: 0;
                border-radius: 50%;
                width: 30px;
                background-color: themed("baseColor");
            }
            &-instruction {
                background-color: themed("colorBlue");
                margin-right: 10px;

                &:hover {
                    background-color: lighten(themed("colorBlue"), 5%);
                }

            }
        }
    }
}

.modal {
    @include themify($themes) {
        .private-name {
            color: red;
            &-input {
                border: 1px solid themed("InputBorder");
                color: themed("InputTextColor");
                background-color: themed("InputBgColor");
                &:hover {
                    background-color: transparent;
                }
                &:focus {
                    border-color: themed("InputBorderFocus");
                }
            }
        }
    }
}


@include deexDropDown();

.ant-dropdown {
    @include themify($themes) {
        &-menu {
            background-color: themed("bgColor");
            &-item {
                color: themed("titleColor");
                &:hover {
                    background-color: lighten(themed("bgColor"), 5%);
                }
            }
        }
    }
}

.send-transfer {
    padding: 30px;
    @include themify($themes) {
        &-header {
            text-align: center;
        }
        &-title {
            color: themed("titleColor");
            font: {
                size: 27px;
            }
        ;
        }
        &-subtitle {
            margin: 25px 0;
            line-height: 1.57;
            text-align: left;
            color: themed("baseColor");
        }
        &-row {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            textarea {
                min-height: 24px;
                border-radius: 2px;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: themed("bgColorInput");
                padding: 9px 10px 9px;
                box-sizing: border-box;
                line-height: 15px;
                border: none;
                resize: none;
            }
            .typeahead__input {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            }
            input[type="text"] {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                line-height: 35px;
                height: 35px;
                border: none;
            }
            &.fee {
                .floating-dropdown {
                    color: themed("baseColor");
                    background-color: themed("bgFloatingDropdown");
                    padding: 0 10px;
                }
            }
            &.amount {
                .floating-dropdown {
                    padding: 0 15px;
                    color: themed("baseColor");
                    position: relative;
                    background-color: themed("bgFloatingDropdown");
                    cursor: pointer;
                }
            }
            &.group-button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;
                .btn-red {
                    width: 150px;
                    margin-left: 20px;
                }
                .btn-gray {
                    width: 100px;
                }
            }
        }
        &-balance-all {
            font: {
                size: 14px;
            }
        ;
            .currency {
                font: {
                    size: 11px;
                }
            ;
            }
        }

        @include respond-to(xs) {
            padding: 10px;
        }
    }
}

.disclaimer_stealth_modal {
    @include themify($themes) {
        .modal {
            padding: 20px 0;
            &-footer {
                padding: 0 20px;
            }

            .text-warning {
                background-color: rgba(255,229,100,0.3);
                border-left-color: #ffe564;
                border-left-width: 9px;
                border-left-style: solid;
                padding: 20px 45px 20px 26px;
                margin-bottom: 30px;
                margin-top: 20px;
                margin-left: -30px;
                margin-right: -30px;
                font: {
                    style: italic;
                };
            }
        }
    }
}

.information_stealth_modal {
    @include themify($themes) {
        .modal {
            padding: 20px 0;
            height: 90%;
            @include scrollbars(.2em, transparent, transparent);
            &:hover {
                @include scrollbars(.2em);
            }
            &-footer {
                text-align: center;
                .btn {
                    width: 100px;

                }
            }
            &-header {
                h6 {
                    text-align: center;
                    width: 80%;
                    margin: 0 auto;
                    color: themed("colorGrayLight");
                    span {
                        color: themed("colorWhiteText");
                    }
                }
                h3 {
                    text-align: center;
                    color: themed("colorRed");

                }
            }
            &-content {
                h2 {
                    text-align: center;
                    margin-bottom: 40px;
                }
                p {
                    color: themed("colorGrayLight");
                    &:nth-child(odd) {
                        margin-bottom: 40px;
                    }
                    span {
                        color: themed("colorWhiteText");
                    }
                }
            }
        }
    }
}