@import "~Assets/stylesheets/base/all";
@import "~Assets/stylesheets/utils/all";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/dropdown";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        "baseColor": #8c979b,
        "bgColor": #ffffff,
        "linkSvgColor": #8c979b,
        "titleColor": #383838,
        "bgColorInput": #fcfcfc,
        "bgColorText": #2a2a2a,
        "boxShadowTable": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
        "bgFloatingDropdown": #f7f7f8,

        "bgColorItem": #f7f7f8,
        "bgBorderItem": #EDEDEE,
    ),
    dark: (
        "baseColor": #8c979b,
        "bgColor": #383838,
        "linkSvgColor": #EDEDEE,
        "titleColor": #ffffff,
        "bgColorInput": #2a2a2a,
        "bgColorText": #ffffff,
        "boxShadowTable": 0 2px 4px 0 rgba(0, 0, 0, 0.5),
        "bgFloatingDropdown": #484848,

        "bgColorItem": #484848,
        "bgBorderItem": #616769,
    ),
));

%star-icon {
    width: 20px;
    cursor: pointer;
    font: {
        style: normal;
    }
;
    &::after {
        content: "\2605"; /* \2605 */
        display: inline-block;
        vertical-align: middle;
        color: #8c979b;
    }
    &.active {
        &::after {
            color: #f8e71c;
        }
    }
}

.account-page-layout {
    &.grid-block {
        overflow: inherit;
    }
}

.account-portfolio {
    display: block;
    color: red;
    //justify-content: space-between;
    //align-items: flex-start;
    //position: relative;
    @include themify($themes) {
        //background: themed('tabContentBackground');
        &-wrap {
            width: 100%;
            margin: 20px;
            font-size: 14px;
        }
        &-content {
            width: calc(100% - 430px);
            display: inline-block;
            vertical-align: top;
            color: themed('baseColor');
            background-color: themed('bgColor');
            margin-right: 20px;
            padding: 30px;
            box-shadow: themed('boxShadowTable');
        }
        &-form {
            width: 410px;
            color: themed('baseColor');
            background-color: themed('bgColor');
            box-shadow: themed('boxShadowTable');
        }
        &-empty-aside {
            padding: 60px 30px;
            border-radius: 2px;
            line-height: 1.57;
            box-shadow: themed('boxShadowTable');
            color: themed('bgColorText');
        }
        &-title-balance {
            float: right;
            color: themed("colorGreen");
            font-size: 23px;
            font-weight: 600;
            line-height: 0.96;
        }
        &-title {
            font: {
                size: 19px;
            }
            color: themed('baseColor');
            margin: 25px 0;
            width: calc(100% - 430px);

            .account-mine {
                text-transform: initial;
                &::before {
                    content: "(";
                    margin-left: 3px;
                    display: inline-block;
                }
                &::after {
                    content: ")";
                    margin-right: 3px;
                    display: inline-block;
                }
            }
            .icon {
                &.stealth {
                    svg {
                        width: 25px;
                        height: 20px;
                        vertical-align: middle;
                        // path {
                          //  fill: #7bd500 !important;
                        // }
                    }
                }
            }
        }

        &-sticky {
            position: sticky;
            display: inline-block;
            vertical-align: top;
            top: 85px;
        }

        .table {
            &-account {
                width: 100%;
                thead {
                    border-bottom: 1px solid #8c979b;
                }
                tfoot {
                    border-top: 1px solid #8c979b;
                    td {
                        padding: 10px 0;
                    }
                }
                tbody {
                    &:after {
                        content: " ";
                        display: block;
                        width: 100%;
                        height: 20px;
                    }
                    &:before {
                        content: " ";
                        display: block;
                        width: 100%;
                        height: 10px;
                    }
                }
            }
            &-head {
                &-item {
                    font: {
                        size: 14px;
                    };
                    text-align: center;
                    padding: 0 0 15px 0;
                    &:first-child {
                        padding-left: 10px;
                    }
                    // &:last-child {
                    //     padding-right: 10px;
                    // }

                    &-star {
                        @extend %star-icon;
                        cursor: default;
                    }

                    &.clickable {
                        span {
                            border-bottom: 1px dashed ;
                        }
                        &.active {
                            &:after {
                                content: "\25BE";
                                display: inline-block;
                                vertical-align: middle;
                            }
                            &.up {
                                &:after {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    @each $key in left, right, center {
                        &.#{$key} {
                            text-align: #{$key};
                        }
                    }
                    &.alphabetic {
                        padding-left: 15px;
                    }
                }
            }
            &-item {
                text-align: center;
                padding: 0;
                &-hidden {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: url(map_get($icon, "close-red")) no-repeat center transparent;
                    cursor: pointer;
                    &-text {
                        cursor: pointer;
                        text-transform: lowercase;
                        border-bottom: 1px dotted themed("baseColor");
                    }
                }
                &-star {
                    @extend %star-icon;
                }
                &-link {
                    color: themed('baseColor');
                    display: block;
                    text-align: left;
                    width: 100%;
                    padding-left: 15px;

                    &-logo {
                        margin-right: 5px;
                        //height: 18px;
                        max-width: 22px;
                        background-size: contain;
                        background-repeat: no-repeat ;
                        background-position: center;
                        color: #8c979b;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &-name {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .icon 
                &:first-child {
                    padding-left: 10px;
                }
                &:last-child {
                    padding-right: 10px;
                }

                &.left {
                    text-align: left;
                }
                &.asset-name {
                    .table-item {
                        &-link {
                            display: inline-block;
                            width: auto;
                        }
                    }
                    .icon {
                        vertical-align: sub;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
            }
            &-row {
                height: 35px;
                line-height: 35px;
                counter-increment: step-counter;
                &:nth-child(even) {
                    background-color: rgba(216, 216, 216, 0.1);
                }
                // &:nth-child(odd) {
                    //background-color: #383838;
                // }
                td:first-child {
                    &::before {
                        content: counter(step-counter);
                        padding: 3px 1px 3px 0;
                    }
                    &::after {
                        content: ".";
                        padding: 0 5px 0 0;
                    }
                }
            }
        }

        .header-selector {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 25px;

            &-search {
                width: 200px;
                margin-right: 20px;
                input[type="text"] {
                    margin-bottom: 0;
                    height: 35px;
                    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                    background-color: themed('bgColorInput');
                    border: none;
                    padding: 0 10px;
                }
            }
        }

        @include deexCheckbox("ant-checkbox", (
            "black_65" : themed("bgColorText"),
            "baseColor" : themed("baseColor"),
        ));



        .ant-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 10px 0 0 0;
            &-next,
            &-prev {
                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                &:focus{
                    outline: none;
                }
            }
            &-item {

                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                margin: 0 5px;
                display: inline-flex;
                &:focus{
                    outline: none;
                }
                > a {
                    display: inline-flex;
                    color: themed('baseColor');

                    align-items: center;
                    justify-content: center;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    box-sizing: border-box;

                }
                &-link {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    .anticon {
                        display: inline-flex;
                        svg {
                            fill: #de2233;
                        }
                    }
                    &:focus{
                        outline: none;
                    }


                }
                &-active {
                    > a {
                        border-color: #de2233;
                        color: #de2233;
                    }
                }
            }
            &-disabled {
                .ant-pagination{
                    &-item{
                        &-link{
                            visibility: hidden;
                        }
                    }
                }
            }
        }

        @include respond-to(xs) {
            &-content {
                width: 100%;
                padding: 0;
                margin: 0;
            }
            &-wrap {
                margin: 0;
            }
            &-title {
                padding: 0 10px;
                margin: 0 0 10px 0;
                width: 100%;
            }

            .header-selector {
                padding: 10px 0;
                &-search {
                    width: calc(100% - 50px);
                    margin: 0 0 0 10px;
                }
                &-setting {
                    width: 50px;
                    text-align: center;
                }
            }

            .table {
                &-account{
                    th , tr , td {
                        width: 100%;
                    }
                    &-th {
                        display: flex;
                        justify-content: space-between;
                    }
                    tbody {
                        tr {
                            &:nth-child(even) {
                                background-color: rgba(216, 216, 216, 0.1);
                            }
                            // &:nth-child(odd) {
                                //background-color: #383838;
                            // }
                        }
                        &:before {
                            content: none;
                        }
                    }
                    tfoot {
                        td {
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;

                        }
                    }
                }
                &-head {
                    &-item {
                        width: 100%;
                        font: {
                            size: 12px;
                        };
                        text-align: left;
                        padding: 10px 5px 10px 10px;


                        &:first-child{
                            padding: 0;
                        }
                        &.star {
                            width: 30px;
                            padding: 10px 5px 10px 10px;

                        }
                        &.alphabetic {
                            padding-left: 10px;
                        }
                        &.clickable span {
                            border-bottom: none;
                        }
                        &:last-child {
                            padding: 10px 5px 10px 0;
                            text-align: center;
                        }
                    }
                }
                &-item {
                    &-top {
                        text-align: left;
                        padding: 0 5px;
                        font: {
                            weight: 500;
                            size: 12px;
                        }
                        &.star {
                            width: 30px;
                            padding: 0 5px 0 10px;

                        }
                        &.asset {
                            width: 160px;
                            @include truncate();
                        }
                        &.bottom {
                            position: absolute;
                            right: 10px;
                            top: 15px;

                            span {
                                display: block;
                                width: 20px;
                                height: 10px;
                                background: url(map_get($icon, "arrow-down-gray")) no-repeat left center transparent;
                                transition: transform 0.3s ease;

                                &.arrow-up {
                                    transform: rotate(180deg);
                                }
                            }

                        }

                    }
                    &-link {
                        padding: 0;
                    }
                    &-bottom {
                        padding: 11px 7.5px 10px;
                        background-color: #5a5a5a;
                        line-height: 15px;
                        display: inline-block;
                        margin-right: 1px;

                        .icon {
                            margin-right: 5px;
                        }
                        span {
                            color: #ffffff;
                            font: {
                                size: 10px;
                            };
                            &.transfer {
                                svg {
                                      fill: #fff;
                                }
                            }
                        }
                        // svg {
                          //  fill: #fff;
                        // }
                        &-info {
                            display: flex;
                            justify-content: flex-start;
                            padding: 0 10px;
                        }
                        &-button {
                            display: flex;
                            justify-content: flex-start;
                        }
                        &-title {
                            line-height: 15px;
                            color: #8c979b;
                            font: {
                                size: 10px;
                            };
                        }
                        &-group {
                            padding: 0 10px 0 0 ;
                            text-align: left;
                            color: #ffffff;
                        }
                        &-close {
                            width: 20px;
                            height: 20px;
                            margin: 13px 4px auto auto;
                        }
                        &-hidden-text {
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: url(map-get($icon, "close-gray")) no-repeat center transparent;
                            background-size: 40%;
                        }
                    }
                }
                &-row {
                    min-height: 35px;
                    height: auto;
                    &.top-show {
                        background: themed("bgColorItem");
                        border-top: 1px solid  themed("bgBorderItem");
                        border-bottom: 1px solid  themed("bgBorderItem");

                        .table {
                            &-item{
                                &-top,
                                &-link{
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &-top {
                        display: flex;
                        justify-content: flex-start;
                        position: relative;


                    }
                    &-bottom {
                        &-button,
                        &-info{
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }

            }

            .ant-checkbox {
                &-wrapper {
                    font: {
                        size: 18px;
                    };

                    + .ant-checkbox-wrapper {
                        margin: 10px 0 0 0;
                    }
                }
            }


        }
    }
    @at-root .modal-content & {
        flex-direction: column;
        &-wrap {
            padding: 0 0 20px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #616769;
            font: {
                size: 18px;
            };

            .header-selector {
                &-title {
                    font: {
                        weight: bold;
                    };
                }
                &-item {
                    line-height: 25px;
                    padding: 10px 0;
                    span {
                        border-bottom: 1px dashed;
                    }
                    &.active {

                       &:after {
                           content: "\25BE";
                           display: inline-block;
                           vertical-align: middle;
                           margin-left: 3px;
                       }
                        &.up {
                            &:after {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }

    }
}

@include deexDropDown();

.ant-dropdown {
    @include themify($themes) {
        &-menu {
            background-color: themed("bgColor");
            &-item {
                color: themed("titleColor");
                &:hover {
                    background-color: lighten(themed("bgColor"), 5%);
                }
            }
        }
    }
}

.send-transfer1 {
    padding: 30px;
    @include themify($themes) {
        &-header {
            text-align: center;
        }
        &-title {
            color: themed("titleColor");
            font: {
                size: 27px;
            }
        ;
        }
        &-subtitle {
            margin: 25px 0;
            line-height: 1.57;
            text-align: left;
            color: themed("baseColor");
        }
        &-row {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            textarea {
                min-height: 24px;
                border-radius: 2px;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: themed("bgColorInput");
                padding: 9px 10px 9px;
                box-sizing: border-box;
                line-height: 15px;
                border: none;
                resize: none;
            }
            .typeahead__input {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            }
            input[type="text"] {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                line-height: 35px;
                height: 35px;
                border: none;
            }
            &.fee {
                .floating-dropdown {
                    color: themed("baseColor");
                    background-color: themed("bgFloatingDropdown");
                    padding: 0 10px;
                }
            }
            &.amount {
                .floating-dropdown {
                    padding: 0 15px;
                    color: themed("baseColor");
                    position: relative;
                    background-color: themed("bgFloatingDropdown");
                    cursor: pointer;
                }
            }
            &.group-button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;
                .btn-green {
                    width: 150px;
                    margin-left: 20px;
                }
                .btn-gray {
                    width: 100px;
                }
            }
        }
        &-balance-all {
            font: {
                size: 14px;
            }
        ;
            .currency {
                font: {
                    size: 11px;
                }
            ;
            }
        }

        @include respond-to(xs) {
            padding: 10px;
        }
    }
}
