@import "../../../../assets/stylesheets/base/all";
@import "../../../../assets/stylesheets/utils/all";
@import "../../../../assets/stylesheets/utils/mixin/checkbox";
@import "../../../../assets/stylesheets/utils/mixin/dropdown";
@import "~Assets/stylesheets/utils/mixin/themes";


$themes: colorThemes((
    light: (
        "baseColor": #8c979b,
        "titleColor": #383838,
        "bgColor": #ffffff,
        "bgColorInput": #fcfcfc,
        "borderColor": #C3CCCB,
        "fillBtnColor": #C3CCCB,
    ),
    dark: (
        "baseColor": #8c979b,
        "titleColor": #ffffff,
        "bgColor": #383838,
        "bgColorInput": #2a2a2a,
        "borderColor": #ffffff,
        "fillBtnColor": #ffffff,
    ),
));


.deposit-address {
    padding: 30px;
    @include themify($themes) {
        &-header {
            text-align: center;
        }
        &-title {
            color: themed("titleColor");
            font: {
                size: 27px;
            } ;
        }
        &-subtitle {
            margin: 25px 0;
            line-height: 1.57;
            text-align: left;
            color: themed("baseColor");
        }
        &-label {
            margin: 0 0 10px 0;
        }
        &-group {
            display: flex;
            justify-content: flex-start;
            .btn {
                height: 35px;
                border: 1px solid themed("borderColor");
                svg > path {
                    fill: themed("fillBtnColor");
                }
            }
        }
        &-input {
            height: 35px;
            width: calc(100% - 45px);
            margin: 0 5px 0 0 ;
        }
        &-row {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            textarea {
                min-height: 24px;
                border-radius: 2px;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: themed("bgColorInput");
                padding: 9px 10px 9px;
                box-sizing: border-box;
                line-height: 15px;
                border: none;
                resize: none;
            }
            input[type="text"] {
                //background-color: themed("bgColorInput");
                //color: themed("baseColor");
                //box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                line-height: 35px;
                height: 35px;
                border: none;

                @include inputTextColor($theme-map);
            }
            &.fee {
                .floating-dropdown {
                    background-color: #484848;
                }
            }
            &.amount {
                .floating-dropdown {
                    padding: 0 15px;
                    color: themed("baseColor");
                    position: relative;
                    background-color: themed("bgColorInput");
                }
            }
            &.group-button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;
                .btn-red {
                    width: 150px;
                    margin-left: 20px;
                }
                .btn-gray {
                    width: 100px;
                }
            }
        }
        &-balance-all {
            font: {
                size: 14px;
            } ;
            .currency {
                font: {
                    size: 11px;
                }
            ;
            }
        }
        &-addon-after {
            padding: 0 10px;
        }
        &-explain {
            font: {
                size: 12px;
            };
            display: flex;
            flex-direction: column;
        }

        .ant-radio {
            &-wrapper {
                color: themed("baseColor");
                white-space: normal;
            }
        }

        @include respond-to(xs) {
            padding: 10px;
        }
    }
}
