@import "~Assets/stylesheets/base/_all";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/dropdown";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        "baseColor": #8c979b,
        "bgColor": #ffffff,
        "linkSvgColor": #8c979b,
        "titleColor": #383838,
        "bgColorInput": #fcfcfc,
        "bgColorText": #2a2a2a,
        "boxShadowTable": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
        "bgFloatingDropdown": #f7f7f8,

        "bgColorItem": #f7f7f8,
        "bgBorderItem": #EDEDEE,
    ),
    dark: (
        "baseColor": #8c979b,
        "bgColor": #383838,
        "linkSvgColor": #EDEDEE,
        "titleColor": #ffffff,
        "bgColorInput": #2a2a2a,
        "bgColorText": #ffffff,
        "boxShadowTable": 0 2px 4px 0 rgba(0, 0, 0, 0.5),
        "bgFloatingDropdown": #484848,

        "bgColorItem": #484848,
        "bgBorderItem": #616769,
    ),
));

.send-transfer {
    padding: 30px;
    @include themify($themes) {
        &-header {
            text-align: center;
        }
        &-title {
            color: themed("titleColor");
            font: {
                size: 27px;
            }
        ;
        }
        &-subtitle {
            margin: 25px 0;
            line-height: 1.57;
            text-align: left;
            color: themed("baseColor");
        }
        &-row {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            textarea {
                min-height: 24px;
                border-radius: 2px;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: themed("bgColorInput");
                padding: 9px 10px 9px;
                box-sizing: border-box;
                line-height: 15px;
                border: none;
                resize: none;
            }
            .typeahead__input {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            }
            input[type="text"] {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                line-height: 35px;
                height: 35px;
                border: none;
            }
            &.fee {
                .floating-dropdown {
                    color: themed("baseColor");
                    background-color: themed("bgFloatingDropdown");
                    padding: 0 10px;
                }
            }
            &.amount {
                .floating-dropdown {
                    padding: 0 15px;
                    color: themed("baseColor");
                    position: relative;
                    background-color: themed("bgFloatingDropdown");
                    cursor: pointer;
                }
            }
            &.group-button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;
                .btn-green {
                    width: 150px;
                    margin-left: 20px;
                }
                .btn-gray {
                    width: 100px;
                }
            }
        }
        &-balance-all {
            font: {
                size: 14px;
            }
        ;
            .currency {
                font: {
                    size: 11px;
                }
            ;
            }
        }


        @include deexDropDown();
        @include respond-to(xs) {
            padding: 10px;
        }
    }
}