@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/base/all";
@import "~Assets/stylesheets/utils/all";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/dropdown";
@import "~Assets/stylesheets/utils/mixin/themes";

@import "~antd/lib/radio/style/index.css";

$themes: colorThemes((
    light: (
        "baseColor": #8c979b,
        "bgColor": #ffffff,
        "titleColor": #383838,
        "bgColorInput": #fcfcfc,
        "bgFloatingDropdown": #f7f7f8,
    ),
    dark: (
        "baseColor": #8c979b,
        "bgColor": #383838,
        "titleColor": #ffffff,
        "bgColorInput": #2a2a2a,
        "bgFloatingDropdown": #484848,
    )
));


.send-withdraw {
    padding: 30px;
    @include themify($themes) {
        &-header {
            text-align: center;
        }
        &-title {
            color: themed("titleColor");
            font: {
                size: 27px;
            };
        }
        &-sub-header {
            margin: 25px 0;
            line-height: 1.57;
            text-align: left;
            color: themed("baseColor");
        }

        &-label {
            margin: 0 0 10px 0;
        }
        &-group {
            display: flex;
            justify-content: flex-start;

            .btn {
                height: 35px;
            }
        }
        &-input {
            height: 35px;
            width: calc(100% - 45px);
            margin: 0 5px 0 0;
        }
        &-error {
            color: red;
            font: {
                size: 12px;
            };
            margin-top: 5px;
        }
        &-row {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            input[type="text"] {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                line-height: 35px;
                height: 35px;
                border: none;
                padding-left: 10px;
                color: themed("baseColor");
            }

            // &.fee {
            // }

            .floating-dropdown {
                color: themed("baseColor");
                background-color: themed("bgFloatingDropdown");
                /*! *484848 * !*/
                padding: 0 10px;
            }

            &.amount {
                display: flex;
                justify-content: space-between;

                .amount-selector {
                    width: calc(50% - 10px);
                }
            }

            &.group-button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;

                .btn-green {
                    width: 150px;
                    margin-left: 20px;
                }

                .btn-gray {
                    width: 100px;
                }
            }
        }
        &-help {
            font: {
                size: 12px;
            };
            margin-top: 5px;
            display: inline-block;
        }
        &-help-link {
            display: flex;
            justify-content: space-between;
            font: {
                size: 12px;
            };

            span {

                border-bottom: 1px dashed;
                margin-top: 5px;
                display: inline-block;
                cursor: pointer;
            }
        }
        &-link {
            border-bottom: 1px dashed;
            cursor: pointer;
        }
        &-fee {
            font: {
                size: 12px;
                weight: 400;
            };
            display: flex;
            justify-content: space-between;

            &-title {
                font: {
                    size: 16px;
                    weight: 500;
                };
                margin-bottom: 10px;
            }
        }

        .ant-radio {
            &-wrapper {
                color: themed("baseColor");
                white-space: normal;
            }
        }

        @include respond-to(xs) {
            padding: 10px;
        }
    }
}
