@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto/Roboto-Regular/1af43b5ae9fe5e99dfb3ce2152dcf2ad.eot');
    src: url('/fonts/Roboto/Roboto-Regular/1af43b5ae9fe5e99dfb3ce2152dcf2ad.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto/Roboto-Regular/1af43b5ae9fe5e99dfb3ce2152dcf2ad.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Regular/1af43b5ae9fe5e99dfb3ce2152dcf2ad.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Regular/1af43b5ae9fe5e99dfb3ce2152dcf2ad.ttf') format('truetype'),
        url('/fonts/Roboto/Roboto-Regular/1af43b5ae9fe5e99dfb3ce2152dcf2ad.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

