@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/response";
@import "~Assets/stylesheets/utils/mixin/dropdown";


$themes: colorThemes((
    light: (
        topLink: #C3CCCB,

        "bgFloatingDropdown": #f7f7f8,
    ),
    dark: (
        topLink: #C3CCCB,

        "bgFloatingDropdown": #484848,
    )
));

@include deexDropDown();

.ieo {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px;
    @include themify($themes){
        //@debug $themes;
        &-header {
            width: 100% ;
            padding-right: 400px;
            background-image: url("https://static.haqq.exchange/images/ieo/05.png");
            background-position: right center;
            background-size: contain;
            background-repeat: no-repeat ;
            margin: 0 0 20px 0;
            &-title {
                font: {
                    size: 100px;
                    weight: normal;
                };
                color: themed("titleColor");
            }
            &-desc {
                font-size: 18px;
                line-height: 1.5;
                color: themed("baseColor");
                margin-bottom: 20px;
            }
            &-link {
                min-width: 200px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        &-content {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            &-item {
                width: calc(50% - 20px);
                position: relative;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                color: themed("baseColor");
                @include block-wrapper($theme-map);


                &:nth-child(even) {
                    margin: 0 0 10px 5px;
                }
                &:nth-child(odd) {
                    margin:0 5px 10px 0;
                }


                &-bg {
                    display: block;
                    width: 100%;
                    height: 120px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                &-label {
                    position: absolute;
                    right: 0;
                    top: 10px;
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 10px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 2px 0 0 2px;
                    color: #ffffff;
                    &.waiting{
                        background: themed("colorOrange");
                    }
                    &.active{
                        background: themed("colorGreen");
                    }
                    &.stop{
                        background: themed("colorBlue");

                    }
                    &.coming_soon{
                        background: themed("colorRed");

                    }
                }
                &-title {
                    font: {
                        size: 19px;
                        weight: 500;
                    };
                    padding: 20px 20px;
                }
                &-desc{
                    padding: 20px;
                }
                &-footer {
                    padding: 20px 20px 10px;
                }
                &-row {
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    b {
                        font-weight: normal;
                    }
                }
                &.not-started {
                    cursor: default;
                }
            }
        }

        @include respond-to(xs){
            &-header {
                padding: 0 10px;
                background-position: 90% 0;
                background-size: 120px;
                &-title{
                    font-size: 50px;
                    padding: 20px 0;
                }
                &-desc {
                    font-size: 12px;
                }
                &-link {
                    width: 100%;
                }
            }
            &-content {
                flex-direction: column;
                padding: 0 10px;
                &-item {
                    width: 100%;

                    &:nth-child(even) ,
                    &:nth-child(odd) {
                        margin: 0 0 10px 0;
                    }

                }
            }
        }
    }
}

.ieo-item {
    @include themify($themes){
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            &-link {
                color: themed("topLink");
                font: {
                    size: 15px;
                    weight: 500;
                };
                span.icon {
                    width: 20px;
                    height: 10px;
                    display: inline-block;
                }
            }
            .btn {
                font: {
                    size: 12px;
                    weight: 500;
                };
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
        }
        &-content {
            width: calc(100% - 430px);

        }
        &-aside {
            width: 410px;
            padding-left: 20px;
            & > div {
                margin: 0;
                + div {
                    margin-top: 20px;
                }
            }
        }

        &-about {
            padding: 0 0 20px 0;
            @include block-wrapper($theme-map);
            &-bg {
                height: 200px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 0px;
            }
            &-title{
                padding: 20px 15px 10px;
                font-size: 19px;
                font-weight: 500;
                color: themed("titleColor");
            }
            &-text{
                padding: 0 15px;
                font-size: 14px;
                font-weight: 500;
                font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
                line-height: 22px;
                color: themed("baseColor");
            }
        }

        &-news {
            padding: 20px 15px;
            margin-top: 20px;
            color: themed("baseColor");
            @include block-wrapper($theme-map);

            &-title {
                padding: 0 0 20px 0 ;
                font-size: 19px;
                font-weight: 500;
                color: themed("titleColor");
            }

            &-post {
                &-title {
                    font-size: 17px;
                    font-weight: 400;
                    color: themed("titleColor");
                    margin-bottom: 10px;
                    text-decoration: underline;
                    display: block;
                }
            }
        }

        &-info {
            padding: 20px 15px 10px 15px;
            @include block-wrapper($theme-map);

            &-title{
                padding: 0;
                margin-bottom: 15px;
                font-size: 19px;
                font-weight: 500;
                color: themed("titleColor");
            }
            &-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                font: {
                    size: 14px;
                };
                color: themed("baseColor");
                span {
                    width: 60%;
                }
                span:last-child {
                    text-align: right;
                    width: 40%;
                    line-height: 18px;
                    span:not(:last-child)::after {
                        content: ", ";
                        display: inline;
                    }
                }
                a {
                    text-decoration: underline;
                }
            }
        }

        &-links {
            padding: 20px 15px;
            margin-top: 20px;
            @include block-wrapper($theme-map);

            &-title{
                padding: 0;
                margin-bottom: 15px;
                font-size: 19px;
                font-weight: 500;
                color: themed("titleColor");
            }
            &-wrap {
                display: flex;
                justify-content: flex-start;

                a {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    /*span {
                        background-color: #dd2233;
                        background-position: center;
                        background-image:  ;
                    }*/
                }
            }
        }

        @include respond-to(xs){
            &-wrap {
                padding: 0 10px;
                flex-direction: column;
            }
            &-content {
                width: 100%;
            }
            &-aside {
                width: 100%;
                padding: 0;
                margin-top: 20px;
            }

            &-top{
                padding: 0 10px;
            }

            &-about {
                &-bg {
                    height: 120px;
                    background-size: contain;
                }
            }
            &-news {
                &-post {
                    &-text {
                        width: 100%;

                        iframe {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.collected-asset {
    @include themify($themes) {
        &-row{
            padding: 20px 10px;
        }
        &-item{
            width: calc(100% / 3 - 20px);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            margin: 0 10px;
            border-top: 1px solid themed("borderColor") ;
            &-wrap {
                display: flex;
                align-items: center;
            }
        }
        @include respond-to(xs) {
            &-item {
                width: calc(100% / 2 - 20px);
            }
        }
    }
}

.ieo-progress {
    @include themify($themes){
        &-wrap{
            padding: 20px;
            color: themed("baseColor");
            background-color: themed("bodyBackground");
            position: relative;
        }
        &-full {
            display: flex;
            align-items: center;
            span {
                transform: skew(-20deg);
                height: 6px;
                margin: 0 10px;
                width: 100%;
                background-color: #515B5E;
            }
        }
        &-collected {
            height: 16px;
            width: calc(100% - 119px);
            margin: 0 0 0 30px;
            position: absolute;
            top: 20px;
            transform: skew(-20deg);
            .soft-cap {
                font-size: 12px;
                display: block;
                position: absolute;
                z-index: 2;
                width: 20%;
                background: themed("colorRed");
                line-height: 16px;
                span {
                    text-align: right;
                    transform: skew(20deg);
                    display: block;
                    padding: 0 10px 0 0;
                    color: themed("colorWhite");
                }
                &.active {
                    &:after {
                        content: '';
                        height: 29px;
                        width: 2px;
                        background: themed("colorRed");
                        position: absolute;
                        right: 0;
                        top: -6px;
                    }
                }
            }
            .hard-cap {
                font-size: 12px;
                display: block;
                position: absolute;
                z-index: 1;
                background: themed("colorGreen");
                line-height: 16px;
                span {
                    text-align: right;
                    transform: skew(20deg);
                    display: block;
                    padding: 0 10px 0 0;
                    color: themed("colorWhite");
                }
                &.active {
                    &:after {
                        content: '';
                        height: 29px;
                        width: 2px;
                        background: themed("colorGreen");
                        position: absolute;
                        right: 0;
                        top: -6px;
                    }
                }
            }

        }
        &-softcap {
            margin: 0 50px 0 30px;
            padding: 30px 0 0 0;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            transform: skew(-20deg);
            width: 20%;
            position: relative;
            top: -20px;
            text-align: right;
            span {
                transform: skew(20deg);
                display: block;
                padding: 0 10px 5px 0;
                font-size: 12px;
                text-transform: uppercase;
            }

        }
    }
}

.send-transfer {
    padding: 30px;
    margin-top: 20px;
    @include themify($themes) {
        @include block-wrapper($theme-map);
        &-header {
            text-align: center;
        }
        &-title {
            color: themed("titleColor");
            font: {
                size: 27px;
            }
        ;
        }
        &-subtitle {
            margin: 25px 0;
            line-height: 1.57;
            text-align: left;
            color: themed("baseColor");
        }
        &-row {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            textarea {
                min-height: 24px;
                border-radius: 2px;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: themed("bgColorInput");
                padding: 9px 10px 9px;
                box-sizing: border-box;
                line-height: 15px;
                border: none;
                resize: none;
            }
            .typeahead__input {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            }
            input[type="text"] {
                background-color: themed("bgColorInput");
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                line-height: 35px;
                height: 35px;
                border: none;
            }
            &.fee {
                .floating-dropdown {
                    color: themed("baseColor");
                    background-color: themed("bgFloatingDropdown");
                    padding: 0 10px;
                }
            }
            &.amount {
                .floating-dropdown {
                    padding: 0 15px;
                    color: themed("baseColor");
                    position: relative;
                    background-color: themed("bgFloatingDropdown");
                    cursor: pointer;
                }
            }
            &.group-button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;
                .btn-red {
                    width: 150px;
                    margin-left: 20px;
                }
                .btn-gray {
                    width: 100px;
                }
            }
            .btn {
                width: 200px;
                margin: 0 auto;
            }
        }
        &-balance-all {
            font: {
                size: 14px;
            }
        ;
            .currency {
                font: {
                    size: 11px;
                }
            ;
            }
        }

        @include respond-to(xs) {
            padding: 10px;
        }
    }
}

.ieo-modal {
    @include themify($themes) {

        &-title {
            color: themed("titleColor");
            text-align: center;
            font: {
                size: 27px;
            };
        }
        &-info {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }

        &-why-buy {
            font-size: 16px;
            line-height: 22px;
            color: themed("titleColor");
            text-align: center;
            margin-top: 20px;

        }
        &-buttons {
            width: 350px;
            text-align: center;
            margin: 40px auto 0;
            display: flex;
            justify-content: space-between;
            .btn {
                width: 150px;
            }

        }
        &-image {
            text-align: center;
            position: relative;

            &:before {
                content: "";
                width: 150px;
                height: 181px;
                display: block;
                position: absolute;
                background: url("https://static.haqq.exchange/images/ieo/smile_mask.png") no-repeat center transparent;
                z-index: 1;
                left: 50%;
                margin-left: -75px;
            }
        }

    }
}
