@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/base/image";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/themes";

.user-menu-scrooge {
    display: flex; 
    align-items: center; 
    color: #ffffff; 
    border: 1px solid #F7B232; 
    box-sizing: border-box; 
    border-radius: 8px; 
    justify-content: center; 
    width: 150px;
    margin-right: 16px; 
    height: 46px;
}

.scrooge-menu {
    display: flex;
    align-items: center;
}

.scrooge-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .user-menu-scrooge {
        width: 100px;
    }
}

@media screen and (max-width: 760px) {
    .scrooge-menu {
        display: none;
    }
    .scrooge-mobile {
        display: block;
    }
}


$themes: colorThemes((
    light: (
        backgroundList: #fcfcfc,
        inputBackground: #fcfcfc,

        tabContentBackground: #fcfcfc,
        marketCardTitle: #2a2a2a,
    ),
    dark: (
        backgroundList: #2a2a2a,
        inputBackground: #2a2a2a,

        tabContentBackground: #fcfcfc,
        marketCardTitle: #2a2a2a,
    ),
));

%delete-icon {
    del {
        position: absolute;
        width: 20px;
        height: 20px;
        right: -10px;
        top: -10px;
        background: #ff5555;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
        i {
            width: 10px;
            height: 10px;
            display: inline-block;
            background: url(map-get($icon, "trash-white")) no-repeat center transparent;
            background-size: contain;
        }
    }
    &:hover {
        del {
            display: flex;
        }
    }
}

.main-page {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-title {
            color: themed("colorBlack");
            font: {
                weight: bold;
                size: 27px;
            };
            line-height: 0.81;
        }

        &-title-scrooge-ru {
            height: 56px;
            background: url("https://static.scrooge.club/images/why.png") no-repeat center;
        }
        @media screen and (max-width: 900px) {
            &-title-scrooge-ru {
                height: 41px;
                background: url("https://static.scrooge.club/images/why-700.png") no-repeat center;
            }
        }
        @media screen and (max-width: 700px) {
            &-title-scrooge-ru {
                height: 29px;
                background: url("https://static.scrooge.club/images/why-500.png") no-repeat center;
            }
        }
        @media screen and (max-width: 500px) {
            &-title-scrooge-ru {
                height: 18px;
                background: url("https://static.scrooge.club/images/why-300.png") no-repeat center;
            }
        }

        &-title-scrooge-en {
            height: 56px;
            background: url("https://static.scrooge.club/images/why-en.png") no-repeat center;
        }
        @media screen and (max-width: 380px) {
            &-title-scrooge-en {
                height: 56px;
                background: url("https://static.scrooge.club/images/why-en-100.png") no-repeat center;
            }
        }

        &-description {
            margin-top: 15px;
            font-size: 15px;
            color: themed("colorBlack");
        }

        &-first {
            background: url("https://static.haqq.exchange/images/main_page/bg.png") no-repeat center #2a2a2a;
        }

        &-first-gbl {
            background: url("https://static.haqq.exchange/gbl/images/assets/bg.png") no-repeat center #2a2a2a;
        }

        &-first,
        &-first-gbl {
            height: 365px;
            background-size: cover;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

            &-row {
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
                align-items: center;
                height: 100%;
            }
            &-row-gbl {
                display: flex;
                justify-content: center;
                padding-left: 10%;
                align-items: center;
                height: 100%;
            }

            &-left {
                width: 63%;
                padding-right: 20px;
                box-sizing: border-box;
            }

            &-right {
                padding-right: 30px;
            }

            &-title {
                font: {
                    size: 44px;
                };
                line-height: 1.55;
                padding-bottom: 55px;
                color: themed("colorWhite");

                span {
                    font: {
                        style: italic;
                        weight: bold;
                    };
                }
            }

            &-buttons {
                .btn {
                    min-width: 140px;
                    height: 48px;
                    line-height: 35px;
                    + .btn {
                        margin-left: 20px;
                    }
                }
            }

            &-list {
                padding: 0;
                margin: 0;

                &-item {
                    list-style: none;
                    color: #979797;
                    font-size: 15px;
                    margin-bottom: 20px;

                    &:last-child {
                        div {
                            font-size: 26px;
                            padding-left: 15px;
                        }
                    }

                    div {
                        font-size: 16px;
                        font-weight: 600;
                        color: themed("colorWhite");
                        margin-left: -15px;
                    }
                }
            }
        }

        &-first-gbl {
            height: 365px;
            background: url("https://static.haqq.exchange/gbl/images/backrgound-gbl.png") no-repeat center #2a2a2a;
            background-size: cover;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

            &-row {
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
                align-items: center;
                height: 100%;
            }

            &-left {
                width: 63%;
                padding-right: 20px;
                box-sizing: border-box;
            }

            &-right {
                padding-right: 30px;
            }

            &-title {
                font: {
                    size: 44px;
                };
                line-height: 1.55;
                padding-bottom: 55px;
                color: themed("colorWhite");

                span {
                    font: {
                        style: italic;
                        weight: bold;
                    };
                }
            }

            &-buttons {
                .btn {
                    min-width: 140px;
                    height: 48px;
                    line-height: 35px;
                    + .btn {
                        margin-left: 20px;
                    }
                }
            }

            &-list {
                padding: 0;
                margin: 0;

                &-item {
                    list-style: none;
                    color: #979797;
                    font-size: 15px;
                    margin-bottom: 20px;

                    &:last-child {
                        div {
                            font-size: 26px;
                            padding-left: 15px;
                        }
                    }

                    div {
                        font-size: 16px;
                        font-weight: 600;
                        color: themed("colorWhite");
                        margin-left: -15px;
                    }
                }
            }
        }

        &-markets {
            background: #2A2A2A;
        }

        &-first-scrooge {
            height: 666px;
            background: url("https://static.scrooge.club/images/main-background.png") no-repeat center;
            background-size: cover;
            padding-right: 80px;
            padding-top: 40px;

            &-screen {
                display: none;
            }

            &-left {
                width: 80%;
                padding-right: 20px;
                box-sizing: border-box;
            }

            &-row {
                // height: 635px;
                background: url("https://static.scrooge.club/images/scrooge-background.png") no-repeat right;
                // margin-right: 80px;
                // margin-top: 40px;
                display: flex;
                justify-content: flex-start;
                padding-left: 10%;
                align-items: center;
                height: 100%;
            }

            &-title-ru { 
                height: 144px;
                background: url("https://static.scrooge.club/images/main-title.png") no-repeat;
            }

            &-title-en { 
                height: 144px;
                background: url("https://static.scrooge.club/images/main-title-en.png") no-repeat;
            }

            &-text {
                font-family: "AvenirNext-Regular";
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #E1E1E1;
                width: 460px;
                margin: 22px 0;
            }

            &-notes {
                font-family: "AvenirNext-Regular";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #C3CCCB;
                margin: 8px 0 0 0;
                width: 460px;
            }

            &-btn {
                font-family: "AvenirNext";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2A2A2A;
                background: #F7B232;
                box-shadow: 0px 0px 24px rgba(247, 178, 50, 0.64);
                border-radius: 8px;
                width: 230px;
                padding: 10px 0;
            }
            @media screen and (max-width: 800px) {
                &-btn {
                    width: 200px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            @media screen and (max-width: 760px) {
                &-desctop {
                   display: none;
                }
                &-screen {
                    display: block;
                    margin: 0 auto 40px auto;
                }
            }
            @media screen and (max-width: 600px) {
                &-row {
                    background: none;
                }
                &-main-title {
                    margin: 0 auto;
                }
                &-left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                &-title-ru { 
                    height: 144px;
                    background: url("https://static.scrooge.club/images/main-title-ru-400.png") no-repeat;
                }
            }
            @media screen and (max-width: 500px) {
                &-title-en { 
                    height: 100px;
                    background: url("https://static.scrooge.club/images/main-title-en-270.png") no-repeat;
                }
                &-text {
                    width: 100%;
                }
                &-notes {
                    width: 100%;
                }
            }
            @media screen and (max-width: 450px) {
                &-title-ru { 
                    height: 150px;
                    background: url("https://static.scrooge.club/images/main-title-ru-270.png") no-repeat;
                }
            }
            @media screen and (max-width: 360px) {
                &-title-en { 
                    height: 70px;
                    background: url("https://static.scrooge.club/images/main-title-en-200.png") no-repeat;
                }
                &-text {
                    font-size: 20px;
                }
            }
        }
        @media screen and (max-width: 500px) {
            &-first-scrooge {
                padding: 0 20px;
                height: 730px;

                &-left {
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: 350px) {
            &-first-scrooge {
                height:780px;
            }
        }

        &-why {
            padding: 80px 0 40px;
            color: themed("colorBlack");
            background-color: #fcfcfc;
            width: 100%;

            &-wrap {
                max-width: 1280px;
                margin: 0 auto;
                padding: 0 30px;
            }

            &-body {
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;

                > div {
                    flex: 0 0 33%;
                    margin: 10px 0 40px 0;
                    padding: 0 10px 0 0;
                }
            }

            &-body-scrooge {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                margin-bottom: 80px;

                > div {
                    width: 30%;
                    margin-top: 10px;
                    margin-bottom: 40px;
                    padding: 0 10px 0 0;
                }
            }
            @media screen and (max-width: 1000px) {
                &-body-scrooge {
                    flex-direction: column;
                    align-items: center;
    
                    > div {
                        width: 80%;
                    }
                }
            }
            @media screen and (max-width: 700px) {
                &-body-scrooge {
                    margin-bottom: 40px;
                }
            }

            &-num {
                font: {
                    size: 32px;
                    weight: bold;
                }
                line-height: 25px;
                display: inline-block;
                padding-bottom: 10px;
                border-bottom: 3px solid themed("colorGreen");
                margin-bottom: 20px;
            }

            &-title {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.63;
                margin-bottom: 15px;
            }

            &-text {
                font-size: 15px;
                line-height: 1.3;
            }
        }

        &-why-scrooge {
            padding: 40px 0;
            color: #E1E1E1;
            background-color: #161616;;
            width: 100%;

            &-item {
                background: #2A2A2A;
                border: 1px solid #1B1B1B;
                box-sizing: border-box;
                box-shadow: 0px 20px 64px -16px rgba(0, 0, 0, 0.9);
                border-radius: 16px;

                &-wrap {
                    position: relative;
                    padding: 90px 40px 40px 40px;
                }
            }

            &-title {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #E1E1E1;
                margin-bottom: 16px;
            }

            &-text {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #C3CCCB;
            }

            &-wrap {
                padding: 34px;
                max-width: 1280px;
                margin: 0 auto;
            }

            &-little-pic {
                display: none;
            }

            &-pic {
                position: absolute;
                top: -40px;
                left: 0;
                height: 116px;
                width: 188px;
            }

            &-currency-ru {
                height: 264px;
                // width: 1000px;
                background: url("https://static.scrooge.club/images/currencies-ru-1000.png") no-repeat center;
                background-size: cover;
            }
            &-currency-en {
                height: 285px;
                // width: 1000px;
                background: url("https://static.scrooge.club/images/currencies-en-1000.png") no-repeat center;
                background-size: cover;
            }
            @media (max-width: 1000px) {
                &-currency-ru {
                    height: 211px;
                    // width: 800px;
                    background: url("https://static.scrooge.club/images/currencies-ru-800.png") no-repeat center;
                    background-size: cover;
                }
                &-currency-en {
                    height: 228px;
                    // width: 800px;
                    background: url("https://static.scrooge.club/images/currencies-en-800.png") no-repeat center;
                    background-size: cover;
                } 
            }
            @media (max-width: 800px) {
                &-currency-ru {
                    height: 158px;
                    // width: 600px;
                    background: url("https://static.scrooge.club/images/currencies-ru-600.png") no-repeat center;
                    background-size: cover;
                }
                &-currency-en {
                    height: 171px;
                    // width: 600px;
                    background: url("https://static.scrooge.club/images/currencies-en-600.png") no-repeat center;
                    background-size: cover;
                }
            }
            @media (max-width: 600px) {
                &-currency-ru {
                    height: 105px;
                    // width: 400px;
                    background: url("https://static.scrooge.club/images/currencies-ru-400.png") no-repeat center;
                    background-size: cover;
                }
                &-currency-en {
                    height: 114px;
                    // width: 400px;
                    background: url("https://static.scrooge.club/images/currencies-en-400.png") no-repeat center;
                    background-size: cover;
                }
            }
            @media (max-width: 400px) {
                &-currency-ru {
                    height: 79px;
                    // width: 300px;
                    background: url("https://static.scrooge.club/images/currencies-ru-300.png") no-repeat center;
                    background-size: cover;
                }
                &-currency-en {
                    height: 86px;
                    // width: 300px;
                    background: url("https://static.scrooge.club/images/currencies-en-300.png") no-repeat center;
                    background-size: cover;
                }
                &-title {
                    font-size: 16px;
                }
                &-text {
                    font-size: 14px;
                }
                &-little-pic {
                    display: block;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    height: 81px;
                    width: 110px;
                }
                &-pic {
                    display: none;
                }
                &-item-wrap {
                    padding: 70px 20px 40px 20px;
                }
            }
            @media (max-width: 350px) {
                &-currency-ru {
                    display: none;
                }
                &-currency-en {
                    display: none;
                }
            }
            
        }

        &-b2c,
        &-b2b {
            padding: 40px 0 40px;
            color: themed("colorBlack");
            background-color: #fcfcfc;
            width: 100%;

            &-wrap {
                max-width: 1280px;
                margin: 0 auto;
                padding: 0 30px;
            }

            &-body {
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;
                //align-items: flex-start;
                > div {
                    //flex: 0 0 calc(50% - 20px);
                    margin: 0;
                    width: calc(50% - 20px);
                    //padding: 0 10px 0 0;
                    &:nth-child(even) {
                        margin-left: 10px;
                        margin-bottom: 20px;
                    }

                    &:nth-child(odd) {
                        margin-right: 10px;
                        margin-bottom: 20px;
                        //background-color: #383838;
                    }
                }
            }

            &-item {
                display: flex;
                justify-content: flex-start;
                background-color: themed("colorWhite");
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
                position: relative;
            }

            &-image {
                width: 120px;
                padding: 24px 30px;
            }

            &-content {
                width: calc(100% - 120px);
                padding: 45px 10px 45px 0;
                line-height: 20px;
            }

            &-links {
                margin-top: 15px;

                .btn {
                    min-width: 150px;
                }
            }

            &-title {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.63;
                margin-bottom: 15px;
            }

            &-text {
                font-size: 15px;
            }

            &-button {
                margin-top: 30px;
                .btn {
                    width: 150px;
                }
            }

            &-label {
                position: absolute;
                right: 0;
                top: 10px;
                padding: 12px 17px;
                border-radius: 5px 0 0 5px ;
                color: #ffffff;
                font: {
                    size: 12px;
                };
            }
        }

        &-join {
            padding: 0 0 40px;
            color: themed("colorBlack");
            background-color: #fcfcfc;
            width: 100%;

            &-wrap {
                max-width: 1280px;
                margin: 0 auto;
                padding: 0 30px;
                text-align: center;
                .btn {
                    margin-left: 20px;
                }
            }

        }

        &-markets-gbl {
            background: url("https://static.haqq.exchange/gbl/images/assets/bg.png") no-repeat center #2a2a2a;
        }

        &-markets {
            background: url("https://static.haqq.exchange/images/main_page/bg.png") no-repeat center #2a2a2a;
        }

        &-markets,
        &-markets-gbl {
            background-size: cover;
            &-wrap {
                max-width: 1080px;
                margin: 0 auto;
                padding: 30px 0 60px;
                position: relative;

                /* MarketCard.jsx */
                .chart-market {
                    padding: 20px 0 0 0;
                    &-row {
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        z-index: 2;

                        & + .chart-market-row {
                            margin-top: 20px;
                            z-index: 1;
                        }
                        @include respond-to(xs) {
                            flex-direction: column;
                            padding: 0 10px;
                        }
                    }
                    &-item {
                        width: calc(100% - 10px);
                        height: 200px;
                        border-radius: 3px;
                        border: solid 1px #383838;
                        font: {
                            size: 14px;
                            weight: 500;
                        } ;
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        background-color: themed("tabContentBackground");

                        &:hover {
                            border: solid 1px green;
                            del {
                                display: none;
                            }
                            .chart-market {
                                &-go{
                                    display: flex;
                                    background-color: rgba(255, 255, 255, 0.8);
                                    span {
                                        transform: translateY(0);
                                    }
                                }
                            }
                        }
                        &.add-chart {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-height: 209px;
                        }
                        & + .chart-market-item {
                            margin-left: 20px;
                            @include respond-to(xs) {
                                margin: 10px 0 0 0;
                            }
                        }

                        @include respond-to(xs) {
                            width: calc(100% - 20px);
                            margin: 0 10px;
                        }
                        &.empty {
                            height: 200px;
                        }
                    }
                    &-value {
                        padding: 0 15px;
                        color: #8c979b;
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                    &-depth {
                        width: 100%;
                        height: 80px;
                        margin: 0;
                        padding: 0;
                    }
                    &-header {
                        text-align: right;
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    &-name {
                        font: {
                            size: 30px;
                            weight: 600;
                        };
                        margin-left: 10px;
                        color: themed('marketCardTitle');
                    }
                    &-footer {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        text-align: center;
                        padding: 10px 0 15px;
                        span {
                            width: 50%;
                        }
                    }
                    &-delete {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                    }

                    &-ask {
                        color: #ff0000;
                    }
                    &-bid {
                        color: #579f15;
                    }
                    &-drop-down {
                        display: flex;
                        justify-content: center;
                        a {
                            text-transform: uppercase;
                            font: {
                                size: 25px;
                                weight: bold;
                            };
                            line-height: 18px;
                            border-bottom: 1px dashed themed('marketCardTitle');
                            color: themed('marketCardTitle');
                        }
                        &-wrap {
                            margin: 0 5px;
                        }
                    }
                    &-add-tab-wrap {
                        position: relative;
                        width: 160px;
                        z-index: 1;
                    }
                    &-add-tab {
                        position: absolute;
                    }
                    &-app-tab-outside {
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        background: themed('tabContentBackground');
                    }
                    & &-add-tab-input {
                        width: 100%;
                        margin: 0;
                        background: themed('inputBackground');
                        color: themed('baseColor');
                    }
                    &-add-tab-drop-down {
                        position: absolute;
                        max-height: 160px;
                        width: 100%;
                        padding: 10px 0;
                        overflow: auto;
                        border: solid 1px #d1d4db;
                        margin-top: 5px;
                        background: themed('tabContentBackground');
                    }
                    &-add-tab-quote {
                        display: inline-flex;
                        align-items: center;
                        padding: 5px 0 6px 15px;
                        width: 100%;
                        cursor: pointer;
                        font: {
                            size: 13px;
                            weight: bold;
                        }
                    ;
                    }
                    &-error {
                        position: absolute;
                        top: 20px;
                        color: red;
                        text-align: center;
                    }
                    &-go {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        align-items: center;
                        justify-content: center;

                        display: none;
                        span {
                            width: 140px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: themed("colorGreen");
                            color: themed("colorWhite");
                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                            border-radius: 3px;
                        }
                    }


                    @include respond-to(xs) {
                        &-name {
                            font: {
                                size: 25px;
                            };
                        }
                        &-item {
                            width: 100%;
                            // width: 300px;
                        }
                    }
                }
            }
            @include deexCarousel();
            @media screen and (max-width: 400px) {
                &-wrap {
                    display: none;
                }
            }

            .ant-carousel {
                .slick-arrow {
                    width: 50px;
                    height: 50px;
                    margin-top: -25px;
                    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
                    background-color: themed("colorWhite");
                    border-radius: 50%;
                    font: {
                        size: 0;
                    };
                    &:before {
                        font: {
                            size: 15px;
                            weight: bold;
                        };
                        line-height: 50px;
                        color: #2a2a2a;
                    }
                    &:focus,
                    &:hover {
                        background-color: darken(themed("colorWhite"), 5%);
                    }
                }
                .slick-next {
                    right: -70px;
                    &:before {
                        content: ">";
                    }
                }
                .slick-prev {
                    left: -70px;

                    &:before {
                        content: "<";
                    }
                }
                .slick-dots {
                    bottom: -15px;
                }
            }
        }

        &-markets-gbl {
            background: url("https://static.haqq.exchange/gbl/images/backrgound-gbl.png") no-repeat center #2a2a2a;;
            background-size: cover;
            &-wrap {
                max-width: 1080px;
                margin: 0 auto;
                padding: 30px 0 60px;
                position: relative;

                /* MarketCard.jsx */
                .chart-market {
                    padding: 20px 0 0 0;
                    &-row {
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        z-index: 2;

                        & + .chart-market-row {
                            margin-top: 20px;
                            z-index: 1;
                        }
                        @include respond-to(xs) {
                            flex-direction: column;
                            padding: 0 10px;
                        }
                    }
                    &-item {
                        width: calc(100% - 10px);
                        height: 200px;
                        border-radius: 3px;
                        border: solid 1px #383838;
                        font: {
                            size: 14px;
                            weight: 500;
                        } ;
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        background-color: themed("tabContentBackground");

                        &:hover {
                            border: solid 1px green;
                            del {
                                display: none;
                            }
                            .chart-market {
                                &-go{
                                    display: flex;
                                    background-color: rgba(255, 255, 255, 0.8);
                                    span {
                                        transform: translateY(0);
                                    }
                                }
                            }
                        }
                        &.add-chart {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-height: 209px;
                        }
                        & + .chart-market-item {
                            margin-left: 20px;
                            @include respond-to(xs) {
                                margin: 10px 0 0 0;
                            }
                        }

                        @include respond-to(xs) {
                            width: calc(100% - 20px);
                            margin: 0 10px;
                        }
                        &.empty {
                            height: 200px;
                        }
                    }
                    &-value {
                        padding: 0 15px;
                        color: #8c979b;
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                    &-depth {
                        width: 100%;
                        height: 80px;
                        margin: 0;
                        padding: 0;
                    }
                    &-header {
                        text-align: right;
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    &-name {
                        font: {
                            size: 30px;
                            weight: 600;
                        };
                        margin-left: 10px;
                        color: themed('marketCardTitle');
                    }
                    &-footer {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        text-align: center;
                        padding: 10px 0 15px;
                        span {
                            width: 50%;
                        }
                    }
                    &-delete {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                    }

                    &-ask {
                        color: #ff0000;
                    }
                    &-bid {
                        color: #579f15;
                    }
                    &-drop-down {
                        display: flex;
                        justify-content: center;
                        a {
                            text-transform: uppercase;
                            font: {
                                size: 25px;
                                weight: bold;
                            };
                            line-height: 18px;
                            border-bottom: 1px dashed themed('marketCardTitle');
                            color: themed('marketCardTitle');
                        }
                        &-wrap {
                            margin: 0 5px;
                        }
                    }
                    &-add-tab-wrap {
                        position: relative;
                        width: 160px;
                        z-index: 1;
                    }
                    &-add-tab {
                        position: absolute;
                    }
                    &-app-tab-outside {
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        background: themed('tabContentBackground');
                    }
                    & &-add-tab-input {
                        width: 100%;
                        margin: 0;
                        background: themed('inputBackground');
                        color: themed('baseColor');
                    }
                    &-add-tab-drop-down {
                        position: absolute;
                        max-height: 160px;
                        width: 100%;
                        padding: 10px 0;
                        overflow: auto;
                        border: solid 1px #d1d4db;
                        margin-top: 5px;
                        background: themed('tabContentBackground');
                    }
                    &-add-tab-quote {
                        display: inline-flex;
                        align-items: center;
                        padding: 5px 0 6px 15px;
                        width: 100%;
                        cursor: pointer;
                        font: {
                            size: 13px;
                            weight: bold;
                        }
                    ;
                    }
                    &-error {
                        position: absolute;
                        top: 20px;
                        color: red;
                        text-align: center;
                    }
                    &-go {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        align-items: center;
                        justify-content: center;

                        display: none;
                        span {
                            width: 140px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: themed("colorGreen");
                            color: themed("colorWhite");
                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                            border-radius: 3px;
                        }
                    }


                    @include respond-to(xs) {
                        &-name {
                            font: {
                                size: 25px;
                            };
                        }
                        &-item {
                            width: 100%;
                            // width: 300px;
                        }
                    }
                }
            }
            @include deexCarousel();

            .ant-carousel {
                .slick-arrow {
                    width: 50px;
                    height: 50px;
                    margin-top: -25px;
                    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
                    background-color: themed("colorWhite");
                    border-radius: 50%;
                    font: {
                        size: 0;
                    };
                    &:before {
                        font: {
                            size: 15px;
                            weight: bold;
                        };
                        line-height: 50px;
                        color: #2a2a2a;
                    }
                    &:focus,
                    &:hover {
                        background-color: darken(themed("colorWhite"), 5%);
                    }
                }
                .slick-next {
                    right: -70px;
                    &:before {
                        content: ">";
                    }
                }
                .slick-prev {
                    left: -70px;

                    &:before {
                        content: "<";
                    }
                }
                .slick-dots {
                    bottom: -15px;
                }
            }
        }

        &-club {
            background: #2A2A2A;

            &-screen {
                display: none;
            }

            &-background {
                // height: 594px;
                // width: 1160px;
                height: 512px;
                width: 1000px;
                background: url("https://static.scrooge.club/images/club-1000.png") no-repeat center;
                background-size: cover;
                margin: 80px auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 40px 80px;
            }

            &-text {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #C3CCCB;
                width: 50%;
                margin: 20px 0;
            }
            @media (max-width: 1000px) {
                &-background {
                    height: 460px;
                    width: 800px;
                    background: url("https://static.scrooge.club/images/club-800.png") no-repeat center;
                    background-size: cover;
                    border-radius: 20px;
                    margin: 40px auto 80px auto;
                } 
                &-desctop {
                    display: none;
                } 
                &-screen {
                    display: block;
                    margin: 60px auto 0 auto;
                }
                &-text {
                    width: 64%;
                }    
            }

            &-title {
                height: 53px;
                width: 262px;
                background: url("https://static.scrooge.club/images/scrooge-club.png") no-repeat center;
            }

            &-users {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 32px;
                color: #E1E1E1;
                margin: 30px 0;
            }

            &-users-number {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: normal;
                font-size: 80px;
                line-height: 80px;
                color: #E1E1E1;
            }
            @media (max-width: 800px) {
                &-background {
                    height: 307px;
                    width: 600px;
                    background: url("https://static.scrooge.club/images/club-600.png") no-repeat center;
                    background-size: cover;
                    padding: 0 20px;
                }

                &-text {
                    width: 60%;
                    margin: 0 0 16px 0;
                    font-size: 16px;
                    line-height: 20px;
                } 
                &-users {
                    font-size: 16px;
                    line-height: 20px;
                    margin: 10px 0;
                }
                &-users-number {
                    font-size: 20px;
                    line-height: 20px;
                }   
            }
            @media (max-width: 760px) {
                &-background {
                    margin: 40px auto;
                }
            }
            @media (max-width: 600px) {
                &-background {
                    height: 405px;
                    width: 400px;
                    background: #161616;
                    align-items: center;
                } 
                &-text {
                    margin: 0 0 8px 0;
                    font-size: 16px;
                    line-height: 24px;
                    width: 80%;
                    margin-bottom: 20px;
                }   
                &-users {
                    font-size: 30px;
                    line-height: 24px;
                    margin: 10px 0;
                }
                &-users-number {
                    font-size: 30px;
                    line-height: 24px;
                } 
            }
            @media (max-width: 400px) {
                &-background {
                    background: none;
                    width: 100%;
                    margin: 30px 0 20px;
                } 
                &-text {
                    text-align: center;
                }
            } 
        }

        &-support {
            background: #161616;
            padding: 80px 0;

            &-pic-ru {
                height: 56px;
                background: url("https://static.scrooge.club/images/support-ru.png") no-repeat center;
            }

            &-pic-en {
                height: 56px;
                background: url("https://static.scrooge.club/images/support-en.png") no-repeat center;
            }

            &-text {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #C3CCCB;
                margin: 40px 0;
            }

            &-btn {
                background: #2CA3DB;
                box-shadow: 0px 0px 24px rgba(44, 163, 219, 0.64);
                border-radius: 8px;
                font-family: "Roboto";
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                padding: 10px 0;
                width: 155px;
                margin: 0 auto;
            }
            @media screen and (max-width: 600px) {
                &-pic-ru {
                    height: 56px;
                    background: url("https://static.scrooge.club/images/support-430.png") no-repeat center;
                } 
            }
            @media screen and (max-width: 400px) {
                &-pic-ru {
                    height: 56px;
                    background: url("https://static.scrooge.club/images/support-280.png") no-repeat center;
                } 
                &-pic-en {
                    height: 56px;
                    background: url("https://static.scrooge.club/images/support-en-140.png") no-repeat center;
                } 
                &-text {
                    margin: 40px 10px;
                }
            }
        }

        &-referral {
            background: #2A2A2A;

            &-pic-ru {
                background: url("https://static.scrooge.club/images/referral-ru.png") no-repeat; 
                height: 112px;
            }

            &-pic-en {
                background: url("https://static.scrooge.club/images/referral-en.png") no-repeat; 
                height: 56px;
            }

            &-screen {
                display: none;
            }

            &-background {
                // height: 530px;
                // width: 1160px;
                height: 403px;
                width: 1000px;
                background: url("https://static.scrooge.club/images/referral-1000.png") no-repeat center;
                background-size: cover;
                margin: 80px auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px 60px;
            }

            &-title {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 32px;
                color: #E1E1E1;
                margin: 0;
            }

            &-text {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #7E7E7E;
                width: 30%;
                margin: 0;
            }

            &-btn {
                border: 1px solid #F7B232;
                box-sizing: border-box;
                filter: drop-shadow(0px 0px 24px rgba(247, 178, 50, 0.64));
                border-radius: 8px;
                width: 230px;
                padding: 8px;
                font-family: "Roboto";
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                margin: 16px 0;
            }

            @media (max-width: 1000px) {
                &-background {
                    height: 323px;
                    width: 800px;
                    background: url("https://static.scrooge.club/images/referral-800.png") no-repeat center;
                    background-size: cover;
                    margin: 20px auto 80px auto;
                } 
                
                &-desctop {
                    display: none;
                }

                &-screen {
                    display: block;
                    margin-top: 60px;
                }

                &-pic-ru {
                    background: url("https://static.scrooge.club/images/referral-ru.png") no-repeat center; 
                    height: 112px;
                }
    
                &-pic-en {
                    background: url("https://static.scrooge.club/images/referral-en.png") no-repeat center; 
                    height: 56px;
                }
                &-text {
                    width: 60%;
                    margin: 10px 0;
                }
            }
            @media (max-width: 800px) {
                &-background {
                    height: 242px;
                    width: 600px;
                    background: url("https://static.scrooge.club/images/referral-600.png") no-repeat center;
                    background-size: cover;
                }   
            }
            @media (max-width: 600px) {
                &-background {
                    height: 300px;
                    width: 400px;
                    background: #161616;
                    border-radius: 20px;
                } 
                &-text {
                    width: 100%;
                    margin: 16px 0;
                }  
                &-title {
                    text-align: center;
                }
                &-btn {
                    margin: 0 auto;
                }
            }
            @media (max-width: 400px) {
                &-background {
                    background: none;
                    height: 160px;
                    width: 100%;
                } 
                &-pic-ru {
                    background: url("https://static.scrooge.club/images/referral-300.png") no-repeat; 
                    height: 88px;
                    width: 280px;
                    margin: 40px auto 0;
                }  
                &-pic-en {
                    background: url("https://static.scrooge.club/images/referral-en-130.png") no-repeat; 
                    height: 56px;
                    width: 130px;
                    margin: 40px auto;
                }
                &-text {
                    text-align: center;
                }
            }          
        }

        &-footer {
            background: #161616;
            padding-top: 60px;

            &-news {
                display: flex;
                border-bottom: 1px solid #7E7E7E;
                align-items: center;
                justify-content: center;
                padding-bottom: 40px;

                &-pic-ru {
                    background: url("https://static.scrooge.club/images/news-ru.png") no-repeat; 
                    height: 56px; 
                    width: 584px; 
                    margin-right: 30px;
                }
                &-pic-en {
                    background: url("https://static.scrooge.club/images/news-en.png") no-repeat; 
                    height: 56px; 
                    width: 522px; 
                    margin-right: 30px;
                }
                &-pic-text {
                    display: none;
                }
                @media (max-width: 1000px) {
                    &-pic-ru {
                        background: url("https://static.scrooge.club/images/news-ru-400.png") no-repeat; 
                        height: 27px; 
                        width: 400px; 
                        margin-right: 30px;
                    }
                    &-pic-en {
                        background: url("https://static.scrooge.club/images/news-en-400.png") no-repeat; 
                        height: 31px; 
                        width: 400px; 
                        margin-right: 30px;
                    } 
                }
                @media (max-width: 700px) {
                    &-pic-ru {
                        background: url("https://static.scrooge.club/images/news-ru-300.png") no-repeat; 
                        height: 20px; 
                        width: 300px; 
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                    &-pic-en {
                        background: url("https://static.scrooge.club/images/news-en-300.png") no-repeat; 
                        height: 23px; 
                        width: 300px; 
                        margin-right: 0;
                        margin-bottom: 30px;
                    } 
                }
                @media (max-width: 300px) {
                    &-pic-ru {
                       display: none;
                    }
                    &-pic-en {
                        display: none;
                    } 
                    &-pic-text {
                        display: block;
                        color: #F7B232;
                        font-size: 20px;
                        margin-bottom: 30px;
                    }   
                }
            }
            @media (max-width: 800px) {
                &-mobile {
                    display: none;
                }
            }
            @media (max-width: 700px) {
                &-news {
                    display: flex;
                    flex-direction: column;
                }
            }

            &-wrap {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 60px 0;
            }

            &-signin {
                width: 150px;
                background: #F7B232;
                box-shadow: 0px 0px 24px rgba(247, 178, 50, 0.64);
                border-radius: 8px;
                padding: 8px;
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2A2A2A;
            }

            &-login {
                width: 150px;
                border: 1px solid #F7B232;
                box-sizing: border-box;
                filter: drop-shadow(0px 0px 24px rgba(247, 178, 50, 0.64));
                border-radius: 8px;
                padding: 8px;
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }

            &-btns {
                width: 400px;
                display: flex;
                justify-content: space-evenly;
            }
            @media screen and (max-width: 1000px) {
                &-btns-screen {
                    flex-direction: column;
                    width: 200px;
                    align-items: center;
                }
                &-screen {
                    margin-bottom: 20px;
                }
            }
            @media screen and (max-width: 390px) {
                &-btns-screen {
                    display: none;
                }
            }

            &-list {
                list-style-type: none;
                height: 160px;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

            &-link {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                text-decoration: none;
            }

            &-doc {
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: #C3CCCB;
            }

            &-subscribe {
                display: flex;
                background: #383838;
                border: 1px solid #1B1B1B;
                box-sizing: border-box;
                box-shadow: 0px 20px 64px -16px rgba(0, 0, 0, 0.5);
                border-radius: 12px;
                width: 38%;
                height: 56px;

                &-btn {
                    padding: 8px;
                    width: 138px;
                    border: 1px solid #F7B232;
                    box-sizing: border-box;
                    border-radius: 8px;
                    background: transparent;
                    font-family: "Avenir Next";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #FFFFFF;
                    margin: 4px 10px 4px auto;
                }
            }
            @media (max-width: 870px) {

                &-signin {
                    background: url("https://static.scrooge.club/images/registration.svg") no-repeat center;
                    border: none;
                    box-shadow: none;
                    height: 25px;
                    width: 25px;
                }
                &-signin-text {
                    display: none;
                }
                &-login {
                    background: url("https://static.scrooge.club/images/login.svg") no-repeat center;
                    border: none;
                    box-shadow: none;
                    height: 25px;
                    width: 25px;
                }
                &-login-text {
                    display: none;
                }
                &-btns {
                    width: 100px;
                    justify-content: space-between;
                }
            }
            @media (max-width: 700px) {
                &-subscribe {
                    width: 70%;
                }
            }
            @media (max-width: 400px) {
                &-subscribe {
                    width: 90%;
                }
            }


            &-placeholder {
                background: transparent;
                border: none;
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #C3CCCB;
                padding-left: 20px;
                width: 70%;
                outline: none;
            }

            &-copyright {
                border-top: 1px solid #7E7E7E;
                padding: 10px 0 10px;
                font-family: "Avenir Next";
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: #C3CCCB;
                text-align: center;
            }
        }

        @include respond-to(xs) {
            &-title {
                font: {
                    size: 16px;
                };
                line-height: 1;
            }
            &-description {
                line-height: 1.3;
            }

            &-first {
                height: auto;
                &-row {
                    flex-direction: column;
                    padding: 20px;
                }
                &-left {
                    width: 100%;
                    padding: 0;
                }
                &-right {
                    padding: 0;
                }
                &-title {
                    font-size: 24px;
                    font-weight: 500;
                    padding-bottom: 40px;
                    line-height: 1.3;
                }
                &-buttons {
                    display: flex;
                    justify-content: space-between;
                    .btn {
                        width: 100%;
                        min-width: auto;
                        margin: 0;

                    }
                }
                &-list {
                    padding: 0 20px;
                    margin-top: 35px;
                    &-item {
                        width: 50%;
                        display: inline-block;
                        font-size: 12px;

                        margin-bottom: 0;
                        &:last-child{
                            width: 100%;
                        }
                        div{
                            font-size: 14px;
                        }
                    }
                }
            }

            &-why {
                padding: 30px 0;

                &-wrap {
                    padding: 0 15px;
                }
                &-body {
                    flex-direction: column;
                    & > div {
                        flex: 0 0 100%;
                        margin: 10px 0;
                    }
                }
                &-item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    &-wrap {
                        padding-left: 10px;
                    }
                }
                &-num {
                    padding-bottom: 5px;
                    font: {
                        size: 16px;
                    };
                    line-height: 14px;
                }
                &-title {
                    line-height: 1;
                }
            }

            &-b2b,
            &-b2c {
                padding: 30px 0;
                &-wrap {
                    padding: 0 15px;
                }
                &-body {
                    flex-direction: column;
                    margin-top: 20px;
                    & > div {
                        width: 100%;
                        margin: 10px 0;

                        &:nth-child(even),
                        &:nth-child(odd) {
                            margin: 10px 0;
                        }
                    }
                }
                &-item {
                    flex-direction: column;
                    padding: 12px 15px;
                }
                &-image {
                    width: 100%;
                    padding: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                &-content {
                    width: 100%;
                    padding: 0;
                    margin-top: 10px;
                }
                &-title {
                    margin: 0 0 0 15px;
                    line-height: 1.3;
                }
            }
            &-join {
                &-wrap {
                    .btn {
                        display: block;
                        width: 100%;
                        margin: 10px 0 0 0;
                    }
                }
            }

            // &-markets {
            //     &-wrap {

            //     }
            // }
        }
    }
}
