@import "~Assets/stylesheets/base/_colors";
@import "~Assets/stylesheets/base/image";
@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/response";

$themes: (
    light: (
        "muted-color": #8c979b,
        "bc-color": #d8d8d8,
        "bc-color-last": #8c979b,
        "active-color": #de2233,
        "bg-color": #6f6f6f,
        "button-bg-color": rgba(216, 216, 216, 0.2),
        "border-color": #ffffff,
        "account-border": rgba(216, 216, 216, 0.2),
        "account-background": #ffffff,
        "secondary-button-bg-color": rgba(216, 216, 216, 0.2),
        "light-panel-bg-color": rgba(216, 216, 216, 0.2),
        "searchInputBg": #fcfcfc,
        "findings-color": #2a2a2a,
        "copy-icon": "copy-gray",
        "copy-border": #C3CCCB,
        "Popover-body": #fcfcfc,
        "Popover-color": #8c979b,
        "Popover-shadow": 0 1px 2px 0 rgba(0, 0, 0, 0.3),
        "antPaginationItem": #6f6f6f,
    ),
    dark: (
        "muted-color": #8c979b,
        "bc-color": #d8d8d8,
        "bc-color-last": #ffffff,
        "active-color": #de2233,
        "bg-color": #6f6f6f,
        "button-bg-color": rgba(216, 216, 216, 0.2),
        "border-color": #383838,
        "account-border": rgba(216, 216, 216, 0.2),
        "account-background": #383838,
        "secondary-button-bg-color": rgba(216, 216, 216, 0.2),
        "light-panel-bg-color": rgba(216, 216, 216, 0.2),
        "searchInputBg": #2a2a2a,
        "findings-color": #d1d4db,
        "copy-icon": "copy-white",
        "copy-border": #ffffff,
        "Popover-body": #2a2a2a,
        "Popover-color": #8c979b,
        "Popover-shadow": 0 2px 4px 0 rgba(0, 0, 0, 0.5),
        "antPaginationItem": #8c979b,
    ),
);

%star-icon {
    width: 20px;
    cursor: pointer;
    font: {
        style: normal;
    }
;
    &::after {
        content: "\2605"; /* \2605 */
        display: inline-block;
        vertical-align: middle;
        color: #8c979b;
    }
    &.active {
        &::after {
            color: #f8e71c;
        }
    }
}

@mixin fundsItem() {
    &-chbox {
        width: 30px;
    }
    &-asset {
        width: calc(100% - 100px);
        padding-left: 10px;
        box-sizing: border-box;
    }
    &-withdraw {
        width: 70px;
    }
}

.referrals {
    @include themify($themes) {
        //background: themed('tabContentBackground');
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
        }

        &__tree-info {
            display: flex;
            flex-direction: column;
            color: themed('muted-color');
            font: {
                size: 14px;
            }
        ;
            & .referrals__tree-item {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-bottom: 30px;
                align-items: center;
                & .left,
                & .anons {
                    width: 30%;
                    font: {
                        size: 14px;
                    }
                ;
                }
                & .right {
                    width: 40%;
                    font: {
                        size: 14px;
                    }
                ;
                }

                & .anons {
                    text-align: right;
                    padding-right: 30px;
                    display: flex;
                    justify-content: flex-end;
                    font: {
                        size: 14px;
                    }
                ;
                    & img {
                        padding-left: 10px;
                    }
                }

                &.active {
                    color: themed('active-color');
                    & .anons {
                        & img {
                            filter: brightness(1.3);
                        }
                    }
                }
            }
        }

        &-block-wrap,
        &__funds,
        &__list,
        &__info {
            border-radius: 5px;
            min-width: 500px;
            padding: 30px;
            border: 1px solid themed('border-color');
            background-color: themed('account-background');
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
        }

        &-block {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            //background-color: themed('bg-color');

            .btn-auth {
                width: 200px;
                margin: 20px auto 0;
            }

            &-info {
                width: 30%;
                min-width: 350px;
                min-height: 300px;
                margin-right: 10px;
            }
            &-wrap {
                max-width: 700px;
                width: 100%;
                margin: 0 auto;
                padding: 50px 30px;
                text-align: center;
                display: flex;
                flex-direction: column;
            }
        }

        &__field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            & input {
                width: inherit;
                margin: 0 10px 0 0;
                border: none;
                height: 35px;
            }

            & .btn {
                border-radius: 3px;
                cursor: pointer;
                width: 150px;
                display: block;
                margin: 20px auto 0;
                font: {
                    size: 12px;
                    weight: 600;
                }

                &:hover {
                    background-color: themed('button-bg-color');
                }
            }
            .btn-copy {
                background: url(map_get($icon, themed("copy-icon"))) no-repeat center transparent;
                box-sizing: border-box;
                background-size: 50%;
                border: 1px solid themed("copy-border");
                border-radius: 3px;
                margin: 0;
                height: 35px;
                width: 35px;
            }
            &-info {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-error {
                text-align: center;
                color: red;
            }
        }

        &__list {
            width: 50%;
            max-width: 700px;
            min-height: 300px;
            margin-left: 10px;
        }

        &__info {
            width: 100%;
            min-width: 350px;
            &--about {
                width: 50%;
                max-width: 645px;
            }
        }
        &__description {
            line-height: 1.57;
            color: themed('muted-color');
            margin-bottom: 20px;
            text-align: left;
            font-size: 14px;
        }
        &__title {
            font-size: 27px;
            text-align: center;
            margin-bottom: 30px;
        }

        &__funds {
            margin-top: 20px;
            min-width: 350px;
            &-wrap {
            }
            &-header {
                display: flex;
                justify-content: flex-start;
                padding: 0 20px 20px;
                border-bottom: 1px solid themed('account-border');
                margin-bottom: 20px;
                text-align: left;
                color: themed("muted-color");
                font: {
                    size: 14px;
                    weight: bold;
                }
            ;

                @include fundsItem();
            }
            &-body {
            }
            &-row {
                display: flex;
                justify-content: flex-start;
                padding: 5px 20px 6px;
                align-items: center;
                font-size: 14px;
                &:nth-child(odd) {
                    background-color: rgba(216, 216, 216, 0.1);
                }
                @include fundsItem();

            }
            &-history {
                text-align: right;
                padding: 10px 0;
                border-top: 1px solid themed('account-border');
                margin-top: 20px;
                a {
                    font-size: 14px;
                    color: themed("muted-color");
                    border-bottom: 1px dotted themed("muted-color");
                }
            }
            &-button {
                text-align: center;
                .btn {
                    width: 200px;
                }
            }

            @include deexCheckbox("funds-checkbox", ("bgColorInner": transparent, "bg_disabled": #676767));
        }

        &-breadcrumbs {
            color: themed('muted-color');
            padding: 5px 0;
            & span:last-child {
                color: themed('primary-text-color');
            }
        }
        &-table-body {
            overflow: auto;
            max-height: 500px;
        }
        &-table-header {
            display: flex;
            justify-content: flex-start;
            padding-left: 35px;
            padding-right: 10px;
            padding-bottom: 20px;
            border-bottom: 2px solid themed('account-border');
            margin-bottom: 20px;
            text-align: center;
            color: themed("muted-color");
            font: {
                size: 14px;
                weight: bold;
            }
        ;

            &-star {
                width: 8%;
                text-align: left;
                @extend %star-icon;
            }
            &-name {
                width: 32%;
                text-align: left;
            }
            &-count {
                width: 35%;
            }
            &-total {
                width: 20%;
            }
            &-money {
                width: 5%;
            }
        }
        &-table-info {
            margin: 0;
            width: 20px;
            height: 20px;
        }
        &-table-link {
            margin-left: 10px;
            margin-right: auto;
        }
        &-table-item {
            display: flex;
            justify-content: space-between;
            background-color: themed('light-panel-bg-color');
            padding: 7px 10px 7px 35px;
            text-align: center;
            line-height: 1.57;
            font: {
                size: 14px;
            }
        ;

            &:nth-child(2n) {
                background-color: transparent;
            }
            &:hover {
                background-color: themed('secondary-button-bg-color');
            }

            &-star {
                width: 8%;
                text-align: left;
                @extend %star-icon;
            }
            &-name {
                width: 32%;
                text-align: left;
                cursor: pointer;
            }
            &-count {
                width: 35%;
            }
            &-total {
                width: 20%;
            }
            &-money {
                width: 5%;
                &.active {
                    cursor: pointer;
                    &::after {
                        content: "\25be";
                        display: inline-block;
                        width: 10px;
                        height: 5px;
                        color: themed('muted-color');
                        margin: -8px 0 0 10px;
                    }
                }
            }
        }
        &-table-popover {
            .Popover {
                &-tipShape {
                    fill: themed("Popover-body");
                }
                &-body {
                    padding: 20px 20px 10px;
                    font-size: 13px;
                    background-color: themed("Popover-body");
                    width: 245px;
                    box-shadow: themed("Popover-shadow");
                    color: themed("Popover-color");

                    &-item {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        i {
                            border-bottom: 1px dotted themed("Popover-color");
                            margin: 0 5px;
                        }

                    }
                }
            }
        }
        &-search {
            width: 240px;
            margin-left: auto;
            input[type="text"] {
                margin: 0;
                border: none;
                height: 35px;
                background: url(map_get($icon, "search-gray")) no-repeat center themed("searchInputBg");
                background-size: 15px 15px;
                background-position: 95% center;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

            }
        }
        &-findings {
            &-row,
            &-header {
                display: flex;
                justify-content: space-between;
                padding: 0 0 20px;
                border-bottom: 1px solid themed('account-border');
                margin-bottom: 20px;
                text-align: center;
                color: themed("muted-color");
                font: {
                    size: 14px;
                    weight: bold;
                }
            ;
                > span {
                    width: 25%;
                    text-align: center;
                }
            }
            &-row {
                border-bottom: none;
                color: themed("findings-color");
                padding: 0;
                margin-bottom: 0;
                line-height: 35px;
                font-size: 14px;
                font-weight: 500;

                &:nth-child(odd) {
                    background-color: rgba(216, 216, 216, 0.1);
                }
            }
        }

        .no-refs-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & img {
                padding: 0 30px;
            }
            & h3 {
                color: themed('muted-color');
            }
        }
        .breadcrumbs {
            &-list {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: flex-start;
            }
            &-item {
                list-style: none;

                & + .breadcrumbs-item {
                    margin-left: 7px;
                    &:before {
                        content: '\003e';
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }
            &-link {
                color: themed('bc-color');
                text-decoration: underline;
                cursor: pointer;

                max-width: 145px;
                display: inline-block;
                line-height: 20px;
                vertical-align: text-bottom;
                margin-left: 5px;
                @include truncate();
                &.last {
                    color: themed('bc-color-last');
                    text-decoration: none;
                    cursor: default;
                }
            }
        }
        .ant-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 10px 0 0 0;
            &-next,
            &-prev {
                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }
            &-item {

                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                margin: 0 5px;
                display: inline-flex;
                &:focus {
                    outline: none;
                }
                > a {
                    display: inline-flex;
                    color: themed("antPaginationItem");

                    align-items: center;
                    justify-content: center;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    box-sizing: border-box;
                    line-height: 25px;

                }
                &-link {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    .anticon {
                        display: inline-flex;
                        svg {
                            fill: #de2233;
                        }
                    }
                    &:focus {
                        outline: none;
                    }
                }
                &-active {
                    > a {
                        border-color: #de2233;
                        color: #de2233;
                    }
                }
            }
            &-disabled {
                .ant-pagination {
                    &-item {
                        &-link {
                            visibility: hidden;
                        }
                    }
                }
            }
        }

        @include respond-to(xs) {
            &-block {
                flex-direction: column;
                &-info {
                    min-width: 100%;
                    width: 100%;
                }
                &-wrap {
                    min-width: 100%;
                    width: 100%;
                    padding: 30px 20px;
                }
            }
            &__title {
                margin-bottom: 15px;
                font: {
                    size: 20px;
                };
            }
            &__list,
            &__funds,
            &__info {
                margin: 0 0 15px 0;
                min-width: 100%;
                width: 100%;
                box-sizing: border-box;
                padding: 15px;
            }

            &-table {
                &-header {
                    padding: 5px 10px;
                    font: {
                        size: 12px;
                        weight: 500;
                    };
                }
                &-item {
                    padding: 5px 10px;
                }
            }
        }
    }
}


