//@import "~Assets/stylesheets/fonts/Avenir/stylesheet.css";
@import "~Assets/stylesheets/fonts/Roboto/Roboto-Light/stylesheet.css";
@import "~Assets/stylesheets/fonts/Roboto/Roboto-Medium/stylesheet.css";
@import "~Assets/stylesheets/fonts/Roboto/Roboto-Regular/stylesheet.css";
@import "~Assets/stylesheets/fonts/Roboto/RobotoCondensed-Regular/stylesheet.css";


@mixin AvenirNext {
  font-family: "AvenirNext", arial, sans-serif;
  font-weight: normal;
}
@mixin AvenirNext-DemiBold {
  font-family: "AvenirNext-DemiBold", arial, sans-serif;
}

@mixin AvenirNext-Regular {
  font-family: "AvenirNext-Regular", arial, sans-serif;
  font-weight: normal;
}

@mixin AvenirNext-Medium {
  font-family: "AvenirNext-Medium", arial, sans-serif;
}

@mixin AvenirNext-Bold {
  font-family: "AvenirNext-Bold", arial, sans-serif;
  font-weight: bold;
}

@mixin RobotoLight {
  font-family: "Roboto-Light", arial, sans-serif;
  font-weight: lighter;
  font-style: normal;
}

@mixin RobotoMedium {
  font-family: "Roboto-Medium", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin RobotoRegular {
  font-family: "Roboto-Regular", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin RobotoCondensed {
  font-family: "RobotoCondensed-Regular", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin SegoeUILight {
  font-family: "wf_SegoeUILight", "Segoe UI Light", "Segoe WP Light",
  "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma", "Verdana",
  arial, sans-serif;
  font-size: 90%;
  font-weight: lighter;
}

@mixin SegoeUIRegular {
  font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma",
  "Verdana", arial, sans-serif;
  font-size: 90%;
  font-weight: normal;
}

@mixin MonospaceFont {
  font-family: "Lucida Console", Monaco, monospace !important;
}

/* ***** styles ****** */

body,
h1,
h2,
h3,
h4,
h5,
h6,
.exchange-content-header {
  @include AvenirNext-DemiBold;
}

input,
select,
.value,
.symbol-text {
  @include AvenirNext-Regular;
  font-weight: 500;
}

.monospace {
  @include MonospaceFont;
}

label,
label > span {
  @include AvenirNext-Regular;
}

.json-inspector__key {
  @include MonospaceFont;
  text-transform: none;
}

.json-inspector__value {
  @include MonospaceFont;
  text-transform: none;
}

button,
.button {
  @include AvenirNext;
  text-transform: uppercase;
  font-size: 0.875rem;
}

// .content-block > h3 {
//   @include RobotoLight;
// }
//
// .page-header > h3 {
//   @include RobotoLight;
// }
//
// a.currency, span.currency {
//   @include RobotoLight;
//   font-variant: small-caps;
// }

.mymarkets-header,
.chart-header {
  @include AvenirNext-DemiBold;
}

.stat-text {
  @include RobotoRegular;
}

.chart-header {
  font-weight: 500;
}

.txtann {
  @include RobotoRegular;
}

.txtlabel {}

// span.time {
//   @include RobotoLight;
// }

.account-drop-down a.button {
  @include RobotoRegular;
}

.button {
  @include AvenirNext;
}

.footer .logo {
  @include RobotoRegular;
}

.tabs > .tab-item {
  @include RobotoRegular;
}

.label,
.label.warning,
.label.success,
.label.info,
.label.cancel,
.label.alert {
  @include RobotoRegular;
}

.table > thead > tr > th {
  @include RobotoRegular;
}

.vertical-order-table-cell {
  @include RobotoRegular;
}

.table.dashboard-table {
  > thead > tr > th {
    @include RobotoRegular;
  }

  > tbody > tr > td {
    @include RobotoRegular;
  }
}


