/* ***** declarations ****** */

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url("#{$file-path}.woff") format("woff");
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@include font-face(
    AvenirNext-DemiBold,
    "vendors/AvenirNext-DemiBold",
    400,
    normal
);

@mixin AvenirNext-DemiBold {
    font-family: "AvenirNext-Medium", arial, sans-serif;
}

@include font-face(
    AvenirNext-Regular,
    "vendors/AvenirNext-Regular",
    400,
    normal
);
@mixin AvenirNext-Regular {
    font-family: "AvenirNext-Regular", arial, sans-serif;
}

@include font-face(AvenirNext-Medium, "vendors/AvenirNext-Medium", 400, normal);
@mixin AvenirNext-Medium {
    font-family: "AvenirNext-Medium", arial, sans-serif;
}

@include font-face(AvenirNext-Bold, "vendors/AvenirNext-Bold", 600, normal);
@mixin AvenirNext-Bold {
    font-family: "AvenirNext-Bold", arial, sans-serif;
}

@include font-face(Roboto-Light, "vendors/Roboto-Light", 300, normal);
@mixin RobotoLight {
    font-family: "Roboto-Light", arial, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

@include font-face(Roboto-Medium, "vendors/Roboto-Medium", normal, normal);
@mixin RobotoMedium {
    font-family: "Roboto-Medium", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@include font-face(Roboto-Regular, "vendors/Roboto-Regular", normal, normal);
@mixin RobotoRegular {
    font-family: "Roboto-Regular", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@include font-face(
    RobotoCondensed-Regular,
    "vendors/RobotoCondensed-Regular",
    normal,
    normal
);
@mixin RobotoCondensed {
    font-family: "RobotoCondensed-Regular", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin SegoeUILight {
    font-family: "wf_SegoeUILight", "Segoe UI Light", "Segoe WP Light",
        "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma", "Verdana",
        arial, sans-serif;
    font-size: 90%;
    font-weight: lighter;
}

@mixin SegoeUIRegular {
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma",
        "Verdana", arial, sans-serif;
    font-size: 90%;
    font-weight: normal;
}

@mixin MonospaceFont {
    font-family: "Lucida Console", Monaco, monospace !important;
}

/* ***** styles ****** */

body,
h1,
h2,
h3,
h4,
h5,
h6,
.exchange-content-header {
    @include AvenirNext-DemiBold;
}

input,
select,
.value,
.symbol-text {
    @include AvenirNext-Regular;
    font-weight: 500;
}

.monospace {
    @include MonospaceFont;
}

label,
label > span {
    @include AvenirNext-Regular;
}

.json-inspector__key {
    @include MonospaceFont;
    text-transform: none;
}

.json-inspector__value {
    @include MonospaceFont;
    text-transform: none;
}

button,
.button {
    @include RobotoCondensed;
    text-transform: uppercase;
    font-size: 0.875rem;
}

// .content-block > h3 {
//   @include RobotoLight;
// }
//
// .page-header > h3 {
//   @include RobotoLight;
// }
//
// a.currency, span.currency {
//   @include RobotoLight;
//   font-variant: small-caps;
// }

.mymarkets-header,
.chart-header {
    @include AvenirNext-DemiBold;
}

.stat-text {
    @include RobotoRegular;
}

.chart-header {
    font-weight: 500;
}

.txtann {
    @include RobotoRegular;
}

.txtlabel {
    @include RobotoRegular;
    text-transform: uppercase;
}

// span.time {
//   @include RobotoLight;
// }

.account-drop-down a.button {
    @include RobotoRegular;
}

.button {
    @include RobotoCondensed;
}

.footer .logo {
    @include RobotoRegular;
}

.tabs > .tab-item {
    @include RobotoRegular;
}

.label,
.label.warning,
.label.success,
.label.info,
.label.cancel,
.label.alert {
    @include RobotoRegular;
}

.table > thead > tr > th {
    @include RobotoRegular;
}

.vertical-order-table-cell {
    @include RobotoRegular;
}

.table.dashboard-table {
    > thead > tr > th {
        @include RobotoRegular;
    }

    > tbody > tr > td {
        @include RobotoRegular;
    }
}

// .key-value-table tr > td:first-child {
//   @include RobotoLight;
// }

.win32 {
    @include RobotoRegular;
}

.win32 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include RobotoRegular;
    }

    label,
    label > span {
        @include RobotoRegular;
    }

    button,
    .button {
        @include RobotoLight;
    }

    .content-block > h3 {
        @include RobotoRegular;
    }

    .page-header > h3 {
        @include RobotoRegular;
    }

    a.currency,
    span.currency {
        @include RobotoRegular;
    }

    .txtlabel {
        @include RobotoRegular;
    }

    span.time {
        @include RobotoRegular;
    }

    .account-drop-down a.button {
        @include RobotoCondensed;
    }

    .footer .logo {
        @include RobotoRegular;
    }

    .tabs > .tab-item {
        @include RobotoRegular;
    }

    .label,
    .label.warning,
    .label.success,
    .label.info,
    .label.cancel,
    .label.alert {
        @include RobotoRegular;
    }

    .key-value-table tr > td:first-child {
        @include RobotoRegular;
    }
}

.menu-bar li span:nth-of-type(2) {
    @include RobotoMedium;
}

strong,
b {
    @include RobotoMedium;
}
