
/* RESPONSE */
// Extra small screen / phone
$screen-xs: 480px;

// Small screen / tablet
$screen-sm: 768px;

// Medium screen / desktop
$screen-md: 992px;

// Large screen / wide desktop
$screen-lg: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);


$font-size-base: 14px;
$font-size-sm: 12px;

$line-height-base: 1;

$border-radius: 3px;
$border-radius-top: $border-radius $border-radius 0 0;
$border-radius-left: $border-radius 0 0 $border-radius;
$border-radius-bottom: 0 0 $border-radius $border-radius;
$border-radius-right: 0 $border-radius $border-radius 0;

$ease-in-out: ease-in-out;
$zindex-dropdown: 1100;
$box-shadow-base: '';
$control-padding-horizontal: 20px;
$input-height-base: 20px;

$icon-color-hover: fade_in(#000, 0.75);

$modal-footer-padding-vertical: 20px;
$modal-footer-padding-horizontal: 10px;
