@import "../../assets/stylesheets/base/all";
@import "../../assets/stylesheets/utils/all";

$themes: (
    light: (

    ),
    dark: (

    ),
);


.locales-editor {
    width: 100%;
    padding: 20px;
    &-wrap{
        display: flex;
        justify-content: flex-start;
        label {
            color: #fff;
        }
    }

    @include deexSelect();

    &-row {
        padding: 0 0 20px 0;
        position: relative;
        min-width: 190px;
        margin-right: 20px;
        z-index: 3;
        &.one{
            width: 100%;
            z-index: 1;
        }
        &.two{
            width: 50%;
            z-index: 1;
        }
        &.three{
            width: 30%;
        }
    }
    &-item {
        padding: 5px 0;
        &.alert {
            color: red;
        }
    }

    &-lang {
        display: flex;
        justify-content: flex-start;
        padding: 20px 0 ;
        position: relative;
        z-index: 4;
        &-item {
            margin-right: 20px;
        }
    }

    &-selected {
        position: relative;
        &-rows {
            display: flex;
            justify-content: space-between;
            width: 400px;

        }
        &-item {
            width: calc(50% - 10px);
        }

    }
    &-title {
        margin-bottom: 10px;
        &-locale{
            margin: 20px 0;
            font: {
                size: 20px;
                weight: 500;
            };
        }
    }

    &-change-key {
        display: flex;
        justify-content: flex-start;
        position: relative;
        z-index: 2;
    }

    &-keys {
        margin-right: 20px;
        width: 190px;
        .btn {
            width: 100%;
        }
        &-form & {
            &-input {
                height: 35px;
            }
        }
        &-btn-group {
            display: flex;
            justify-content: space-between;
            .btn {
                width: calc(50% - 5px);
                font: {
                    size: 13px;
                };
            }
        }
        &-selected {
            margin: 0 0 1rem 0;
        }


    }

    &-area {
        padding: 5px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        font: {
            size: 15px;
        };

        .btn {
            margin-right: 10px;
            &:focus {
                outline: 2px solid #0e84b5;
            }
        }
    }

}