@import "../../../assets/stylesheets/base/all";
@import "../../../assets/stylesheets/utils/all";

$themes: (
    light: (
        baseColor: #515b5e,
        titleColor: #383838,
        itemBackgroundColor: #ffffff,

        authBg: #ffffff,
        authInputBg: #fcfcfc,
        authInpuColor: #2a2a2a,
        authBtnBorder: #7f7f7f,
        authBtnColor: #2a2a2a,
        authBtnBg: rgba(127, 127, 127, 0.1),
    ),
    dark: (
        baseColor: #C3CCCB,
        titleColor: #ffffff,
        itemBackgroundColor: #383838,

        authBg: #383838,
        authInputBg: #2a2a2a,
        authInpuColor: #ffffff,
        authBtnBorder: #7f7f7f,
        authBtnColor: #ffffff,
        authBtnBg: #474747,
    ),
);
/* themed('baseColor'); */
/* AutorithationAccountIndex.js */

.authorization-account{
    @include themify($themes) {
        width: 1090px;
        margin: 30px auto 0;
        font: {
            size: 14px;
        };
        line-height: 1.57;
        color: themed('baseColor');


        @include respond-to(xs) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &-title{
            width: 600px;
            margin: 0 auto;
            text-align: center;
            font: {
                size: 27px;
            };
            color: themed('titleColor');
            @include respond-to(xs) {
                width: 100%;
            }
        }
        &-desc{
            text-align: center;
            line-height: 1.57;

        }
        &-wrap{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            @include respond-to(xs) {
                flex-direction: column;
            }
        }
        &-item{
            color: themed('baseColor');
            width: 350px;
            display: inline-block;
            padding: 28px;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
            border: 2px solid transparent;
            background-color: themed('itemBackgroundColor');
            border-radius: 3px;
            margin-bottom: 2px;
            &.active,
            &:hover {
                border-color: #58a135;
            }
            @include respond-to(xs) {
                width: 100%;
            }
        }

    }
}
.model-item{
    @include themify($themes) {

        &-title {
            text-align: center;
            font: {
                size: 27px;
            };
            color: themed('titleColor');
            display: inline-block;
            width: 100%;
            padding-bottom: 96px;
            position: relative;

            &:before {
                content: "";
                width: 90px;
                height: 50px;
                left: 50%;
                top: 50%;
                margin-left: -45px;
                position: absolute;
                background-repeat: no-repeat;
                background-position: center;
            }

            @each $name in wallet, password, password-2fa {
                //@debug map-get($icon, $name);
                &.#{$name} {
                    &:before {
                        background-image: url(map-get($icon, $name));
                    }
                }
            }

            @include respond-to(xs) {
                font: {
                    size: 20px;
                };
                padding-bottom: 0;
                padding-left: 60px;
                text-align: left;

                &:before {
                    margin-left: 0;
                    width: 50px;
                    height: 30px;
                    left: 0;
                    top: 0;
                    background-size: contain;
                }

            }
        }
    }
}

/* AutorithationAccountIndex.js */
.public-login-modal,
.autorithation-page {
    width: 100%;
    margin-top: 30px;

    @include themify($themes) {
        .public-container {
            &.short {
                width: 100%;
            }
        }
        .login-body {
            width: 440px;
            margin: 0 auto;
            padding: 30px 40px;
            background-color: themed('authBg');
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
        }
        .public-input {
            border: 1px solid themed("authInputBg");
            background-color: themed("authInputBg");
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: themed("authInputBg");
            }
        }
        .public-field {
            border: none;
            &.focus {
                &:before {
                    content: none;
                }
                .public-input {
                    border: 1px solid themed("authInputBg");
                    background-color: themed("authInputBg");
                }
            }
            &-placeholder {
                display: none;
            }
        }
        .public-buttons {
            padding: 0;
            margin-bottom: 20px;
            .btn {
                width: 200px;
                margin: 0 auto;
                display: block;
            }
        }
        .public-link {
            color: #27ae29;
        }

        .public-qr-code {
            margin-top: 20px;
            padding: 20px;
            background-color: rgba(42, 42, 42, 0.6);
        }

        @include uploadInput("public-file", $theme-map);
        /*.public-file {
            // $theme-map;
            width: 100%;
            height: 40px;
            background-color: transparent;
            border-color: transparent;

            &-box {
                margin-bottom: 0;
            }
            &-empty {
                width: calc(100% - 80px);
                background-color: themed("authInputBg");
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 3px;
                line-height: 38px;
                padding: 0 0 0 20px;
                font-size: 14px;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

            }
            &-label {
                font: {
                    size: 14px;
                };
                color: themed("baseColor");
            }
            &-button {
                border-radius: 3px;
                border: solid 1px themed("authBtnBorder");
                background-color: themed("authBtnBg");
                color: themed("authBtnColor");
                height: 35px;
                width: 65px;
                line-height: 35px;
                top: 0;
            }
            &-choose {
                color: themed("baseColor");
            }
        }*/
        input:-webkit-input-placeholder {
            color: themed("baseColor");
        }

        @include respond-to(xs) {
            .login-body {
                width: 100%;
                padding: 10px;
            }
        }
    }
}

.login {
    @include themify($themes) {
        &-header{
            &-wrap{}
            &-title{
                font: {
                    size: 27px;
                }
                text-align: center;
            }
            &-desc{
                font: {
                    size: 14px;
                };
            }
        }
        &-error {
            color: #dd2233;
        }
        &-select {
            width: 100%;
            line-height: 25px;
            height: 40px;
            padding: 10px 24px;
            border: 1px solid themed("authInputBg");
            color: themed("baseColor");
            background-color: themed("authInputBg");
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            font-family: "AvenirNext-DemiBold", arial, sans-serif;
            font-size: 12px;
        }
    }
}

.modal {
    .public-login-modal {
        @include themify($themes)   {
            .public-field {
                .public-input {
                    color: themed("authInpuColor");
                }
            }
            .public-qr-code {
                max-width: 300px;
                margin: 20px auto 0;
            }
        }
    }
}

