@import "~Assets/stylesheets/base/all";
@import "~Assets/stylesheets/utils/all";
//@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/mixin/calendar";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/tooltip";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/form";

$themes: colorThemes((
    light: (
        baseColor: #2d2d2d,

    ),
    dark: (
        baseColor: #d1d4db,
    ),
));

.admin-exchange {
    @include themify($themes) {
        width: 100%;
        &-wrap {
            width: 100%;
            margin: 25px 20px;

        }
        &-title-page {
            font: {
                size: 24px;
            };
            margin-bottom: 30px;
            color: themed("titleColor");
            span {
                font: {
                    size: 18px;
                };
            }
            &-sb {
                line-height: 30px;
            }
        }
        &-tab {
            &-item {
                list-style: none;
                margin-right: 5px;
                margin-bottom: 5px;
                border-radius: 2px;
                background-color: themed("wraperBackground");
                border: 1px solid themed("wraperBackground");
                border-bottom: none;
                &.is-active {
                    color: themed("titleColor");
                    margin-bottom: -2px;
                    padding: 0 0 7px;
                    border-color: themed("borderColor");
                }
                &.reload {
                    padding: 11px 12px;
                    margin-right: 0;
                    margin-left: auto;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
            }
            &-link {
                color: themed("baseColor");
                padding: 10px 25px;
                display: block;
                font-weight: 500;
                font-size: 15px;
                //line-height: 22px;
                &.is-active {
                    color: themed("titleColor");
                }
            }
        }
        &-tabs {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            padding: 0;
            &-content {
                width: 100%;
                @include block-wrapper($theme-map);
                border: 1px solid themed("borderColor");
            }
        }

        //@include deexSelect("ant", $theme-map);
        @include deexForm("ant", $theme-map);
        @include deexCheckboxSwitch("ant-checkbox", $theme-map);
    }
}

.AuthLogin {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 500px;
        &-block{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        &-wrap{
            width: 500px;
            padding: 20px;
            text-align: center;
            @include block-wrapper($theme-map);
        }
        &-title {
            font: {
                weight: bold;
                size: 24px;
            };
            line-height: 0.81;
            text-align: center;
        }
        &-unlock-info {
            padding: 10px 0;
        }

    }
}

.InfoTab {
    @include themify($themes) {
        width: 100%;
        padding: 0 30px;

        &-status {
            padding: 30px 0;
            color: themed("baseColor");
            text-align: right;
            font-size: 12px;
            line-height: 22px;

            &-link {
                border-bottom: 1px dotted;
                cursor: pointer;
            }
            &-active {
                color: themed("colorGreen");
            }
            &-not-active {
                color: themed("colorRed");
            }
        }
        &-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        &-item {
            width: calc(100% / 3 - 25px / 2);
            padding: 25px 30px;
            height: 120px;
            background-color: themed("bodyBackground");
            background-position: calc(100% - 20px) calc(100% - 20px);
            background-repeat: no-repeat;

            &-count {
                font-weight: 600;
                font-size: 23px;
                line-height: 20px;
                color: themed("titleColor");
                span {
                    color: themed("baseColor");
                    font-size: 14px;
                    line-height: 11px;
                    font-weight: 400;
                    display: block;
                    margin-top: 20px;
                }
            }
            &_has-click {
                cursor: pointer;
            }
            &_all-users {
                background-image: url("image/record_voice_over_24px.png");
            }
            &_all-exchanges {
                background-image: url("image/autorenew_24px.png");
            }
            &_all-pair {
                background-image: url("image/hourglass_full_24px.png");
            }
            &_children {
                padding: 0;
                background: none;
            }
        }


    }
}

.UserTab {
    @include themify($themes) {
        width: 100%;
        padding: 0 30px;


        &-info {
            display: flex;
            justify-content: space-between;
            //margin-bottom: 30px;
            padding: 30px 0;
            align-items: flex-start;

            &-btn {
                text-align: right;
            }
        }
        &-item {
            width: calc(100% / 3 - 25px / 2);
            padding: 25px 30px;
            height: 120px;
            background-color: themed("bodyBackground");
            background-position: calc(100% - 20px) calc(100% - 20px);
            background-repeat: no-repeat;


        }

        &-table {
            font-weight: 500;
            font-size: 14px;
            color: themed("baseColor");
            &-header {
                display: flex;
                justify-content: space-between;
                padding: 20px 0;
                border-top: 1px solid themed("borderColor") ;
                border-bottom: 1px solid themed("borderColor") ;
                margin-bottom: 20px;
                font-weight: 600;
            }
            &-body {
                padding: 0 0 20px 0;
            }
            &-line {
                display: flex;
                justify-content: space-between;
                padding: 20px 0;
                &:nth-child(odd) {
                    background: themed("bodyBackgroundEven");
                }
                &:nth-child(even) {
                }
            }
            &-item {
                text-align: left;
                width: 100%;
                &_number {
                    width: 15%;
                    text-align: center;
                }
                &_name {
                    cursor: pointer;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 5px;
                        color: #ffffff;
                        margin: -1px 0 0 5px;
                        background-image: url(map_get($icon, "trianle-down"));
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: background-position ease-in 300ms ;
                    }
                    &.desc {
                        &::after {
                            background-image: url(map_get($icon, "trianle-up"));
                        }
                    }
                }
            }
            &-search {
                padding: 20px 0;
                border-top: 1px solid themed("borderColor") ;
                //border-bottom: 1px solid themed("borderColor") ;
                //margin-bottom: 20px;
                &-wrap {
                    width: 300px;

                    .ant-input {
                        background: url(map_get($icon, "search-gray")) no-repeat center themed("inputBackground");
                        background-size: 15px 15px;
                        background-position: 95% center;
                    }
                }
            }
        }

        &-dropdown {
            display: inline-block;
            &-wrapper{
                position: relative;
                &_active{
                    .UserTab-dropdown {
                        &-name{}
                        &-arrow{
                            transform: rotate(180deg);
                        }
                        &-list{
                            display: block;
                            position: absolute;
                        }
                        &-item{}
                    }
                }
            }
            &-name{
                cursor: pointer;
            }
            &-arrow{
                width: 20px;
                height: 10px;
                display: inline-block;
                background-image: url(map_get($icon, "arrow-down-gray-mini"));
                background-repeat: no-repeat;
                background-position: center;

            }
            &-list{
                display: none;
                margin: 0;
                padding: 5px 15px 10px 10px;
                margin-left: -10px;
                @include block-wrapper($theme-map);
            }
            &-item{
                list-style: none;
                text-align: left;
                cursor: pointer;
            }
        }

        .ant-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 20px 0 20px 0;
            &-next,
            &-prev {
                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }
            &-item {

                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                margin: 0 5px;
                display: inline-flex;
                &:focus {
                    outline: none;
                }
                > a {
                    display: inline-flex;
                    color: themed("antPaginationItem");

                    align-items: center;
                    justify-content: center;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    box-sizing: border-box;
                    line-height: 25px;

                }
                &-link {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    .anticon {
                        display: inline-flex;
                        svg {
                            fill: #de2233;
                        }
                    }
                    &:focus {
                        outline: none;
                    }
                }
                &-active {
                    > a {
                        border-color: #de2233;
                        color: #de2233;
                    }
                }
            }
            &-disabled {
                .ant-pagination {
                    &-item {
                        &-link {
                            visibility: hidden;
                        }
                    }
                }
            }
        }

    }
}

.SettingTab {
    @include themify($themes) {
        &-top {
            padding: 40px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: themed("baseColor");
        }

        &-header-form {
            padding: 20px 0;
            border-top: 1px solid themed("borderColor");
            border-bottom: 1px solid themed("borderColor");
            margin: 0 25px 30px;
            font-weight: 500;
            font-size: 14px;
            color: themed("baseColor");
            display: flex;
            justify-content: space-between;
            &-item {
                width: 20%;
                padding: 0 25px;
                &_name{
                    padding-left: 15px;
                }
                &_min-max{
                    width: 15%;
                }
                &_course{
                    width: 30%;
                }
                &_activity{
                    width: 15%;
                }
            }
        }

        &-body-pairs ,
        &-add-pairs {

            &-wrap {
                display: flex;
                justify-content: space-between;
                margin: 0 20px 20px;
                padding: 18px 0;
            }
            &-item {
                width: 20%;
                padding: 0 25px;
                box-sizing: border-box;
                &-form {
                    &_name{
                        width: 50%;
                        margin-right: 20px;
                        &.ant-form-item {
                            margin-bottom: 0;
                        }
                    }
                    &_percent{
                        width: 30%;
                        min-width: 100px;
                        margin-left: 20px;
                        position: relative;
                    }

                }
                &_asset {
                    padding-left: 0;
                }
                &_asset-name {
                    //padding-left: 0;
                    .ant {
                        &-form {
                            &-item {
                                line-height: 38px;
                            }
                        }
                    }
                }
                &_active {
                    width: 15%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .ant-checkbox-wrapper {
                        margin: 0;
                    }

                    .btn {
                        &.delete {
                            display: block;
                        }
                        &.save {
                            display: none;
                        }
                    }

                }
                &_min-max {
                    width: 15%;
                }
                &_course {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 30%;
                }

                &_touched {
                    .btn {
                        &.delete {
                            display: none;
                        }
                        &.save {
                            display: block;
                            path {
                                fill: #00A000;
                            }
                        }
                    }
                }

                &_new-form {
                    .btn {
                        &.delete {
                            display: none;
                        }
                        &.save {
                            display: block;
                        }
                    }
                }
            }
            &-info {
                position: relative;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                font: {
                    size: 14px;
                };
                color: themed("baseColor");
                &-item {
                    &_hidden {
                        display: none;
                    }
                    &::before {
                        display: inline-block;
                        vertical-align: sub;
                        font: {
                            size: 16px;
                        };
                    }
                    &_up {
                        color: themed("colorGreen");
                        &::before {
                            content: "\A71B";
                        }
                    }
                    &_down{
                        color: themed("colorRed");
                        &::before {
                            content: "\A71C";
                        }
                    }
                }
            }
            &-addon-after {
                border: 2px solid themed("inputBorder");
                border-left: none;
                padding: 8px 9px 9px;
                top: 0;
                margin: 0 0 0 -1px;
                vertical-align: bottom;
                display: inline-block;
                border-radius: $border-radius-right;
            }
            .ant {
                &-form {
                    &-horizontal {
                        &:nth-child(odd) {
                            .SettingTab-body-pairs-wrap {
                                background: themed("bodyBackgroundEven");
                            }
                        }
                        &:nth-child(even) {
                        }
                    }
                    &-item {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &-input {
                    height: 36px;
                }
                &-select{
                    &-selection {
                        &__rendered {
                            padding: 8px 0;
                        }
                    }
                }
            }
        }


    }
}


.Transaction {
    @include themify($themes) {
        @include deexCheckbox("Transaction-checkbox", $theme-map);
        @include deexCalendar("Transaction", $theme-map);
        @include deexTooltip("ant", $theme-map);

        padding: 30px;
        &-type {
            padding: 0;
            position: relative;

            .Transaction {
                &-checkbox {
                    &-wrapper {
                        margin-right: 20px;
                    }
                }
            }
        }

        &-date-picker {
            display: flex;
            justify-content: flex-start;
            padding: 30px 0;
            &-wrap {
                position: relative;
                display: inline-block;
            }
        }

        .Transaction {
            &-calendar {
                &-picker {
                    position: relative;
                    margin-right: 20px;
                    padding:  0px 10px 0 0;
                    border: 0px solid transparent;
                }
                &-input {
                    height: 40px;
                    padding-left: 10px;

                    &-wrap {
                        padding: 2px 0;
                        height: 34px;
                    }
                }
            }
        }



        &-header{
            display: flex;
            justify-content: flex-start;
            padding: 20px 0;
            border-bottom: 1px solid themed("borderColor");
            border-top: 1px solid themed("borderColor");
            margin-bottom: 10px;
            &-item {
                box-sizing: border-box;
                &_icon {
                    width: 3%;
                    padding: 20px 10px 0;
                    .icon > svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                &_id {
                    width: 12%;
                    overflow: hidden;
                    padding-right: 10px;
                    margin-right: 10px;
                }
                &_date {
                    width: 17%;
                }
                &_amount {
                    width: 15%;
                }
                &_amount-big {
                    width: 150px;
                }
                &_symbol {
                    width: 100px;
                }
                &_code {
                    width: 16%;
                }
                &_i {
                    width: 3%;
                }
                &_info {
                    width: calc(100% - 700px);
                    padding-left: 20px;
                }

                &_sort {
                    span {
                        border-bottom: 2px dashed;
                    }
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background: url(map-get($icon, "unfold_more_white")) no-repeat 0 0 transparent;
                        background-size: contain;
                        margin-left: 3px;
                    }
                }
                &_sortBy {
                    &:after {
                        background: url(map-get($icon, "arrow-down-gray")) no-repeat 0 0 transparent;
                        background-position: center;
                        background-size: cover;
                        width: 17px;

                    }
                }
                &_sortDirection {
                    &_DESC{
                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                    &_ASC{
                        &:after {
                        }
                    }
                }
            }
        }
        &-line{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            &:nth-child(odd) {
                background: themed("bodyBackgroundEven");
            }
            &-item {
                padding: 20px 0;
                box-sizing: border-box;
                &_icon {
                    width: 3%;
                    padding: 20px 10px;
                    //padding-left: 0;
                    .icon > svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                &_id {
                    width: 12%;
                    overflow: hidden;
                    padding-right: 10px;
                    margin-right: 10px;
                }
                &_date {
                    width: 17%;
                }
                &_amount {
                    width: 15%;
                }
                &_amount-big {
                    width: 150px;
                }
                &_symbol {
                    width: 100px;
                }
                &_code {
                    width: 16%;
                }
                &_i {
                    width: 3%;
                }
                &_info {
                    width: calc(100% - 700px);
                    line-height: 25px;
                    padding-bottom: 0;
                    padding-left: 20px;

                }
                &_canReplay {
                    display: inline-flex;
                    justify-content: space-between;
                }
            }
        }
        &-item {
            display: flex;
            justify-content: flex-start;
        }
        &-status {
            &-error{
                color: themed("colorRed");
            }
            &-good{
                color: themed("colorGreen");
            }
            &-waiting{
                color: themed("colorOrange");
            }
        }

        &-replay {
            color: themed("colorBlue");
            border-bottom: 1px solid;
            display: inline-block;
            cursor: pointer;
        }

        &-status-error {
            display: flex;
            justify-content: space-between;
            padding: 0 20px 0 0;
            > span {
                color: themed("baseColor");
                border-bottom: 1px dotted ;
            }
            .icon {
                top: 4px;
                margin-right: 4px;
            }
        }

        &-filter {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .ant-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 20px 0 20px 0;
            &-next,
            &-prev {
                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }
            &-item {

                width: 25px;
                height: 25px;
                list-style: none;
                text-align: center;
                margin: 0 5px;
                display: inline-flex;
                &:focus {
                    outline: none;
                }
                > a {
                    display: inline-flex;
                    color: themed("antPaginationItem");

                    align-items: center;
                    justify-content: center;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    box-sizing: border-box;
                    line-height: 25px;

                }
                &-link {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    .anticon {
                        display: inline-flex;
                        svg {
                            fill: #de2233;
                        }
                    }
                    &:focus {
                        outline: none;
                    }
                }
                &-active {
                    > a {
                        border-color: #de2233;
                        color: #de2233;
                    }
                }
                &-container {
                    width: 25px;
                    height: 25px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-jump {
                &-prev ,
                &-next {
                    list-style: none;
                    &:hover {
                        .ant-pagination {
                            &-item {
                                &-ellipsis {
                                    opacity: 0;
                                }
                                &-link {
                                    &-icon {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .ant-pagination {
                        &-item {
                            &-ellipsis {
                                opacity: 1;

                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                display: block;
                            }
                            &-link {
                                &-icon {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
            &-disabled {
                .ant-pagination {
                    &-item {
                        &-link {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}

.Referral {
    @include themify($themes) {
        //@include block-wrapper($theme-map);
        background-color: themed("bodyBackground");
        padding: 25px 30px;
        margin-bottom: 25px;

        &-title {
            font: {
                size: 23px;
            };
            margin-bottom: 15px;
        }
        &-toggle-info {
            cursor: pointer;
        }

        &-list {
            display: flex;
            justify-content: flex-start;
        }

        &-item {
            width: calc(100% / 3 - 25px / 2);
            margin-left: 25px;
            &:first-child{
                margin-left: 0;
            }
        }
        &-link {
            font-size: 12px;
            line-height: 1.1;
            height: 15px;
            border-bottom: 1px dashed;
            color: themed("colorBlue");
            cursor: pointer;
        }
        &-label {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            color: themed("baseColor");
        }

        &-values {
            font-size: 14px;
            > span > span {

                display: flex;
                justify-content: space-between;
                background: themed("bodyBackgroundEven");
                padding: 10px ;
            }
        }
        &-balance {
            display: flex;
            justify-content: space-between;
            padding: 10px ;
            span {

            }
            &:nth-child(odd) {
                background: themed("bodyBackgroundEven");
            }
        }

        &-wrapper {
            padding: 30px 30px;

            .ant-pagination {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 20px 0 20px 0;
                &-next,
                &-prev {
                    width: 25px;
                    height: 25px;
                    list-style: none;
                    text-align: center;
                    &:focus {
                        outline: none;
                    }
                }
                &-item {

                    width: 25px;
                    height: 25px;
                    list-style: none;
                    text-align: center;
                    margin: 0 5px;
                    display: inline-flex;
                    &:focus {
                        outline: none;
                    }
                    > a {
                        display: inline-flex;
                        color: themed("antPaginationItem");

                        align-items: center;
                        justify-content: center;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        font-size: 14px;
                        box-sizing: border-box;
                        line-height: 25px;

                    }
                    &-link {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        .anticon {
                            display: inline-flex;
                            svg {
                                fill: #de2233;
                            }
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    &-active {
                        > a {
                            border-color: #de2233;
                            color: #de2233;
                        }
                    }
                }
                &-disabled {
                    .ant-pagination {
                        &-item {
                            &-link {
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }

        &-withdrawals-header,
        &-withdrawals {
            &-line {
                display: flex;
                justify-content: flex-start;
                padding: 5px 0 5px 10px;
                align-items: center;

            }
            &-item{
                &_id {
                    width: 5%;
                }
                &_dates {
                    width: 15%;

                }
                &_account {
                    width: 15%;
                }

                &_info {
                    width: 65%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }
            &-info {
                display: flex;
                justify-content: flex-start;
                padding-left: 10px;


                &-item {
                    padding: 10px 0;
                    &_amount{
                        width: 25%;
                    }
                    &_currency{
                        width: 25%;
                    }
                    &_state{
                        width: 25%;
                    }
                    &_block_num{
                        width: 25%;
                    }
                }
            }
        }

        &-withdrawals-header {
            &-line {
                //padding: 20px 10px ;
                border-bottom: 1px solid themed("borderColor");
                border-top: 1px solid themed("borderColor");
                margin-bottom: 10px;
            }
            &-item {
                &_account,
                &_dates {
                    span {
                        border-bottom: 1px dashed ;
                        cursor: pointer;
                    }
                }
                &_name,
                &_date{
                    cursor: pointer;
                    span {
                        border-bottom: 1px dashed ;
                    }
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 5px;
                        color: #ffffff;
                        margin: -1px 0 0 5px;
                        background-image: url(map_get($icon, "trianle-down"));
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: background-position ease-in 300ms ;
                    }
                    &.desc {
                        &::after {
                            background-image: url(map_get($icon, "trianle-up"));
                        }
                    }
                }
            }
        }
        &-withdrawals {
            &-line {
                &:nth-child(even) {
                    background: themed("bodyBackgroundEven");
                }
            }
            &-info {
                &:nth-child(odd) {
                    background: themed("bodyBackgroundEven");
                }
            }
        }

        &-table {
            &-search {
                padding: 20px 0;
                border-top: 1px solid themed("borderColor") ;
                &-wrap {
                    width: 300px;

                    .ant-input {
                        background: url(map_get($icon, "search-gray")) no-repeat center themed("inputBackground");
                        background-size: 15px 15px;
                        background-position: 95% center;
                    }
                }
            }
        }

    }
}

