.iframe-wrap {
    overflow: hidden; 
    margin: 15px auto; 
    width: 793px; 
    height: 479px;
}

.main-iframe {
    border: 0px none; 
    width: 1200px; 
    height: 1570px; 
    margin-left:-408px; 
    margin-top: -1110px;
}

@media screen and (max-width: 800px){
    .iframe-wrap {
        width: 760px; 
        height: 437px
    }
    .main-iframe {
        height: 1530px; 
    }
}

@media screen and (max-width: 760px){
    .iframe-wrap {
        width: 600px; 
        height: 437px
    }
    .main-iframe {
        width: 600px; 
        height: 590px;
        margin-left:0; 
        margin-top: -110px;
    }
}

@media screen and (max-width: 600px){
    .iframe-wrap {
        width: 400px; 
        height: 437px
    }
    .main-iframe {
        width: 400px; 
        margin-left:0; 
        margin-top: -110px;
    }
}