@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/select";
@import "app/assets/stylesheets/utils/mixin/table";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        "baseColor": #8c979b,
        "bgColor": #ffffff,
        "linkColor": #27ae29,
        "boxShadowTable": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
    ),
    dark: (
        "baseColor": #8c979b,
        "bgColor": #383838,
        "linkColor": #27ae29,
        "boxShadowTable": 0 2px 4px 0 rgba(0, 0, 0, 0.5),
    ),
));

.account-activity {
    width: 100%;
    margin: 0 30px;
    padding-bottom: 20px;
    @include deexTable("dx-table");
    @include themify($themes) {
        //background: themed('tabContentBackground');

        &-wrap {
            padding: 20px 30px;
            box-shadow: themed('boxShadowTable');
            background-color: themed('bgColor');

        }
        &-title {
            font: {
                size: 19px;
                weight: 500;
            };
            margin: 25px 0;
        }

        .dx-table {
            &-row {
                .dx-table {
                    &-body-td,
                    &-head-th {
                        &:nth-child(1) {
                            width: 15%;
                        }

                        &:nth-child(2) {
                            width: 15%;
                        }

                        &:nth-child(3) {
                            width: 50%;
                        }

                        &:nth-child(4) {
                            width: 20%;
                        }
                    }
                }
            }

            &-body-td {
                color: themed('baseColor');

                .label {
                    color: themed('baseColor');
                    background-color: transparent;
                    text-transform: inherit;
                    border: 2px dashed transparent;
                    padding: 0 0 3px 0;
                    border-bottom: 1px dotted themed("titleColor");
                }

                a {
                    color: themed("linkColor");
                }

                &:nth-child(1) {
                    color: themed('baseColor');
                }

                &:nth-child(4) {
                    color: themed('baseColor');
                }
            }
        }

        .recent-transactions {
            &-select {
                display: flex;
                justify-content: space-between;
                select {
                    width: 200px;
                    background-color: themed("bodyBackground");
                    border-color: themed("bodyBackground");
                    color: themed("baseColor");
                    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
                }
                .icon.xls {
                    width: 25px;
                    height: 30px;
                    cursor: pointer;
                    path{
                        fill: themed("baseColor");
                    }
                }
            }
        }

        //@include deexSelect("ant", $theme-map);

        @include respond-to(xs) {
            margin: 0 10px;

            &-wrap {
                padding: 0;
            }
            .header-selector {
                display: none;
            }
            .recent-transactions {
                &-select {
                    display: none;
                }
            }
            .dx-table{
                &-head{
                    display: none;
                }
                &-mob {
                    &-row {
                        padding: 20px 15px;
                        border-top: 1px solid themed("borderColor")
                    }
                    &-top {
                        display: flex;
                        justify-content: space-between;
                        font: {
                            size: 14px;
                        };
                        .time,
                        small {
                            color: themed("titleColor");
                            font: {
                                size: 10px;
                            };
                        }
                    }
                    &-center {
                        .label {
                            padding: 0 0 3px;
                            display: block;
                            width: 100%;
                            margin: 10px 0;
                            color: themed("titleColor");
                            &.warning, &.info, &.cancel, &.alert,
                            &.success {
                                background: none;
                                border: 2px dashed transparent;
                                border-bottom: 1px dotted themed("titleColor");
                            }
                        }
                    }
                    &-bottom {
                        line-height: 20px;
                        a {
                            color: themed("colorGreen");
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

}