.scrooge-logo {
    background-image: url("https://static.scrooge.club/images/general-logo.png"); 
    height: 40px; 
    width: 206px;
}

.main-scrooge-logo {
    height: 40px;
    width: 206px; 
}

@media screen and (max-width: 400px) {
    .scrooge-logo {
        background: url("https://static.scrooge.club/images/favicon.png") no-repeat; 
        height: 40px; 
        width: 33px;
        margin: auto;
    }

    .main-scrooge-logo {
        height: 40px;
        width: 40px; 
    }
}