@import "mixin/checkbox";
@import "mixin/dropdown";
@import "mixin/response";
@import "mixin/table";
@import "mixin/select";
@import "mixin/carousel";
// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin clearfix() {
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
      eot: "?",
      svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
      otf: "opentype",
      ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin uploadInput ( $parent: "public-file", $theme: ("authInputBg":"#fff","baseColor":"#fff","authBtnBorder":"#fff","authBtnBg":"#fff","authBtnColor":"#fff","baseColor":"#fff") ) {
  .#{$parent} {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-color: transparent;

    border-radius: 3px;
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &-box {
      margin-bottom: 0;
    }
    &-empty {
      width: calc(100% - 80px);
      background-color: map_get($theme, "authInputBg");
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 3px;
      line-height: 38px;
      padding: 0 0 0 20px;
      font-size: 14px;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    }
    &-label {
      font: {
        size: 14px;
      };
      color: map_get($theme, "baseColor");
    }
    &-button {
      border-radius: 3px;
      border: solid 1px map_get($theme, "authBtnBorder");
      background-color: map_get($theme, "authBtnBg");
      color: map_get($theme, "authBtnColor");
      height: 35px;
      width: 65px;
      line-height: 35px;
      top: 0;

      display: block;
      position: absolute;
      z-index: 0;
      right: 3px;
      text-align: center;
      font-size: 10px;
      letter-spacing: 0;


    }
    &-choose {
      color: map_get($theme, "baseColor");

      font-size: 9px;
      line-height: 1;
      letter-spacing: -0.1px;
      position: relative;
      z-index: 0;
      display: inline-block;
      padding-right: 20px;
      padding-left: 30px;
      margin-top: 5px;
      a {
        display: block;
        color: map_get($theme, "baseColor");
        font-size: 20px;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 1px;
        opacity: 0.5;
      }
      &.hasNotBytes {
        b {
          margin-top: 6px;
          display: inline-block;
        }
      }
    }
    &-icon {
      display: block;
      position: absolute;
      z-index: 0;
      left: 0;
    }
    input[type="file"] {
      position: absolute;
      z-index: 1;
      font-size: 150px;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      width: 100%;
    }
  }
}

@mixin scrollbars($size: 0.2em, $foreground-color: #7b7b7b, $background-color: mix($foreground-color, white, 50%)) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  /*// For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }*/
}

@mixin  reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
