@mixin color($font-color, $bg-color, $is_imp: false) {
  @if $is_imp == false {
    color: $font-color;
    background-color: $bg-color;
  } @else {
    color: $font-color !important;
    background-color: $bg-color !important;
  }
}

//buttons
@mixin button-focus($color, $bg-color, $number) {
  color: lighten($color, $number);
  background-color: lighten($bg-color, $number);
  //not good in dark theme
  //border-color: lighten($color, $number);
}

@mixin image($color) {
  @if $color == #FFF {
    background: url(../ul-arrow-black.png) no-repeat left 8px;
  } @else {
    background: url(../ul-arrow.png) no-repeat left 8px;
  }
}

/*
 * Implementation of themes
 */
@mixin themify($themes, $subKey: "") {
  @each $theme, $map in $themes {
    .#{$theme}Theme & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        //@debug $theme;
        $value: map-get(map-get($themes, $theme), '#{$key}');
        @if( map_has_key(map-get($themes, $theme), $subKey) ) {
          $theme-map: map-get(map-get($themes, $theme), $subKey) !global;
        } @else {
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        //@debug $theme-map;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  padding-bottom: 1px;
  margin-bottom: -1px;
}
