$defaultColor: (
    "checkbox-color": "red",
);

$line-height-base: 12px;

@mixin deexCalendar($prefix-cls: "ant-checkbox" , $data: ()) {

    $calendar-prefix-cls : "#{$prefix-cls}-calendar";

    $themeColor: map-merge($defaultColor, $data);

    .#{$calendar-prefix-cls} {
        position: relative;
        width: 280px;
        font-size: $font-size-base;
        line-height: $line-height-base;
        text-align: left;
        list-style: none;
        background-color: map_get($themeColor, "calendarBackgroundColor");
        background-clip: padding-box;
        border: $border-width-base $border-style-base map_get($themeColor, "borderColor");
        border-radius: $border-radius;
        outline: none;
        box-shadow: map_get($themeColor, "calendarBoxShadow");
        //position: relative;

        &-input-wrap {
            height: 34px;
            padding: 6px $control-padding-horizontal - 2px;
            border-bottom: $border-width-base $border-style-base map_get($themeColor, "borderColor");
        }

        &-input {
            width: 100%;
            height: 22px;
            color: map_get($themeColor, "baseColor");
            background: map_get($themeColor, "inputBackground");
            //padding: 0 10px;
            border: 0;
            outline: 0;
            cursor: auto;
            //@include placeholder;
        }

        &-week-number {
            width: 286px;

            &-cell {
                text-align: center;
            }
        }

        &-header {
            //@include calendarPanelHeader($ $calendar-prefix-cls);

            height: 40px;
            line-height: 40px;
            text-align: center;
            border-bottom: 1px solid map_get($themeColor, "borderColor");
            user-select: none;

            .#{$calendar-prefix-cls} {
                &-decade ,
                &-year ,
                &-month {
                    &-select {
                        display: inline-block;
                        padding: 0 2px;
                        color: map_get($themeColor, "baseColor");
                        font-weight: 500;
                        line-height: 40px;
                    }
                }
            }
        }

        &-body {
            padding: 8px 12px;
        }

        &-decade-panel ,
        &-year-panel ,
        &-month-panel {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1001;
            background: map_get($themeColor, "calendarBackgroundColor");
            border-radius: $border-radius;
            outline: none;

            > div {
                display: flex;
                flex-direction: column;
                // TODO: this is a useless wrapper, and we need to remove it in rc-calendar
                // height: 100%;
            }

            &-hidden {
                display: none;
            }
            &-header {
                // @include calendarPanelHeader(~'#{$calendar-prefix-cls}-month-panel');

            }
            &-body {
                flex: 1;
            }
            &-footer {
                border-top: $border-width-base $border-style-base map_get($themeColor, "borderColor");

                .#{$calendar-prefix-cls}-footer-extra {
                    padding: 0 12px;

                }
            }
            &-table {
                width: 100%;
                height: 100%;
                table-layout: fixed;
                border-collapse: separate;

            }
            &-selected-cell &-decade-panel-year ,
            &-selected-cell &-year-panel-year ,
            &-selected-cell &-month-panel-month {
                color: map_get($themeColor, "baseColor");
                background:  map_get($themeColor, "calendarBackgroundColor");

                &:hover {
                    color: map_get($themeColor, "baseColor");
                    background: map_get($themeColor, "calendarBackgroundColor");

                }

            }
            &-cell {
                text-align: center;
                &-disabled .#{$calendar-prefix-cls}-decade-panel-year ,
                &-disabled .#{$calendar-prefix-cls}-year-panel-year ,
                &-disabled .#{$calendar-prefix-cls}-month-panel-month {
                    &,
                    &:hover {
                        color: map_get($themeColor, "disabledColor");
                        background: map_get($themeColor, "calendarBackgroundColorDisable");
                        cursor: not-allowed;

                    }
                }
            }
            &-decade ,
            &-year ,
            &-month {
                display: inline-block;
                height: 24px;
                margin: 0 auto;
                padding: 0 8px;
                color: map_get($themeColor, "baseColor");
                line-height: 24px;
                text-align: center;
                background: transparent;
                border-radius: $border-radius;
                transition: background 0.3s ease;

                &:hover {
                    background: map_get($themeColor, "calendarBackgroundColorHover");
                    cursor: pointer;
                }
            }

        }



        &-picker {
            margin: 0 0 3px 0;
            border: 1px solid #2a2a2a;
            background-color: #2a2a2a;
            box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            height: 40px;
            color: #d1d4db;
            //padding: 0 0 0 10px;
            display: inline-block;

            &-container {
                z-index: 1;
            }

            .ant-input {
                border: none;
                box-shadow: none;
                background: none;
                outline: none;
                font: {
                    size: 14px;
                };

            }

            &-clear {
                z-index: 2;
                font-size: 14px;
                opacity: 0;
            }
            &-icon,
            &-clear {
                position: absolute;
                top: 50%;
                right: 12px;
                z-index: 1;
                width: 14px;
                height: 14px;
                margin-top: -7px;
                font-size: 12px;
                line-height: 14px;
                transition: all .3s;
                user-select: none;
            }

            &:hover {
                .#{$calendar-prefix-cls} {
                    &-picker {
                        &-clear {
                           // opacity: 1;
                            pointer-events: auto;
                        }
                    }
                }
            }
        }



        table {
            width: 100%;
            max-width: 100%;
            background-color: transparent;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            text-align: center;
            border: 0;
        }

        &-calendar-table {
            margin-bottom: 0;
            border-spacing: 0;
        }

        &-column-header {
            width: 33px;
            padding: 6px 0;
            line-height: 18px;
            text-align: center;

            .#{$calendar-prefix-cls}-column-header-inner {
                display: block;
                font-weight: normal;
            }
        }

        &-week-number-header {
            .#{$calendar-prefix-cls}-column-header-inner {
                display: none;
            }
        }

        &-cell {
            height: 30px;
            padding: 3px 0;
        }

        &-date {
            display: block;
            width: 24px;
            height: 24px;
            margin: 0 auto;
            padding: 0;
            color: map_get($themeColor, "baseColor");
            line-height: 22px;
            text-align: center;
            background: transparent;
            border: $border-width-base $border-style-base transparent;
            border-radius: $border-radius;
            transition: background 0.3s ease;

            &-panel {
                position: relative;
                outline: none;
            }

            &:hover {
                background: map_get($themeColor, "calendarBackgroundColorHover");
                cursor: pointer;
            }

            &:active {
                //color: $text-color-inverse;
                //background: $primary-5;
            }
        }

        &-today &-date {
            color: map_get($themeColor, "baseColor");
            font-weight: bold;
            border-color: map_get($themeColor, "calendarBorderColor");
        }

        &-selected-day {
            background: map_get($themeColor, "calendarBackgroundColorSelect")
        }

        &-selected-date {
            //@include calendar-selected-cell;
        }

        &-last-month-cell &-date,
        &-next-month-btn-day &-date {
            &,
            &:hover {
                color: $disabled-color;
                background: transparent;
                border-color: transparent;
            }
        }

        &-disabled-cell &-date {
            position: relative;
            width: auto;
            color: $disabled-color;
            background: map_get($themeColor, "calendarBackgroundColorDisable");
            border: $border-width-base $border-style-base transparent;
            border-radius: 0;
            cursor: not-allowed;

            &:hover {
                background: map_get($themeColor, "calendarBackgroundColorDisable");
            }
        }

        &-disabled-cell &-selected-day &-date::before {
            position: absolute;
            top: -1px;
            left: 5px;
            width: 24px;
            height: 24px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: $border-radius-sm;
            content: '';
        }

        &-disabled-cell &-today &-date {
            position: relative;
            padding-right: 5px;
            padding-left: 5px;

            &::before {
                position: absolute;
                top: -1px;
                left: 5px;
                width: 24px;
                height: 24px;
                border: $border-width-base $border-style-base $disabled-color;
                border-radius: $border-radius-sm;
                content: ' ';
            }
        }

        &-disabled-cell-first-of-row &-date {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &-disabled-cell-last-of-row &-date {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &-footer {
            padding: 0 12px;
            line-height: 38px;
            border-top: $border-width-base $border-style-base map_get($themeColor, "borderColor");
            color: map_get($themeColor, "baseColor");
            //display: none;

            &:empty {
                border-top: 0;
            }

            &-btn {
                display: block;
                text-align: center;
            }

            &-extra {
                text-align: left;
            }
        }

        .#{$calendar-prefix-cls}-today-btn,
        .#{$calendar-prefix-cls}-clear-btn {
            display: inline-block;
            margin: 0 0 0 8px;
            text-align: center;

            &-disabled {
                color: $disabled-color;
                cursor: not-allowed;
            }

            &:only-child {
                margin: 0;
            }
        }

        .#{$calendar-prefix-cls}-clear-btn {
            position: absolute;
            top: 7px;
            right: 5px;
            display: none;
            width: 20px;
            height: 20px;
            margin: 0;
            overflow: hidden;
            line-height: 20px;
            text-align: center;
            text-indent: -76px;
        }

        .#{$calendar-prefix-cls}-clear-btn::after {
            display: inline-block;
            width: 20px;
            color: $disabled-color;
            font-size: $font-size-base;
            line-height: 1;
            text-indent: 43px;
            transition: color 0.3s ease;
        }

        .#{$calendar-prefix-cls}-clear-btn:hover::after {
            //color: $text-color-secondary;
        }

        .#{$calendar-prefix-cls}-ok-btn {
            @extend .btn;
            //@extend .btn-green;

            //line-height: $btn-height - 2px;

            //@include button-disabled();
        }
    }
}
