//@import "../../style/mixins/index";

$defaultColorCarousel: (
    "border-width-base": 1px,
    "border-style-base": solid,
    "carousel-dot-height": 3px,
    "carousel-dot-width": 16px,
    "carousel-dot-active-width": 24px,
    "slick-active": ()
);


@mixin deexCarousel($ant-prefix: "ant" , $data: ()) {
    $prefix-inner: "#{$ant-prefix}-inner";

    $Color: map-merge($defaultColorCarousel, $data);


    .#{$ant-prefix}-carousel {
        display: block;
        padding: 10px 0;
        .slick-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
            -webkit-touch-callout: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
        }
        .slick-list {
            position: relative;
            overflow: hidden;
            display: block;
            margin: 0;
            padding: 0;

            &:focus {
                outline: none;
            }

            &.dragging {
                cursor: pointer;
            }

            .slick-slide {
                pointer-events: none;
                padding: 0 10px;

                &.slick-active {
                    pointer-events: auto;
                }
            }
        }
        .slick-slider .slick-track,
        .slick-slider .slick-list {
            transform: translate3d(0, 0, 0);
        }

        .slick-track {
            position: relative;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;

            &:before,
            &:after {
                content: '';
                display: table;
            }

            &:after {
                clear: both;
            }

            .slick-loading & {
                visibility: hidden;
            }
        }
        .slick-slide {
            float: left;
            height: 100%;
            min-height: 1px;
            [dir='rtl'] & {
                float: right;
            }
            img {
                display: block;
            }
            &.slick-loading img {
                display: none;
            }

            display: none;

            &.dragging img {
                pointer-events: none;
            }
        }

        .slick-initialized .slick-slide {
            display: block;
        }

        .slick-loading .slick-slide {
            visibility: hidden;
        }

        .slick-vertical .slick-slide {
            display: block;
            height: auto;
            border: map_get($Color, "border-width-base") map_get($Color, "border-style-base") transparent;
        }
        .slick-arrow.slick-hidden {
            display: none;
        }

        // Arrows
        .slick-prev,
        .slick-next {
            position: absolute;
            display: block;
            height: 50px;
            width: 30px;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            color: transparent;
            top: 50%;
            margin-top: -25px;
            padding: 0;
            border: 0;
            outline: none;
            background: rgba(0,0,0,.3);
            z-index: 99;
            &:hover,
            &:focus {
                outline: none;
                color: transparent;
                &:before {
                    opacity: 1;
                }
            }
            &.slick-disabled:before {
                opacity: 0.25;
            }
        }

        .slick-prev,
        .slick-next {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background: rgba(0, 0, 0, 0.3);
            &:before {
                font-size: 23px;
                line-height: 42px;
                color: white;
                opacity: 1;
            }
        }

        .slick-prev {
            left: -5%;
            &:before {
                content: "<";
            }
        }

        .slick-next {
            right: -5%;
            &:before {
                content: ">";
            }
        }

        @media (max-width: 767px) {
            .slick-prev {
                left: 5%;
            }
        
            .slick-next {
                right: 5%;
            }
        }

        // Dots
        .slick-dots {
            position: absolute;
            bottom: 12px;
            list-style: none;
            display: block;
            text-align: center;
            margin: 0;
            padding: 0;
            width: 100%;
            height: map_get($Color, "carousel-dot-height");
            li {
                position: relative;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                margin: 0 2px;
                padding: 0;
                button {
                    border: 0;
                    cursor: pointer;
                    background: #fff;
                    opacity: 0.3;
                    display: block;
                    width: map_get($Color, "carousel-dot-width");
                    height: map_get($Color, "carousel-dot-height");
                    border-radius: 1px;
                    outline: none;
                    font-size: 0;
                    color: transparent;
                    transition: all 0.5s;
                    padding: 0;
                    &:hover,
                    &:focus {
                        opacity: 0.75;
                    }
                }
                &.slick-active button {
                    background: #fff;
                    opacity: 1;
                    width: map_get($Color, "carousel-dot-active-width");
                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .#{$ant-prefix}-carousel-vertical {
        .slick-dots {
            width: map_get($Color, "carousel-dot-height");
            bottom: auto;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            li {
                margin: 0 2px;
                vertical-align: baseline;
                button {
                    width: map_get($Color, "carousel-dot-height");
                    height: map_get($Color, "carousel-dot-width");
                }
                &.slick-active button {
                    width: map_get($Color, "carousel-dot-height");
                    height: map_get($Color, "carousel-dot-active-width");
                }
            }
        }
    }

}


