//@import "../../style/mixins/index";

$defaultColor: (
    "checkbox-color": "red",
    "checkbox-size": 18px,
    "border-width-base": 1px,
    "border-style-base": solid,
    "border-color-base": #27ae29,
    "checkbox-check-color": #27ae29,
    "border-radius-sm": 3px,
    "ease-in-back": ease-in,
    "ease-out-back": ease-out,
    "disabled-color": #ccc,
    "input-disabled-bg": #ccc,
    "baseColor": rgba(0, 0, 0, 0.65),
    "color_dodger_green_approx": #27ae29,
    "checkBoxBorderColor": #d9d9d9,
    "white": #fff,
    "bgColorInner": #fff,
    "black_25": rgba(0, 0, 0, 0.25),
    "bg_disabled": #f5f5f5,
);
$checkbox-color: "red";
$checkbox-size: 18px;
$border-width-base: 1px;
$border-style-base: solid;
$border-color-base: #27ae29;
$checkbox-check-color: #27ae29;
$border-radius-sm: 3px;
$ease-in-back: ease-in;
$ease-out-back: ease-out;
$disabled-color: #ccc;
$input-disabled-bg: #ccc;


//colors
$baseColor: rgba(0, 0, 0, 0.65);
$color_dodger_green_approx: #27ae29;
$checkBoxBorderColor: #d9d9d9;
$white: #fff;
$black_25: rgba(0, 0, 0, 0.25);
$color_wild_sand_approx: #f5f5f5;

@mixin deexCheckbox($checkbox-prefix-cls: "ant-checkbox" , $data: ()) {
    $checkbox-prefix-inner: "#{$checkbox-prefix-cls}-inner";
    $checkbox-prefix-group: "#{$checkbox-prefix-cls}-group";

    //@debug $data;
    $checkboxColor: map-merge($defaultColor, $data);
    
    //@debug map_get($checkboxColor, "baseColor");

    //@debug $defaultColor;

    .#{$checkbox-prefix-cls} {
        font-size: 14px;
        font-variant: tabular-nums;
        color: map_get($checkboxColor, "baseColor");
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-block;
        line-height: 1;
        position: relative;
        vertical-align: middle;
        top: -0.09em;

        &:hover {
            .ant-checkbox-inner {
                border-color: map_get($checkboxColor, "color_dodger_green_approx");
            }

            &:after {
                visibility: visible;
            }
        }

        + span {
            padding-left: 8px;
            padding-right: 8px;
        }

        &-wrapper {
            font-size: 14px;
            font-variant: tabular-nums;
            color: map_get($checkboxColor, "checkBoxColor");
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: unset;
            cursor: pointer;
            display: inline-block;

            &:hover {
                .ant-checkbox-inner {
                    border-color: map_get($checkboxColor, "color_dodger_green_approx");
                }

                .ant-checkbox:after {
                    visibility: visible;
                }
            }

            + span {
                padding-left: 8px;
                padding-right: 8px;
            }

            + .ant-checkbox-wrapper {
                margin-left: 8px;
            }
        }

        &-input {
            position: absolute;
            left: 0;
            z-index: 1;
            cursor: pointer;
            opacity: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;

            &:focus + .#{$checkbox-prefix-inner} {
                border-color: map_get($checkboxColor, "color_dodger_green_approx");
            }
        }

        &-checked {
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                border: 1px solid map_get($checkboxColor, "color_dodger_green_approx");
                content: '';
                animation: antCheckboxEffect 0.36s ease-in-out;
                animation-fill-mode: both;
                visibility: hidden;
            }

            .#{$checkbox-prefix-inner} {
                background-color: map_get($checkboxColor, "checkBoxBackgroundColorActive");
                border-color: map_get($checkboxColor, "color_dodger_green_approx");

                &:after {
                    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                    transform: rotate(45deg) scale(1);
                    position: absolute;
                    display: table;
                    border: 2px solid map_get($checkboxColor, "colorWhite");
                    border-top: 0;
                    border-left: 0;
                    content: ' ';
                    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                    opacity: 1;
                }
            }
        }
    }
    .#{$checkbox-prefix-inner} {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid map_get($checkboxColor, "checkBoxBorderColor");
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
        background-color: map_get($checkboxColor, "checkBoxBackgroundColor");
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .3s;

        &:after {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(45deg) scale(0);
            position: absolute;
            left: 4.5px;
            top: -0.5px;
            display: table;
            width: 8px;
            height: 12px;
            border: 2px solid map_get($checkboxColor, "colorWhite");
            border-top: 0;
            border-left: 0;
            content: ' ';
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
            opacity: 0;
            
        }
    }
    .#{$checkbox-prefix-cls}-disabled {
        cursor: not-allowed;

        .#{$checkbox-prefix-cls}-input {
            cursor: not-allowed;
        }

        .#{$checkbox-prefix-inner} {
            border-color: map_get($checkboxColor, "checkBoxBorderColordisabled") !important;
            //background-color: map_get($checkboxColor, "checkBoxBorderColordisabled");

            &:after {
                animation-name: none;
                border-color: map_get($checkboxColor, "checkBoxBorderColordisabled");
                border-collapse: separate;
            }
        }

        + span {
            color: map_get($checkboxColor, "black_25");
            cursor: not-allowed;
        }

        &.#{$checkbox-prefix-cls}-checked .#{$checkbox-prefix-inner}:after {
            animation-name: none;
            border-color: map_get($checkboxColor, "black_25");
        }
    }
    .#{$checkbox-prefix-group} {
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        color: map_get($checkboxColor, "black_65");
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
    }
    .#{$checkbox-prefix-group}-item {
        display: inline-block;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }

        + .#{$checkbox-prefix-group}-item {
            margin-left: 0;
        }
    }
    .#{$checkbox-prefix-cls}-indeterminate {
        .#{$checkbox-prefix-cls} {
            background-color: map_get($checkboxColor, "white");
            border-color: map_get($checkboxColor, "checkBoxBorderColor");

            &:after {
                content: ' ';
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: translate(-50%, -50%) scale(1);
                border: 0;
                left: 50%;
                top: 50%;
                width: 8px;
                height: 8px;
                background-color: map_get($checkboxColor, "color_dodger_green_approx");
                opacity: 1;
            }
        }

        &.#{$checkbox-prefix-cls}-disabled .#{$checkbox-prefix-inner}:after {
            border-color: map_get($checkboxColor, "black_25");
            background-color: map_get($checkboxColor, "black_25");
        }
    }

}

$switchDefaultColor: (
    font-size-base: 14px,
    input-height: 12px,
    input-btn-focus-width: 0.2rem,
    custom-control-indicator-bg: #c3cccb,
    custom-control-description-disabled-color: #868e96,
    pointColor:#383838,
    bgColor: #27ae29
);
@mixin deexCheckboxSwitch($checkbox-prefix-cls: "ant-checkbox-switch", $data: ()) {

    $checkbox-prefix-inner: "#{$checkbox-prefix-cls}-inner";
    $checkbox-prefix-group: "#{$checkbox-prefix-cls}-group";

    $checkboxColor: map-merge($switchDefaultColor, $data);

    $font-size-base: map-get($checkboxColor, 'font-size-base');
    $input-height: map-get($checkboxColor, 'input-height');
    $input-btn-focus-width: map-get($checkboxColor, 'input-btn-focus-width');
    $custom-control-indicator-bg: map-get($checkboxColor, 'custom-control-indicator-bg');
    $custom-control-indicator-disabled-bg: map-get($checkboxColor, 'custom-control-indicator-disabled-bg');
    $custom-control-description-disabled-color: map-get($checkboxColor, 'custom-control-description-disabled-color');
    $white: map-get($checkboxColor, 'wraperBackground');


    //
    // These variables can be used to customize the switch component.
    //
    // map-get($checkboxColor, 'input-height')
    $switch-height: calc(#{$input-height} * 1.2);
    $switch-border-radius: $switch-height !default;
    $switch-bg: $custom-control-indicator-bg !default;
    $switch-checked-bg: map-get($checkboxColor, 'bgColor') !default;
    $switch-disabled-bg: $custom-control-indicator-disabled-bg !default;
    $switch-disabled-color: $custom-control-description-disabled-color !default;
    $switch-thumb-bg: $white !default;
    $switch-thumb-border-radius: 50% !default;
    $switch-thumb-padding: 2px !default;
    $switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($checkboxColor, 'bgColor'), .25);
    $switch-transition: .2s all !default;

    .#{$checkbox-prefix-cls} {
        font-size: $font-size-base;
        position: relative;

        &-input {
            position: absolute;
            height: 1px;
            width: 1px;
            background: none;
            border: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            overflow: hidden;
            padding: 0;

            + .#{$checkbox-prefix-inner} {
                position: relative;
                min-width: calc(#{$switch-height} * 2);
                border-radius: $switch-border-radius;
                height: $switch-height;
                line-height: $switch-height;
                display: inline-block;
                cursor: pointer;
                outline: none;
                user-select: none;
                vertical-align: middle;
                text-indent: calc(calc(#{$switch-height} * 2) + .5rem);

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(#{$switch-height} * 2);
                    bottom: 0;
                    display: block;
                }

                &:before {
                    right: 0;
                    background-color: $switch-bg;
                    border-radius: $switch-border-radius;
                    transition: $switch-transition;
                }

                &:after {
                    top: $switch-thumb-padding;
                    left: $switch-thumb-padding;
                    width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
                    height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
                    border-radius: $switch-thumb-border-radius;
                    background-color: $switch-thumb-bg;
                    transition: $switch-transition;
                }
            }
            &:checked {
                + .#{$checkbox-prefix-inner} {
                    &:before {
                        background-color: $switch-checked-bg;
                    }
                    &:after {
                        margin-left: $switch-height;
                    }
                }
            }
            &:disabled {
                + .#{$checkbox-prefix-inner} {
                    color: $switch-disabled-color;
                    cursor: not-allowed;
                    &:before {
                        background-color: $switch-disabled-bg;
                    }
                }
            }
        }
        &-wrapper {
            color: map-get($checkboxColor, 'baseColor');
            cursor: pointer;
        }
    }

    @keyframes antCheckboxEffect {
        0% {
            transform: scale(1);
            opacity: 0.5;
        }
        100% {
            transform: scale(1.6);
            opacity: 0;
        }
    }
}
