//@import "../../style/mixins/index";
//colors
$black_65: rgba(0, 0, 0, 0.65);
$white: #fff;
$black_15: rgba(0, 0, 0, 0.15);
$black_45: rgba(0, 0, 0, 0.45);
$color_gray_nurse_approx: #e8e8e8;
$color_black_pearl_approx: #001529;
$color_dodger_blue_approx: #1890ff;
$color_lily_white_approx: #e8e8e8;
$black_25: rgba(0, 0, 0, 0.25);
$white_65: rgba(255, 255, 255, 0.65);


@mixin deexDropDown($prefix-cls: "ant-dropdown" ) {
    $prefix-cls-menu: "#{$prefix-cls}-menu";
    $prefix-cls-wrap: "#{$prefix-cls}-wrao";
    $prefix-cls-menu-item: "#{$prefix-cls}-menu-item";


    :root {
        .ant-dropdown-wrap .ant-btn > .anticon-down {
            font-size: 12px;
        }
        .ant-dropdown-menu-item .ant-dropdown-menu-submenu-arrow-icon {
            font-size: 12px;
        }
        .ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow-icon {
            font-size: 12px;
        }
        .ant-dropdown-trigger .anticon:not(.anticon-ellipsis) {
            font-size: 12px;
        }
        .ant-dropdown-link .anticon:not(.anticon-ellipsis) {
            font-size: 12px;
        }
        .ant-dropdown-button .anticon:not(.anticon-ellipsis) {
            font-size: 12px;
        }
    }

    .#{$prefix-cls} {
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        color: $black_65;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: -9999px;
        top: -9999px;
        z-index: 1050;
        display: block;
        &.slide-down-enter.slide-down-enter-active {
            &.ant-dropdown-placement-bottomLeft {
                animation-name: antSlideUpIn;
            }
            &.ant-dropdown-placement-bottomCenter {
                animation-name: antSlideUpIn;
            }
            &.ant-dropdown-placement-bottomRight {
                animation-name: antSlideUpIn;
            }
        }
        &.slide-down-appear.slide-down-appear-active {
            &.ant-dropdown-placement-bottomLeft {
                animation-name: antSlideUpIn;
            }
            &.ant-dropdown-placement-bottomCenter {
                animation-name: antSlideUpIn;
            }
            &.ant-dropdown-placement-bottomRight {
                animation-name: antSlideUpIn;
            }
        }
        &.slide-up-enter.slide-up-enter-active {
            &.ant-dropdown-placement-topLeft {
                animation-name: antSlideDownIn;
            }
            &.ant-dropdown-placement-topCenter {
                animation-name: antSlideDownIn;
            }
            &.ant-dropdown-placement-topRight {
                animation-name: antSlideDownIn;
            }
        }
        &.slide-up-appear.slide-up-appear-active {
            &.ant-dropdown-placement-topLeft {
                animation-name: antSlideDownIn;
            }
            &.ant-dropdown-placement-topCenter {
                animation-name: antSlideDownIn;
            }
            &.ant-dropdown-placement-topRight {
                animation-name: antSlideDownIn;
            }
        }
        &.slide-down-leave.slide-down-leave-active {
            &.ant-dropdown-placement-bottomLeft {
                animation-name: antSlideUpOut;
            }
            &.ant-dropdown-placement-bottomCenter {
                animation-name: antSlideUpOut;
            }
            &.ant-dropdown-placement-bottomRight {
                animation-name: antSlideUpOut;
            }
        }
        &.slide-up-leave.slide-up-leave-active {
            &.ant-dropdown-placement-topLeft {
                animation-name: antSlideDownOut;
            }
            &.ant-dropdown-placement-topCenter {
                animation-name: antSlideDownOut;
            }
            &.ant-dropdown-placement-topRight {
                animation-name: antSlideDownOut;
            }
        }

        &-wrap {
            position: relative;
            .ant-btn > .anticon-down {
                display: inline-block;
                font-size: 12px;
                font-size: 10px \9
            ;
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: scale(0.83333333) rotate(0deg);
            }
            .anticon-down:before {
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: transform .2s;
            }
        }
        &-trigger{
            position: relative;
        }
        &-hidden {
            display: none;
        }
    }
    .#{$prefix-cls-menu} {
        outline: none;
        position: relative;
        list-style-type: none;
        padding: 4px 0;
        margin: 0;
        text-align: left;
        background-color: $white;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 2px 8px $black_15;
        //Instead of the line below you could use @include background-clip($clip)
        background-clip: padding-box;
        max-height: 200px;
        overflow: auto;

        &-hidden {
            display: none;
        }
    }

    .ant-dropdown-menu-item-group-title {
        color: $black_45;
        padding: 5px 12px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .3s;
    }
    .ant-dropdown-menu-submenu-popup {
        position: absolute;
        z-index: 1050;
    }
    .ant-dropdown-menu-item {
        padding: 5px 12px;
        margin: 0;
        clear: both;
        font-size: 14px;
        font-weight: normal;
        color: $black_65;
        white-space: nowrap;
        cursor: pointer;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .3s;
        line-height: 22px;
        > a {
            color: $black_65;
            display: block;
            padding: 5px 12px;
            margin: -5px -12px;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .3s;
            &:focus {
                text-decoration: none;
            }
        }
        &:hover {
            background-color: $color_lily_white_approx;
        }
        .ant-dropdown-menu-submenu-arrow {
            position: absolute;
            right: 8px;
        }
        .ant-dropdown-menu-submenu-arrow-icon {
            font-style: normal;
            color: $black_45;
            display: inline-block;
            font-size: 12px;
            font-size: 10px \9
        ;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(0.83333333) rotate(0deg);
        }
        > .anticon:first-child {
            min-width: 12px;
            margin-right: 8px;
        }
    }
    .ant-dropdown-menu-item-selected {
        color: $color_dodger_blue_approx;
        background-color: $color_lily_white_approx;
        > a {
            color: $color_dodger_blue_approx;
            background-color: $color_lily_white_approx;
        }
    }
    .ant-dropdown-menu-item-disabled {
        color: $black_25;
        cursor: not-allowed;
        &:hover {
            color: $black_25;
            background-color: $white;
            cursor: not-allowed;
        }
    }
    .ant-dropdown-menu-item-divider {
        height: 1px;
        overflow: hidden;
        background-color: $color_gray_nurse_approx;
        line-height: 0;
        margin: 4px 0;
    }
    .ant-dropdown-menu-dark {
        background: $color_black_pearl_approx;
        .ant-dropdown-menu {
            background: $color_black_pearl_approx;
        }
        .ant-dropdown-menu-item {
            color: $white_65;
            > a {
                color: $white_65;
                &:hover {
                    color: $white;
                    background: transparent;
                }
                .ant-dropdown-menu-submenu-arrow:after {
                    color: $white_65;
                }
            }
            &:hover {
                color: $white;
                background: transparent;
            }
            .ant-dropdown-menu-submenu-arrow:after {
                color: $white_65;
            }
        }
        .ant-dropdown-menu-submenu-title {
            color: $white_65;
            &:hover {
                color: $white;
                background: transparent;
            }
            .ant-dropdown-menu-submenu-arrow:after {
                color: $white_65;
            }
        }
        .ant-dropdown-menu-item-selected {
            background: $color_dodger_blue_approx;
            color: $white;
            &:hover {
                background: $color_dodger_blue_approx;
                color: $white;
            }
            > a {
                background: $color_dodger_blue_approx;
                color: $white;
            }
        }
    }

    .ant-dropdown-menu-submenu-title {
        padding: 5px 12px;
        margin: 0;
        clear: both;
        font-size: 14px;
        font-weight: normal;
        color: $black_65;
        white-space: nowrap;
        cursor: pointer;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .3s;
        line-height: 22px;
        padding-right: 26px;
        > a {
            color: $black_65;
            display: block;
            padding: 5px 12px;
            margin: -5px -12px;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .3s;
            &:focus {
                text-decoration: none;
            }
        }
        &:hover {
            background-color: $color_lily_white_approx;
        }
        .ant-dropdown-menu-submenu-arrow {
            position: absolute;
            right: 8px;
        }
        .ant-dropdown-menu-submenu-arrow-icon {
            font-style: normal;
            color: $black_45;
            display: inline-block;
            font-size: 12px;
            font-size: 10px \9
        ;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(0.83333333) rotate(0deg);
        }
        > .anticon:first-child {
            min-width: 12px;
            margin-right: 8px;
        }
    }
    .ant-dropdown-menu-submenu-title-selected {
        color: $color_dodger_blue_approx;
        background-color: $color_lily_white_approx;
        > a {
            color: $color_dodger_blue_approx;
            background-color: $color_lily_white_approx;
        }
    }
    .ant-dropdown-menu-submenu-title-disabled {
        color: $black_25;
        cursor: not-allowed;
        &:hover {
            color: $black_25;
            background-color: $white;
            cursor: not-allowed;
        }
    }
    .ant-dropdown-menu-submenu-title-divider {
        height: 1px;
        overflow: hidden;
        background-color: $color_gray_nurse_approx;
        line-height: 0;
        margin: 4px 0;
    }
    .ant-dropdown-menu-submenu-vertical {
        position: relative;
        > .ant-dropdown-menu {
            top: 0;
            left: 100%;
            position: absolute;
            min-width: 100%;
            margin-left: 4px;
            //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
            transform-origin: 0 0;
        }
    }

    .ant-dropdown-button {
        white-space: nowrap;
        &.ant-btn-group > .ant-btn:last-child:not(:first-child) {
            padding-left: 8px;
            padding-right: 8px;
        }
        .anticon:not(.anticon-ellipsis) {
            display: inline-block;
            font-size: 12px;
            font-size: 10px \9
        ;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(0.83333333) rotate(0deg);
        }
    }

    .ant-dropdown-wrap-open .anticon-down:before {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(180deg);
    }
    .ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-disabled .ant-dropdown-menu-submenu-title {
        color: $black_25;
        .ant-dropdown-menu-submenu-arrow-icon {
            color: $black_25;
        }
    }
    .ant-dropdown-trigger .anticon:not(.anticon-ellipsis) {
        display: inline-block;
        font-size: 12px;
        font-size: 10px \9
    ;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(0.83333333) rotate(0deg);
    }
    .ant-dropdown-link .anticon:not(.anticon-ellipsis) {
        display: inline-block;
        font-size: 12px;
        font-size: 10px \9
    ;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(0.83333333) rotate(0deg);
    }


}

@mixin deexOutsideDropDown ($prefix-cls: "deex" , $data: ()) {

}

