@import "~antd/lib/modal/style/index.css";
// @import "~antd/lib/button/style/index.css";

@mixin deexModal($ant-prefix: "ant" , $data: ()) {
    $dialog-prefix-cls: "#{$ant-prefix}-modal";
    $table-prefix-cls: "#{$ant-prefix}-table";

    //@debug $dialog-prefix-cls;
    //@debug $data;

    .#{$dialog-prefix-cls} {
        &-wrap {

        }

        &-title {
            color: map_get($data, "modalBaseColor");
            font-weight: 500;
            font-size: $font-size-base;
            line-height: 22px;
        }

        &-content {
            background-color: map_get($data, "modalBodyBg");
            border-radius: $border-radius;
            color: map_get($data, "modalBaseColor");
            box-shadow: map_get($data, "wraperBoxShadow");
        }

        &-close {
            color: map_get($data, "modalBaseColor");
            font-weight: 700;
            line-height: 1;


            &-x {
                font-size: $font-size-base;
                font-style: normal;
                line-height: 56px;
            }

            &:focus,
            &:hover {
                color: map_get($data, "iconColorHover");
            }
        }

        &-header {
            padding: 16px 24px;
            color: map_get($data, "baseColor");
            background: map_get($data, "modalHeaderBg");
            border-bottom: none;
            border-radius: $border-radius-top;
        }

        &-body {
            padding: 20px;
            font-size: $font-size-base;
            line-height: $line-height-base;
            word-wrap: break-word;
        }

        &-footer {
            padding: $modal-footer-padding-vertical $modal-footer-padding-horizontal;
            text-align: right;
            background: map_get($data, "modalFooterBg");
            border-top: transparent;
            border-radius: $border-radius-bottom;
            button + button {
                margin-bottom: 0;
                margin-left: 8px;
            }
        }

        &.zoom-enter,
        &.zoom-appear {
            transform: none; // reset scale avoid mousePosition bug
            opacity: 0;
            // animation-duration: $animation-duration-slow;
            user-select: none; // https://github.com/ant-design/ant-design/issues/11777
        }

        &-mask {

            &-hidden {
            }
        }

        &-open {
        }
    }

    .#{$dialog-prefix-cls} {
        &-centered {
            &::before {

            }
            .#{$dialog-prefix-cls} {

            }
        }
    }
}
