/*
@include respond-to(xs) {}
@include respond-to(sm) {}
@include respond-to(md) {}
*/
@mixin respond-to($media) {
    @if $media == xs {
        @media (max-width: $screen-xs-max) { @content }
    }
    @else if $media == sm {
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { @content }
    }
    @else if $media == md {
        @media (min-width: $screen-md) and (max-width: $screen-md-max) { @content }
    }
    @else if $media == lg {
        @media (min-width: $screen-lg) { @content }
    }
}