
$defaultColorSelect: (
    "control-padding-horizontal": 5px,
    "control-padding-horizontal-sm": 2px,
    "control-padding-horizontal-lg": 3px,

    "border-width-base": 1px,
    "border-style-base": solid,
    "border-color-base": #d9d9d9,

    "input-height-sm": 20px,
    "input-height-base": 35px,
    "input-height-lg": 40px,

    "font-size-sm": 13px,
    "font-size": 15px,
    "border-radius-base": 1px,

    "selectBackground": #ffffff,
    "selectColor": #000000,
    "selectColorSecondary": #919191,

    "item-hover-bg": #e8e8e8,

    "ease-in-out": ease-in-out,
);

@mixin selection__clear($selectData) {
    $control-padding-horizontal : map_get($selectData, "control-padding-horizontal");
    $component-background : map_get($selectData, "selectBackground");

    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    opacity: 0;
    position: absolute;
    right: $control-padding-horizontal - 1px;
    z-index: 1;
    background: $component-background;
    top: 50%;
    font-size: map_get($selectData, "font-size");
    color: map_get($selectData, "selectColorDisabled");
    width: 12px;
    height: 12px;
    margin-top: -6px;
    line-height: 12px;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.15s ease;
    &:before {
        display: block;
    }
    &:hover {
        color: map_get($selectData, "selectColorSecondary");
    }
}

@mixin deexSelect($ant-prefix: "ant" , $data: ()) {
    $select-prefix-cls: "#{$ant-prefix}-select";

    $selectData: map-merge($defaultColorSelect, $data);

    $control-padding-horizontal: map_get($selectData, "control-padding-horizontal");

    .#{$select-prefix-cls} {
        display: inline-block;
        position: relative;
        outline: 0;
        width: 100%;
        border-radius: 2px;

        ul,
        ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        > ul > li > a {
            padding: 0;
            background-color: map_get($selectData, "selectBackground");
        }

        // arrow
        &-arrow {
            position: absolute;
            top: 50%;
            right: $control-padding-horizontal - 1px;
            line-height: 1;
            margin-top: -( map_get($selectData, "font-size-sm") / 2);
            transform-origin: 50% 50%;
            color: map_get($selectData, "selectColorDisabled");
            font-size: map_get($selectData, "font-size-sm");

            & &-icon svg {
                transition: transform 0.3s;
            }
        }

        &-selection {
            outline: none;
            user-select: none;
            padding: 5px 0 5px 10px;

            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;

            background-color: map_get($selectData, "selectBackground");
            color: map_get($selectData, "selectColor");
            border-radius: map_get($selectData, "border-radius");
            border: map_get($selectData, "border-width-base") map_get($selectData, "border-style-base") map_get($selectData, "selectBorderColor");
            // strange align fix for chrome but works
            // https://gw.alipayobjects.com/zos/rmsportal/VFTfKXJuogBAXcvfAUWJ.gif
            border-top-width: map_get($selectData, "border-width-base") + 0.02px;
            transition: all 0.3s map_get($selectData, "ease-in-out");

            &:hover {
                //@include hover;
            }

            .#{$select-prefix-cls}-focused &,
            &:focus,
            &:active {
                //@include active;
            }

            &__clear {
                @include selection__clear($selectData);
            }

            &:hover &__clear {
                opacity: 1;
            }

            &-selected-value {
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100%;
                padding-right: 20px;
            }
        }

        &-no-arrow &-selection-selected-value {
            padding-right: 0;
        }

        &-disabled {
            color: map_get($selectData, "selectColorDisabled");
        }

        &-disabled &-selection {
            background: map_get($selectData, "input-disabled-bg");
            cursor: not-allowed;
            &:hover,
            &:focus,
            &:active {
                border-color: map_get($selectData, "border-color-base");
                box-shadow: none;
            }

            &__clear {
                display: none;
                visibility: hidden;
                pointer-events: none;
            }
        }

        &-disabled &-selection--multiple &-selection__choice {
            background: map_get($selectData, "background-color-base");
            color: #aaa;
            padding-right: 10px;
            &__remove {
                display: none;
            }
        }

        &-selection--single {
            height: map_get($selectData, "input-height-base");
            position: relative;
            cursor: pointer;
        }

        &-selection__rendered {
            display: block;
            margin-left: map_get($selectData, "control-padding-horizontal") - 1px;
            margin-right: map_get($selectData, "control-padding-horizontal") - 1px;
            position: relative;
            //line-height: map_get($selectData, "input-height-base") - 2px;
            width: 100%;
            // https://github.com/ant-design/ant-design/issues/3481#issuecomment-254721026
            &:after {
                content: '.';
                visibility: hidden;
                pointer-events: none;
                display: inline-block;
                width: 0;
            }
        }



        &-disabled &-selection__choice__remove {
            color: map_get($selectData, "selectColorDisabled");
            cursor: default;
            &:hover {
                color: map_get($selectData, "selectColorDisabled");
            }
        }

        &-search__field__wrap {
            display: inline-block;
            position: relative;
        }

        &-selection__placeholder,
        &-search__field__placeholder {
            // for TreeSelect compatibility
            position: absolute;
            top: 50%;
            left: 0;
            right: 9px;
            color: map_get($selectData, "input-placeholder-color");
            line-height: 20px;
            height: 20px;
            max-width: 100%;
            margin-top: -10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
        }

        &-search__field__placeholder {
            left: map_get($selectData, "control-padding-horizontal");
        }

        &-search__field__mirror {
            position: absolute;
            top: 0;
            left: 0;
            white-space: pre;
            pointer-events: none;
            opacity: 0;
        }

        &-search--inline {
            position: absolute;
            height: 100%;
            width: 100%;

            .#{$select-prefix-cls}-search__field__wrap {
                width: 100%;
                height: 100%;
            }

            .#{$select-prefix-cls}-search__field {
                border-width: 0;
                font-size: 100%;
                height: 100%;
                width: 100%;
                background: transparent;
                outline: 0;
                border-radius: map_get($selectData, "border-radius-base");
                line-height: 1;
            }

            > i {
                float: right;
            }
        }

        &-selection--multiple {
            min-height: map_get($selectData, "input-height-base");
            cursor: text;
            padding-bottom: 3px;
            @include clearfix();

            .#{$select-prefix-cls}-search--inline {
                float: left;
                position: static;
                width: auto;
                padding: 0;
                max-width: 100%;
                .#{$select-prefix-cls}-search__field {
                    max-width: 100%;
                    width: 0.75em;
                }
            }

            .#{$select-prefix-cls}-selection__rendered {
                margin-left: 5px;
                margin-bottom: -3px;
                height: auto;
            }

            .#{$select-prefix-cls}-selection__placeholder {
                margin-left: 6px;
            }

            > ul > li,
            .#{$select-prefix-cls}-selection__rendered > ul > li {
                // for tree-select
                margin-top: 3px;
                height: map_get($selectData, "input-height-base") - 8px;
                line-height: map_get($selectData, "input-height-base") - 8px - 2px;
            }

            .#{$select-prefix-cls}-selection__choice {
                color: map_get($selectData, "tag-default-color");
                background-color: map_get($selectData, "tag-default-bg");
                border: 1px solid map_get($selectData, "border-color-split");
                border-radius: map_get($selectData, "border-radius-sm");
                cursor: default;
                float: left;
                margin-right: 4px;
                max-width: 99%;
                position: relative;
                overflow: hidden;
                transition: padding 0.3s map_get($selectData, "ease-in-out");
                padding: 0 20px 0 10px;
                &__disabled {
                    padding: 0 10px;
                }
            }

            .#{$select-prefix-cls}-selection__choice__content {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                transition: margin 0.3s map_get($selectData, "ease-in-out");
            }

            .#{$select-prefix-cls}-selection__choice__remove {
                color: map_get($selectData, "selectColorSecondary");
                line-height: inherit;
                cursor: pointer;
                display: inline-block;
                font-weight: bold;
                transition: all 0.3s;
                font-size: map_get($selectData, "font-size-sm");
                //@include iconfont-size-under-12px(10px);
                position: absolute;
                right: 4px;
                &:hover {
                    color: #404040;
                }
            }

            .#{$select-prefix-cls}-selection__clear {
                top: map_get($selectData, "input-height-base") / 2;
            }
        }

        &-allow-clear &-selection--single &-selection-selected-value {
            padding-right: 16px;
        }

        &-allow-clear &-selection--multiple &-selection__rendered {
            margin-right: 20px; // In case that clear button will overlap content
        }

        &-open {
            .#{$select-prefix-cls}-arrow {
                &-icon svg {
                    transform: rotate(180deg);
                }
            }
            .#{$select-prefix-cls}-selection {
                //@include active();
            }
        }

        &-combobox {
            .#{$select-prefix-cls}-arrow {
                display: none;
            }
            .#{$select-prefix-cls}-search--inline {
                height: 100%;
                width: 100%;
                float: none;
            }
            .#{$select-prefix-cls}-search__field__wrap {
                width: 100%;
                height: 100%;
            }
            .#{$select-prefix-cls}-search__field {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                transition: all 0.3s  map_get($selectData, "ease-in-out"), height 0s;
                box-shadow: none;
            }
        }

        &-combobox &-allow-clear &-selection:hover &-selection__rendered {
            margin-right: 20px; // In case that clear button will overlap content
        }

    }

    .#{$select-prefix-cls}-dropdown {
        // Fix select render lag of long text in chrome
        // https://github.com/ant-design/ant-design/issues/11456
        // https://github.com/ant-design/ant-design/issues/11843
        font-variant: initial;

        &.slide-up-enter.slide-up-enter-active &-placement-bottomLeft,
        &.slide-up-appear.slide-up-appear-active &-placement-bottomLeft {
            animation-name: antSlideUpIn;
        }

        &.slide-up-enter.slide-up-enter-active &-placement-topLeft,
        &.slide-up-appear.slide-up-appear-active &-placement-topLeft {
            animation-name: antSlideDownIn;
        }

        &.slide-up-leave.slide-up-leave-active &-placement-bottomLeft {
            animation-name: antSlideUpOut;
        }

        &.slide-up-leave.slide-up-leave-active &-placement-topLeft {
            animation-name: antSlideDownOut;
        }

        &-hidden {
            display: none;
        }

        background-color: map_get($selectData, "selectBackground");
        box-shadow: map_get($selectData, "box-shadow-base");
        border-radius: map_get($selectData, "border-radius");
        box-sizing: border-box;
        z-index: map_get($selectData, "zindex-dropdown");
        left: -9999px;
        top: -9999px;
        position: absolute;
        outline: none;
        font-size: map_get($selectData, "font-size-base");

        &-menu {
            outline: none;
            margin: 0;
            padding: 0; // Override default ul/ol
            list-style: none;
            max-height: 250px;
            overflow: auto;

            &-item-group-list {
                margin: 0;
                padding: 0;

                > .#{$select-prefix-cls}-dropdown-menu-item {
                    padding-left: 20px;
                }
            }

            &-item-group-title {
                color: map_get($selectData, "selectColorSecondary");
                padding: 0 map_get($selectData, "control-padding-horizontal");
                height: 32px;
                line-height: 32px;
                font-size: map_get($selectData, "font-size-sm");
            }

            &-item-group-list &-item:first-child:not(:last-child),
            &-item-group:not(:last-child) &-item-group-list &-item:last-child {
                border-radius: 0;
            }

            &-item {
                position: relative;
                display: block;
                padding: 5px map_get($selectData, "control-padding-horizontal") map_get($selectData, "control-padding-horizontal") map_get($selectData, "control-padding-horizontal")*3;
                line-height: 22px;
                font-weight: normal;
                color: map_get($selectData, "selectColor");
                white-space: nowrap;
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: background 0.3s ease;

                &:hover {
                    background-color: map_get($selectData, "selectBackgroundHover");
                }

                &:first-child {
                    border-radius: map_get($selectData, "border-radius-base") map_get($selectData, "border-radius-base") 0 0;
                }

                &:last-child {
                    border-radius: 0 0 map_get($selectData, "border-radius-base")  map_get($selectData, "border-radius-base") ;
                }

                &-disabled {
                    color: map_get($selectData, "selectColorDisabled");
                    cursor: not-allowed;

                    &:hover {
                        color: map_get($selectData, "selectColorDisabled");
                        background-color: map_get($selectData, "selectBackground");
                        cursor: not-allowed;
                    }
                }

                &-selected {
                    &,
                    &:hover {
                        background-color: map_get($selectData, "background-color-light");
                        font-weight: 600;
                        color: map_get($selectData, "selectColor");
                    }
                }

                &-active {
                    background-color: map_get($selectData, "item-active-bg");
                }

                &-divider {
                    height: 1px;
                    margin: 1px 0;
                    overflow: hidden;
                    background-color: map_get($selectData, "border-color-split");
                    line-height: 0;
                }
            }
        }

        &--multiple {
            .#{$select-prefix-cls}-dropdown-menu-item {
                padding-right: map_get($selectData, "control-padding-horizontal") + 20;
                & .#{$select-prefix-cls}-selected-icon {
                    color: transparent;
                    //@include iconfont-size-under-12px(10px);
                    transition: all 0.2s ease;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: map_get($selectData, "control-padding-horizontal");
                    font-weight: bold;
                    text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
                }

                &:hover .#{$select-prefix-cls}-selected-icon {
                    color: #ddd;
                }

                &-disabled .#{$select-prefix-cls}-selected-icon {
                    display: none;
                }

                &-selected .#{$select-prefix-cls}-selected-icon,
                &-selected:hover .#{$select-prefix-cls}-selected-icon {
                    color: map_get($selectData, "primary-color");
                    display: inline-block;
                }
            }
        }

        &-container-open,
        &-open {
            .#{$select-prefix-cls}-dropdown {
                display: block;
            }
        }
    }
}
