
@mixin deexTable($tablex-cls: "deex-table", $data: () ) {

  .#{$tablex-cls} {
    width: 100%;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      @each $key in left, right, center {
        .#{$key} {
          text-align: #{$key};
        }
      }
    }
    &-head{
      border-bottom: solid 1px map_get($data, "borderColor");
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-th {
        font-size: 14px;
        font-weight: 600;
        color: #C3CCCB;
        text-align: center;
      }
    }

    &-body{
      .#{$tablex-cls} {
        &-row {
          min-height: 35px;
          padding: 10px 30px;
          line-height: 1.5;


          &:nth-child(odd) {
            background-color: rgba(216, 216, 216, 0.1);
          }
        }
      }
    }
  }
}