
$defaultColor: (
    light: (
        "colorRed": #DD2233,
        "colorGreen": #27AE29,
        "colorBlack": #383838,
        "colorGrayDark": #515B5E,
        "colorGraySilver": #8C979B,
        "colorGrayLight": #C3CCCB,
        "colorWhiteGray": #FCFCFC,
        "colorWhite": #FFFFFF,
        "colorYellow": #F8E71C,
        "colorOrange": #FCA032,
        "colorBlue": #4a90e2,

        /*text*/
        "baseColor": #222222,
        "baseColorSecond": #222222,
        "titleColor": #8c979b,
        /*text*/
        /*input*/
        "inputLabel": #222222,
        "inputBorder": #fcfcfc,
        "inputBackground": #fcfcfc,
        "inputBoxShadow": inset 0 1px 6px 0 rgba(0, 0, 0, 0.1),
        "inputAddonBackground": #fcfcfc,
        "inputAddonColor": #222222,
        /*input*/
        /* CheckBox */
        "checkBoxColor": #222222,
        "checkBoxBorderColor": #27AE29,
        "checkBoxBorderColordisabled": #8c979b,
        "checkBoxBackgroundColor": transparent,
        "checkBoxBackgroundColorActive": #27AE29,
        /* CheckBox */
        /* Select */
        "selectBackground": #fcfcfc,
        "selectBackgroundActive": #C3CCCB,
        "selectBackgroundHover": #C3CCCB,
        "selectBorderColor": #515b5e,
        "selectColor": #222222,
        "selectColorActive": #515b5e,
        "selectColorDisabled": #C3CCCB,
        "selectColorSecondary": #919191,
        "selectShadow":   inset 0px 1px 2px rgba(0, 0, 0, 0.1),
        /* Select */
        /* Icon */
        "iconColorHover" : fade_in(#000, 0.75),
        /* Icon */
        /* Modal */
        "modalHeaderBg" : #ffffff,
        "modalFooterBg" : #ffffff,
        /* Modal */

        /* calendar */
        "calendarBoxShadow":  0 2px 4px 0 rgba(0, 0, 0, 0.1),
        "calendarBackgroundColor":  #fcfcfc,
        "calendarBackgroundColorSelect": #f0fafc,
        /* calendar */


        /* Tabs */
        "tabsBackground": #383838,
        "tabsBorder": #383838,
        "tabsBorderActive": #979797,
        "tabsBoxShadow": 0px 2px 4px rgba(0, 0, 0, 0.5),
        /* Tabs */



        "bodyBackground": #fcfcfc,
        "bodyBackgroundEven": rgba(216, 216, 216, 0.1),

        "wraperBackground": #ffffff,
        "wraperBoxShadow": 0 1px 6px 0 rgba(0, 0, 0, 0.1),

        "borderColor": #515b5e

    ),
    dark: (
        "colorRed": #DD2233,
        "colorGreen": #27AE29,
        "colorBlack": #383838,
        "colorGrayDark": #515B5E,
        "colorGraySilver": #8C979B,
        "colorGrayLight": #C3CCCB,
        "colorWhiteGray": #FCFCFC,
        "colorWhite": #FFFFFF,
        "colorYellow": #F8E71C,
        "colorOrange": #FCA032,
        "colorBlue": #4a90e2,
        /* text */
        "baseColor": #8c979b,
        "baseColorSecond": #8C979B,
        "titleColor": #ffffff,
        /* text */
        /* Input */
        "inputLabel": #C3CCCB,
        "inputBorder": #2a2a2a,
        "inputBackground": #2a2a2a,
        "inputBoxShadow":  inset 0 2px 4px 0 rgba(0, 0, 0, 0.5),

        "inputAddonBackground": #484848,
        "inputAddonColor": #8c979b,
        /* Input */

        /* CheckBox */
        "checkBoxColor": #fafafa,
        "checkBoxBorderColor": #27AE29,
        "checkBoxBorderColordisabled": #8c979b,
        "checkBoxBackgroundColor": transparent,
        "checkBoxBackgroundColorActive": #27AE29,
        /* CheckBox */

        /* calendar */
        "calendarBoxShadow":  0 2px 4px 0 rgba(0, 0, 0, 0.5),
        "calendarBackgroundColor":  #383838,
        "calendarBackgroundColorSelect": #2a2a2a,
        /* calendar */

        /* Select */
        "selectBackground": #2a2a2a,
        "selectBackgroundActive": #fafafa,
        "selectBackgroundHover": #515b5e,
        "selectBorderColor": #2a2a2a,
        "selectColor": #8c979b,
        "selectColorActive": #2a2a2a,
        "selectColorDisabled": #C3CCCB,
        "selectColorSecondary": #919191,
        "selectShadow":   inset 0px 1px 2px rgba(0, 0, 0, 0.1),
        /* Select */
        /* Icon */
        "iconColorHover" : fade_in(#000, 0.75),
        /* Icon */
        /* Modal */
        "modalHeaderBg" : #383838,
        "modalBodyBg": #383838,
        "modalFooterBg" : #383838,
        "modalBaseColor": #fff,
        /* Modal */

        /* Tabs */
        "tabsBackground": #383838,
        "tabsBorder": #383838,
        "tabsBorderActive": #979797,
        "tabsBoxShadow": 0px 2px 4px rgba(0, 0, 0, 0.5),
        /* Tabs */

        /* Table */
        "tableBackground" : #383838,
        "tableBackgroundActive" : #979797,
        "tableBorder" : #383838,
        /* Table */

        /* Pagination */
        "pageBackgroundActive" : rgba(195, 204, 203, 0.2),
        /* Pagination */


        "bodyBackground": #2a2a2a,
        "bodyBackgroundEven": rgba(216, 216, 216, 0.1),

        "wraperBackground": #383838,
        "wraperBoxShadow":  0 2px 4px 0 rgba(0, 0, 0, 0.5),


        "borderColor": #515b5e
    )
);

@function recurse-map-merge($parent-map, $child-map) {
    $result: $parent-map;
    @each $key, $value in $child-map {
        @if (not map-has-key($result, $key)) or (type-of(map-get($result, $key)) != type-of($value)) or (not (type-of(map-get($result, $key)) == map and type-of($value) == map)) {
            $result: map-merge($result, ($key: $value));
        }
        @else {
            $result: map-merge($result, ($key: recurse-map-merge(map-get($result, $key), $value)));
        }
    }
    @return $result;
}
@function colorThemes( $data: () ) {
    $result: recurse-map-merge($defaultColor, $data);
    @return $result;
}
/* @include block-wrapper($theme-map); */
/* @include inputTextColor($theme-map); */
@mixin block-wrapper($themes) {
    border-radius: 2px;
    background-color: map-get($themes, "wraperBackground");
    box-shadow: map-get($themes, "wraperBoxShadow");
}

@mixin inputTextColor($themes) {
    background-color: map-get($themes, "inputBackground");
    box-shadow: map-get($themes, "wraperBoxShadow") inset;

    border-color: map-get($themes, "inputBackground");
    color: map-get($themes, "baseColor");

    &:focus,
    &:hover {
        background-color: lighten(map-get($themes, "inputBackground"), 1%);
        border-color: lighten(map-get($themes, "inputBackground"), 1%);
        color: darken(map-get($themes, "baseColor"), 2%);
    }
}
