@import "~antd/lib/pagination/style/index.css";
@import "~antd/lib/card/style/index.css";
//@import "~antd/lib/divider/style/index.css";
@import "~antd/lib/empty/style/index.css";
@import "~antd/lib/table/style/index.css";
@import "~Components/Exchange/ExchangeMarket";

@import "~Assets/stylesheets/base/_all";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/antd/tabs";
@import "~Assets/stylesheets/utils/mixin/antd/table";
@import "~Assets/stylesheets/utils/mixin/table";
@import "~Assets/stylesheets/utils/mixin/antd/radio";
@import "~Assets/stylesheets/utils/mixin/antd/pagination";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/response";



$themes: colorThemes((
    light: (
        "das": "#ddd"
    ),
    dark: (
        "das": "#ddd"
    )
));

.account-tabs {
    @include themify($themes) {

        width: 100%;
        padding: 0 20px;
        margin: 20px 0 0 0;
        color: themed("baseColor");

        @include deexAntdRadio($theme-map);
        @include deexAntdPagination($theme-map);
        @include deexTabs($theme-map);
        @include deexAntTable($theme-map);
        @include deexTable("dx-table");

        .ant-empty-normal {
            color: themed("baseColor");
        }

        .explorer-block {
            padding: 30px;

            &-header {
                color: themed("titleColor");
            }
            &-table {
                color: themed("baseColor");
            }

            .ant-card {
                background-color: themed('bodyBackground');
                color: themed('titleColor');
                font: {
                    size: 27px;
                    weight: normal;
                };
                min-height: 107px;
                &-head {
                    border-bottom: none;
                    color: themed('titleColor');
                    font: {
                        size: 14px;
                    };
                    padding: 20px 20px 0 20px;
                    &-title {
                        padding: 0;
                         white-space: normal;
                    }
                }
                &-body {
                    padding: 0 20px 20px;
                    font-weight: normal;
                }
                &.chart {
                    .ant-card {
                        &-body {
                          //  padding: 0 20px 10px 20px;
                        }
                    }
                }
            }

            .generic-bordered-box {
            }
        }

        .ant-input-wrapper {
            .ant-input-group-addon {
                padding: 0 10px;
            }
        }

        .ant-card {
            &.no-body {
                min-height: 40px;
                border: none;
                .ant-card {
                    &-head{
                        padding: 14px 20px;
                    }
                    &-body {
                        display: none;
                    }
                }
            }
        }

        .fees {
            padding: 20px;
            color: themed("baseColor");
        }

        .dx-table{
            &-head{
                display: none;
            }
            &-mob {
                &-row {
                    padding: 20px 15px;
                    border-top: 1px solid themed("borderColor")
                }
                &-top {
                    display: flex;
                    justify-content: space-between;
                    font: {
                        size: 14px;
                    };
                    .time,
                    small {
                        color: themed("titleColor");
                        font: {
                            size: 10px;
                        };
                    }
                }
                &-center {
                    .label {
                        padding: 0 0 3px;
                        display: block;
                        width: 100%;
                        margin: 10px 0;
                        color: themed("titleColor");
                        &.warning, &.info, &.cancel, &.alert,
                        &.success {
                            background: none;
                            border: 2px dashed transparent;
                            border-bottom: 1px dotted themed("titleColor");
                        }
                    }
                }
                &-bottom {
                    line-height: 20px;
                    a {
                        color: themed("colorGreen");
                        text-decoration: underline;
                    }
                }
            }
            &-row{
                padding: 10px 0;
                display: flex;
                justify-content: flex-start;
                color: themed("baseColor");
            }
            &-body {
                &-td{
                    margin-right: 10px;
                    .label {
                        background: none;
                        border: none;
                        color: themed("baseColor");
                        text-transform: inherit;
                        border-bottom: 1px solid themed("baseColor");
                    }
                }
            }
        }

        .assets-search {
            text-align: left;
            margin-bottom: 24px;
            .filter-setting {
                display: none;
            }
            &-group {
                display: inline-block;
                .ant-radio {
                    &-group {
                        margin: 0 0 0 24px;
                    }

                }
            }
            .search-input {
                width: 200px;
            }
            .ant-select {
                width: 150px;
                margin-left: 24px;
            }
        }

        @include respond-to(xs) {
            .assets-search {
                .search-input {
                    width: calc(100% - 50px);
                }
                &-group {
                    width: 100%;
                    padding: 10px;
                    display: none;
                    &.active{
                        display: block;
                    }
                    .ant-radio {
                        &-group {
                            margin: 0 0 20px;
                            width: 100%;
                        }
                        &-wrapper {
                            white-space: normal;
                        }
                    }
                }
                .filter-setting {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;
                    svg {
                        width: 40px;
                        height: 40px;
                        padding: 5px;
                    }
                }
                .ant-select {
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }
}