@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";

$themes: (
    light: (
        "linkSvgColor": #8c979b,
    ),
    dark: (
        "linkSvgColor": #EDEDEE,
    ),
);

.icon {
    position: relative;
    top: 1px;
}

.icon > svg,
span.icon {
    width: 1rem;
    height: 1rem;
    @include themify($themes) {
        &.icon-white {
            > svg path{
                fill: themed('linkSvgColor');
            }
        }
    }
}

.icon-12px > svg,
span.icon-12px {
    width: 12px;
    height: 12px;
}
.icon-14px > svg,
span.icon-14px {
    width: 16px;
    height: 16px;
}

.icon-32px > svg,
span.icon-32px {
    width: 32px;
    height: 32px;
}

.icon-1_5x > svg,
span.icon-1_5x {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-2x > svg,
span.icon-2x {
    width: 2rem;
    height: 2rem;
}

.icon-3x > svg,
span.icon-3x {
    width: 3.45rem;
    height: 3.45rem;
}

.icon-4x > svg,
span.icon-4x {
    width: 4.6rem;
    height: 4.6rem;
}

.icon-5x > svg,
span.icon-5x {
    width: 5.75rem;
    height: 5.75rem;
    margin: 24px 0 24px 0;
}

.icon-10x > svg,
span.icon-10x {
    width: 10rem;
    height: 10rem;
    margin: 24px 0 24px 0;
}

.icon.fill-black > svg > path {
    fill: black;
}

.icon.rotate90 > svg {
    transform: rotate(90deg);
}

.icon.darkTheme > svg {
    width: 15px;
    margin: 0 3px;
}

.icon-page {
    span.icon ,
    .icon > svg {
        width: 30px;
        height: 30px;
    }
}