html.theme-dark .wrap-3tiHesTk- .group-wWM3zP_M- {
  background-color: #383838;
}

html.theme-dark .context-menu-wrapper {

}
html.theme-dark .context-menu-wrapper {
  background-color: #383838;
  border: 1px solid #6e6c6c;
}
html.theme-dark .context-menu .action-separator td {
  border-color: #383838;
  background-color: #363c4e;
}

html.theme-dark .drawingToolbar-U3_QXRof- {
  background-color: #383838;
}
html.theme-dark .group-2JyOhh7Z- {
  background-color: #383838;
}
html.theme-dark .chart-controls-bar,
html.theme-dark .chart-page{
  background-color: #383838;
}