/*html.theme-light .wrap-3tiHesTk- .group-wWM3zP_M- {
    background-color: #383838;
}

html.theme-light .context-menu-wrapper {

}
html.theme-light .context-menu-wrapper {
    background-color: #383838;
    border: 1px solid #6e6c6c;
}
html.theme-light .context-menu .action-separator td {
    border-color: #383838;
    background-color: #363c4e;
}*/

html.theme-light .drawingToolbar-U3_QXRof- ,
html.theme-light .group-2JyOhh7Z- ,
html.theme-light .chart-controls-bar,
html.theme-light .chart-page{
    background-color: #fefefe;
}
