@import "antd";
@import "account";
@import "account-create";
@import "backup";
@import "bitkapital";
@import "blocktrades";
@import "cards";
@import "console";
@import "dashboard";
@import "exchange";
@import "existing_accounts";
@import "footer";
@import "forms";
@import "header";
@import "help";
@import "loading-indicator";
@import "modal";
@import "pagination";
//@import "rudex";
@import "settings";
@import "tables";
@import "tabs";
@import "typeahead";
@import "page404";
@import "wallet";
@import "incognito";
@import "public";
@import "m-btn";
@import "block-detect";

.lifetime {
  background: url("../fresh-bolt2.png") no-repeat 100% 50%;
  background-size: auto 80%;
  padding-right: 0.75rem;
}

.all-wrapper {
  @media screen and (min-width: 1200px) {
    height: 1536px;
  }
}

.bottom-border {
  border-bottom: 1px solid #444;
}

.linethrough {
  text-decoration: line-through;
}

.market-wrapper {
  align-items: center !important;
}

.market-wrapper > div {
  padding: 30px;
}

.overflow-auto {
  overflow: auto !important;
}

.highlight {
}

.v-hidden {
  visibility: hidden;
}