
$themes: (
    light: (
        baseColor: #515b5e,
        authBg: #ffffff,
        authInputBg: #fcfcfc,
        authBtnBorder: #7f7f7f,
        authBtnColor: #2a2a2a,
        authBtnBg: rgba(127, 127, 127, 0.1),
    ),
    dark: (
        baseColor: #C3CCCB,
        authBg: #383838,
        authInputBg: #2a2a2a,
        authBtnBorder: #7f7f7f,
        authBtnColor: #ffffff,
        authBtnBg: #474747,
    ),
);

.wallet-restore-background {
    background: #fff;
}

.backup-file-input {
    font-family: AvenirNext-Medium, AvenirNextCyr;
    height: 50px;

    .backup-file-label {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        line-height: 0.83;
        letter-spacing: -0.1px;

        color: #3b3d3d;

        padding-bottom: 9px;
    }

    .uplodad-file-input {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        width: 212px;
        height: 32px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 0.8px rgba(39, 39, 41, 0.15);

        .backup-input-text {
            margin-left: 15px;
            height: 13px;

            font-size: 10px;
            font-weight: 500;

            font-style: normal;
            font-stretch: normal;

            line-height: 1.3;
            letter-spacing: -0.1px;

            color: #8c979b;

            user-select: none;
        }

        .backup-input-label {
            text-transform: none;

            width: 63px;
            height: 24px;
            line-height: 24px;

            border-radius: 2.3px;
            background-color: #fca032;
            font-family: AvenirNext-DemiBold;

            font-size: 10px;

            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;

            margin: 0;
            margin-right: 3px;

            cursor: pointer;
        }

        input {
            display: none;
        }
    }

    .backup-uploaded-file-info {
        padding-top: 6px;
        padding-left: 8px;

        display: flex;
        flex-direction: row;

        .file-icon {
            width: 12px;
            height: 16px;
            margin-left: 2px;
            margin-top: 2px;
            margin-right: 8px;
        }

        .backup-uploaded-file {
            font-style: normal;
            letter-spacing: -0.1px;
            color: #3b3d3d;

            .backup-uploaded-file-name {
                font-family: AvenirNext-DemiBold;

                font-size: 10px;
                font-weight: 600;
                line-height: 1;
            }

            .backup-uploaded-file-size {
                font-family: AvenirNext-Regular;

                padding-top: 2px;

                font-size: 9px;
                font-weight: normal;
                line-height: 1.11;
            }
        }

        .backup-reset-button {
            width: 11px;
            height: 11px;
            padding-left: 5px;
            margin-left: 4px;
            margin-top: -1px;

            color: #8c979b;

            user-select: none;
            cursor: pointer;
        }
    }
}

.autorithation-page {
    .restore-backup {
        width: 100%;
        @include themify($themes) {
            background-color: #ffffff;
            &__header {
                display: flex;
                justify-content: center;
                padding-top: 43px;
            }
            &__logo {
                width: 110px;
                height: auto;
            }
            &__lang {
                position: absolute;
                top: 36px;
                right: 64px;
            }
            &__title {
                font-size: 38px;
                font-weight: 600;
                text-align: center;

                margin-top: 72px;
                margin-bottom: 12px;

                color: #3b3d3d;
            }
            &__text {
                width: 440px;
                font-size: 15px;
                font-weight: 500;
                text-align: center !important;
                font-family: AvenirNext-Medium;

                margin: 0 auto;
                color: #8c979b;
                line-height: 1.43;
                letter-spacing: -0.1px;
            }
            &__container {
                 @include uploadInput("backup-file", $theme-map);
            }
            &__form {
                position: relative;
                margin-top: 24px;
                &-label {
                    position: absolute;
                    top: 14px;
                    left: 24px;
                    margin-bottom: 0;
                    letter-spacing: -0.1px;
                    span {
                        font-size: 12px;
                        font-weight: 500;
                        color: rgba(39, 39, 41, 0.32) !important;
                        text-transform: none;
                    }
                }
                &-input {
                    border: 1px solid themed("authInputBg");
                    background-color: themed("authInputBg");
                    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

                    &:hover {
                        background-color: themed("authInputBg");
                    }
                }
                &-button1 {
                    width: 100%;
                    height: 40px;
                    margin: 0;
                    margin-top: 64px;

                    font-size: 13px;
                    font-weight: bold;
                    text-transform: none;

                    background-color: #de2233 !important;
                    color: #fff !important;
                    border: 0 !important;
                    border-radius: 3px;

                    span {
                        line-height: 20px;
                    }
                    &:hover {
                        background: #cc2233 !important;
                    }
                }

                .btn {
                    width: 200px;
                    margin: 0 auto;
                    display: block;
                }
            }
            &__link {
                margin-top: 69px;
                font-size: 13px;
                text-align: center;

                color: #8c979b;
                a {
                    color: #de2233;
                    &:hover {
                        color: #cc2233;
                    }
                }
            }
            &__description {
                margin-top: 10px;
                font-size: 14px;
            }

        }
    }
}
