.ad-block-detect {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #dd2233;
    color: #ffffff;
    &-title {
        font: {
            size: 19px;
        };
    }
    &-sub-title {
        font: {
            size: 15px;
        };
    }

}