.exchange {

}

.deepth-chart {
    border: 1px solid #d1d4db;
    border-radius: 4px;
    margin-top: 20px;
}
.order-book {
    margin-top: 20px;
}

.market-layout {
    > .grid-block {
        // padding: 0.25rem 0.25rem 0.25rem 0.25rem !important;
    }

    > .left-column {
        border: none;
    }

    .right-column {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border: none;
    }
}

.top-bar {
    .shuffle {
        margin: 0 10px;
    }

    ul {
        line-height: 1.2;
    }
}

.exchange-left-column {

}

.markets {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #d1d4db;
    max-height: 435px;
    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}

.market-content {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

[class*="block-grid-"] > li {
    height: auto;

    padding: 0 0.625em 1.25em;
}

.order-table {
    width: 100%;

    &.fixed-table {
        table-layout: fixed;
        text-align: right;
    }

    > thead > tr > th {
        font-size: 14px;
        padding: 5px 5px;
        text-align: right;
    }

    > tbody > tr > td {
        font-size: 12px;
        padding-bottom: 4px;
    }
}

.my-orders {
    width: 48% !important;
    display: inline-table;
}

p.order-table-title {
    display: none;
}

.notification,
.notification.success,
.notification.info,
.notification.warning,
.notification.alert,
.notification.cancel {
    font-size: 0.75rem;
}

.backingWarning {
    color: yellow;
}
.backingError {
    color: red;
}

.bid-form {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.ask-form {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.order-form div .buySellButton {
    width: calc(100% + 22px);
    margin: 10px -11px -20px !important;
    border-radius: 0 0 4px 4px !important;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

.order-form div .buySellButton.disabled {
    opacity: 1;
    cursor: default;
}

form.order-form {
    padding: 10px;
}

#market-charts {
    padding-left: 10px;
    > div.Stockcharts__wrapper {
        overflow: hidden;
    }
    > div > div.tabs {
        margin-bottom: 0.25rem;

        .tab-item {
            padding-top: 0.1rem;
        }
    }
}

.left-order-book {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    table {
        width: 100%;
        table-layout: auto;
        th {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
        }
    }
    .transition-container {
        display: table-row-group;
    }
    > .table-container {
        flex-grow: 1;
        width: 100%;
        position: relative;
    }
    .my-order {
        font-weight: bold;
    }
    .no-orders {
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
        &.padtop {
            padding-top: 1em;
        }
    }
    .ps-scrollbar-y-rail {
        width: 10px !important;
        .ps-scrollbar-y {
            width: 6px !important;
        }
    }
    .cell {
        display: table-cell;
        font-size: 0.875rem;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        text-align: right;
        &.header-cell {
            padding-top: 0;
            padding-bottom: 0;
        }
        $scrollBarSpacePadding: 15px;
        &.left,
        &.right {
            padding-left: $scrollBarSpacePadding;
            padding-right: $scrollBarSpacePadding;
        }
        .text-center.spread {
            color: grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .lock-unlock {
                margin-left: auto;
                margin-right: auto;
            }
            .left {
                padding-left: $scrollBarSpacePadding;
            }
            .right {
                padding-right: $scrollBarSpacePadding;
            }
        }
    }
    .bottom-header {
        width: 100%;
        height: 40px;
        .button.outline {
            border-left: none;
        }
    }
    .order-table-container {
        width: 100%;
        height: calc(100% - 32px);
    }
    .top-header {
        text-align: right;
        height: 31px;
    }
}

.empty-open-orders {
    //background: #f1f3f5;
    color: #919c9f;
    height: 190px;
    font-size: 13px;
}

.empty-open-orders svg path {
    fill: #d1d4db !important;
}

.empty-open-orders svg {
    width: 47px !important;
    height: 44px !important;
}

.final-row > td {
    border-bottom: none !important;
}

.left-orderbook-header {
    width: 100%;
    font-size: 0.75rem;
    flex-direction: column;
}

.top-header {
    padding-bottom: 0.25rem;
}
.bottom-header {
    padding-top: 0.25rem;
    > .horizontal-button {
        height: 100%;
        width: 100%;
        border-bottom: none !important;
        border-right: none !important;
    }
}

tr.top-header,
tr.bottom-header,
tr.spread-row {
    &:hover > td {
        background-color: inherit !important;
        cursor: pointer !important;
    }
}

.chart-label {
    z-index: 5;
    position: absolute;
    right: 0;
    font-size: 15px;
    border: 1px black solid;
    vertical-align: middle;
}

a.order-cancel {
    font-size: 90%;
    letter-spacing: 2px;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    margin: 0;
}

.stats {
    overflow: visible;
}

.market-stats {
    > li {
        display: inline-block;
        padding-right: 0.5rem;
    }
}

div.market-stats-container {
    // border-bottom: 1px solid $border-color;
    justify-content: space-between;
}

ul.market-stats {
    font-size: 0.75rem;
    display: flex;
    flex-wrap: wrap;

    .symbol-text {
        font-size: 11px;
        font-weight: 500;
        line-height: 0.82;
    }
}
.market-stats .stat {
    text-align: left;
    font-size: 0.75rem;
    overflow: hidden;
}

.market-stats .stat .value {
    font-size: 18px;
    color: #000;
    letter-spacing: normal;
}

.label-actions .icon {
    position: relative;
    top: 4px;
}

.stats {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.top-stats li {
    /*border-right: 1px solid $border-color;*/
    min-height: 42px;
}

.bottom-stats li {
    // border-right: 1px solid $border-color;
}

.stats .stat {
    text-align: center;
    padding: 2px 5px;
    vertical-align: middle;

    > span {
        > span:first-of-type {
            padding-right: 5px;
            @include RobotoMedium;
        }
    }
}

.stats div.indicators {
    text-transform: uppercase;
    height: 100%;
}

.stats .stat:first-child {
    border-left: none;
}

.market-symbol {
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
}

div.bucket-option {
    line-height: 1;
    cursor: pointer;
    text-transform: none !important;
    margin-right: 3px;
    user-select: none;
}

.active-bucket {
    text-transform: uppercase;
}

.bottom-row {
    border-top: #a09f9f 1px dotted;
    padding-top: 5px !important;
}

.borrow-button {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    font-size: 0.8rem;
}

.borrow-button-container {
    padding-left: 0.25rem;

    > div:last-of-type {
        margin-bottom: 0.2rem;
    }
}

.order-change {
    transition: all 3s ease;
    background: #343434;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.borrow-price-label {
    display: inline-block;
    min-width: 40%;
}

.borrow-price-final {
    border-top: #a09f9f 1px dotted;
    padding-top: 5px !important;
}

.borrow-price-feeds {
    padding-bottom: 8px;
}

.middle-content {
    margin-bottom: 10px;
}

.market-right-padding-only {
    padding: 0 0.6rem 0 0 !important;
}

.mymarkets-header {
    width: 50%;
    font-size: 0.9375rem;
    max-height: 40px;
    transition: border-color 0.3s ease 0s;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mymarkets-header:first-child:after {
    content: "";
    position: absolute;
    height: 20px;
    border-right: 1px solid #d1d4db;
    right: 0;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
}

.exchange-content-header {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    overflow: hidden;
    width: 100%;
}

.mymarkets-base-select {
    margin: 0;
    padding: 0;
    height: inherit;
    font-size: inherit;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.markets select {
    width: 124px;
    border-radius: 2px;
}

.mymarkets-list {
    font-size: 11px;
    padding: 0;
    font-size: 0.75rem;

    .table > tbody tr td {
        //color: #2a2a2a;
        font-size: 11px !important;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .table > tbody tr td:first-child {
        padding-left: 15px;
    }

    .table > tbody tr td:last-child {
        padding-right: 15px;
    }
}

table thead tr th.mymarkets-header {
    padding-bottom: 9px !important;
}

.title-star {
    width: 1.25rem;
    height: 1.25rem;
    padding-right: 0.25rem;
}

.blue-icon > svg > path {
    fill: #de2233 !important;
}

.gold-star > svg > path {
    fill: #ffc700 !important;
}

.grey-star > svg > path,
.grey-shuffle > svg > path {
    fill: #d1d4db !important;
}

.star-container:hover .gold-star > svg > path {
    fill: lighten(#ffc700, 10%) !important;
}

.shuffle:hover > svg > path {
    fill: lighten(#d1d4db, 20%) !important;
}

.grey-star:hover > svg > path {
    fill: #ffc700 !important;
}

@media (max-width: 570px) {
    .hide-order-1 {
        display: none !important;
    }
}
@media (max-width: 720px) {
    .hide-order-2 {
        display: none !important;
    }
}
@media (max-width: 880px) {
    .hide-order-3 {
        display: none !important;
    }
}
@media (max-width: 1020px) {
    .hide-order-4 {
        display: none !important;
    }
}
@media (max-width: 1180px) {
    .hide-order-5 {
        display: none !important;
    }
}

.no-data {
    position: relative;
    left: 45%;
    top: 200px;
    z-index: 999;
    text-transform: uppercase;
    font-size: 2rem;
}

.market-right-padding {
    padding-right: 15px !important;
}

.orderbook-showall {
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid $border-color;
    font-size: 12px;
}

.newrow-enter.newrow-enter-active {
    animation: flash 1.25s;
    animation-timing-function: ease-out;
}

@keyframes flash {
    0% {
        background-color: #6b6b6b;
    }
    100% {
        background-color: transparent;
    }
}

.mymarkets-tabs {
    width: 100%;
    list-style: none;
    margin: 0;
    margin-top: 5px;

    > li {
        padding: 3px;
        font-size: 12px;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }
}

.dropdown-container {
    border: 1px solid #d1d4db;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    width: 120px;
}

.dropdown-container.long {
    width: 180px;
}

.dropdown-container .dropdown-header {
    padding: 0 10px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDAwMDAiLz4KICA8L2c+Cjwvc3ZnPgo=);
    background-position: 100px center;
    background-repeat: no-repeat;
    background-size: 10px;
    height: 100%;
}

.dropdown-container.long .dropdown-header {
    background-position: 160px center;
}

.dropdown-container .dropdown-header:hover {
    background-color: #f1f3f5;
}

.dropdown-container .dropdown-options {
    display: none;
    position: relative;
    z-index: 3000;
    width: calc(100% + 2px);
    background: #fff;
    border: 1px solid #d1d4db;
    border-radius: 0 0 2px 2px;
    border-top: none;
    margin: 0 -1px;
}

.dropdown-container:hover .dropdown-options {
    display: block;
}

.dropdown-container .dropdown-options .dropdown-option {
    padding: 0 10px;
    border-top: 1px solid #d1d4db;
}

.dropdown-container .dropdown-options .dropdown-option:hover,
.dropdown-container .dropdown-options .dropdown-option.active {
    background-color: #f1f3f5;
}

.buysell-select {
    background: none !important;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    text-align: left;
}

form.hide-container {
    display: none;
}

.custom-dropdown {
    position: relative;
    overflow: visible !important;
    z-index: 9;

    > div.custom-dropdown-content {
        position: absolute;
        z-index: 99;
        top: 29px;
        //++marat
        left: auto;
        right: 0;
        // left: 0;
        // right: auto;
        min-width: 15rem;
        > ul {
            margin: 0;
            list-style: none;
            text-align: left;
            font-size: 0.75rem;

            input {
                //font-size: 0.8rem;
                //height: 1.25rem;
                //max-width: 40px;
                //display: inline-block;
            }
            > li {
                position: relative;
                &.indicator-title {
                    text-transform: uppercase;
                }
                padding: 5px;
                min-width: 5rem;
                border: none;
                &.indicator {
                    > div:first-of-type {
                        display: inline-block;
                        padding-left: 25px;
                        width: 60%;
                    }
                    > div:nth-of-type(2) {
                        width: 40%;
                        text-align: right;
                        display: inline-block;
                    }
                }
                > input {
                    position: absolute;
                    top: 5px;
                }
            }
        }
    }
}

.buy-sell-deposit {
    font-size: 85%;
    padding-left: 10px;
    text-transform: none;

    > a > span.asset-name {
        text-transform: none;
    }
}

.marketPicker {
    border: 1px solid black;
    position: absolute;
    z-index: 100;
    width: 400px;
    min-height: 300px;
    padding: 10px;

    .marketPicker__header {
        padding: 0 5px;
        margin-top: 1px;

        .marketPicker__title {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .marketPicker__filterType {
            float: right;
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 16px;
            padding-bottom: 5px;
        }

        .marketPicker__filterHeader {
            float: left;
            margin-top: 5px;
        }
    }

    .marketPicker__subHeader {
        padding: 10px 5px 0px 5px;
        font-size: 1rem;
    }

    input {
        font-size: 11px;
        position: relative;
        top: 1;
        border-radius: 2px;
        max-height: 28px;
        color: #8c979b;
    }

    select {
        font-size: 11px;
        max-height: 28px;
        border-raduis: 2px;
        min-width: 124px;
    }

    .results {
        padding: 10px;
        max-height: 300px;
        min-height: 100px;
        overflow: auto;
        overflow-x: hidden;

        li {
            list-style-type: none;
            border-bottom: 1px solid black;
        }
    }
}

/* ----------------------------------------------------------- */

input {
    //text-transform: uppercase;
}

input[type="text"] {
    //height: 28px;
    //font-size: 11px;
}

select {
    height: auto;
    font-size: 11px;
    padding: 7px 15px;
    @media screen and (min-width: 1280px) {
        width: 124px;
    }
}

.markets {
    margin-right: 30px;
}

.top-margin {
    margin-top: 30px;
}

.all-borders {
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    background-color: #fff;
}

.top-chart {
    margin-bottom: 30px;
}

.b-bottom {
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: 1px;
}

.b-top {
    border-style: solid;
    border-top-width: 1px;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.chart-header {
    padding: 12px 15px;
}

.text-right-imp th {
    text-align: right !important;
}

.border-row {
    border: 1px solid #d1d4db;
    border-radius: 4px;
    margin-bottom: 10px;
}

.border-row input {
    border: none !important;
    text-align: left;
    padding: 0.4rem;
}

.border-row .buy-sell-box {
    border-radius: 0;
    background-color: #f1f3f5;
    text-align: right;
    display: block;
    padding: 0 10px;
    color: #8c979b;
}

.buy-buttons {
    margin: 15px 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.buy-buttons .sell-button,
.buy-buttons .buy-button {
    background: #fcfcfc;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    overflow: hidden;
}

.buy-buttons .buy-button {
    border: 1px solid #d1d4db;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.buy-buttons .sell-button {
    border: 1px solid #d1d4db;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.buy-buttons .sell-button.active-btn,
.buy-buttons .sell-button:hover {
    background: #de2233;
    border-color: #de2233;
    color: #fff;
}

.buy-buttons .buy-button.active-btn,
.buy-buttons .buy-button:hover {
    background: #74bc2a;
    border-color: #74bc2a;
    color: #fff;
}

.order-table.red-table tr td,
.order-table.red-table tr:hover td {
    //background: #fef2f2 !important;
}

.order-table.green-table tr td,
.order-table.green-table tr:hover td {
    //background: #f8fef2 !important;
}

th.price-right {
    text-align: right !important;
}

th.price-left {
    text-align: left !important;
}

.market-table tr th {
    text-align: right !important;
}

.market-table tr th:first-child,
.market-table tr td:first-child {
    text-align: left !important;
    padding-left: 10px;
}

.market-table tr th:last-child,
.market-table tr td:last-child {
    padding-right: 10px;
}

.orders-container table tr th:first-child,
.orders-container table tr td:first-child {
    padding-left: 10px;
}

.orders-container table tr th:last-child,
.orders-container table tr td:last-child {
    padding-right: 10px;
}

table.market-table tr td,
table.market-table tr:hover td {
}

.deepth-chart {
    margin-bottom: 30px;
}

.table > thead > tr > th {
    font-size: 11px !important;
}

.right-divider,
.right-divider-big {
    position: relative;
}

.right-divider,
.right-divider-big {
    &:after {
        content: "";
        position: absolute;
        height: 60%;
        border-right: 1px solid #d1d4db;
        right: 0;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.right-divider-big {
    &:after {
        height: 100%;
    }
}

.stat-text {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.value {
    font-size: 20px;
}

.label {
    border: none;
    border-radius: 2px;
}

.mymarkets-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    height: 40px;
}

.exchange-bordered {
    border: none !important;
    margin: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}

.buy-sell-container .order-form .buy-sell-box {
    //background-color: #f1f3f5 ;
    font-weight: 400 !important;
}

#custom-dropdown {
    margin-top: 1px;
}

#custom-dropdown .dropdown-wrapper {
    padding: 7px 15px !important;
}

#custom-dropdown .dropdown-wrapper.active ul.dropdown {
    min-width: 174px;
    top: 27px;
    border: 1px solid #d1d4db !important;
    border-top: none;
}

#custom-dropdown .dropdown-wrapper ul.dropdown li {
    border-top: 1px solid #d1d4db;
    background: #fff;
}

#custom-dropdown .dropdown-wrapper ul.dropdown li:first-child {
    border-top: none;
    background: #fff;
}

#custom-dropdown .dropdown-wrapper ul.dropdown li:hover {
    background: #f1f3f5 !important;
}

#custom-dropdown .dropdown-wrapper ul.dropdown li span {
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding: 0 10px;
}

#custom-dropdown .dropdown-wrapper ul.dropdown li:hover span {
    color: #3d3d3d;
}

.text-right-imp {
    text-align: right !important;
}

// tr.hover-tr:hover td {
//     background-color: #f1f3f5 !important;
// }

.grid-block.vertical.all-wrapper,
//.grid-block.vertical.market-wrapper,
//.grid-block.vertical.market-wrapper > .grid-block.page-layout,
//.lightTheme .grid-block.page-layout,
.grid-block.shrink.right-column.vertical.show-for-medium.exchange-left-column,
.grid-block.main-content.vertical.no-overflow,
.grid-block.no-overflow.wrap.shrink,
.show-for-medium.shrink.footer .grid-block.shrink,
.grid-block.main-content.vertical.no-overflow .grid-block.vertical.no-padding,
.order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-12 {
    //background-color: #fcfcfc !important;
}

.grid-block.vertical.shrink.all-borders.deepth-chart
    .grid-block.vertical.no-padding {
    background-color: transparent !important;
}

.all-borders.top-margin.without-bottom {
    background-color: #fff;
    border-bottom: none;
}

.star-container {
    width: 15px;
    height: 15px;
}

.icon.shuffle.shuffle svg path {
    fill: #df2536 !important;
}

.grid-block.vertical.market-wrapper {
}

.icon.shuffle.shuffle svg {
    width: 18px;
    height: 14px;
}

.star-container svg {
    width: 11px !important;
    height: 10px !important;
}

@media (max-width: 1280px) {
    .grid-block.vertical.market-wrapper {
        width: 1280px;
    }


}

.shrink.left-orderbook-header.bottom-header {
    background: transparent;
}

.text-left-imp {
    text-align: left !important;
}

.expiration-datetime-picker {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 0 auto;
    .datepicker-input {
    }
}
