@import "../../../assets/stylesheets/base/colors";
@import "../../../assets/stylesheets/base/image";
@import "../../../assets/stylesheets/utils/all";

$themes: (
    light: (
        backgroundColor: #2a2a2a,
        borderColor: #383838,
        baseColor: #8c979b,
        statusColor: #ffffff,
        newsBackgroundColor: #8c979b,
        newsColor: #ffffff,
        newsTitleColor: #383838,
        newsTitleBg: #ffffff,
        newsBorder: #d1d4db,

        chatBroName: #8c979b,
        chatBroTitleColor: #383838,
        chatBroTitleBg: #ffffff,
    ),
    dark: (
        backgroundColor: #2a2a2a,
        borderColor: #383838,
        baseColor: #8c979b,
        statusColor: #ffffff,
        newsBackgroundColor: #8c979b,
        newsColor: #ffffff,
        newsTitleColor: #ffffff,
        newsTitleBg: #383838,
        newsBorder: #515b5e,

        chatBroName: #ffffff,
        chatBroTitleColor: #ffffff,
        chatBroTitleBg: #383838,
    ),
);

.footer {
    @include themify($themes) {
        height: 50px;
        border-top: 1px solid themed('borderColor');
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: themed('backgroundColor');
        z-index: 100;
        margin-top: auto;
        @include respond-to(xs) {
            position: relative;
            height: auto;
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include respond-to(xs) {
                flex-direction: column;
            }

        }
        &-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        &-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-connection-status {
            font-size: 9px;

            width: 265px;
            height: 50px;
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            > a {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                text-transform: uppercase;
                text-align: left;

                > span {
                    margin-right: 5px;
                    color: themed("statusColor");
                }
            }

            @include respond-to(xs) {
                width: 100%;
                background-color: #474747;
                justify-content: flex-start;
                padding: 0 10px;
            }
        }
        &-group-one {
            margin: 0 30px;
            &-link {
                display: inline-flex;
                vertical-align: middle;
                padding: 0 5px;
                color: themed('baseColor');
                font: {
                    size: 15px;
                };
                .icon {
                    margin-right: 5px;
                }
            }

            @include respond-to(xs) {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 10px 0;
                &-link {
                    line-height: 25px;
                }
            }
        }
        &-group-two {
            &-link {
                display: inline-flex;
                vertical-align: middle;
                padding: 0 5px;
                color: themed('baseColor');
                font: {
                    size: 15px;
                };
                .icon {
                    margin-right: 5px;
                }
            }
            @include respond-to(xs) {
                display: flex;
                flex-direction: column;
                margin: 0;
                width: 100%;
                padding: 10px 0;
                &-link {
                    text-align: left;
                    line-height: 25px;
                }

            }
        }
        &-group-social {
            border-left: 1px solid themed('borderColor');
            padding-left: 15px;
            margin-right: 15px;
            &-wrap {
                display: flex;
            }
            &-link {
                display: inline-flex;
                vertical-align: middle;
                padding: 0 5px;
                color: themed('baseColor');
                font: {
                    size: 15px;
                };
                .icon {
                    margin-right: 5px;
                }
            }

            @include respond-to(xs) {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                &:first-child {
                    flex-direction: column;
                    margin: 0;
                    border: none;
                    align-items: center;
                    width: 60px;
                }
                &:last-child {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-around;
                    align-items: center;
                    text-align: center;
                    margin: 0;
                    padding: 0 0 0 10px;
                    width: 211px;
                }
                &-link {
                    width: 40px;
                    text-align: center;
                    display: inline-block;
                    padding: 5px 0;
                }
            }
        }
        &-group-news {
            margin-right: 30px;
            margin-top: -2px;
            position: relative;
            &-link {
                background-color: themed('newsBackgroundColor');
                color: themed('newsColor');
                display: flex;
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                cursor: pointer;


            }

            .news-window {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 440px;
                height: 270px;
                background-color: themed('newsTitleBg');

                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                &-title {
                    height: 40px;
                    border-bottom: 1px solid themed('newsBorder');
                    background-color: themed('newsTitleBg');
                    color: themed('newsTitleColor');
                    line-height: 40px;
                    padding: 0 15px;
                    font: {
                        size: 15px;
                        weight: 400;
                    };
                    position: relative;
                }
                &-list {
                    display: inline-flex;
                    justify-content: flex-start;
                    padding: 15px 10px;
                    width: 100%;
                    box-sizing: border-box;

                    background-color: themed('newsTitleBg');
                    color: themed('newsTitleColor');
                }
                &-close {
                    position: absolute;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background: url(map-get($icon, "close")) no-repeat center transparent;
                    background-size: contain;
                    top: 10px;
                    cursor: pointer;
                }
            }
            .news-item {
                width: 33%;
                color: themed('newsTitleColor');
                padding-right: 10px;
                box-sizing: border-box;

                &:last-child {
                    padding-right: 0;
                }

                & + .news-item {
                    padding-left: 10px;
                    border-left: 1px solid themed('newsBorder');

                }
                &-title{
                    font: {
                        size: 11px;
                        weight: bold;
                    };
                    text-transform: uppercase;
                    margin-top: 5px;
                    line-height: 14px;
                }
                &-time{
                    font: {
                        size: 8px;
                    };
                }
                &-content{
                    height: 156px;
                    overflow: hidden;
                }
                &-link{
                    width: 100%;
                    height: 20px;
                    display: block;
                    margin-top: 5px;
                    font: {
                        weight: bold;
                    };
                    i {
                        display: inline-block;
                        width: 15px;
                        height: 10px;
                        background: url(map_get($icon, "arrow-right-green")) no-repeat left center transparent;
                        background-size: contain;
                    }
                }
                &-desc{
                    font: {
                        size: 10px;
                    };
                    margin-top: 10px;
                    p {
                        margin: 0;
                        line-height: 14px;
                        font: {
                            size: 10px;
                        };
                    }
                }
            }
        }
        &-group-chat {
            margin-right: 30px;
            margin-top: -2px;
            position: relative;
            &-link {
                background-color: themed('newsBackgroundColor');
                color: themed('newsColor');
                display: flex;
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                cursor: pointer;


                i {
                    width: 21px;
                    height: 20px;
                    border-radius: 11px;
                    background-color: #dd2233;
                    color: white;
                    position: absolute;
                    right: -6px;
                    top: -5px;
                    font: {
                        size: 11px;
                        weight: 600;
                        style: normal;
                    };
                    line-height: 20px;
                    text-align: center;
                }

            }

            .chat-window {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 440px;
                height: 440px;
                background-color: white;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                transition: bottom linear 0.1s;
                &-title {
                    height: 40px;
                    border-bottom: 1px solid #d1d4db;
                    color: themed("chatBroTitleColor");
                    background-color: themed("chatBroTitleBg");
                    line-height: 40px;
                    padding: 0 15px;
                    font: {
                        size: 15px;
                        weight: 400;
                    };
                    position: relative;
                }
                &-list {
                    display: inline-flex;
                    justify-content: flex-start;
                    padding: 0;
                    width: 100%;
                    box-sizing: border-box;
                }
                &-close {
                    position: absolute;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background: url(map-get($icon, "close")) no-repeat center transparent;
                    background-size: contain;
                    top: 10px;
                    cursor: pointer;
                }
                &.visible-hidden {
                    bottom: -440px;
                }
            }

            .chatbro_messages .chatbro_message_auth_name a {
                color: themed("chatBroName");
            }

        }

        &-top{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px;
            border-bottom: 1px solid themed('borderColor');
        }
        &-bottom,
        &-center {
            width: 100%;
        }
    }
}

.logo svg {
    width: 1.75rem !important;
    height: 1.75rem !important;
}

@media screen and (min-width: 640px) {
    .footer-fixed {
        position: fixed;

        bottom: 10px;
        right: 10px;
        z-index: 10000;

        .footer-inner {
            border-radius: 3px;
            font-family: "AvenirNext-DemiBold";
            background: #2a2a2a;

            display: flex;
            flex-direction: column;

            margin-left: 15px;
            margin-right: 15px;

            .footer-connection-status {
                display: flex;
                flex-direction: row;
                align-items: center;

                padding-top: 12px;
                padding-bottom: 5px;

                font-size: 9px;
                font-weight: 600;
                line-height: 1.22;

                color: #fff;

                white-space: nowrap;

                .footer-latency {
                    padding-right: 13px;
                    padding-left: 5px;
                }

                .footer-latency-status {
                }

                .footer-success {
                    color: #74bc2a;
                }

                .footer-warning {
                    color: #de2233;
                }

                .footer-latency::after {
                    content: "•";
                    width: 13px;
                    position: absolute;
                    text-align: center;
                    color: #8c979b;
                }
            }

            .footer-head-block-id {
                padding-bottom: 12px;

                font-size: 9px;
                font-weight: 500;
                line-height: 1.22;

                color: #8c979b;
            }
        }
    }
}

.footer-latency {
    &-reconnect {
        color: #00A000;
        border-bottom: 1px dashed ;
        cursor: pointer;
    }
    &-indicator {
        display: flex;
        flex-direction: row;

        align-items: flex-end;
        justify-content: space-between;

        width: 13px;
        height: 8px;
        min-width: 13px;

        .latency-indicator {
            background: #8c979b;
        }

        .latency-indicator.latency-bad.indicator-small {
            background: #de2233;
        }

        .latency-indicator.latency-normal:not(.indicator-big) {
            background: #ffc700;
        }

        .latency-indicator.latency-good {
            background: #74bc2a;
        }

        .indicator-small {
            width: 3px;
            height: 2px;
        }

        .indicator-medium {
            width: 3px;
            height: 5px;
        }

        .indicator-big {
            width: 3px;
            height: 8px;
        }
    }
}
