@import "~Assets/stylesheets/utils/mixin/form";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        userMenu: (
            linkColor: #222222,
            linkColorDisabled: #c8c8c8,
            background: #ffffff,
            borderActive: #dd2233
        ),
    ),
    dark: (
        userMenu: (
            linkColor: #ffffff,
            linkColorDisabled: #c8c8c8,
            background: #383838,
            borderActive: #dd2233
        ),
    ),
));

.header.menu-group {
    justify-content: flex-start;
}

.icon > svg {
    > path {
        // fill: #fff;
    }
}

.float-left > span.icon.user {
    top: 0;
}

.header {
    .electron-navigation > ul > li {
        border: none;
    }
    &.primary {
        border-bottom: none;
    }
    padding-left: 0 !important;
    // min-height: 64px;
    // text-transform: uppercase;
    .menu-bar > li {
        padding: 0;
        border-right: none;
        > a {
            font-weight: 500;
            line-height: 1.8rem;
            padding: 0;
            //padding-left: 1.25rem;
            //padding-right: 0.75rem;
            font-size: 15px;
            @include breakpoint(large) {
                //padding-left: 0.94rem;
                //padding-right: 0.94rem;
            }
        }
    }

    div.account-drop-down div.total-value {
        text-align: right;
        font-size: 80%;
        line-height: initial;
    }
}

div.header-balance {
    a {
        font-size: 90%;
        font-weight: bold;
        &:hover {
            background-color: transparent !important;
        }
    }
}

div.account-drop-down {
    font-size: 90%;
    .dropdown-divider {
        padding-bottom: 10px;
    }
    a.button {
        font-weight: bold;
        font-size: 90%;
        background-color: transparent;
    }
    a:active.button,
    a:hover.button {
        background-color: transparent !important;
    }
}

div.header-right-menu {
    > .grp-menu-item {
        border-left: none;
        line-height: 1;

        > a {
            @include breakpoint(large) {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }
        }
    }
}

.grp-menu-items-group {
    flex-flow: row nowrap;
    display: flex;
    justify-content: flex-end;
}

.grp-menu-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    > a,
    .button {
        padding: 0.5rem;
        @include breakpoint(large) {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
        font-size: 1rem;
    }
}

.user-icon > a {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.lower-case {
    text-transform: lowercase;
}

div.account-drop-down div.dropdown-wrapper {
    padding: 0;

    > li {
        list-style: none;
        > div.table-cell {
            padding: 15px 5px 14px 5px;
            text-align: center;
            vertical-align: middle;

            &:nth-child(2) {
                text-align: left;
                padding-left: 15px;
                padding-right: 20px;
            }
        }
    }
    > ul {
        padding-bottom: 0;
    }
    &.active {
        > ul {
            padding-bottom: 5px;
        }
    }
}

div.account-drop-down div.account-dropdown-wrapper {
    > li {
        > div.table-cell {
            height: 64px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

div.account-drop-down div.menu-dropdown-wrapper {
    > li {
        width: 64.55px;

        > div.table-cell {
            height: 64px;
            padding: 23px 5px 24px 5px;
        }
    }
}

ul.dropdown.account-asset-cash-header-menu {
    transition: padding 0s, height 3s linear;
    border: none;
    z-index: 1004;
    > li {
        height: 29.3px;
        padding: 3px 10px;
        margin-left: 5px;
        margin-right: 5px;

        &:first-child {
            margin-top: 8px;
        }

        &:last-child {
            margin-bottom: 5px;
        }

        > div {
            vertical-align: middle;
        }

        > div:first-of-type {
            > span.icon > svg {
                height: 1.5rem;
                width: 1.5rem;
            }
        }

        a {
            color: #0e111e;
        }
    }
}
ul.dropdown.app-menu-header-menu {
    transition: padding 0s, height 3s linear;
    border: none;
    z-index: 1004;
    > li {
        height: 29.3px;
        padding: 3px 10px;
        margin-left: 5px;
        margin-right: 5px;
        &:first-child {
            margin-top: 8px;
        }
        &:last-child {
            margin-bottom: 5px;
        }
        > div {
            vertical-align: middle;
        }
        > div:first-of-type {
            > span.icon > svg {
                height: 1.5rem;
                width: 1.5rem;
            }
        }

        a {
            color: #0e111e;
        }

        &.disabled {
            color: grey;
            cursor: not-allowed;
            opacity: 50%;

            svg > path {
                fill: grey !important;
            }
        }
        &.has-submenu {
            position: relative;
            &:after {
                content: ">";
                position: absolute;
                right: 10px;
                margin-top: -13.5px;
                top: 50%;
            }
        }
        &.parent-item {
            .parent-item-icon {
                margin-right: 10px;
            }
        }
    }
    li.mobile-only {
        display: none;
    }
    li.desktop-only {
        display: block;
    }
}

.account-summary {
    text-align: right;
    line-height: initial;
    display: inline-block;

    .icon {
        margin-right: 5px;
    }

    svg path {
        fill: #fff;
    }
}

.account-name .icon {
    margin-right: 5px;
}

.active-account {
    padding-right: 10px;
}

.header-container {
    @include themify($themes, 'userMenu') {
        //min-height: 60px;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 103;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

        &-wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            &.menu-nav {
                padding: 0 10px;
            }
            @include respond-to(xs) {
                min-height: 60px;

                &.menu-nav {
                    flex-direction: column;

                }
            }
        }
        &-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
                padding: 20px 15px;
                align-items: center;
                height: 100%;
                display: flex;
            }
        }
        &-right-scrooge {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
                padding: 0 15px;
                align-items: center;
                height: 100%;
                display: flex;
            }
        }
        &-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-right: 1px solid #3d3d3d;
        }
        .header-link {
            font: {
                size: 15px;
                weight: 500;
            };
            color: #8c979b;
            padding: 0 15px;
            line-height: 60px;
            border-right: 1px solid #191919;
            border-left: 1px solid #3d3d3d;
            &.active {
                color: #ffffff;
                background-color: #222222;
                @include respond-to(xs) {
                    border-bottom: 2px solid themed("borderActive");
                }
            }
            &:hover {
                color: #fff;
                @include respond-to(xs) {
                    color: #ffffff;
                }
            }


        }

        span.icon {
            width: 24px;
            height: 24px;
            display: inline-flex;
            > svg {
                //width: 20px;
                //height: 20px;
                align-items: center;
                display: inline-block;
            }
            &.lock {
                &-unlock {
                    > svg {
                        > path {
                            fill: #74bc2a;
                        }
                    }
                }
            }
        }

        .public-header {
            &-flags {
                width: 85px;
            }
            &-themes {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @include respond-to(xs) {
                    display: none;
                }
            }
        }

        @include respond-to(xs) {
            flex-direction: column;


            .header-link {
                font: {
                    size: 14px;
                    weight: 500;
                };
                padding: 0 0 0 15px;
                width: 100%;
                text-align: left;
                border-right: 1px solid #191919;
                border-left: 1px solid #3d3d3d;
            }
            &-wrap {
                // padding: 0 15px;
                padding-right: 15px;
                .header-link {
                    line-height: 30px;
                    padding: 5px 0 5px 15px;
                }
            }
            &-right {
                > div {
                    border-right: 1px solid #191919;
                    border-left: 1px solid #3d3d3d;
                }
            }
            .public-header {
                &-menu {
                    margin: 0 0 0 10px;
                    // border-right: 1px solid #191919;
                    // border-left: 1px solid #3d3d3d;
                }
                &-flags {
                    width: 65px;
                }
            }
        }
    }
}

.logo {
    width: 114px;
    height: 30px;
    box-sizing: content-box;
    padding: 15px 30px !important;
    display: block;
    
    &-logotype {
        width: 100%;
        height: 30px;
        display: block;
        background: url(map-get($icon, "logo-haqq")) no-repeat center center transparent;
        background-size: contain;
        &_ny {
            background-image: url(map-get($icon, "logo-nhy-w"));
        }
        &_fev14 {
            background-image: url(map-get($icon, "logo-fev14"));
        }
    }
    &.active {
        background-color: #222222;
    }
    @include respond-to(xs) {
        padding: 0;
    }
}

.user-menu {
    @include themify($themes, 'userMenu') {
        &-outside {
            position: relative;
            //line-height: 60px;

            &:hover,
            &.active {
               // background: #de2233;
            }
        }
        &-drop-down {
            position: absolute;
            width: 260px;
            left: 0;
            box-sizing: border-box;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            padding-top: 65px;
            top: 0;
            &:before {
                content: "";
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                background-color: themed("background");
                position: absolute;
                left: 10%;
                margin-top: -10px;
                margin-left: -15px;
                z-index: 1;
            }
            &-block {
                background: themed('background');
                padding: 13px 0 12px;
            }
            &.right {
                left: auto;
                right: 0;
                width: 230px;
                &:before {
                    left: 82%;
                }
            }
            @include respond-to(xs) {
                right: -75px;
                &:before {
                    left: 60%;
                    margin-left: -10px;
                }
            }
        }
        &-account {
            display: flex;
            align-items: center;
            padding: 0;
            color: #ffffff;
            .user-name {
                max-width: 100px;
                display: inline-block;
                //line-height: 20px;
                //vertical-align: text-bottom;
                margin-left: 5px;
                @include truncate();
                @include respond-to(xs) {
                    display: none;
                }
            }

            .icon {
                top: 3px;
            }

            &.notAuth {

            }

            &::after {
                content: "";
                display: inline-block;
                width: 10px;
                height: 5px;
                color: #ffffff;
                margin: -2px 0 0 10px;
                //background-color: red;
                background-image: url(map_get($icon, "arrow-down-gray-mini"));
                background-repeat: no-repeat;
                @include respond-to(xs) {
                    content: none;
                }
            }
            /*&:hover {
                color: #fff;
                .lock-unlock {
                    svg {
                        path[stroke] {
                            stroke: white;
                        }
                        path[fill] {
                            fill: white;
                        }
                    }
                }
            }*/


        }
        &-row {

            & + & {
                border-top: 1px solid #444444;
                margin-top: 5px;
                padding-top: 5px;
            }
        }
        &-item {
            line-height: 28px;
        }
        &-link {
            display: flex;
            align-items: center;
            font: {
                size: 14px;
            } ;
            line-height: 19px;
            padding: 6px 15px 7px;
            color: themed('linkColor');
            fill: themed('linkColor');
            &:hover {
                background: lighten(themed('background'), 20%);

            }
            & > span {
                line-height: 25px;
            }
            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 21px;
                height: 21px;
                svg {
                    font: {
                        size: 20px;
                    };
                    width: 21px;
                    height: 21px;
                    margin-right: 5px;
                    path {
                        fill: themed('baseColor');
                    }
                }
            }

            &.disabled {
                color: themed('linkColorDisabled');
                fill: themed('linkColorDisabled');
                cursor: default;
                &:hover {
                    background: transparent;
                }
            }
        }
        @include respond-to(xs) {
            &-drop-down {
                right: -80px;
                left: auto;
            }
            &-outside {
                &.active {
                    flex-direction: column;
                }
            }
        }
    }
}

.header-link {
    @include themify($themes) {
        &-drop-down {
            &-block {
                position: absolute;
                min-width: 190px;
                left: 0;
                top: 0;
                padding-top: 60px;
                &:before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    transform: rotate(45deg);
                    background-color: themed("wraperBackground");
                    position: absolute;
                    left: 15px;
                    margin-top: -10px;
                    z-index: 1;
                }
            }
            &-wrap {
                position: relative;

                > .header-link {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 5px;
                        color: #ffffff;
                        margin: 2px 0 0 10px;
                        background-image: url(map_get($icon, "arrow-down-gray-mini"));
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: background-position ease-in 300ms ;
                    }
                }
                &.active {
                    > .header-link {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &-list {
                position: relative;
                display: none;
                padding: 10px 0;
                z-index: 2;

                @include block-wrapper($theme-map);

                &.active {
                    display: block;
                }
            }
            &-link {
                display: flex;
                padding: 5px 20px 7px 15px;
                align-items: center;
                white-space: nowrap;
                color: themed("titleColor");
                .icon {
                    margin-right: 10px;
                    svg {
                        width: 19px;
                        height: 19px;
                        path {
                            stroke: themed("baseColor");

                        }
                    }
                }

                &:hover {
                    background-color: lighten(themed('wraperBackground'), 20%);
                }
            }
        }
    }
}

.cryptoplatio {
    @include themify($themes){
        @include deexForm("ant", $theme-map);

        &-modal {
            .modal {
                width: 400px;
                &-content {
                    padding: 0;
                }
            }
        }
        &-form-group{
            border-top: 1px solid themed("borderColor");
            color: themed("baseColor");
            padding: 10px 0;
            margin-top: 15px;
            &-btn {
                text-align: center;
                margin-top: 10px;
                .btn {
                    width: 150px;
                }
            }
            &-addon-before{
                display: block;
                line-height: 40px;
                padding: 0 10px ;
                background: themed("inputAddonBackground");
                color: themed("inputAddonColor");
                border-radius: 3px 0 0 3px;
            }
            &-addon-after{
                display: block;
                line-height: 40px;
                padding: 0 10px ;
                background: themed("inputAddonBackground");
                color: themed("inputAddonColor");
                border-radius: 0 3px 3px 0;
            }
        }
        &-succes {
            font: {
                size: 24px;
            };
            color: themed("titleColor");
            text-align: center;
            padding: 0 0 20px 0;
            margin-bottom: 20px;

        }
        .ant {
            &-form-item {
                &:nth-child(4) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
