@import "~antd/lib/switch/style/index.css";

$themes: (
    light: (
        btnBackgroundGreenDisabled: #bae0ba,
        btnBackgroundRedDisabled: #e1a9ae,

        btnBackgroundGray: #ffffff,
        btnBorderGray: #27ae29,
        btnColorGray: #27ae29,

        btnColorBlue: #ffffff,
        btnHoverColorBlue: #ffffff,
        btnHoverBackgroundBlue: #0091ff,
        btnBackgroundBlue: #0091ff,
        btnBorderBlue: #0091ff,
        btnBoxShadowBlue: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
    ),
    dark: (
        btnBackgroundGreenDisabled: #375d38,
        btnBackgroundRedDisabled: #703e43,

        btnBackgroundGray: #474747,
        btnBorderGray: #7f7f7f,
        btnColorGray: #ffffff,

        btnColorBlue: #ffffff,
        btnHoverColorBlue: #ffffff,
        btnHoverBackgroundBlue: #0091ff,
        btnBackgroundBlue: #0091ff,
        btnBorderBlue: #0091ff,
        btnBoxShadowBlue: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
    ),
);

.m-btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 0.3rem;
        transition: all 0.2s;
        position: relative;
        color: white;
    }

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        outline: none;
        transform: translateY(-1px);
        color: rgba(white, 0.3);
    }

    &:focus {
        outline: none;
    }
}

.ant-btn,
.btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: 3px;
    font: {
        size: 1rem;
    };
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-transform: inherit;
    @include AvenirNext;

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: none;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: 0.65;
        box-shadow: none;
    }

    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        box-shadow: none;

    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.ant-btn,
.btn {
    @include themify($themes) {
        &-green {
            background-color: #27ae29;
            color: #ffffff;

            &:hover {
                color: darken(#ffffff, 50%);
                background-color: lighten(#27ae29, 20%);
                .icon {
                    svg {
                        path {
                            fill: darken(#ffffff, 50%);
                        }
                    }
                }
            }
            &.disabled,
            &:disabled {
                background-color: themed("btnBackgroundGreenDisabled");
                opacity: 1;
                .icon {
                    svg {
                        path {
                            fill: rgba(255,255,255, 0.5);
                        }
                    }
                }
            }
            .icon {
                svg {
                    path {
                        fill: #ffffff;
                    }
                }
            }
        }

        &-red {
            background-color: #de2233;
            color: #ffffff;

            &:hover {
                background-color: lighten(#de2233, 20%);
            }
            &.disabled,
            &:disabled {
                background-color: themed("btnBackgroundRedDisabled");
                opacity: 1;
                .icon {
                    svg {
                        path {
                            fill: rgba(255,255,255, 0.5);
                        }
                    }
                }
            }
        }

        &-gray {
            background-color: themed('btnBackgroundGray');
            color: themed('btnColorGray');
            border: solid 1px themed('btnBorderGray');
            &:hover {
                background-color: themed('btnBackgroundGray');
                color: themed('btnColorGray');
            }
        }

        &-primary,
        &-blue {
            background-color: themed('btnBackgroundBlue');
            color: themed('btnColorBlue');
            box-shadow: themed('btnBoxShadowBlue');
            border: solid 1px themed('btnBorderBlue');
            &:hover {
                background-color: themed('btnHoverBackgroundBlue');
                color: themed('btnHoverColorBlue');
            }
        }

        &-android {
            &:before {
                content: '';
                width: 20px;
                height: 19px;
                display: inline-block;
                vertical-align: middle;
                background-image: url(~Assets/img/google_play.png);
                background-size: 16px;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 5px;
            }
        }

        &-group {
            .btn {
                margin-right: 10px;
            }
            &_center {
                text-align: center;
                justify-content: center;
            }
            &_flex {
                display: flex;

            }
        }
    }
}
