// Modals with specific width
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/form";
@import "~Assets/stylesheets/utils/mixin/modal";

@import "~Styles/antd/modal.css";

$themes: colorThemes((
    light: (
        "bgColorWrap": #fcfcfc,
    ),
    dark: (
        "bgColorWrap": #383838,
    )
));

.modal#send_modal_header,
.modal#send_modal_portfolio,
.modal#simple_bridge_modal,
.modal#deposit_modal_new,
.modal#withdraw_modal_new {
    max-width: 500px;
}

.modal {
    @include themify($themes) {
        max-width: 700px;
        border-radius: 8px;
        overflow: auto !important;
        padding: 1rem 2rem 1rem 2rem;
        @include block-wrapper($theme-map);

        &__header {
            text-align: center;
            padding: 0;

            > p {
                padding: 0px;
                margin: 0px;
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

        &__body {
            padding: 0;
        }

        .modal__logo {
            text-align: center;

            img {
                /*height: 70px;*/
            }
        }

        .modal__title {
            display: block;
            margin-top: 1rem;
        }

        .modal__body {
            padding-top: 1rem;
            height: auto;
            min-height: 350px;

            .container-row {
                padding-bottom: 1rem;
            }

            .double-row {
                .small-6 {
                    display: inline-block;
                }
            }
        }

        &-content {
            color: themed("baseColor");
            label {
                color: themed("baseColor");
            }
        }

        &-overlay {
            z-index: 1001;
        }

        form {
            padding-top: 20px;
        }

        .has-error,
        .facolor-error,
        .facolor-warning {
            max-width: 100%;
        }
        .floatRight {
            width: auto;
            padding-top: 2px;

            .error-msg {
                text-align: right;
                text-transform: uppercase;
                font-size: 0.85rem;
            }
        }

        .amount-selector {
            span {
                display: inline-block;
            }

            a,
            .disabled-link {
                font-size: 0.9em;
                display: inline-block;
                margin: 0 5px;
                text-transform: none;
                font-variant: normal;
            }

            span + a,
            span + .disabled-link {
                margin-left: 8px;
            }
        }

        .button-group{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .btn {
                width: auto;
                font-size: 12px;
                font-weight: 600;
                & + .btn {
                    margin-left: 20px;
                }
            }
        }
        .table {
            &.op-table {
                tbody {
                    tr {
                        &:nth-child(even) {
                            td {
                                background-color: rgba(216, 216, 216, 0.1);
                            }
                        }
                        &:nth-child(odd) {
                            //background-color: #383838;
                        }
                        td {
                            padding: 10px 0;
                            &:first-child{
                                padding-left: 10px;
                                font: {
                                    size: 14px;
                                };
                            }
                            &:last-child{
                                font: {
                                    size: 16px;
                                };
                            }
                        }
                    }
                }
            }
        }
        @include respond-to(xs) {
            max-width: 100%;
            padding: 40px 10px 0;
            .modal-content {
                padding: 0;
            }
        }
    }

}

.send-email {
    @include themify($themes) {
        &-title{
            font-size: 22px;
            text-align: center;
            color: themed("titleColor");
        }
        &-btn {
            .btn {
                width: 150px;
                line-height: 34px;
                margin: 40px auto 0;
            }
            .ant-form-item-children {
                display: block;
                text-align: center;
            }
        }

        @include deexForm("ant", $theme-map);
    }
}
.SendModal {
    @include themify($themes) {
        .modal {
            width: 435px;
            &-content {
                padding: 0 0 20px;
            }
        }
    }
}

.content-wrapper {
    @include themify($themes) {
        @include deexModal("ant", $theme-map);
        @include deexForm("ant", $theme-map);
    }
}

@media screen and (max-width: 600px) {
    .modal {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .modal {
        .modal__body {
            .double-row {
                .small-6 {
                    display: initial;
                }
            }
        }
    }
}

#withdraw_modal_new {
    .modal__body {
        min-height: 450px;
    }
}

#simple_transfer_modal {
    max-width: 650px;
}

#simple_deposit_modal,
#simple_deposit_modal_ask,
#simple_withdraw_modal,
#simple_bridge_modal_ask {
    overflow: auto !important;
    max-width: 500px;
}

#simple_deposit_modal label,
#simple_deposit_modal_ask label,
#simple_withdraw_modal label,
#simple_bridge_modal_ask label {
    text-transform: none !important;
}

.ReactModal{
    @include themify($themes) {
        &__Body{
            &--open{
                overflow: hidden;
                #content {
                    overflow: hidden;
                }
            }
        }
        &__Overlay{}
        &__Content{
            margin: 0 auto;
            display: flex;
            height: 100vh;
            width: 100vw;
            align-items: center;
            align-content: center;
            justify-content: center;

            .modal {
                background: themed("bgColorWrap");
                box-shadow: 0 12px 24px rgba(0,0,0,0.7);
                .modal-content {
                    @include respond-to(xs) {
                        padding: 0 10px;
                    }
                }


            }
        }
    }
}
