

$themes: (
    light: (
        baseColor: #515b5e,
        titleColor: #383838,
        logo: "/svg/anonim_black.svg",

    ),
    dark: (
        baseColor: #C3CCCB,
        titleColor: #ffffff,
        logo: "/svg/anonim_white.svg",
    ),
);
/* themed('baseColor'); */
/* AutorithationAccountIndex.js */

.page-404 {
    @include themify($themes) {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;


        &-title {
            font: {
                weight: bold;
                size: 60px;
            };
            margin: 0 0 20px 0;
        }
        &-subtitle {
            font: {
                weight: bold;
                size: 30px;
            };
            margin: 0 0 20px 0;
        }

        &-button-back {
            font: {
                weight: bold;
                size: 30px;
            };
            color: #dd2233;
        }

        &-logo {
            height: 375px;
            width: 300px;
            display: inline-block;
            margin-bottom: 20px;
        }

    }
}

/*
Dark = #3f3f3f
Light = #cccccc
Midnight = #23313d
*/

.page-404-logo {
    //max-width: 600px;
    //padding: 20px;
}
.page-404-title {
    //font-size: 28px;
    //margin: 18px 0;
}
.page-404-subtitle {
    //font-size: 16px;
    //margin: 18px 0;
}
.page-404-button-back {
}
