.action-sheet-container img {
    margin-top: -5px;
}


.grid-frame-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: auto;
}

.public-header {
    padding: 40px 64px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;

    .pull-right {
        float: right;
    }

    .public-logo {
        width: 100px;
    }

    .icon.logo-white svg,
    .icon.logo svg {
        width: 100px !important;
        height: auto !important;
    }
}

.public-header.left {
    text-align: left;
}

.public-header-menu {

    &.icon {
        width: 35px;
        height: 20px;
        > svg {
            width: 25px;
            height: 20px;
            path {
                fill: rgba(216, 216, 216, 1);
            }
        }
    }
}
.public-header-flags {
    //position: absolute;
    //z-index: 0;
    //right: 64px;
    //top: 44px;
    padding: 0 15px;
    .arrow-down {
        display: flex;
        align-items: center;

        span {
            width: 18px;
            height: 18px;
            display: inline-block;
            background-size: 160%;
            background-position: center;
            border-radius: 50%;

        }
        &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 5px;
            color: #ffffff;
            margin: 3px 0 0 10px;
            background-image: url(map_get($icon, "arrow-down-gray-mini"));
            background-repeat: no-repeat;
            @include respond-to(xs) {
                content: none;
            }
        }
    }
}


.public-block {
    width: 100%;
}

.public-container {
    width: 900px;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    z-index: 0;

    h2 {
        font-size: 38px;
        margin-bottom: 20px;
    }
}

.modal .public-container,
#browser_modal .public-container {
    padding-top: 10px;
}

.public-modal-container {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.public-container.short {
    width: 400px;
}

.public-container.short.final-step {
    padding-top: 40px;
    padding-bottom: 40px;
}

.public-container.top {
    padding-top: 50px;
}

.public-text-inner {
    padding-right: 16px;
}

.public-gray-p {
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: -0.1px;
    color: #8c979b;
}

.public-gray-p.public-local-wallet {
    max-width: 440px;
    margin: 0 auto;
}

.public-gray-p-small {
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: -0.1px;
    text-align: center;
    color: #8c979b;
    padding-top: 46px;
}

.public-button-home {
    padding-top: 67px;
    width: 200px;
}

a.public-link,
.public-gray-p a,
.public-gray-p-small a {
    color: #de2233;
}

a.public-link:hover,
a.public-link:focus,
a.public-link:active,
.public-gray-p a:hover,
.public-gray-p a:focus,
.public-gray-p a:active,
.public-gray-p-small a:hover,
.public-gray-p-small a:focus,
.public-gray-p-small a:active {
    color: #c41524;
}

.button.public-button {
    border-radius: 3px;
    background-color: #de2233;
    font-size: 13px;
    text-transform: none;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    padding: 1em;
    font-family: "AvenirNext-Regular", arial, sans-serif;
}

.button.public-button.public-last-button {
    text-transform: uppercase;
    width: 160px;
    margin: 0 auto;
}

.button.public-button:hover,
.button.public-button:focus,
.button.public-button:active {
    background-color: #c41524 !important;
}

.button.public-button.public-default {
    background-color: transparent;
    border: solid 1px rgba(151, 151, 151, 0.46);
}

.button.public-button.public-default:hover,
.button.public-button.public-default:focus,
.button.public-button.public-default:active {
    background-color: transparent !important;
}

.button.public-button.public-default span {
    color: #000;
}

.margin-0 {
    margin: 0;
}

.margin-top {
    margin-top: 14px;
}

.public-laptop-inner {
    padding-top: 46px;
    text-align: right;

    img {
        max-width: 100%;
    }
}

.public-form {
    position: relative;
    z-index: 0;
}

.public-fields {
    background: #fff;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}

.public-form:not(.only-content) .public-fields > *:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.public-form:not(.only-content) .public-fields > *:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.only-content .public-fields {
    border: solid 0.8px rgba(39, 39, 41, 0.15);
    padding: 32px;
}

.public-shadow {
    position: absolute;
    z-index: 0;
    left: 5%;
    bottom: -30px;
    width: 90%;
    height: 100px;
    opacity: 0.08;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    background-color: #0e111e;
}

.public-field {
    border: solid 0.8px rgba(39, 39, 41, 0.15);
    height: 64px;
    position: relative;
    z-index: 0;
}

.public-field .public-input,
.modal input.public-input {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px 24px;
    font-size: 15px;
    font-family: "AvenirNext-DemiBold", arial, sans-serif;
    line-height: 0.67;
    letter-spacing: 0px;
    color: #3b3d3d;
    width: 100%;
    margin: 0;
    background: transparent;
    border: 0;
    text-transform: none;
    height: 46px;
}

.public-field:not(:first-child) {
    border-top: 0;
}

.public-field.focus:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 2px;
    background-color: #de2233;
    top: 0;
    bottom: 0;
    left: -1px;
}

.public-field.copy {
    .public-input {
        padding-right: 50px;
    }
}

.withProggress.withProggress {
    height: 74px;

    .public-input {
        bottom: 10px;
    }

    progress {
        bottom: 0;
        left: 1px;
        right: 0;
        position: absolute;
        z-index: 0;
        margin-bottom: 0;
    }
}

.public-field-placeholder {
    font-size: 12px;
    font-family: "AvenirNext-DemiBold", arial, sans-serif;
    line-height: 0.83;
    letter-spacing: -0.1px;
    color: rgba(39, 39, 41, 0.32);
    position: absolute;
    z-index: 0;
    top: 16px;
    left: 24px;
}

.public-buttons {
    padding-top: 64px;
}

.public-error-icon {
    width: 16px;
    height: 16px;
    color: #de2233;
    border: solid #de2233 1px;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    position: absolute;
    z-index: 0;
    right: 24px;
    top: 24px;
    font-size: 12px;
}

.public-error-text {
    padding: 0 8px;
    background: #fff;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: -0.1px;
    color: #de2233;
    position: absolute;
    z-index: 1;
    bottom: -6px;
    right: 8px;
}

.public-copy-icon {
    width: 20px;
    height: 20px;
    background: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 22px;
    right: 24px;
}

.public-copy-icon .icon > svg {
    width: 20px;
    height: 20px;
}

.public-copy-icon .icon > svg path {
    fill: rgba(140, 151, 155, 0.5);
}

.public-input-tip {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.1px;
    color: rgba(39, 39, 41, 0.32);
    width: 280px;
    position: absolute;
    z-index: 0;
    left: 105%;
    top: 8px;
}

.public-input-tip.one-line {
    top: 24px;
}

.public-checkbox {
    position: relative;
    z-index: 0;
}

.public-checkbox input {
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.public-checkbox > span:not(.icon) {
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.1px;
    color: #272729;
    display: block;
    position: relative;
    z-index: 1;
    padding-left: 32px;
}

.public-checkbox > span:not(.icon):before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.8px rgba(39, 39, 41, 0.15);
    position: absolute;
    z-index: 0;
    left: 0;
    top: 3px;
}

.public-checkbox > input + span.icon {
    display: none;
}

.public-checkbox > input + span.icon svg {
    width: 95%;
    height: 100%;
}

.public-checkbox > input + span.icon svg path {
    fill: #000;
}

.public-checkbox > input:checked + span.icon {
    display: block;
    width: 18px;
    height: 15px;
    position: absolute;
    z-index: 2;
    left: 4px;
    top: 7px;
}

.first-checkbox {
    width: 280px;
    margin-bottom: 20px;
}

.second-checkbox {
    width: 305px;
    margin-bottom: 20px;
}

.third-checkbox {
    width: 260px;
}
/*
.public-file-box {
    margin-bottom: 24px;
}

.public-file-label {
    font-size: 12px;
    line-height: 0.83;
    letter-spacing: -0.1px;
    color: #3b3d3d;
    margin-bottom: 8px;
}

.public-file {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.8px rgba(39, 39, 41, 0.15);
    width: 212px;
    display: block;
    position: relative;
    z-index: 0;
    height: 32px;
    overflow: hidden;
}

.public-file-empty {
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.1px;
    color: #8c979b;
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 15px;
}

.public-file input[type="file"] {
    position: absolute;
    z-index: 1;
    font-size: 150px;
    left: 0;
    right: 0;
    opacity: 0;
}

.public-file-button {
    display: block;
    width: 63px;
    height: 24px;
    line-height: 24px;
    border-radius: 2.3px;
    background-color: #fca032;
    position: absolute;
    z-index: 0;
    top: 3px;
    right: 3px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0px;
    color: #ffffff;
}

.public-file-choose {
    font-size: 9px;
    line-height: 1;
    letter-spacing: -0.1px;
    color: #3b3d3d;
    position: relative;
    z-index: 0;
    display: inline-block;
    padding-right: 20px;
    padding-left: 30px;
}

.public-file-choose b {
    font-size: 10px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.public-file-choose a {
    display: block;
    color: #8c979b;
    font-size: 20px;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 1px;
    opacity: 0.5;
}

.public-file-choose a:hover,
.public-file-choose a:focus,
.public-file-choose a:active {
    opacity: 1;
    color: #8c979b;
}

.public-file-icon.icon {
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
}

.public-file-icon.icon svg {
    width: 17px;
}*/

.icon.public-file-icon > svg > path {
    fill: #e2e5e7;
}

.public-small-links {
    padding-top: 20px;
    text-align: center;
}

.public-small-links .public-bottom-link {
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: -0.1px;
    text-align: center;
    color: rgba(39, 39, 41, 0.25);
}

.public-small-links .public-bottom-link:hover,
.public-small-links .public-bottom-link:focus,
.public-small-links .public-bottom-link:active {
    color: rgba(39, 39, 41, 0.8);
}

.public-brainkey-box {
    padding-top: 14px;
}

.public-brainkey-label {
    font-size: 12px;
    line-height: 0.83;
    letter-spacing: -0.1px;
    color: #3b3d3d;
    margin-bottom: 8px;
}

.public-brainkey-box textarea {
    border-radius: 3px !important;
    background-color: #ffffff;
    border: solid 0.8px rgba(39, 39, 41, 0.15);
    height: 64px;
    font-size: 15px;
    resize: none;
    margin: 0;
}

// #unlock_wallet_modal2,
.darkTheme #browser_modal {
    background: #3b3d3d;
}
.lightTheme #browser_modal {
    background: #fff;
}

.modal .modal-header .close-button,
#browser_modal .modal-header .close-button {
    font-size: 50px;
    color: #3b3d3d;
}

.modal,
#browser_modal {
    padding-bottom: 80px;
    border-radius: 5px;
}

.public-show-password {
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ffffff;
    border: solid 0.8px rgba(39, 39, 41, 0.15);
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: -0.1px;
    color: #272729;
    cursor: pointer;
}

.button.public-button.public-small {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 6px 15px;
}

.public-articles {
    max-width: 600px;
    margin: 40px auto 0;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    order: 0;
}

.public-articles .large-6 {
    padding: 0 20px 20px;
}

.public-articles .icon > svg {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.public-articles .icon > svg path {
    fill: #de2233;
}

.public-articles a {
    font-size: 15px;
    color: #74bc2a;
    text-decoration: underline;
}

.public-articles a:hover,
.public-articles a:focus,
.public-articles a:active {
    color: #508818;
    text-decoration: none;
}

.public-browser-box {
    text-align: center;
    padding-top: 5px;
}

.public-browser-box a {
    font-size: 13px;
    line-height: 1.92;
    letter-spacing: -0.1px;
    color: #8c979b;
    text-decoration: underline;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 40px;
}

.public-browser-box a .icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.public-browser-box a span {
    margin-right: 5px;
    vertical-align: middle;
}

.public-browser-box a .icon svg {
    width: 22px;
    height: 22px;
}

.action-sheet {
    width: 160px;
    min-width: 160px;
    box-shadow: none;
    border: solid rgba(0, 0, 0, 0.15) 1px;
    background: #fff;
    padding: 10px 0;
}

.action-sheet ul {
    margin: 0;
}

.action-sheet > ul > li > a {
    font-size: 15px;
    letter-spacing: -0.1px;
    color: #2a2a2a;
    padding: 10px 24px;
    background: #fff;
}

.action-sheet > ul > li > a:hover,
.action-sheet > ul > li > a:focus,
.action-sheet > ul > li > a:active {
    background-color: rgba(140, 151, 155, 0.06) !important;
}

.action-sheet {
    transform: translateX(-80%) translateY(105%);
    ul {
        &:first-child {
            margin-top: 0;
        }
    }
    &.is-active {
    }
}
@media only screen and (min-width: 40em) {
    .action-sheet.is-active {
        transform: translateX(-85%) translateY(115%);
    }
}

.action-sheet::before,
.action-sheet::after {
    left: 80.5%;
}

@media (max-width: 768px) {
    .public-container {
        width: auto;
    }

    .small-hidden {
        display: none;
    }

    .public-text-inner {
        padding: 0 15px;
    }

    .public-header {
        text-align: left;
    }

    .public-container.short {
        width: auto;
        padding: 40px 15px 40px;
    }

    .public-input-tip {
        display: none;
    }

    .public-container.top {
        padding: 50px 15px 0;
    }

    .public-header {
        padding: 20px 15px;
    }

    .public-header-flags {
        right: 15px;
        top: 24px;
    }

    .action-sheet.is-active {
        position: absolute;
        z-index: 1;
        left: 20%;
        border-radius: 4px;
        top: auto;
        bottom: 0;
        transform: translateX(-80%) translateY(105%);
        width: 160px;
        min-width: 160px;
        border: solid rgba(0, 0, 0, 0.15) 1px;
        //background: #fff !important;
        padding: 10px 0;
    }
}
