.rudex-bridge select.native-coin-types {
  width: 11em;
  margin: 0 5px !important;
  display: inline;
  color: inherit;
  background-color: transparent;
  font-size: 0.9em;
  border: 1px solid #555;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpath%20style%3D%22fill%3A%20%23555%22%20d%3D%22M0%200h32L16%2024%22/%3E%3C/svg%3E');
}

.rudex-bridge select.external-coin-types {
  width: 11em;
  margin: 0 5px !important;
  display: inline;
  color: inherit;
  background-color: transparent;
  font-size: 0.9em;
  border: 1px solid #555;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpath%20style%3D%22fill%3A%20%23555%22%20d%3D%22M0%200h32L16%2024%22/%3E%3C/svg%3E');
}

.rudex-bridge select option {
  //color: #000;
  padding-bottom: 5px;
}

.rudex-bridge input {
  width: 9em;
  display: inline;
  color: inherit;
  background-color: #3F3F3F !important;
  font-size: 0.9em;
  border: 1px solid #555;
  height: 2.4rem;
  padding: .5rem;
  vertical-align: top;
  margin: 0 5px !important;
}

.rudex-bridge .deposit-limit {
  color: #ababab;
  line-height: 150%;
}

.rudex-with-memo {
  color: #ababab;
}

.rudex-position-options {
  position: relative;
}

.rudex-position-options .rudex-options {
  width: 100%;
  height: auto;
  max-height: 250px;
  border: solid 1px #000;
  background-color: #fff;
  position: absolute;
  border-top: none;
  top: 1px;
  overflow: auto;
}

.rudex-position-options .rudex-disabled-options {
  display: none;
}

.rudex-position-options .rudex-options a {
  display: block;
  color: black;
  padding: 1px;
  cursor: default;
  padding-bottom: 3px;
  padding-top: 3px;
}

.rudex-position-options .rudex-options a:hover {
  color: #fff;
  background-color: #3399ff;
}

.rudex-select-dropdown span {
  width: 38px;
  color: black;
  background: #eeeeee;
  text-align: center;
  line-height: 38px;
  cursor: default;
  font-size: 10px;
}

.set-cursor {
  cursor: default;
}

div.rudex__gateway {
  h4 {
    border-bottom: 1px solid $border-color;
    padding-bottom: 1rem;
    margin-bottom: 1.25rem;
  }

  div.medium-10 {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid $border-color;
  }
}

div.service-selector {

  @include breakpoint(medium) {
    //border-bottom: 1px solid $border-color;
  }
  > ul.button-group.segmented {
    border-bottom: none;
    border-top: none;
    border-right: none;
    flex-wrap: wrap;

    a {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;
      font-size: 1rem;
      @include breakpoint(medium) {
        border-bottom: none;
      }
    }
  }
}

.group-copy {
  display: inline-flex;
  width: 350px;
  justify-content: flex-start;

  input[type="text"] {
    margin: 0 10px 0 0 ;
    height: 40px;
  }
}

.table-address {
  display: flex;
  flex-direction: column;
  &-row {
    display: inline-flex;
    align-items: center;
    > div {
      margin-right: 10px;
      min-width: 120px;
    }
    &+& {
      margin-top: 10px;
    }
  }
}