@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/form";

$themes: colorThemes((
    light: (
        "linkColor": #27ae29,
        "chbxColor": #aaaaaa,
        "iconBg": #fcfcfc,
        "iconBorder": #aaaaaa,
    ),
    dark: (
        "linkColor": #27ae29,
        "chbxColor": #ffffff,
        "iconBg": #474747,
        "iconBorder": #7f7f7f,
    ),
));

.show-save-setting {
    color: #27ae29; 
    border: 2px solid #27ae29; 
    border-radius: 4px; 
    padding: 6px 8px; 
    margin-left: 10px;
}

.setting-block {
    display: flex;
    align-items: center;
}

.settings-menu {
    @include themify($themes) {
        margin-top: 20px;
        > ul {
            > li {
                list-style-type: none;
                cursor: pointer;
                padding: 5px 0;
                &:hover {
                    background-color: red;
                }

                &.active {
                    color: blue;
                }
            }
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            width: 100%;

            &.column {
                flex-direction: column;
            }

            select {
                width: 100%;
                max-width: 400px;
            }
            input.settings-input {
                width: 100%;
                max-width: 400px!important;
            }
        }

        &-asaid {
            width: 290px;
            &-wrap {
                width: 100%;
                padding: 20px;
                @include block-wrapper($theme-map);
            }
            ul {
                margin: 0;
                padding: 0;
            }
            li {
                list-style: none;
                line-height: 30px;
                cursor: pointer;
            }

            .panel-bg-color {
                font-size: 19px;
                font-weight: 500;

            }
        }
        &-content {
            width: calc(100% - 310px);
            margin-left: 20px;

            h3 {
                font-size: 19px;
                font-weight: 500;
            }

            &-wrap {
                width: 100%;
                padding: 20px;
                @include block-wrapper($theme-map);
            }
        }

        @include respond-to(xs) {
            margin-top: 0;
            &-wrap {
                padding: 0 10px;
                flex-direction: column;
            }
            &-asaid {
                width: calc(100% + 20px);
                padding: 20px 0 0;
                margin: 0 -10px;
                @include block-wrapper($theme-map);
                h3{
                    padding: 0 10px;
                }
                &-wrap {
                    padding: 0;
                    box-shadow: none;
                    background: none;
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                }
                li {
                    width: 33%;
                    text-align: center;
                    border-bottom: 2px solid transparent;
                    &.active{
                        border-bottom-color: themed("colorRed");
                    }
                }
            }
            &-content {
                width: 100%;
                margin: 2px 0 0 0;
                > .grid-block {
                    > h3 {
                        display: none;
                    }
                }
            }
        }

    }
}
.settings-entry {
    @include themify($themes) {
        &-title {
            color: themed("baseColor");
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-help {
            color: themed("baseColor");
            font-size: 12px;
        }
        &-link {
            color: themed("colorRed");
            margin-top: -10px;
            display: block;
            font-size: 12px;
            margin-bottom: 10px;
        }
        &-themes {
            display: flex;
            justify-content: flex-start;
            > span {
                color: themed("baseColor");
                margin-right: 20px;
                line-height: 35px;
            }
            .icon {
                width: 35px;
                height: 35px;
                display: inline-flex;
                margin-right: 10px;
                align-items: center;
                justify-content: center;
                border: 1px solid transparent;
                border-radius: 2px;
                cursor: pointer;
                &.active {
                    cursor: default;
                    border-color: themed("iconBorder");
                    background-color: themed("iconBg");
                }
            }

            &-wrap {

            }
        }
        &-bolean {
            margin: 0;
            @include deexCheckboxSwitch("ant-checkbox-switch", $theme-map);

            .ant-checkbox-switch {
                float: right;
                margin-left: 10px;
                margin-top: -4px;
                font: {
                    size: 0;
                };
                line-height: 20px;
                &-wrapper{
                    display: inline-block;
                    margin-bottom: 10px;

                }
            }
        }
    }
}
.settings-access {
    @include themify($themes) {
        &-wrap {
            padding: 20px;
            margin-bottom: 20px;
            margin-top: -1px;
            @include block-wrapper($theme-map);

            &.padding-top {
                border: solid 1px #515b5e;
                padding: 20px 0;
            }
        }
        &-nodes {
            .api-nodes {
                padding: 10px 30px;
                &:nth-child(even) {
                    background-color: rgba(0,0,84,0.1);
                }

                &:nth-child(odd) {
                    //background-color: #d8d8d8;
                }
            }
        }
        &-tabs{
            display: flex;
            justify-content: space-between;
            &-wrap{
                display: flex;
                justify-content: flex-start;
            }
        }
        &-tab{
            min-width: 160px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 2px;
            background-color: themed("wraperBackground");
            margin-right: 10px;
            cursor: pointer;
            &.active {
                height: 45px;
                border-top: solid 1px #515b5e;
                border-left: solid 1px #515b5e;
                border-right: solid 1px #515b5e;
            }
            &-add_api {
                margin: 0 10px 0 auto;
            }
        }
        &-empty{
            padding: 20px;
        }
        .api-nodes {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-name{
                width: 50%;
                p {
                    margin: 0;
                    &:first-child{
                        color: themed("titleColor");
                        font: {
                            size: 15px;
                        };
                    }
                    &:last-child{
                        color: themed("baseColor");
                        font: {
                            size: 14px;
                        };
                    }
                }
            }
            &-ping{
                width: 30%;
                p {
                    margin: 0;
                }
                .high{
                    color: #de2233;
                }
                .medium {
                    color: #bbbf2b;
                }
                .low  {
                    color: #27ae29;
                }
            }
            &-status{
                width: 10%;
                .icon {
                    &.high{
                        > svg > path {
                            fill: #de2233;
                        }
                    }
                    &.medium {
                        > svg > path {
                            fill: #bbbf2b;
                        }
                    }
                    &.low  {
                        > svg > path {
                            fill: #27ae29;
                        }
                    }
                }
            }
            &-hide-show{
                width: 10%;
                text-transform: lowercase;
                text-align: right;
                align-items: center;
                display: inline-flex;
                justify-content: space-between;

                span {
                    border-bottom: 1px dashed;
                    cursor: pointer;
                }
                .icon {
                    border-bottom: none;
                    width: 25px;
                    height: 25px;
                    margin-left: 10px;
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        @include respond-to(xs) {
            &-wrap{
                padding: 10px;
            }
            &-tabs {
                flex-direction: column-reverse;
                &-wrap{
                    justify-content: space-between;
                }
            }
            &-tab {
                width: 33%;
                min-width: auto;
                margin-right: 0;
                &-add_api ,
                &-ping {
                    .btn {
                        width: 100%;
                    }
                }
                &-add_api {
                    margin: 0 5px 10px 0;
                    width: calc(50% - 5px);
                }
                &-ping {
                    margin: 0 0 10px auto;
                    width: calc(50% - 5px);
                }
            }
            .api-nodes {
                flex-direction: column;
                padding: 10px;
                &-wrap {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 10px;
                }
                &-name {
                    width: 100%;
                }
                &-ping {
                    width: calc(100% - 80px);
                    font: {
                        size: 12px;
                    };
                    p {
                        font: {
                            size: 12px;
                        };
                        margin-left: 10px;
                        display: inline-block;
                    }
                }
                &-status{
                    width: 40px;
                }
                &-hide-show{
                    width: 40px;
                }
            }
            .active-node {
                h4 {
                    padding: 0 0 0 10px;
                }
            }
        }
    }
}
.settings-accounts {
    @include themify($themes) {
        width: 100%;
        padding: 20px;
        @include block-wrapper($theme-map);
        .table {
            margin-top: 20px;
            td {
                font-size: 14px;
                padding: 10px 0 10px 30px;
                background-color: rgba(216, 216, 216, 0.1);
            }
            a {
                color: themed("titleColor");
                border-bottom: 1px dashed;
                font-size: 10px;
            }
        }
    }
}
.settings--notifications {
    input[type="checkbox"] {
        cursor: pointer;
    }
    .settings--notifications--group {
        margin: 15px 10px;
        .settings--notifications--item {
            label {
                text-transform: none;
            }
        }
    }
    > .settings--notifications--group {
        margin-left: 0;
    }
}
.mobile-settings {
    @include themify($themes) {
        @include block-wrapper($theme-map);
        &-form {
            //padding: 20px 30px;
            width: 400px;
            background-color: themed("bgColor");
            box-shadow: themed("boxShadowTable");
            label {
                color: themed("baseColor");

            }
            &-info {
                font: {
                    size: 12px;
                };
                margin: 5px 0 10px 0;
            }
            &-input {
                border: none;
                &:focus,
                &:hover {
                    border: none;
                }
            }
        }
        &-qrcode {
            width: 275px;
            text-align: center;
            padding: 20px;
            //background-color: themed("bgColor");
            //box-shadow: themed("boxShadowTable");

            &-links{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
            }
            &-img {
                border: 2px solid themed("colorWhite");
            }
        }
        &-wrap {
            padding: 20px;
        }
        &-row {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 25px;
            > span {
                width: 65px;
                color: themed("titleColor");
            }
            > div {
                width: calc(100% - 65px);
                color: themed("baseColor");

                .btn {
                    min-width: 150px;
                    img {
                        margin-right: 10px;
                    }
                }

            }
        }
        &-hr {
            line-height: 25px;
            border-top: 1px solid themed("borderColor");
            padding-top: 15px;

            > span {
                color: themed("baseColor");
            }
            > div {
                color: themed("titleColor");
                margin-bottom: 10px;
            }
        }

        @include deexForm("ant", $theme-map);

    }
}


.nodes-header {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 6px 10px;
    margin-bottom: 2em;
    font-weight: 500;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color 0.3s ease 0s;
    overflow: hidden;
}

div.api-node {
    .api-status {
        overflow-wrap: break-word;
        font-size: 80%;
    }

    p {
        margin-bottom: 0;
    }
    > div {
        vertical-align: top;
        display: inline-block;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    > div:nth-child(1) {
        width: 50%;
        > p:nth-child(2) {
            overflow-wrap: break-word;
            font-size: 80%;
        }
    }
    > div:nth-child(2) {
        width: 25%;
    }
    > div:nth-child(3) {
        width: auto;
        position: absolute;
        right: 25px;
    }
}

div.api-status a .default-icon {
    display: block;
}

div.api-status a:hover .default-icon {
    display: none;
}

div.api-status a .hover-icon {
    display: none;
}

div.api-status a:hover .hover-icon {
    display: block;
}

.active-node {
    margin-bottom: 2em;
}

.auto-node {
    margin-left: 1rem;
    margin-bottom: 2rem;
    > div {
        display: inline-flex;
        vertical-align: middle;
    }
}


