@import "../../assets/stylesheets/base/all";
@import "../../assets/stylesheets/utils/all";
@import "../../assets/stylesheets/utils/mixin/checkbox";
@import "../../assets/stylesheets/utils/mixin/dropdown";

$themes: (
    light: (
        "textColor": #8c979b,
        "textColor2": #2a2a2a,
        "textColor3": #383838,
        "activeColor": #dd2233,
        "borederColor": #d1d4db,
        "boxShadow": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
        "boxShadowInput": inset 0 1px 2px 0 rgba(0, 0, 0, 0.1),
        "bgColorInput": #fcfcfc,
        "bgColorWrap": #ffffff,
        "bgColorBody": #fcfcfc,
        "bgInputInfoWrap": #f1f3f5,
        "bgInputInfoText": #8c979b,

        "bgBtnAsk": #dd2233,
        "bgBtnAskHover": #ee5765,

        "bgBtnAskDisabled": #FCF3F4,
        "bgBtnAskDisabledText": #C3CCCB,

        "bgBtnBidDisabled": #F3F9F3,
        "bgBtnBidDisabledText": #C3CCCB,

        "bgBtnBid": #27ae29,
        "bgBtnBidHover": #5ad75a,

        "openOrdersTop": #2a2a2a,
        "openOrdersAsksTop": rgba(221, 34, 51, 0.1),
        "openOrdersBidTop": rgba(39, 174, 41, 0.1),
        "openOrdersAsksText": #dd2233,
        "openOrdersBidText": #27ae29,

        "openOrdersPriceText": #27ae29,
        "bgScroll": #7b7b7b,
        "activeColorText": #dd2233,
    ),
    dark: (
        "textColor": #8c979b,
        "textColor2": #C3CCCB,
        "textColor3": #ffffff,
        "activeColor": #dd2233,
        "borederColor": #515b5e,
        "boxShadow": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
        "boxShadowInput": inset 0 1px 2px 0 rgba(0, 0, 0, 0.1),
        "bgColorInput": #2a2a2a,
        "bgColorWrap": #383838,
        "bgColorBody": #2a2a2a,
        "bgInputInfoWrap": #484848,
        "bgInputInfoText": #C3CCCB,
        "bgBtnAsk": #dd2233,

        "bgBtnAskDisabled": #6D3B42,
        "bgBtnAskDisabledText": #C3CCCB,

        "bgBtnBidDisabled": #456836,
        "bgBtnBidDisabledText": #C3CCCB,

        "bgBtnAskHover": #ee5765,
        "bgBtnBid": #27ae29,
        "bgBtnBidHover": #5ad75a,
        "openOrdersTop": #ffffff,
        "openOrdersPriceText": #27ae29,
        "openOrdersAsksTop": rgba(221, 34, 51, 0.1),
        "openOrdersBidTop": rgba(39, 174, 41, 0.1),
        "openOrdersAsksText": #dd2233,
        "openOrdersBidText": #27ae29,
        "bgScroll": #7b7b7b,
        "activeColorText": #ffffff,

    )
);

.exchange {
    @include themify($themes) {
        &-market {
            border-radius: 3px;
            box-shadow: themed("boxShadow");
            background-color: themed("bgColorWrap");
            height: 470px;

            &-tabs-markets {
                display: flex;
                justify-content: center;
                align-items: center;

            }
            &-item-markets {
                width: 100%;
                text-align: center;
                margin: 5px 0;
                padding: 5px 0;
                border-bottom: 1px solid themed("borederColor");
                color: themed("textColor");
                cursor: pointer;
                span {
                    display: block;
                    padding: 5px 0;
                }
                &.active {
                    color: themed("activeColorText");
                    padding: 5px 0 4px;
                    border-bottom: 2px solid themed("activeColor");
                    cursor: default;
                }
                + .exchange-market {
                    &-item-markets {
                        span {
                            border-left: 1px solid themed("borederColor");
                        }
                    }
                }
            }
            .table {
                &.find-market {
                    .table {
                        &-header {
                            padding: 0 10px 5px;
                            &-market {
                                width: 35%;
                            }
                            &-issuer {
                                width: 25%;
                            }
                            &-vol {
                                width: 25%;
                            }
                            &-add {
                                width: 15%;
                            }
                        }
                        &-body {
                            &-row {
                                padding: 3px 10px;
                            }
                            &-market {
                                width: 35%;
                            }
                            &-issuer {
                                width: 25%;
                            }
                            &-vol {
                                width: 25%;
                            }
                            &-add {
                                width: 15%;
                            }
                        }
                    }
                }
                &-header {
                    border-bottom: 1px solid themed("borederColor");
                    padding-bottom: 5px;
                    &-row {
                        display: flex;
                        justify-content: flex-start;
                        text-transform: uppercase;
                        align-items: center;
                        font: {
                            size: 11px;
                        }
                    }
                    &-star {
                        width: 10%;
                        text-align: center;
                    }
                    &-market {
                        width: 25%;
                    }
                    &-vol {
                        width: 20%;
                    }
                    &-price {
                        width: 25%;
                    }
                    &-change {
                        width: 20%;
                        @include truncate();
                    }
                }
                &-body {
                    padding: 10px 0;
                    height: 340px;
                    overflow: auto;
                    display: block;
                    font-size: 11px;
                    font-weight: 500;
                    &-row {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font: {
                            size: 11px;
                        }
                        padding: 3px 15px 3px 0;
                    }
                    &-star {
                        width: 10%;
                        text-align: center;
                    }
                    &-market {
                        width: 25%;
                    }
                    &-vol {
                        width: 20%;
                    }
                    &-price {
                        width: 25%;
                    }
                    &-change {
                        width: 20%;
                        text-align: right;

                        &.change-up {
                            color: #27ae29;
                        }
                        &.change-down {
                            color: #dd2233;
                        }

                    }
                    @include scrollbars(.2em, themed("bgScroll"), themed("boxShadow"));
                }
                .scrollbar-container {
                    height: 300px;
                }


            }

            .market-search {
                &-tabs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 11px 15px 12px;
                }
                &-dropdown {
                    width: 100%;
                    margin-right: 15px;
                }
                &-form {
                    width: 100%;
                    position: relative;
                }
                &-input {
                    margin: 0;
                    background-color: themed('bgColorInput');
                    box-shadow: themed('boxShadowInput');
                    color: themed("textColor");
                    text-transform: uppercase;
                    border: none;
                    font-size: 11px;

                }
                &-reset {
                    position: absolute;
                    right: 9px;
                    top: 9px;
                    width: 10px;
                    height: 10px;
                    border: none;
                    padding: 0;
                    background: url(map_get($icon, "close")) no-repeat center transparent;

                }
            }
            .exchange-dropdown {
                &-trigger {
                    width: 100%;
                    line-height: 30px;
                    height: 30px;
                    display: block;
                    color: themed("textColor2");
                    padding: 0 0 0 15px;
                    background: themed("bgColorInput");

                    &:after {
                        content: "";
                        position: absolute;
                        right: 5px;
                        top: 0;
                        margin-top: 10px;
                        width: 14px;
                        height: 8px;
                        background: url(map_get($icon, "arrow-down")) no-repeat center transparent;
                    }
                }
                &-menu {
                    background: themed("bgColorInput");
                }
                &-menu-item {
                    padding: 3px 0 3px 15px;
                    cursor: pointer;
                    font: {
                        size: 13px;
                    };

                    &:hover {
                        background: themed("textColor2");
                        color: themed("bgColorWrap");
                    }
                    &.active {

                        background: themed("bgColorWrap");
                        cursor: default;
                        color: themed("activeColor");
                    }
                }
            }

            @include respond-to(xs) {
                height: auto;
                max-height: 400px;
                padding: 0 0 10px 0;
                .table {
                    &.find-market {
                        .table {
                            &-header {
                                padding: 10px;
                            }
                        }
                    }
                }
                .market-search {
                    &-tabs {
                        padding: 10px 0;
                    }
                    &-input {
                        height: 30px;
                    }
                }
            }
        }
    }
}


