@import "../../assets/stylesheets/base/all";
@import "../../assets/stylesheets/utils/all";
@import "../../assets/stylesheets/utils/mixin/checkbox";
@import "../../assets/stylesheets/utils/mixin/dropdown";
@import "ExchangeMarket";

$themes: (
    light: (
        "textColor": #8c979b,
        "textColor2": #2a2a2a,
        "textColor3": #383838,
        "activeColor": #dd2233,
        "borederColor": #d1d4db,
        "boxShadow": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
        "boxShadowInput": inset 0 1px 2px 0 rgba(0, 0, 0, 0.1),
        "bgColorInput": #fcfcfc,
        "bgColorWrap": #ffffff,
        "bgColorBody": #fcfcfc,
        "bgInputInfoWrap": #f1f3f5,
        "bgInputInfoText": #8c979b,

        "bgBtnAsk": #dd2233,
        "bgBtnAskHover": #ee5765,

        "bgBtnAskDisabled": #FCF3F4,
        "bgBtnAskDisabledText": #C3CCCB,

        "bgBtnBidDisabled": #F3F9F3,
        "bgBtnBidDisabledText": #C3CCCB,

        "bgBtnBid": #27ae29,
        "bgBtnBidHover": #5ad75a,

        "openOrdersTop": #2a2a2a,
        "openOrdersAsksTop": rgba(221, 34, 51, 0.1),
        "openOrdersBidTop": rgba(39, 174, 41, 0.1),
        "openOrdersAsksText": #dd2233,
        "openOrdersBidText": #27ae29,

        "openOrdersPriceText": #27ae29,
        "bgScroll": #7b7b7b,
        "activeColorText": #dd2233,
    ),
    dark: (
        "textColor": #8c979b,
        "textColor2": #C3CCCB,
        "textColor3": #ffffff,
        "activeColor": #dd2233,
        "borederColor": #515b5e,
        "boxShadow": 0 1px 6px 0 rgba(0, 0, 0, 0.1),
        "boxShadowInput": inset 0 1px 2px 0 rgba(0, 0, 0, 0.1),
        "bgColorInput": #2a2a2a,
        "bgColorWrap": #383838,
        "bgColorBody": #2a2a2a,
        "bgInputInfoWrap": #484848,
        "bgInputInfoText": #C3CCCB,
        "bgBtnAsk": #dd2233,

        "bgBtnAskDisabled": #6D3B42,
        "bgBtnAskDisabledText": #C3CCCB,

        "bgBtnBidDisabled": #456836,
        "bgBtnBidDisabledText": #C3CCCB,

        "bgBtnAskHover": #ee5765,
        "bgBtnBid": #27ae29,
        "bgBtnBidHover": #5ad75a,
        "openOrdersTop": #ffffff,
        "openOrdersPriceText": #27ae29,
        "openOrdersAsksTop": rgba(221, 34, 51, 0.1),
        "openOrdersBidTop": rgba(39, 174, 41, 0.1),
        "openOrdersAsksText": #dd2233,
        "openOrdersBidText": #27ae29,
        "bgScroll": #7b7b7b,
        "activeColorText": #ffffff,

    )
);

@include deexDropDown("exchange-dropdown");

.buy-sell-group {
    display: flex; 
    justify-content: center;
}
.order-book-nft {
    width: 30%;
}
.buy-sell-nft {
    width: 30%;
    position: relative;
    margin: 20px 20px 0 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #8c979b;
    border-radius: 2px;
    background-color: #383838;
    // box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}
.buy-sell-form {
    width: 100%;
    border-radius: 3px;
    background-color: #383838;
    color: #C3CCCB;
    margin-top: 20px;
}
.my_orders {
    margin-right: 10px; 
    width: 100%;
}
@media screen and (max-width: 800px) {
    .buy-sell-group {
        flex-direction: column;
        align-items: center;
    }
    .order-book-nft {
        width: 95%;
    }
    .buy-sell-nft { 
        width: 90%;
    }
    .buy-sell-form {
        width: 100%;
    }
    .my_orders {
        margin-right: 0; 
        width: 100%;
    }
}



.exchange {
    @include themify($themes) {
        //background: themed('textColor');
        &-wrapper {
            width: 100%;

        }

        &-page {
            display: flex;
            justify-content: space-between;
            margin: 30px 20px 50px 20px;

        }

        &-left-column{
            width: 30%;
            min-width: 395px;
            padding-right: 20px;
            background: themed("bgColorBody");
        }
        &-right-column{
            width: 70%;
        }

        &-market1 {
            border-radius: 3px;
            box-shadow: themed("boxShadow");
            background-color: themed("bgColorWrap");
            height: 470px;

            &-tabs-markets {
                display: flex;
                justify-content: center;
                align-items: center;

            }
            &-item-markets {
                width: 100%;
                text-align: center;
                margin: 5px 0;
                padding: 5px 0;
                border-bottom: 1px solid themed("borederColor");
                color: themed("textColor");
                cursor: pointer;
                span {
                    display: block;
                    padding: 5px 0;
                }
                &.active {
                    color: themed("activeColorText");
                    padding: 5px 0 4px;
                    border-bottom: 2px solid themed("activeColor");
                    cursor: default;
                }
                + .exchange-market {
                    &-item-markets {
                        span {
                            border-left: 1px solid themed("borederColor");
                        }
                    }
                }
            }
            .table {
                &.find-market {
                    .table {
                        &-header {
                            padding: 0 10px 5px;
                            &-market {
                                width: 35%;
                            }
                            &-issuer {
                                width: 25%;
                            }
                            &-vol {
                                width: 25%;
                            }
                            &-add {
                                width: 15%;
                            }
                        }
                        &-body {
                            &-row {
                                padding: 3px 10px;
                            }
                            &-market {
                                width: 35%;
                            }
                            &-issuer {
                                width: 25%;
                            }
                            &-vol {
                                width: 25%;
                            }
                            &-add {
                                width: 15%;
                            }
                        }
                    }
                }
                &-header {
                    border-bottom: 1px solid themed("borederColor");
                    padding-bottom: 5px;
                    &-row {
                        display: flex;
                        justify-content: flex-start;
                        text-transform: uppercase;
                        align-items: center;
                        font: {
                            size: 11px;
                        }
                    }
                    &-star {
                        width: 10%;
                        text-align: center;
                    }
                    &-market {
                        width: 25%;
                    }
                    &-vol {
                        width: 20%;
                    }
                    &-price {
                        width: 25%;
                    }
                    &-change {
                        width: 20%;
                        @include truncate();
                    }
                }
                &-body {
                    padding: 10px 0;
                    height: 340px;
                    overflow: auto;
                    display: block;
                    font-size: 11px;
                    font-weight: 500;
                    &-row {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font: {
                            size: 11px;
                        }
                        padding: 3px 15px 3px 0;
                    }
                    &-star {
                        width: 10%;
                        text-align: center;
                    }
                    &-market {
                        width: 25%;
                    }
                    &-vol {
                        width: 20%;
                    }
                    &-price {
                        width: 25%;
                    }
                    &-change {
                        width: 20%;
                        text-align: right;

                        &.change-up {
                            color: #27ae29;
                        }
                        &.change-down {
                            color: #dd2233;
                        }

                    }
                    @include scrollbars(.2em, themed("bgScroll"), themed("boxShadow"));
                }
                .scrollbar-container {
                    height: 300px;
                }


            }

            .market-search {
                &-tabs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 11px 15px 12px;
                }
                &-dropdown {
                    width: 100%;
                    margin-right: 15px;
                }
                &-form {
                    width: 100%;
                    position: relative;
                }
                &-input {
                    margin: 0;
                    background-color: themed('bgColorInput');
                    box-shadow: themed('boxShadowInput');
                    color: themed("textColor");
                    text-transform: uppercase;
                    border: none;
                    font-size: 11px;

                }
                &-reset {
                    position: absolute;
                    right: 9px;
                    top: 9px;
                    width: 10px;
                    height: 10px;
                    border: none;
                    padding: 0;
                    background: url(map_get($icon, "close")) no-repeat center transparent;

                }
            }
            .exchange-dropdown {
                &-trigger {
                    width: 100%;
                    line-height: 30px;
                    height: 30px;
                    display: block;
                    color: themed("textColor2");
                    padding: 0 0 0 15px;
                    background: themed("bgColorInput");

                    &:after {
                        content: "";
                        position: absolute;
                        right: 5px;
                        top: 0;
                        margin-top: 10px;
                        width: 14px;
                        height: 8px;
                        background: url(map_get($icon, "arrow-down")) no-repeat center transparent;
                    }
                }
                &-menu {
                    background: themed("bgColorInput");
                }
                &-menu-item {
                    padding: 3px 0 3px 15px;
                    cursor: pointer;
                    font: {
                        size: 13px;
                    };

                    &:hover {
                        background: themed("textColor2");
                        color: themed("bgColorWrap");
                    }
                    &.active {

                        background: themed("bgColorWrap");
                        cursor: default;
                        color: themed("activeColor");
                    }
                }
            }

            @include respond-to(xs) {
                height: auto;
                max-height: 400px;
                padding: 0 0 10px 0;
                .table {
                    &.find-market {
                        .table {
                            &-header {
                                padding: 10px;
                            }
                        }
                    }
                }
                .market-search {
                    &-tabs {
                        padding: 10px 0;
                    }
                    &-input {
                        height: 30px;
                    }
                }
            }
        }

        &-dropdown-menu {
            background: themed("bgColorWrap");
            color: themed("textColor2");
        }

        &-item {
            margin-bottom: 10px;
            border-top: 1px solid  themed("borederColor");
            &-title {
                line-height: 40px;
                background-color: themed("bgColorWrap");
                padding: 0 15px;
                border-bottom: 1px solid  themed("borederColor");
                position: relative;
            }
            &-arrow {
                display: inline-block;
                width: 20px;
                height: 10px;
                background: url(map_get($icon, "arrow-down-gray")) no-repeat center center transparent;

                position: absolute;
                right: 15px;
                top: 15px;
                transition: transform 0.3s ease;

                &.arrow-up {
                    transform: rotate(180deg);
                }
            }
            &-find-market {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 45px;
                top: 10px;
                line-height: 25px;
                svg {
                    fill: #ffffff;
                }
            }
            &-setting {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 75px;
                top: 10px;
                line-height: 25px;
            }


            &-body {
                .market-history,
                .open-orders {
                    margin-top: 0;
                }
            }
            &-fixed {
                position: fixed;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
                z-index: 101;
                .btn {
                    width: 100%;
                    border-radius: 0;
                }
            }
        }
    }
}

.open-orders {
    @include themify($themes) {
        border-radius: 3px;
        box-shadow: themed("boxShadow");
        background-color: themed("bgColorWrap");
        color: themed("openOrdersTop");
        margin-top: 20px;

        &-title {
            padding: 15px 15px 13px;
            font: {
                size: 15px;
                weight: 500;
            }
            border-bottom: 1px solid themed("borederColor");
        }
        &-row {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid themed("borederColor");
            &:last-child {
                border-bottom: none;
            }
            &.order-ask {
                .open-orders {
                    &-top {
                        background-color: themed("openOrdersAsksTop");
                    }
                    &-price-text {
                        color: themed("openOrdersAsksText");
                    }
                }
            }
            &.order-bid {
                .open-orders {
                    &-top {
                        background-color: themed("openOrdersBidTop");
                    }
                    &-price-text {
                        color: themed("openOrdersBidText");
                    }
                }
            }
        }
        &-row-item {
            display: flex;
            justify-content: space-between;
            &:last-child {
                text-align: right;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            span {
                min-width: 80px;
                font: {
                    size: 11px;
                    weight: 500;
                }

                &:first-child {
                    color: themed("textColor");
                    padding-bottom: 7px;
                }
                &:last-child {
                }
            }
        }
        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;

            padding: 0 15px;
            text-transform: uppercase;
            font: {
                size: 11px;
                weight: 500;
            }
        }

        &-top {
            height: 30px;
            line-height: 30px;
        }
        &-bottom {
            padding: 10px 15px;
        }
        &-cancel {
            span {
                color: themed("textColor2");
                border-bottom: 1px dashed themed("textColor2");
            }
            &:after {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                background: url(map_get($icon, "close-red")) no-repeat center transparent;
                cursor: pointer;
                margin-left: 5px;
            }
        }
        &-empty {
            height: 100px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

        }
        &-container {
            max-height: 450px;
            overflow: auto;
            @include scrollbars();
        }
    }
}

.market-history {
    @include themify($themes) {
        border-radius: 3px;
        box-shadow: themed("boxShadow");
        background-color: themed("bgColorWrap");
        color: themed("textColor2");
        margin-top: 20px;

        &-tabs {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-tab {
            width: 100%;
            text-align: center;
            margin: 5px 0;
            padding: 5px 0;
            border-bottom: 2px solid themed("borederColor");
            color: themed("textColor");
            cursor: pointer;
            span {
                display: block;
                padding: 5px 0;
            }
            &.active {
                color: themed("activeColorText");
                border-bottom-color: themed("activeColor");
                cursor: default;
            }
            + .market-history {
                &-tab {
                    span {
                        border-left: 1px solid themed("borederColor");
                    }
                }
            }
        }

        .table-history {
            &-body {
                height: 355px;
                overflow: auto;
                @include scrollbars(.2em, themed("bgScroll"), themed("boxShadow"));
            }
            &-header {
                border-bottom: 1px solid themed("borederColor");
                color: themed("textColor");
                padding: 10px 15px 10px;
                text-transform: uppercase;
                font: {
                    size: 11px;
                    weight: 500;
                }
            ;
                &-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &-item {
                    width: 28%;
                    text-align: right;
                    &.exchange-price {
                        text-align: left;
                        width: 15%;
                    }
                    &.block-date {
                        width: 29%;
                    }
                }
            }
            &-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 15px 5px;
                font: {
                    size: 11px;
                    weight: 500;
                }
            ;
            }
            &-item {
                width: 28%;
                text-align: right;
                &.orderHistoryAsk,
                &.orderHistoryBid {
                    text-align: left;
                    width: 15%;
                }
                &.time {
                    width: 29%;
                }
            }
        }
    }
}

.buy-sell {
    @include themify($themes) {
        &-wrapper {
            display: flex;
            align-items: center;
        }
        &-item {
            border-radius: 3px;
            box-shadow: themed("boxShadow");
            background-color: themed("bgColorWrap");
            color: themed("textColor2");
            margin-top: 20px;
            width: calc(50% - 10px);
            &:first-child{
                margin-right: 10px;
            }
            &:last-child{
                margin-left: 10px;
            }
        }
        &-header {
            padding: 15px 15px 13px;
            font: {
                size: 15px;
                weight: 500;
            }
            border-bottom: 1px solid themed("borederColor");
        }
        &-fieldset {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            margin: 0;
            padding: 15px 15px 0;
            &:first-child {
                padding-top: 0;
            }
        }
        &-form{
            padding: 15px 0 0 0;
        }
        &-label {
            margin: 0;
            width: 100px;
            text-transform: uppercase;
            color: themed("textColor");
            font: {
                size: 11px;
                weight: 500;
            };
        }
        &-input{
            border-radius: 2px;
            background-color: themed('bgColorInput');
            box-shadow: themed('boxShadowInput');
            color: themed("textColor3");
            border: none;
            margin: 0;
            height: 28px;
            font: {
                size: 12px;
            };
            &-wrap {
                width: calc(100% - 100px);
                position: relative;

                .ant-input-group-addon {
                    padding: 0;
                }
            }
            &-info {
                //position: absolute;
                //right: 0;
                //top: 0;
                min-width: 75px;
                height: 28px;
                line-height: 31px;
                padding: 0 10px;
                background-color: themed("bgInputInfoWrap");
                color: themed("bgInputInfoText");
                text-align: center;
                font: {
                    size: 11px;
                    weight: 500;
                }
            }
            &:focus,
            &:hover {
                background-color: lighten(themed('bgColorInput'), 5%);
                color: themed("textColor");
                border: none;
            }

        }
        &-info {
            font: {
                size: 11px;
                weight: 500;
            }
            margin-top: 15px;
            padding: 0 15px;
            &-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                text-transform: uppercase;
                min-height: 11px;
            }
            &-name {
                color: themed("textColor");
            }
            &-value {
                color: themed("textColor");
            }
            &-link {
                border-bottom: 1px dotted themed("textColor");
                cursor: pointer;
            }
        }
        &-btn {
            width: 100%;
            border-radius: 0 0 3px 3px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            height: 40px;
            line-height: 30px;
            &.btn {
                &:disabled {
                    opacity: 1;
                    color: themed("colorBtnDisabled");
                }
                &-bid {
                    background-color: themed("bgBtnBid");
                    &:disabled {
                        background-color: themed("bgBtnBidDisabled");
                        color: themed("bgBtnBidDisabledText");
                        &:focus,
                        &:hover {
                            background-color: themed("bgBtnBidDisabled");
                            color: themed("bgBtnBidDisabledText");
                        }
                    }
                    &:focus,
                    &:hover {
                        background-color: themed("bgBtnBidHover");
                    }
                }
                &-ask {
                    background-color: themed("bgBtnAsk");
                    &:disabled {
                        background-color: themed("bgBtnAskDisabled");
                        color: themed("bgBtnAskDisabledText");
                        &:focus,
                        &:hover {
                            background-color: themed("bgBtnAskDisabled");
                            color: themed("bgBtnAskDisabledText");
                        }
                    }
                    &:focus,
                    &:hover {
                        background-color: themed("bgBtnAskHover");
                    }
                }

            }
        }
    }

    @at-root .modal  & {
        &-fieldset {
            flex-direction: column;
        }
        &-label {
            width: 100%;
            margin-bottom: 5px;
        }
        &-input {
            height: 28px;
            &-wrap {
                width: 100%;
            }
        }

    }
}

.order-book {
    @include themify($themes) {
        &-wrap-item{
            display: flex;
            justify-content: space-between;
        }
        &-item {
            border-radius: 3px;
            box-shadow: themed("boxShadow");
            background-color: themed("bgColorWrap");
            color: themed("textColor2");
            width: calc(50% - 10px);
            &:first-child{
                margin-right: 10px;
            }
            &:last-child{
                margin-left: 10px;
            }
        }
        &-item-nft {
            width: 100% !important;
        }

        &-header {
            border-bottom: 1px solid themed("borederColor");
            color: themed("textColor");
            padding: 10px 15px 10px;
            text-transform: uppercase;
            max-width: 100%;
            overflow: hidden;
            font: {
                size: 11px;
                weight: 500;
            } ;
            &-row {
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
            &-item {
                width: 20%;
                text-align: left;
                .price {
                    width: 40%;
                }
            }
            &.for-buy{
                .total {
                    text-align: left;
                }
            }
            &.for-sell{
                .total {
                    text-align: left;
                }
                .price {
                    text-align: left;
                }
            }

        }
        &-title {
            padding: 15px 15px 13px;
            font: {
                size: 15px;
                weight: 500;
            }
            border-bottom: 1px solid themed("borederColor");
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-sub {
                text-transform: uppercase;
                font: {
                    size: 11px;
                    weight: 500;
                }
            }
        }
        &-body {
            height: 420px;
            overflow: auto;
            &-row {
                position: relative;

                padding: 5px 15px;
                cursor: pointer;
                font: {
                    size: 11px;
                    weight: 500;
                };
                &-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            &-item {
                width: 20%;
                text-align: left;
                .price {
                    width: 40%;
                }
            }
            &.for-buy{
                .total {
                    text-align: left;
                }
            }
            &.for-sell{
                .total {
                    text-align: left;
                }
                .price {
                    text-align: left;
                }
            }

            @include scrollbars(.2em, themed("bgScroll"), themed("boxShadow"));
        }
        &-scrooge {
            display: flex;
            flex-direction: column;

            &-item {
                display: flex;
                justify-content: space-between;
                margin-top: 4px;
            }
            &-item span {
                margin-left: 6px;
            }  
        }
        


        @include respond-to(xs) {
            &-item  {
                width: 50%;
                border-radius: 0;
                &:first-child{
                    margin-right: 0;
                }
                &:last-child{
                    margin-left: 0;
                }
            }
            &-header {
                padding: 10px 0;
                font: {
                    weight: bold;
                };
                &-row {
                    padding: 0 15px 0 10px;
                }
            }
            &-body {
                height: 360px;
                &-row  {
                    padding: 5px 10px;
                }
                &-item  {
                    width: 100%;
                    text-align: right;
                    &:first-child {
                        text-align: left;
                    }
                }
                &.for-sell{
                    .price {
                        text-align: right;
                    }
                }
            }
        }
    }

    @at-root .modal  & {

    }
}

.trading-view-chart {
    @include themify($themes) {
        border-radius: 3px;
        box-shadow: themed("boxShadow");
        background-color: themed("bgColorWrap");
        color: themed("textColor2");
    }
}

