@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        "linkColor": #27ae29,

    ),
    dark: (
        "linkColor": #27ae29,
    ),
));

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.account-voting {
    @include themify($themes) {
        width: 100%;
        padding: 25px 30px;

        &-title {
            font-size: 19px;
            font-weight: 500;
            color: themed("baseColor");
            margin-bottom: 25px;
        }
        &-tabs {
            .button-group {
                width: 100%;
                align-items: flex-start;
                a {
                    background-color: transparent;
                    border-color: transparent;
                    color: themed("baseColor");
                }
            }
            .tabs-action-buttons {
                line-height: 40px;
                width: calc(100% - 500px);
                text-align: right;
            }
        }
        &-tab {
            display: inline-block;
            width: 160px;
            line-height: 40px;
            margin-right: 3px;
            background-color: themed("wraperBackground");
            border-radius: 2px;

            &.is-active {
                padding-bottom: 4px;
                border: 1px solid themed("borderColor");
                border-bottom: none;
                cursor: pointer;
                a {
                    color: themed("titleColor");
                }
            }
        }
        &-save_finish{

        }

        &-content-block {
            margin-top: -1px;
            padding: 20px;
            border: 1px solid themed("borderColor");
            @include block-wrapper($theme-map);
        }
        &-header {
            &-selector{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            &-proxy-input {
                width: 350px;
            }
            &-action-buttons{
                .btn-red {
                    width: 150px;
                    margin-left: 20px;
                }
            }
        }
        &-list {
            width: 100%;
            thead {
                border-bottom: 1px solid themed("borderColor");

            }
            tbody {}
            tr {

                th, td {
                    text-align: center;
                    padding: 13px 0;
                    color: themed("baseColor");
                    font-size: 14px;

                    &:nth-child(1) {
                    }
                    &:nth-child(2) {
                        text-align: left;
                    }
                    a {
                        color: themed("baseColor");
                    }

                    .icon {
                        svg {
                            path[fill] {
                                fill: themed("baseColor");
                            }
                            path[stroke] {
                                stroke: themed("baseColor");
                            }
                        }
                    }
                }
                th {
                    padding-bottom: 20px;
                }
                &:nth-child(even) {
                    td {
                        background-color: rgba(216, 216, 216, 0.1);
                    }
                }
                &.supported {
                    th, td {
                        color: themed("titleColor");


                        a {
                            color: themed("titleColor");
                        }

                        .icon {
                            svg {
                                path[fill] {
                                    fill: themed("titleColor");
                                }
                                path[stroke] {
                                    stroke: themed("titleColor");
                                }
                            }
                        }
                    }
                }
            }
            .worker-name-wrap {
                padding: 0 0 0 10px;
                display: flex;
                align-items: flex-start;
                text-align: left;
                > div {
                    margin-right: 5px;
                }
                a {
                    color: themed("colorBlue");
                }
            }
        }
        &-budget {
            padding: 13px 10px;
            margin: 30px 0 10px;
            background: rgba(216,216,216, 0.1);
            display: flex;
            color: themed("baseColor");
            > span {
                width: 50%;
            }
        }

        @include respond-to(xs) {
            padding: 20px 10px;

            &-tabs {
                .button-group {
                    justify-content: space-between;
                }
            }
            &-tab {
                width: calc(100% / 3 - 2px);
                margin-right: 0;
                a {
                    display: block;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &-header {
                &-selector{
                    flex-direction: column;
                }
                &-proxy-input {
                    width: 100%;
                    margin-bottom: 10px;
                }
                &-action-buttons{
                    display: flex;
                    justify-content: space-between;
                    .btn {
                        width: 100%;
                    }
                }
            }
            &-content-block {
                padding: 10px;
            }

            &-item {
                &-row {
                    display: flex;
                    justify-content: space-between;
                    border-top: solid 1px themed("baseColor");
                    padding:10px 0 15px;
                    &-left {
                        width: calc(100% - 50px);
                    }
                    &-right {
                        width: 50px;
                        padding: 5px 0;

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        justify-content: space-between;

                        svg path[fill] {
                            fill: themed("baseColor");
                        }
                        svg path[stroke] {
                            stroke: themed("baseColor");
                        }
                    }

                    &-top {
                        color: themed("baseColor");
                        padding: 5px 10px;
                        margin-bottom: 5px;
                        font: {
                            size: 10px;
                            weight: bold;
                        };
                        a {
                            margin-left: 10px;
                            color: themed("baseColor");
                            font: {
                                size: 14px;
                                weight: normal;
                            };
                        }
                    }
                    &-bottom {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding-left: 10px;
                        > div {
                            width: 33%;
                            font: {
                                size: 10px;
                                weight: normal;
                            };
                            //padding: 10px 0 0 0;
                            display: flex;
                            flex-direction: column;
                            color: themed("titleColor");



                            b {
                                color: themed("baseColor");
                                margin-bottom: 5px;
                            }
                        }
                    }
                    &-line {
                        margin-bottom: 10px;
                        a {
                            margin-left: 0;
                            color: themed("colorBlue");
                        }
                    }
                    &-square {
                        display: flex;
                        flex-wrap: wrap;
                        > div {
                            flex: 0 0 50%;
                            margin: 10px 0;
                            overflow: hidden;
                        }
                    }
                    &.supported {
                        .account-voting-item-row {
                            color: themed("titleColor");
                            &-top {
                                color: themed("titleColor");
                                a {
                                    color: themed("colorBlue");
                                }
                            }
                            &-bottom {
                                b {
                                    color: themed("titleColor");
                                }
                            }
                            &-right {

                                svg path[fill] {
                                    fill: themed("titleColor");
                                }
                                svg path[stroke] {
                                    stroke: themed("titleColor");
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}