@import "~antd/lib/pagination/style/index.css";
@import "~antd/lib/tooltip/style/index.css";
@import "~antd/lib/empty/style/index.css";
@import "~antd/lib/table/style/index.css";

@import "~Assets/stylesheets/base/_all";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/antd/tabs";
@import "~Assets/stylesheets/utils/mixin/antd/table";
@import "~Assets/stylesheets/utils/mixin/antd/radio";
@import "~Assets/stylesheets/utils/mixin/antd/pagination";
@import "~Assets/stylesheets/utils/mixin/themes";
@import "~Assets/stylesheets/utils/mixin/response";

.proposals {
    &-wrap {
        width: 100%;
    }
}

.selector {
    width: 180px;
    border: 1px solid #d1d4db;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
}

.selector:hover {
    color: #808183;
}

.required_field {
    display: flex;
}

.required {
    color: #ed4e4e;
    margin-right: 4px;
}

$themes: colorThemes(
    (
        light: (
            "das": "#ddd"
        ),
        dark: (
            "das": "#ddd"
        )
    )
);

.account-permission {
    @include themify($themes) {
        width: 100%;
        padding: 0 20px;
        margin: 20px 0 0 0;
        color: themed("baseColor");

        @include deexAntdRadio($theme-map);
        @include deexAntdPagination($theme-map);
        @include deexTabs($theme-map);
        @include deexAntTable($theme-map);
        @include deexTable("dx-table");

        .ant-empty-normal {
            color: themed("baseColor");
        }

        .ant-input-wrapper {
            .ant-input-group-addon {
                padding: 0 10px;
            }
        }
        .ant-tabs {
            color: themed("baseColor");
            &-content {
                padding: 20px;
            }
            .action-buttons {
                button.button {
                    padding: 5px 20px;
                }
            }
        }

        .ant-card {
            &.no-body {
                min-height: 40px;
                border: none;
                .ant-card {
                    &-head {
                        padding: 14px 20px;
                    }
                    &-body {
                        display: none;
                    }
                }
            }
        }

        .dx-table {
            &-head {
                display: none;
            }
            &-mob {
                &-row {
                    padding: 20px 15px;
                    border-top: 1px solid themed("borderColor");
                }
                &-top {
                    display: flex;
                    justify-content: space-between;
                    font: {
                        size: 14px;
                    }
                    .time,
                    small {
                        color: themed("titleColor");
                        font: {
                            size: 10px;
                        }
                    }
                }
                &-center {
                    .label {
                        padding: 0 0 3px;
                        display: block;
                        width: 100%;
                        margin: 10px 0;
                        color: themed("titleColor");
                        &.warning,
                        &.info,
                        &.cancel,
                        &.alert,
                        &.success {
                            background: none;
                            border: 2px dashed transparent;
                            border-bottom: 1px dotted themed("titleColor");
                        }
                    }
                }
                &-bottom {
                    line-height: 20px;
                    a {
                        color: themed("colorGreen");
                        text-decoration: underline;
                    }
                }
            }
            &-row {
                padding: 10px 0;
                display: flex;
                justify-content: flex-start;
                color: themed("baseColor");
            }
            &-body {
                &-td {
                    margin-right: 10px;
                    .label {
                        background: none;
                        border: none;
                        color: themed("baseColor");
                        text-transform: inherit;
                        border-bottom: 1px solid themed("baseColor");
                    }
                }
            }
        }

        @include respond-to(xs) {
        }
    }
}

.member-ship {
    @include themify($themes) {
        padding: 20px;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;

        @include deexAntTable($theme-map);

        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 26px;
            color: #c3cccb;
            margin-bottom: 30px;

            &_sub {
                color: #ff6f00;
            }
            &_expires {
                font-size: 15px;
                color: red;
            }
        }

        &-block {
            background: #383838;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 2px;
            padding: 20px;
            margin: 0 10px 20px;
        }
        &-copyable {
            margin: 10px 0;
            padding: 10px 0 10px 10px;
            background: #2A2A2A;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            .ant-typography-copy {
                float: right;
                i {
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 2px;
                    padding: 10px 10px 5px;
                    svg {
                        fill: #FFFFFF;
                    }
                }
            }
        }

        @include respond-to(xs) {
        }
    }
}

.asset-title {
    color: rgb(255, 255, 255);
}

.has-error {
    color: #a94442; 
}