@import "~Assets/stylesheets/base/variables";
@import "~Assets/stylesheets/utils/_all";
@import "~Assets/stylesheets/utils/mixin/checkbox";
@import "~Assets/stylesheets/utils/mixin/themes";

$themes: colorThemes((
    light: (
        "linkColor": #27ae29,

    ),
    dark: (
        "linkColor": #27ae29,
    ),
));


.ico-cryptomat {
    @include themify($themes) {
        display: flex;
        height: 100%;
        position: relative;

        &-wrap {
            width: 100%;
            display: block;
            position: relative;
        }
        &-bg2 {
            background-image: url("./blockIEO03.png");
            z-index: 3;
        }
        &-bg1 {
            background-image: url("./blockIEO02.png");
            z-index: 2;
        }
        &-bg0 {
            background-image: url("./blockIEO.png");
            z-index: 1;
        }
        &-bg {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            &.active {
                //animation: showBackground 0.4s ease-in-out;
                animation: showBackground 1.0s ease-in-out 1.2s 1;
                animation-fill-mode: forwards;
            }
        }
        &-time{
            position: relative;
            z-index: 4;
        }
        &-down-date {
            width: 250px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            padding: 145px 0 0 25px;
            div {
                display: flex;
                flex-direction: column;
            }
            span {
                border-radius: 2px;
                margin-right: 3px;
                min-width: 40px;
                padding: 0 7px;
                height: 36px;
                line-height: 38px;
                background-color: #0e84b5;
                color: #fff;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            small {
                //color: #fff;
                color: #0e84b5;
                font: {
                    size: 10px;
                };
                text-transform: uppercase;
            }
        }
    }
}

@keyframes showBackground {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
