


@mixin  antd-input-number {

    $input-number-prefix-cls: "#{$ant-prefix}-input-number";

    .#{$input-number-prefix-cls} {

        margin: 0;
        border: 1px solid map_get($theme-map, "inputBorder");
        background-color: map_get($theme-map, "inputBackground");
        box-shadow: map_get($theme-map, "inputBoxShadow");
        height: 40px;
        color: map_get($theme-map, "baseColor");
        padding: 0 0 0 10px;

        display: inline-block;
        width: 100%;
        border-radius: $border-radius;

        &-handler {
            position: relative;
            display: block;
            width: 100%;
            height: 50%;
            overflow: hidden;
            color: map_get($theme-map, "baseColorSecond");
            font-weight: bold;
            line-height: 0;
            text-align: center;
            transition: all 0.1s linear;
            &:active {
                //background: $input-number-handler-active-bg;
            }
            &:hover &-up-inner,
            &:hover &-down-inner {
                //color: $input-number-handler-hover-bg;
            }
        }

        &-handler-up-inner,
        &-handler-down-inner {
            //@include iconfont-mixin();

            position: absolute;
            right: 4px;
            width: 12px;
            height: 12px;

            color: map_get($theme-map, "baseColorSecond");
            line-height: 12px;
            transition: all 0.1s linear;
            user-select: none;
        }

        &:hover {
            //@include hover($input-number-hover-border-color);
            .#{$input-number-prefix-cls} {
                &-handler-wrap {
                    opacity: 1;
                }
            }
        }

        &-focused {
           // @include active();
        }

        &-disabled {
           // @include disabled();
            .#{$input-number-prefix-cls}{
                &-input {
                    cursor: not-allowed;
                }
            }

            .#{$input-number-prefix-cls} {
                &-handler-wrap {
                    display: none;
                }
            }
        }

        &-input {
            width: 100%;
            height: 38px;
            padding: 0 $control-padding-horizontal - 1px 0 0;
            text-align: left;
            background-color: transparent;
            border: 0;
            border-radius: $border-radius;
            outline: 0;
            transition: all 0.3s linear;
            -moz-appearance: textfield !important;
            //@include placeholder();

            &[type='number']::-webkit-inner-adjust-hue-button,
            &[type='number']::-webkit-outer-adjust-hue-button {
                margin: 0;
                -webkit-appearance: none;
            }
        }


        &-handler-wrap {
            position: absolute;
            top: 0;
            right: 0;
            width: 22px;
            height: 100%;
            background: map_get($theme-map, "inputBackground");
            border-left: $border-width-base $border-style-base map_get($theme-map, "borderColor");
            border-radius: $border-radius-right;
            opacity: 0;
            transition: opacity 0.24s linear 0.1s;

            // Fix input number inside Menu makes icon too large
            // We arise the selector priority by nest selector here
            // https://github.com/ant-design/ant-design/issues/14367
            .#{$input-number-prefix-cls}-handler {
               .#{$input-number-prefix-cls}-handler-up-inner,
                  .#{$input-number-prefix-cls}-handler-down-inner {
                     //@include iconfont-size-under-12px(7px);

                     min-width: auto;
                     margin-right: 0;
                 }
           }
        }

        &-handler-wrap:hover &-handler {
            height: 40%;
        }


        &-handler-up {
            border-top-right-radius: $border-radius;
            cursor: pointer;
            &-inner {
                top: 50%;
                margin-top: -5px;
                text-align: center;
            }
            &:hover {
                height: 60% !important;
            }
        }

        &-handler-down {
            top: 0;
            border-top: $border-width-base $border-style-base $border-color-base;
            border-bottom-right-radius: $border-radius;
            cursor: pointer;
            &-inner {
                top: 50%;
                margin-top: -6px;
                text-align: center;
            }
            &:hover {
                height: 60% !important;
            }
        }

        &-handler-up-disabled,
        &-handler-down-disabled {
            cursor: not-allowed;
        }

        &-handler-up-disabled:hover &-handler-up-inner,
        &-handler-down-disabled:hover &-handler-down-inner {
            color: $disabled-color;
        }
    }

}

