@import "./config";

$defaultColor: (
    "select-color": "red",
);


@mixin deexAntdPagination($data: ()) {

    $themeColor: map-merge($defaultColor, $data);

    .#{$ant-pagination} {
        color: map_get($themeColor, "baseColor");
        &-next,
        &-prev {
            &.#{$ant-pagination} {
                &-disabled {
                    .#{$ant-pagination} {
                        &-item-link {
                            background: none;
                            border: none;
                            svg {
                                fill: transparent;
                            }
                        }
                    }
                }
            }
            .#{$ant-pagination} {
                &-item-link {
                    background: none;
                    border: none;
                    svg {
                        fill: map_get($themeColor, "baseColor");
                    }
                }
            }
        }
        &-item {
            background: none;
            border: none;
            a {
                color: map_get($themeColor, "baseColor");
            }
            &-active {
                color: map_get($themeColor, "titleColor");
                background-color: map_get($themeColor, "pageBackgroundActive");

            }
        }
    }
}