@import "./config";

$defaultColor: (
    "select-color": "red",
);


@mixin deexAntdRadio($data: ()) {

    $themeColor: map-merge($defaultColor, $data);

    .#{$ant-radio} {
        &-wrapper {
            color: map_get($themeColor, "baseColor");
        }
    }
}