@import "./config";

$defaultColor: (
    "select-color": "red",
);


@mixin deexAntTable($data: ()) {

    $themeColor: map-merge($defaultColor, $data);


    .#{$ant-table} {
        color: map_get($themeColor, "baseColor");
        &-thead {
            & > tr {
                & > th {
                    background: transparent;
                    color: map_get($themeColor, "baseColor");
                    &.#{$ant-table}-column {
                        &-has-actions {
                            &.#{$ant-table}{
                                &-column-has-sorters{
                                    &:hover {
                                        background-color: map_get($themeColor, "tableBackgroundActive");
                                        color: map_get($themeColor, "colorBlack");
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-tbody {
            & > tr {
                & > td {
                    padding: 13px 16px;
                    border-bottom: 1px solid transparent;

                }
            }
            tr.#{$ant-table}-active {
                td {
                    background-color: rgba(216, 216, 216, 0.15);;
                    color: map_get($themeColor, "titleColor");
                }
            }
            tr {
                &:nth-child(even) {
                    td {
                        background-color: rgba(216, 216, 216, 0.1);
                    }
                }
                &:nth-child(odd) {
                    td {
                        background-color: rgba(100, 100, 100, 0.1);
                    }
                }
                &:hover {
                    td {
                        //background-color: rgba(216, 216, 216, 0.15);
                        color: map_get($themeColor, "titleColor");
                    }
                    &:nth-child(even) {
                        td {
                            background-color: darken(rgba(216, 216, 216, 0.1), 10%);
                        }
                    }
                    &:nth-child(odd) {
                        td {
                            background-color: darken(rgba(216, 216, 216, 0.1), 10%);
                        }
                    }
                }
            }
        }
        &-fixed-left {
            table {
                background: transparent;
                .ant-table-row {
                    &:nth-child(even) {
                        background-color: rgba(216, 216, 216, 1);
                    }
                    &:nth-child(odd) {
                        background-color: rgba(100, 100, 100, 1);
                    }
                }
            }
        }
    }
}