@import "./config";

$defaultColor: (
    "select-color": "red",
);


@mixin deexTabs($data: ()) {

    $themeColor: map-merge($defaultColor, $data);
    @debug $ant-tabs;
    .#{$ant-tabs} {
        color: red;
        &.#{$ant-tabs}-card {
            .#{$ant-tabs}-bar {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
                border-bottom-color: map_get($themeColor, "tabsBorderActive");
                .#{$ant-tabs}-tab {
                    border-color: map_get($themeColor, "tabsBorder");
                    background-color: map_get($themeColor, "tabsBackground");
                    box-shadow: map_get($themeColor, "tabsBoxShadow");
                    border-radius: $border-radius;
                    color: map_get($themeColor, "baseColor");
                    margin-right: 5px;
                    transition: none;
                    &-active {
                        border-color: map_get($themeColor, "tabsBorderActive");
                        background-color: map_get($themeColor, "tabsBackground");
                        border-bottom: transparent;
                        height: 45px;
                        border-radius: $border-radius-top;
                        color: map_get($themeColor, "colorWhite");
                    }
                }
                .#{$ant-tabs}-nav-container {
                    height: auto;
                }
            }
        }
        &-tab{
            &-arrow{
                &-show{
                    border-radius: $border-radius-top;
                    border: 1px solid  map_get($themeColor, "tabsBorderActive");
                    background-color: map_get($themeColor, "tabsBackground");
                    color: map_get($themeColor, "baseColor");
                    margin-bottom: 2px;
                    height: 95%;
                    width: 29px;
                    top: 0;
                }
            }
            &-btn{
                &-disabled {
                    border-color: map_get($themeColor, "tabsBorder");
                    background-color: map_get($themeColor, "tabsBackground");
                }
            }
            &-next{
                right: 0;
            }
            &-prev{
                left: 0;
            }
        }
        &-content {
            border: 1px solid map_get($themeColor, "tabsBorderActive");
            background-color: map_get($themeColor, "tabsBackground");
            border-radius: $border-radius;
        }
    }
}