<!doctype html>
<html>
<head>
    {{#if INCLUDE_BASE}}
        <base href="/">
    {{/if}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    {{#if PRODUCTION}}{{/if}}

    {{!-- deex --}}
    {{!-- <link rel="icon" type="image/x-icon" href="deex-favicon.ico"> --}}
    
    {{!-- hcc --}}
    <link rel="icon" type="image/x-icon" href="favicon.ico?v=2">

    {{!-- scrooge --}}
    {{!-- <link rel="icon" type="image/x-icon" href="https://static.scrooge.club/images/favicon.png"> --}}
    
    {{!-- gbl --}}
    {{!-- <link rel="icon" type="image/x-icon" href="https://static.deex.exchange/gbl/images/icon-gbl.svg"> --}}

    <style>
        html,body {
            height: 100%;
            margin: 0;
        }

        body {
            background-color: #2a2a2a;
        }

        #content {
            width: 100%;
            height: 100%;
            display: flex;
        }
        .content__body {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: relative;
            background: url("/static/loaded-node.png") no-repeat center transparent;
            background-size: contain ;
        }
        .loaded-node {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        .map1 {
            animation: scale 1s ease-in-out 0.2s infinite;
            background: url("/static/loaded-node1.png") no-repeat center transparent;
            background-size: contain;
        }
        .map2 {
            animation: scale 1.1s ease-in-out 0.3s infinite;
            background: url("/static/loaded-node2.png") no-repeat center transparent;
            background-size: contain ;
        }
        .map3 {
            animation: scale 1.2s ease-in-out 0.4s infinite;
            background: url("/static/loaded-node3.png") no-repeat center transparent;
            background-size: contain ;
        }
        .map4 {
            animation: scale 1.3s ease-in-out 0.5s infinite;
            background: url("/static/loaded-node4.png") no-repeat center transparent;
            background-size: contain ;
        }
        .map5 {
            animation: scale 1.4s ease-in-out 0.6s infinite;
            background: url("/static/loaded-node5.png") no-repeat center transparent;
            background-size: contain ;
        }

        @keyframes scale {
            0%   { opacity: 0; }
            75% { opacity: 1; }
            100% { opacity: 1; }
        }

    </style>
</head>
<body>
<main id="content">
    <div class="content__body" style="max-width: 800px;">
        <span class="loaded-node map1"></span>
        <span class="loaded-node map2"></span>
        <span class="loaded-node map3"></span>
        <span class="loaded-node map4"></span>
        <span class="loaded-node map5"></span>
    </div>
</main>
</body>
</html>
