@import "theme-template";

// variables

$light-text-color: #fff;
$dark-text-color: #444;
$primary-text-color: #ffffff;
$secondary-text-color: darken($primary-text-color, 20%);
$inactive-text-color: darken($primary-text-color, 30%);
$link-text-color: #0091ff;
$error-text-color: #ff3950;

$active-color: #de2233;
$muted-color: #8c979b;

$settings-select-bg: #3f3f3f;
$settings-select-color: darken($primary-text-color, 20%);
$settings-api-node-border-color: #2a2a2a;
$main-content-margin-block-bg-color: #1e1e1e;
$bg-color: #2a2a2a;
$panel-bg-color: #3f3f3f;
$light-panel-bg-color: #6a6a6a;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$settings-menu-hover-bg: darken($light-panel-bg-color, 20%);
$settings-menu-active-bg: darken($light-panel-bg-color, 20%);
$button-bg-color: #de2233;
$secondary-button-bg-color: #999999;
$input-background: lighten($bg-color, 1%);

$alert-color: $error-text-color;
$info-color: #a0d3e8;
$success-color: #7bd500;
$warning-color: #fcab53;
$fee-color: $secondary-text-color;

// Border colors
$border-color: #515b5e;

// Exchange colors
$bid-color: #dd2233;
$ask-color: #27ae29;
$call-color: #bbbf2b;
$positive-color: #258a14;
$negative-color: #ff3950;
$row-accent-color: #3c3c3c;
$header-color: #484848;

// Account table view colors
$account-header: #656565;
$account-cells: #4b5158;
$account-green: #7ed321;
$account-primarytext: white;
$account-dimmed: #afafaf;
$account-border: #323131;
$account-background: #3f3f3f;
$account-tabs-background: #2f2f2f;

$pulsate-green-start: $account-green;
$pulsate-green-end: #aaf25c;
$pulsate-red-start: $negative-color;
$pulsate-red-end: #ef4040;

$modal-bg-color: #4b5158;

$mobile-input-bg: #2d2d2d;

$slider-thumb-color: #f00;

$incognito-bg: #ff3950;

$tab-layout-color: #dddddd;
$market-header-bg-color: #262627;

$parentTheme: "darkTheme";
.darkTheme {
    @include theme(
        $parentTheme,
        $primary-text-color,
        $bg-color,
        $dark-text-color,
        $inactive-text-color,
        $link-text-color,
        $light-text-color,
        $secondary-text-color,
        $success-color,
        $info-color,
        $warning-color,
        $alert-color,
        $super-light-panel-bg-color,
        $panel-bg-color,
        $button-bg-color,
        $secondary-button-bg-color,
        $fee-color,
        $bid-color,
        $ask-color,
        $call-color,
        $light-panel-bg-color,
        $positive-color,
        $negative-color,
        $row-accent-color,
        $header-color,
        $input-background,
        $account-header,
        $account-cells,
        $account-green,
        $account-primarytext,
        $account-dimmed,
        $account-border,
        $account-background,
        $account-tabs-background,
        $pulsate-green-start,
        $pulsate-green-end,
        $pulsate-red-start,
        $pulsate-red-end,
        $settings-select-bg,
        $settings-select-color,
        $settings-menu-hover-bg,
        $settings-menu-active-bg,
        $settings-api-node-border-color,
        $main-content-margin-block-bg-color,
        $modal-bg-color,
        $mobile-input-bg,
        $incognito-bg,
        $border-color,
        $active-color,
        $muted-color
    );
}
