@import "theme-template";

// variables

$primary-text-color: darken(#3d3d3d, 10%);
$secondary-text-color: #2a2a2a;
$inactive-text-color: lighten($primary-text-color, 25%);
$light-text-color: #3d3d3d;
$dark-text-color: lighten($light-text-color, 12%);
$link-text-color: #de2233;
$error-text-color: #e3745b;

$active-color: #de2233;
$muted-color: #8c979b;

$settings-select-bg: #e5e6e4;
$settings-select-color: #656565;
$settings-api-node-border-color: #e6e6e6;
$main-content-margin-block-bg-color: #f8f9f8;
$bg-color: #fcfcfc;
$panel-bg-color: #e5e6e4;
$light-panel-bg-color: #fff;
$super-light-panel-bg-color: darken($light-panel-bg-color, 1%);
$settings-menu-hover-bg: darken($light-panel-bg-color, 10%);
$settings-menu-active-bg: darken($light-panel-bg-color, 10%);
$button-bg-color: #de2233;
$secondary-button-bg-color: #999999;
$input-background: darken($bg-color, 8%);

$alert-color: $error-text-color;
$info-color: #ce7925;
$success-color: #43ac6a;
$warning-color: #f35b92;
$fee-color: #7f055e;

// Borders colors
$border-color: #d1d4db;

// Exchange colors
$bid-color: #74bc2a;
$ask-color: #de2233;
$call-color: #bbbf2b;
$positive-color: #528c0a;
$negative-color: rgba(225, 66, 74, 1);
$row-accent-color: #ffffff;
$header-color: #dcdcdc;

// Account table view colors
$account-header: #b1b1b1;
$account-cells: #dadada;
$account-green: #488a00;
$account-primarytext: $primary-text-color;
$account-dimmed: #5d5d5d;
$account-border: rgba(50, 49, 49, 0.1);
$account-background: #e5e6e4;
$account-tabs-background: #d5d6d4;

$pulsate-green-start: $account-green;
$pulsate-green-end: #70c117;
$pulsate-red-start: $negative-color;
$pulsate-red-end: #e87f84;

$modal-bg-color: #dadada;

$mobile-input-bg: $input-background;

$incognito-bg: #ea340b;

$tab-layout-color: #2a2a2a;
$market-header-bg-color: #f1f3f5;

$parentTheme: "lightTheme";
.lightTheme {
    @include theme(
        $parentTheme,
        $primary-text-color,
        $bg-color,
        $dark-text-color,
        $inactive-text-color,
        $link-text-color,
        $light-text-color,
        $secondary-text-color,
        $success-color,
        $info-color,
        $warning-color,
        $alert-color,
        $super-light-panel-bg-color,
        $panel-bg-color,
        $button-bg-color,
        $secondary-button-bg-color,
        $fee-color,
        $bid-color,
        $ask-color,
        $call-color,
        $light-panel-bg-color,
        $positive-color,
        $negative-color,
        $row-accent-color,
        $header-color,
        $input-background,
        $account-header,
        $account-cells,
        $account-green,
        $account-primarytext,
        $account-dimmed,
        $account-border,
        $account-background,
        $account-tabs-background,
        $pulsate-green-start,
        $pulsate-green-end,
        $pulsate-red-start,
        $pulsate-red-end,
        $settings-select-bg,
        $settings-select-color,
        $settings-menu-hover-bg,
        $settings-menu-active-bg,
        $settings-api-node-border-color,
        $main-content-margin-block-bg-color,
        $modal-bg-color,
        $mobile-input-bg,
        $incognito-bg,
        $border-color,
        $active-color,
        $muted-color
    );
}
